[2016-03-01 21:06] nicholasserra commented on #804
This is an edge case that only happens when you are sorting by an extra data field that is only present on one of the files. I'm going to try to tweak the json query that handles this.

[2016-03-01 21:09] RDmitchell commented on #804
Right !!! I think that is what was discovered in one of the other many issues about this problem. If you could tweak the query to handle this edge case, that would be great. Then I can close all those other issues !

[2016-03-01 21:27] nllong commented on #477
I'm reopening this and adding in a few tasks

[] enable spell check
[] remove BE attributions
[] update excludes

[2016-03-01 22:25] rebrownlbnl commented on #673
I know we made these exceptions for expediency, but now that we have more time should we go back in the code and fix any of these?

[2016-03-01 22:27] nicholasserra commented on #805
Does this happen every time you do these actions on that account?

[2016-03-01 22:36] rebrownlbnl commented on #809
This may have been a way to store field mappings in the database, rather than in text files, which is what we do now. Is that possible?
Where is this in the code?

[2016-03-01 22:48] RDmitchell commented on #805
Here is a link to the video
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LU0lDd19yZXJyZnM/view?usp=sharing

[2016-03-01 22:48] RDmitchell commented on #805
I believe it is pretty repeatable, at least on that account. Let me try some other accounts and see if it si reproducible.

[2016-03-01 23:10] nicholasserra commented on #809
`seed_schema` table. Only one row, and the only content is a column called `name` with content `BEDES`.

[2016-03-01 23:11] nicholasserra commented on #809
Basically, it seems that every Column object is supposed to have a schema. But every column just points to this one Schema, BEDES.

[2016-03-01 23:15] RDmitchell commented on #576
@nicholasserra -- I am assigning this to you -- we might want to change the title to Fix the failing tests rather than just make a plan !

[2016-03-01 23:40] rebrownlbnl commented on #809
okay, I know what this is doing. This is how SEED originally know whether the little green check mark should show up in the mapping screen, to indicate if a field came from "BEDES" or not. (BEDES is a standard data spec for building-related data).
At that time, BEDES was the only schema we had, which is why all the fields say BEDES.
I think we deprecated that approach, right?
If we are no longer s

[2016-03-01 23:44] RDmitchell commented on #809
Good sleuthing !!!

And I agree that if we need to reimplement it (which we might at some point) we would redesign it from the ground up.

So, it can go !!!

[2016-03-01 23:54] RDmitchell opened #813 "Matching shows 0% progress, but is actually matching (on a large dataset)"
Using a large dataset (12,000 - 13,000 records in both the Building List and the Portfolio Manager data), the program is slowly matching the records, but not showing any progress in the matching screen.

Here is what the matching screen shows:
![image](https://cloud.githubusercontent.com/assets/6314950/13446023/fe8e0794-dfc4-11e5-88bd-a9e6f44d751f.png)
The Chrome Developer tool shows now errors, w

[2016-03-01 23:58] RDmitchell commented on #813
In the end, it finished matching (still reporting 0%) and found 11,718 matches, out of 12,752 records, which is actually really great. So we just need to figure out how to get the program to report the progress better to the user.
![image](https://cloud.githubusercontent.com/assets/6314950/13446214/6a679880-dfc6-11e5-87f1-8398bc8c523b.png)

[2016-03-02 00:10] nicholasserra commented on #809
Cool, so i'll remove the model and any code around it. Should speed some things up too.

[2016-03-02 00:11] RDmitchell commented on #809
yup, go for it !

[2016-03-02 00:35] RDmitchell opened #814 "Matching design issues"
I am starting this issue to keep track of some matching issues I am coming across. Will assign it to myself until I have a sample data set and some reproducible cases.

[2016-03-02 16:17] nicholasserra commented on #751
Just need to verify you can log in.

[2016-03-02 16:17] #723 closed

[2016-03-02 18:12] RDmitchell commented on #751
@nicholasserra -- Yes I can log in. I will close this issue

[2016-03-02 18:12] #751 closed

[2016-03-03 01:48] RDmitchell commented on #752
@nicholasserra -- is there any manual testing I can do for this issue once it is merged into develop and on seedtest?

[2016-03-03 01:50] RDmitchell commented on #772
Am assigning to myself to make sure that the sample file downloaded from the software is the new version that has Illinois spelled correctly

[2016-03-03 01:52] RDmitchell commented on #723
@nicholasserra -- any manual tests I should do for this?

[2016-03-03 03:40] nicholasserra commented on #723
Nah, just a small refactor.

On Wed, Mar 2, 2016 at 8:52 PM, RDmitchell <notifications@github.com> wrote:

[2016-03-03 03:41] nicholasserra commented on #752
No, I removed stuff that wasn't used anywhere, so nothing should be
different.

On Wed, Mar 2, 2016 at 8:48 PM, RDmitchell <notifications@github.com> wrote:

[2016-03-03 17:19] rebrownlbnl commented on #506
I think it would be nice to add some functionality to the admin screen:
- add or delete rows in the table (i.e., add/delete fields to be cleaned)
- can we check for not null or not zero?

New types of rules to consider for the long run:
- compound logic? (i.e., if Field1>X, then Field2 must be >Y, etc.)
- "relative" rules, i.e., the min/max values are defined by the dataset (e.g., throw a warning

[2016-03-03 20:31] RDmitchell commented on #790
@nicholasserra -- I can't test this, so close if you think it's done.

[2016-03-03 20:31] RDmitchell commented on #782
@nicholasserra -- any manual testing I can do to see if this improved performance?

[2016-03-03 20:35] nicholasserra commented on #782
Nope shouldn't make too much of a difference.

On Thu, Mar 3, 2016 at 3:31 PM, RDmitchell <notifications@github.com> wrote:

[2016-03-03 20:40] RDmitchell commented on #803
It is very fast now to show the mapping screen -- WONDERFUL !!!

[2016-03-03 20:40] #803 closed

[2016-03-03 20:44] RDmitchell commented on #767
buttons look aligned to me !

[2016-03-03 20:44] #767 closed

[2016-03-03 21:02] RDmitchell opened #818 "Mapping pulldown list is not displaying correct choices"
When displaying the choices in the pulldown list (by typing a letter or word) the program is not displaying the correct choices.

Importing and try to map the standard sample covered buildings file, if I type "Tax" I should see a choiced called "Tax Lot ID"; instead I am seeing tax_lot_id
This holds for all the other choices that might be coming from the building snap shot fields (?) -- I don't kn

[2016-03-03 21:03] RDmitchell commented on #818
@nicholasserra -- am assigning this to you. Might have something to do with the sped-up mapping ? Not sure

[2016-03-04 01:43] RDmitchell commented on #797
@danielmcquillen -- the Building List has the same issue of needing fixed field headers when you set the Display to > 10 records. When you scroll down through the records, you lose the field headers.

[2016-03-04 02:30] RDmitchell commented on #805
I think it is happening when you type a filter criteria into one of the input boxes in the Matching screen when you click on either a matched or unmatched record. The video referenced above shows it, and here is a 2nd video that also shows it.
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LRC1lajV5aDdiTzg/view?usp=sharing

[2016-03-04 02:32] RDmitchell commented on #818
This only needs to be fixed if we put the possibly related sped up mapping fix on production. We could decide that none of the hot fixes are really that urgent.

[2016-03-04 18:41] #782 closed

[2016-03-04 19:03] nicholasserra commented on #818
Confirmed my speedup broke this. Working on a fix.

[2016-03-04 19:26] nicholasserra commented on #818
The issue here is simply the order of the columns in the payload. Some undesirable code is assuming the first 37 columns should be changed to be more user readable. Just need to fix this output.

[2016-03-04 19:33] RDmitchell commented on #818
Great, thanks.

[2016-03-04 20:04] danielmcquillen commented on #797
Robin, the more recent version of angular-bootstrap, a library we use for a lot of our interactivity, is on version 1.2 and we're still using 0.14. We need the more recent version to get an efficient way of hiding the popover (we're planning on table cells) when the user clicks off anywhere else on the screen.

However, when I update to the latest angular-bootstrap, other elements in the site brea

[2016-03-04 20:11] RDmitchell commented on #797
sure, we can put this together in any order that makes sense to you. Feel free to add whatever issues you need to, and indicate an order (using Priority or whatever else makes sense to you).

[2016-03-04 20:22] RDmitchell opened #821 "Last Changed value in Data Sets screen"
on seedtest (and seedts) with post 1.4.0 changes, the Last Changed field in the Data Sets screen says "in 8 hours" when you first load a file.
![image](https://cloud.githubusercontent.com/assets/6314950/13539172/7bfcef48-e203-11e5-9afd-893af83d4dba.png)
Check to see what it looks like in 1.4.0 on seed production to see if this is new or what the program has always done.
Seems like it should just g

[2016-03-04 20:43] nicholasserra commented on #805
This is what I was worried about when I implemented the spinner in the way I did. Just need to tweak how it works.

[2016-03-04 20:52] RDmitchell commented on #805
thanks !

[2016-03-04 21:18] RDmitchell opened #823 "Superusers don't see each others organizations"
When we rework the org/suborg world, we should figure out if this is the behavior that we want:

Right now, super-users for an instance don't see the organizations that other super-users have created. For example I am creating organizations on our production server for users. However, when @mmclark logs in as superuser, he doesn't see the organizations I have created.

Seems like all the super-use

[2016-03-05 02:19] danielmcquillen commented on #797
@RDmitchell aha. Actually figured it out. As you'd expect, moving to angular-bootstrap 1.2 from 0.14 has a few required update steps...in this case it was adding 'uib-dropdown-menu' class to dropdowns.

Shall I go forward with the introduction of angular-bootstrap 1.2 and bootstrap 3.3.6, and then we'll just have to really test the UI when considering a PR for this issue? It might be good to get t

[2016-03-05 03:26] RDmitchell commented on #797
I think we should update bootstrap as part of this issue if you think that makes sense.

You might just start a Slack channel called GUI and say that's what you plan to do, reference this issue, and see if anyone has anything to say about it.

[2016-03-06 09:01] danielmcquillen commented on #797
Done.

[2016-03-06 21:22] RDmitchell commented on #797
Assigned to myself for testing

[2016-03-06 22:08] danielmcquillen commented on #797
@RDmitchell My PR build is failing, but I see the same error in another PR so I think it's an upstream issue in develop.

[2016-03-07 00:49] RDmitchell commented on #797
Right -- we should be able to straighten it out on Monday when the other developers are back on the case.

[2016-03-07 14:01] carolinux commented on #111
well that looks like you're trying to put a larger string in a column in the db than is allowed (max 255 chars)

[2016-03-07 20:43] RDmitchell commented on #818
Seems to be fixed, Thanks @nicholasserra

[2016-03-07 20:43] #818 closed

[2016-03-07 20:43] nllong opened #826 "delete APIClient class"
There is a legacy APIClient class that is not used. We should expunge it.

[2016-03-08 05:57] nicholasserra commented on #531
@RDmitchell this can probably be closed as i'm redoing this selenium setup.

[2016-03-08 06:17] RDmitchell commented on #531
OK, go ahead and close it.

On Mon, Mar 7, 2016 at 9:57 PM, Nicholas Serra <notifications@github.com>
wrote:

--
Robin Mitchell
Building Technology and Urban Systems Department
Environmental Energy Technologies Division
Lawrence Berkeley National Laboratory

[2016-03-08 06:41] RDmitchell opened #827 "Program renames data import file"
The program is renaming the imported data file.

In this example, for the App Contest, I imported a file called Boston.xlsx, and the program renamed it
![image](https://cloud.githubusercontent.com/assets/6314950/13593940/0bd129fa-e4b5-11e5-8ee5-c5960ebeacaa.png)

I think it reports the Boston 5 name from the beginning of the mapping, matching but would have to redo the import to verify that.

If I

[2016-03-08 06:46] RDmitchell opened #828 "2nd step in Mapping seems to either hang or take a very long time"
Importing (seedtest) the Boston.xlsx data for the App Contest (as a test) and it seems like the program gets stuck at this stage of mapping. This file only has 1,372 records in it.
![image](https://cloud.githubusercontent.com/assets/6314950/13594069/2f95537e-e4b6-11e5-8f1f-a22acdff991a.png)

I have been noticing that this step seems to be taking longer than it used to (I will test against seed pro

[2016-03-08 06:49] RDmitchell commented on #827
Imported Chicago, and the program named the data file Chicago 3 instead of Chicago.xlsx

![image](https://cloud.githubusercontent.com/assets/6314950/13594144/c5abf35e-e4b6-11e5-99a6-efa1984c56d3.png)

[2016-03-08 06:49] RDmitchell commented on #827
@nllong -- unfortunately, I am assigning this to you -- sorry

[2016-03-08 07:58] nllong commented on #827
no problem... this shouldn't be bad

[2016-03-08 16:55] #531 closed

[2016-03-08 17:53] RDmitchell commented on #827
there may be more import issues, as this is presumably an area of the code touched significantly (?) by the timeseries changes. I think I will be importing all the different file flavors that we offer right now, so I will post issues for whatever I find. Thx

[2016-03-08 17:55] RDmitchell commented on #827
This one doesn't prevent me from importing the App Contest data, but it does presumably break the "chain of custody" of files, ie, the pointer to the originally imported file is broken. Should I wait for your fix for this bug before importing the App Contest PM data?

[2016-03-08 17:58] nicholasserra opened #829 "Building project tab shouldn't have edit button"
Building detail project tab has an edit button that doesn't seem to do anything.

![screen shot 2016-03-08 at 12 56 30 pm](https://cloud.githubusercontent.com/assets/512288/13610778/61b43d4e-e52d-11e5-8a4f-cc87f6e5bcb2.png)

[2016-03-08 18:00] RDmitchell commented on #829
I will assign this to myself to look into what it should do.

[2016-03-08 20:25] RDmitchell opened #831 "Need Member name for seedts account"
I think this might just be a setup issue for Miles.
![image](https://cloud.githubusercontent.com/assets/6314950/13615153/d1c0579e-e528-11e5-973c-0155bd8603d2.png)

[2016-03-09 17:38] nicholasserra commented on #790
Closed this in error, this should be ongoing.

[2016-03-09 18:40] nicholasserra commented on #790
Now at 79%

[code]

[2016-03-09 20:40] RDmitchell opened #835 "Expand default Portfolio Manager field mapping to include report for timeseries data"
Currently, for their benchmarking mandate, SEED users are generating a "Custom Report Template" in Portfolio Manager (PM), for all the buildings that owners have "shared" with them in PM. All the building data shared with the user can then be downloaded as a spreadsheet, based on the fields in the Custom Report Template, and then imported into SEED. This data only includes Annual energy consumptio

[2016-03-09 21:52] RDmitchell opened #836 "Stay in the same place in the building list when coming back from building detail"
Right now, in the Building List, if you use the Next button to move to the next set of records (say the next 10 records if Display = 10), and then click on one of those records in the 2nd set to get to the Building Detail view, when you click back to Buildings, the program puts you back at the 1st set of records in the Building List. It should keep you in the place that you came from when you went

[2016-03-09 21:58] nicholasserra commented on #836
Should be able to add the page number to the sessionStorage stuff, same as we do with filters. Hopefully :P

[2016-03-09 22:19] RDmitchell commented on #836
thanks -- I was hoping this might be relatively straightforward. It needs to work no matter what is selected for Display X buildings.

[2016-03-09 22:57] RDmitchell commented on #836
Can this also be applied to adding labels ? Right now when you add labels, the program puts you back on the first set of records -- I was on records 2,100 - 2199 and after adding labels, I am back to viewing records 1-100. Feel free to make this request a separate issue if that makes sense.

[2016-03-09 22:59] nicholasserra commented on #836
I think my fix will probably work for any time you click off then back on to the list view. So the same as any filters you put in.

[2016-03-09 23:53] danielmcquillen commented on #279
Closing as #718 covers these issues and is more current.

[2016-03-09 23:53] #279 closed

[2016-03-09 23:56] danielmcquillen opened #838 "Edit project window doesn't pre-populate compliance fields"
To recreate:
- Create a new project and add compliance info: submittal type,  year-ending date, reporting deadline.
- Open the project edit window.

Expected result:
- the window should already have the "Add compliance info" checkbox checked, and the compliance fields should be visible and pre-populated to their current settings.

Actual result:
- the window isn't opened to show these fields. When

[2016-03-10 00:39] Lasternas commented on #702
CMU can take care of this.

[2016-03-10 00:47] RDmitchell commented on #838
Daniel -- if you want to add this to your queue, at probably priority = 3, go ahead.

Irregardless of whether you take this on, I am setting the Milestone to be the June Release. Thx

[2016-03-10 01:30] RDmitchell opened #839 "Server error searching by date fields on seed production but not seedtest"
on seed production, the program seems to hang when trying to filter on date fields.
![image](https://cloud.githubusercontent.com/assets/6314950/13656290/65a8c5e4-e61a-11e5-934b-84696f542a18.png)

However, on seedtest (rd+7), it does that filter without issue. Any ideas what the difference might be? And how to figure out what the problem is?
![image](https://cloud.githubusercontent.com/assets/63149

[2016-03-10 01:43] RDmitchell opened #840 "Default field order on Building Detail view seems random"
What controls the order of the fields in the Building Detail view? It is not the same as the list view -- it used to be alphabetical, and then we added the option to change the order under Settings.

Seems like we might still want to keep the default order to be alphabetical (?) and then let the user use the Settings option to set the fields to display as well as the order. Or if there is some oth

[2016-03-10 09:47] rebrownlbnl commented on #835
Your screen shot mentions multi-tab Excel files. I recall that the SEED file parser can't currently handle multi-tab files. May need to add that capability to handle these new files.

[2016-03-10 15:29] RDmitchell commented on #835
The new timeseries code handles that
On Mar 10, 2016 1:47 AM, "Rich Brown" <notifications@github.com> wrote:

[2016-03-10 18:53] nicholasserra commented on #790
Now at 81%.

[code]

[2016-03-10 18:55] RDmitchell commented on #813
It actually doesn't have to be that big of a dataset -- it happened on data where there were only a few thousand records being matched.

[2016-03-10 19:00] rebrownlbnl commented on #790
Really nice to see the test coverage growing.
Looks like the big areas still remaining are:
/data_importer/models
/tasks
/views/main

How should we tackle these? Is it best to enter a separate issue for each model and strategically decide where we're going to focus our effort?
I assume the easy stuff is mostly picked off now, so further progress is going to take more effort.

[2016-03-10 19:07] nicholasserra commented on #790
Here's the largest gaps, sorted. I don't think separate issues are necessary. I did a high level pass over these gaps to get more coverage, so I don't think it's going to be tough to add more coverage. Just need to keep knocking it out.

[code]

[2016-03-10 19:28] nicholasserra commented on #790
There's some tools that link to github and analyze each PR, but I don't think python is supported in the popular one. I think that largest gap is actually my fault. Schedule and deadlines often play into how much coverage is added to a patch.

[2016-03-10 20:24] nicholasserra opened #841 "Clean up / remove sessionStorage search filter stuff from cleansing_controller"
For some reason there's a bunch of code around filtering and saving filters in the `cleansing_controller` file, even though this file is only used to show the `data cleansing results` modal.

For example: https://github.com/SEED-platform/seed/blob/develop/seed/static/seed/js/controllers/cleansing_controller.js#L74-L101

... looks like it was pulled right from the `search_service`.

It doesn't seem

[2016-03-10 21:24] rebrownlbnl commented on #790
Not pointing fingers; sounds like we need to budget enough time for writing proper tests.

[2016-03-11 02:03] RDmitchell opened #844 "Thoughts about UI for Timeseries feature"
For the time series instance, after I import the Portfolio Manager file with energy data, and the import is successful, I get this dialog box -- this doesn't have the look and feel of our normal dialog boxes of this sort, ie, no color, etc.
![image](https://cloud.githubusercontent.com/assets/6314950/13687390/d0b8a952-e6cf-11e5-986a-1e9558ae9405.png)

I do see the monthly data under the Energy tab

[2016-03-11 02:11] RDmitchell opened #845 "Field is added to Master Building record even if it is unchecked in mapping"
Here is how I mapped the sample covered-building-sample.csv file
![image](https://cloud.githubusercontent.com/assets/6314950/13691090/cdb3bbb4-e6ea-11e5-83d2-e86c28eaafc6.png)

Those fields don't show up in the final mapping screen
![image](https://cloud.githubusercontent.com/assets/6314950/13691130/144e082c-e6eb-11e5-8f5e-2378eaad0bab.png)

But when I look at the Building Detail (from the Buildin

[2016-03-11 02:12] RDmitchell commented on #845
It seems like the first thing to do is to confirm what the code appears to be doing, ie, is it a bug that the field is still there, or does it seem like the code intended the field to stay, but unmapped (?whatever that means?). Then we have to decide what we REALLY think that checkbox should do.

[2016-03-11 16:56] axelstudios commented on #841
Yep, it's used.  As I recall, the issue with directly using the search_service was that any changes overrode filtering for the other tables, and the cleansing dialog needed to be handled independently.  It copies the search_service, but then changes a few things - for instance, all other tables filter and sort by making HTTP requests, whereas the cleansing dialog does everything client-side.

Usin

[2016-03-11 17:01] nicholasserra commented on #841
I guess I was confused because I don't see any searching or filtering in the cleansing dialog?

via Hiptop

[2016-03-11 17:16] axelstudios commented on #841
Here's a screenshot with both sorting and filtering active:

![image](https://cloud.githubusercontent.com/assets/411466/13709646/4fd3a9c4-e772-11e5-8e32-120b0dcd072a.png)

[2016-03-12 01:32] RDmitchell commented on #576
how to test this? Or just close it and open another if needed?

[2016-03-12 01:48] RDmitchell opened #846 "Error in Timeseries when uploading a normal PM file"
on the timeseries instance (seedts), logged in as rdm+1 into the SEED App Contest org, I uploaded a file for the App Contest, which is just a normal Portfolio Manager file with one tab and one record per building, ie, not the PM file with multiple tabs which has the monthly timeseries data in it.

I was able to import, map and match (to nothing, as this was the first file imported into the organiz

[2016-03-12 01:49] RDmitchell commented on #846
Here is a link to the file I was uploading.
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LM25iWEhjQXNyQ28&usp=sharing

[2016-03-12 06:52] nicholasserra commented on #576
These tests are now running on all branches in Travis. When we want to add more tests we can open another issue.

[2016-03-12 06:52] #576 closed

[2016-03-14 17:32] nicholasserra commented on #841
@axelstudios Got it. Is the filtering done on the FE? I don't see any pagination, number per page, or ordering options? Is the intention to save the filters when the modal opens and closes?

[2016-03-14 17:43] nicholasserra commented on #841
Mainly asking because I had to do some sessionStorage filter stuff, saw this, and was a bit confused. So i'd like to add some comments and possibly slim it down.

[2016-03-14 17:49] RDmitchell commented on #265
what kind of testing for this -- just the standard stuff?

[2016-03-14 17:52] nicholasserra commented on #265
Yes, this should be a seamless change.

[2016-03-14 18:48] nllong commented on #791
To recreate:
* Import a data file
* In the mapping screen, change one of the names to something with a single quote (and probably other characters).
* Map the data, then view the buildings. It should crash there, if not it would probably crash when you are looking at a specific building.

Let me know if you need more details.

[2016-03-14 19:16] nicholasserra commented on #13
Was any design done for this yet? I don't think the backend work will be a big deal, probably a day. I can just mimic the delete buildings admin function for the frontend. Do we want to see a big list of orgs and sub orgs, with delete buttons? @RDmitchell

[2016-03-14 19:30] RDmitchell commented on #13
No UI design.

Right now when I log in as superuser, and go to the Admin page, I see this
![image](https://cloud.githubusercontent.com/assets/6314950/13756872/3174539c-e9df-11e5-8dc4-e6caf7942828.png)

Seems like we could add a section below the Add/Remove a user called Remove Organization
![image](https://cloud.githubusercontent.com/assets/6314950/13757189/897001bc-e9e0-11e5-8008-914e73370445.png

[2016-03-14 19:32] nllong commented on #477
This should be closed again... new docs are here: http://seed-platform.readthedocs.org/en/latest/

[2016-03-14 19:32] #477 closed

[2016-03-14 19:32] nllong opened #847 "Timeseries breaks building view"
The building view fails to load in the timeseries branch.

![screen shot 2016-03-14 at 1 32 46 pm](https://cloud.githubusercontent.com/assets/1907354/13757264/41655706-e9e9-11e5-8d53-05a1753ebd06.png)

[2016-03-14 19:34] nllong commented on #847
Documenting this for posterity sake. This was fixed with this commit: https://github.com/SEED-platform/seed/commit/790630fcd338fdaec0c78dcdd4b8ae7b8efd4b66

[2016-03-14 19:46] nllong commented on #846
Oh, it looks like I documented and fixed this in #847

[2016-03-14 19:53] RDmitchell commented on #847
Yes thanks. I wasn't sure if I should have made issues for those, or not.

[2016-03-14 19:54] RDmitchell commented on #846
ok, once these fixes are merged into seedts I will do more testing

[2016-03-14 20:55] nllong commented on #827
So this should be happening on seedtest as well.

The name is pulled from this method
https://github.com/SEED-platform/seed/blob/develop/seed/data_importer/models.py#L820-L823

The '3' is appended because the file already exists on disk. I'm guessing that seedts is running with local storage which is causing the appended integer to make the file unique. @mmclark is that statement true?

So a coupl

[2016-03-14 21:03] nllong commented on #674
i think we can close this ticket. I've moved the gb stuff to the timeseries PR

[2016-03-14 21:10] RDmitchell commented on #827
This behavior is different than what happens on seedtest and seed production. Is that because they don't run with local storage? On seedtest and seed production the program never puts numbers at the end of the filenames. The files names are always exactly what the names of the imported files.

I think it's very confusing to have the numbers, but then maybe I am missing something -- maybe because i

[2016-03-14 21:14] #674 closed

[2016-03-14 21:20] nicholasserra opened #848 "Implement priority queuing for celery tasks"
Implement separate queues for certain celery tasks. Most likely just a `default` and `secondary` queue. This allows us to send low priority jobs (ex. admin functions) to the secondary queue, making sure the main queue doesn't get backed up.

Celery doesn't have priority queue features, but it does allow us to run multiple queues. I'll need to research when celery blocks on multiple queues.

[2016-03-14 21:21] nllong commented on #827
Here is what the filename looks like on the HEAD of develop with local storage. I think it has to do with local filestorage. Miles will have to verify if seedts is running local fs.

![image](https://cloud.githubusercontent.com/assets/1907354/13760337/49b872ee-e9f8-11e5-8fc0-40e060bd9b21.png)

[2016-03-14 21:28] axelstudios commented on #841
Yep, filtering and sorting is all done on the front end -- there's no pagination in this dialog.  As for saving the current filter/sort settings it doesn't matter to me.  The only reason I even included it was to match the existing code in search_service that applies to all of the other tables using sessionStorage.

[2016-03-14 21:30] nicholasserra commented on #841
Awesome, thank you. In the interest of less complexity i'd like to clean up as much as I can while I know what's up with it. @RDmitchell Do you have any preference as to whether filters are saved when you close and reopen the data cleansing modal?

[2016-03-14 21:39] RDmitchell commented on #827
And here's what it looks like on seedtest
![image](https://cloud.githubusercontent.com/assets/6314950/13760866/7aab2a78-e9f2-11e5-83ca-10fe99a5469e.png)

[2016-03-14 21:46] RDmitchell commented on #841
Ideally, the filtering on data cleansing would work the same way through out the program, with the model being how it works in the Building list.

I think that persisting the filter is actually desirable, but we would want to add a Clear Filter button like in the Building List, so that it is easy to start over with the filters.

[2016-03-14 22:19] nllong commented on #846
They are on seedtest now

On Mon, Mar 14, 2016 at 13:54 RDmitchell <notifications@github.com> wrote:

[2016-03-14 22:22] rebrownlbnl opened #851 "Improve documentation about AWS configuration"
The docs talk generally about what AWS resources are needed for SEED, but don't go into specifics about how to connect SEED to a specific S3 bucket for file uploads. There may be other AWS config that needs to be clarified also.
http://seed-platform.readthedocs.org/en/stable/AWS.setup.html
Make a pass over this documentation and improve/clarify where possible.

[2016-03-14 23:11] RDmitchell commented on #805
tested on seed production, fixed, closing

[2016-03-14 23:11] #805 closed

[2016-03-14 23:19] nicholasserra commented on #13
Looking at the UI again, another clean option could be to add a "Remove organization" button right next to the existing "remove buildings".

Both options should have a prompt to confirm.

[2016-03-14 23:29] RDmitchell commented on #846
seedtest or seedts -- probably the latter, right?

[2016-03-14 23:32] RDmitchell commented on #13
I thought about that but also thought it would be weird because you would click the button and the line would disappear.

Also, I don't want to mix up deleting an organization and deleting buildings. Accidentally clicking the org button instead of the buildings button would be a drag, even if the program prompts you

I think they need to be separated.

[2016-03-14 23:34] #804 closed

[2016-03-15 00:06] nicholasserra commented on #13
So I plan on sort of piggybacking this off the existing functionality of "remove buildings", as there's a lot of similar stuff. But in looking at how delete buildings was implemented, I think it could be done a lot cleaner and faster, maybe even without a celery task involved. It's sort of a hunch.

@RDmitchell should I go with existing code and try to get this working as is, or should I take a li

[2016-03-15 00:06] RDmitchell commented on #827
So it looks like the number is no longer part of the filename.
![image](https://cloud.githubusercontent.com/assets/6314950/13763899/133e824e-ea07-11e5-8acc-d541a6064901.png)

Can you add the extension of the file (XLSX, CSV, etc), to make it consistent with the way it works on seedtest and seed production? Thx

[2016-03-15 00:17] RDmitchell commented on #13
If you can improve the Remove Building functionality, which is quite slow right now, do that, and then use that for the delete organizations feature.

[2016-03-15 00:17] RDmitchell commented on #13
what level of effort will each of those pieces be?

[2016-03-15 00:19] nicholasserra commented on #13
Unfortunately i'm not sure. I'll cap myself at a couple of hours on my hunch. Does that sound okay?

[2016-03-15 00:20] RDmitchell commented on #13
sure

On Mon, Mar 14, 2016 at 5:19 PM, Nicholas Serra <notifications@github.com>
wrote:

--
Robin Mitchell
Building Technology and Urban Systems Department
Environmental Energy Technologies Division
Lawrence Berkeley National Laboratory

[2016-03-15 01:24] RDmitchell opened #852 "Uploading large data set, problem with matching"
For the App Contest data for NYC (16,170 records) the program is getting an error in matching

![image](https://cloud.githubusercontent.com/assets/6314950/13764836/f1be42b2-ea10-11e5-84d3-f58d238b2139.png)

![image](https://cloud.githubusercontent.com/assets/6314950/13764855/1fec375c-ea11-11e5-9481-39136cb7587e.png)

I have uploaded many other files with much smaller record sets (1000 - 2000 recor

[2016-03-15 01:25] RDmitchell commented on #852
I have put a timeseries label on this, but only because I found the problem on the timeseries server. I am going to test this on seedtest next.

[2016-03-15 01:37] RDmitchell commented on #852
Actually, #828 is a mapping problem and this is a matching problem, so disregard my comment above.

[2016-03-15 01:39] RDmitchell commented on #828
@nicholasserra -- am handing this to you -- if you feel like I am piling on too many issues let me know. This one is annoying because you can't tell what the program is doing, but it's not necessarily a show stopper, so am setting it to priority = 2. It is more of a problem for bigger data sets.

[2016-03-15 01:40] RDmitchell commented on #828
Also, I had originally thought we could do it as a hot fix, but we're past that now, so we'll fix it at some rate and maybe get it onto production before June -- we'll have to see how things go.

[2016-03-15 04:03] RDmitchell opened #853 "Error trying to load interval data as XLSX file"
I am getting an error message when I try to import an XLSX file that has interval data it in on seedts

![image](https://cloud.githubusercontent.com/assets/6314950/13767392/049b3226-ea27-11e5-90ea-f368161ec217.png)

This is for the app contest

Steps to replicate:
Imported the building list with records that this interval data is supposed to match on, I think by address.
The building list is calle

[2016-03-15 18:51] nicholasserra commented on #13
@RDmitchell this action is going to require a progress bar, as it's going to take longer than it would just to remove all buildings from an org. As I go the route you suggested with the UI, where do you see a progress bar shown? I'm trying to reuse as many components as possible, so I don't eat up a ton of time writing this stuff from scratch.

[2016-03-15 21:23] RDmitchell commented on #13
Since this is a superuser admin function, you should definitely reuse code and it doesn't have to be beautiful, as only a few people are going to use this functionality (us, other web hosting providers, IT depts if they stand up their own instance, etc.).

You could just take over the whole screen while you are doing it with a progress bar, and then I guess nothing else can happen until it finishe

[2016-03-15 21:33] nicholasserra commented on #13
The simplest route is to emulate that little red progress bar like "remove buildings" does. But you had concerns about placing a second button next to that, which I put more thought into.

The issue is that all the remove building stuff that i'd like to use is really geared towards how that "remove building" button works, and i'd like to reuse it. So I was thinking it might be safe and user friend

[2016-03-15 21:36] nicholasserra commented on #13
Also I planned on doing a full page refresh after the org is deleted, as there are many things tied to the org list that need to be updated.

[2016-03-15 21:52] RDmitchell commented on #13
Sure, I think just changing the color scheme would probably eliminate my concerns. And maybe making a bit of space between the two buttons so that your mouse can't accidentally hit one because it wasn't inside the border of the other (?)

[2016-03-15 21:54] nicholasserra commented on #13
Sounds good to me

[2016-03-16 13:50] mmclark commented on #851
I suggest we change this issue to be a more general improvement on the AWS setup documentation.  It's out of date in places (targeting 13.10, for instance), it refers to the removed "prerequisites.txt" file, etc.

[2016-03-16 23:06] rebrownlbnl commented on #851
I changed title accordingly; I'm relying on you to decide what needs to be updated.
You might run it by @nllong

[2016-03-17 00:28] mmclark commented on #851
Sounds good

[2016-03-17 14:04] Lasternas commented on #853
It does look like that KairosDb is timing out or something like this.
Also for importing Excel Timeseries data with intervals lower than monthly, we recommend to upload it with the external script for now.
Correct, mapping is done with address
Thanks

[2016-03-17 19:37] nllong opened #855 "enforce spelling in documentation and docstrings"
right now spell check is adhoc. we need to enforce spelling in the CI.

[2016-03-18 15:50] nllong commented on #673
Can we close this per PR #849?

[2016-03-18 16:05] #847 closed

[2016-03-18 21:07] RDmitchell commented on #853
This is working now using the CMU Kairos DB server

[2016-03-18 21:07] #853 closed

[2016-03-18 23:47] RDmitchell opened #858 "With lots of buildings (12,000+) adding labels takes longer than the spinner indicates"
If there are a large number of buildings in the building list (12,000+), and a filter results in displaying 11,000 of those records, and then those records are labeled, the spinner that appears while the program is adding those labels disappears many seconds before the program is actually finished, and before the feedback box that appears in the right hand corner of the screen comes up.

[2016-03-19 00:08] RDmitchell commented on #13
My only Feedback (!)

**Title of section on page**
* Rename "Remove all buildings from an organization" to something like "Remove buildings and organizaions" (?)

![image](https://cloud.githubusercontent.com/assets/6314950/13894833/8d357e20-ed29-11e5-8200-9472ca2c081d.png)

Seems to be working well -- I am going to start cleaning up seedtest.

Anything you can think of that I should test ? I guess

[2016-03-19 00:11] RDmitchell commented on #13
one more comment is that it seems to sometimes take a while for the browser to refresh after deleting an organization, so that the org appears to be there, although if you force a refresh they are no longer there. But it didn't happen all the time, just every once in a while.

[2016-03-19 00:12] RDmitchell commented on #13
Maybe the refresh takes longer when there are more records to delete and the entire process takes longer -- for the cases where the deletion happened quickly, it seemed like the browser refresh also happened quickly.

[2016-03-19 00:15] RDmitchell commented on #13
on the other hand, because this is a superuser feature, it's not the end of the world if the superuser has to refresh the browser by hand.

[2016-03-19 00:24] RDmitchell commented on #13
@nicholasserra -- what happens if I refresh the browser in the middle of a deletion? I thought it was finished, I refreshed the browser, the org was still there, I clicked delete again, and now it seems stuck -- the progress bar is empty and not moving, but no errors appear. I will let it sit for a while and see if it eventually finished.

[2016-03-19 00:37] RDmitchell opened #859 "Rename Remove All Buildings From An Organization Section"
Title of section on superuser Admin page where you can delete organizations

Rename "Remove all buildings from an organization" to something like "Remove buildings and organizaions" (?)

related to #13

[2016-03-19 00:37] RDmitchell commented on #13
but then when I log out, and log back in, the org is gone. So it's probably ok. If I can figure out a way to reliably reproduce this case, I will make another issue. I am going to close this issue.

[2016-03-19 00:38] RDmitchell commented on #13
am reopening for myself to continue doing some tests before declaring it's ready for production

[2016-03-19 00:51] nicholasserra commented on #13
It should only refresh the page if you delete your current active org. Otherwise it should update everything in place.

via Hiptop

[2016-03-19 00:53] RDmitchell commented on #13
What do you mean by "current active org" ?

[2016-03-19 01:10] nicholasserra commented on #13
The organization you currently have selected in the organization drop down menu top right.

via Hiptop

[2016-03-19 01:11] RDmitchell commented on #13
@nicholasserra -- I am having trouble deleting one of the test orgs on seedtest (although all the others have delete fine !?!) Here is a link to a video
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LY0xiTy1iTzhKd2M/view?usp=sharing

[2016-03-19 01:16] RDmitchell opened #860 "Superuser admin -- Add Creation Date to Organization list"
In the list of orgs at the bottom of the admin screen that you see in superuser mode, if it is possible, add the date the organization was created -- maybe another column? For the existing orgs, if there is not a way to determine that, just leave it blank or whatever. But going forward it would be nice to keep track of when orgs are created, so that if they are inactive, we will know how long they

[2016-03-19 01:28] RDmitchell commented on #13
hmmmm, I'm not sure that pulldown in the upper right should even come into play in the superuser admin screen ... I never pay any attention to it. We might need to rethink how that works in this screen.

[2016-03-19 01:30] RDmitchell commented on #13
and, by the way, per the video, the org that I couldn't get rid of (in the video) is now finally gone, after having logged out for about a half hour and then logged back in.

[2016-03-19 01:44] RDmitchell opened #861 "Program can't load labels when semicolon is used for filter"
Doing a test on a large dataset, filtering on semicolon in Tax Lot ID, returned 265 records, tried to add a label to those records, and the program wasn't able to load the labels.
![image](https://cloud.githubusercontent.com/assets/6314950/13895965/34723b24-ed39-11e5-8ede-80458f422f8d.png)

I will make a video with the steps and the data.

@nicholasserra -- am assigning this to you and can make yo

[2016-03-19 01:52] RDmitchell commented on #861
Here is a link to the video
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7La0gxalprOTRaZ0E/view?usp=sharing

[2016-03-20 22:35] StephenCzarnecki commented on #148
It seems like the mappings are actually saved for the PM files.  The the catch seems to be that for PM files only the pre-defined mappings are ever used.

I can change it to use the saved mappings but that makes me wonder:  Should mappings be tied to the file type?  E.G. if a user imports a file as a csv and maps "Address 1" to some random thing should that also apply to PM files?

There is a souc

[2016-03-21 18:03] nicholasserra commented on #860
Orgs don't have a created date so i'll be adding a new field for this.

[2016-03-21 18:34] nicholasserra commented on #860
For some reason the orgs app does not have migrations, so I need to fix that for us to be able to add anything.

[2016-03-21 18:41] nicholasserra commented on #860
Unfortunately it seems there isn't a clean way I can accomplish this because of issues with migrations. There is a new flag in Django 1.9 that will allow me to implement this, assuming 1.9 is on our roadmap. This may have to be on hold until then.

https://github.com/django/django/commit/db97a8849519a3933bf4abd2184efd68ebc21965

[2016-03-21 19:14] nicholasserra commented on #861
@RDmitchell thanks for the video! Would be helpful to be added to this org too so I can check it out on the server. I'll try to reproduce locally too.

[2016-03-21 19:37] nicholasserra commented on #861
@RDmitchell which files were all imported for this? I only imported the new york file and didnt get any semicolons in tax lot ids, so I think I need to do some specific matching to get this scenario.

[2016-03-21 19:51] nicholasserra commented on #13
It only comes into play because it's basically global to the application. It's not really affecting anything. The org that was hanging might have had a ton of data, glad it finally was removed. Let me know if you see any other specific issues with this whole process.

[2016-03-21 20:28] nicholasserra commented on #791
@nllong

So I tried quotes and ticks on the mapping page, mapped, matched, viewed buildings with no issue. Anything I might be missing?

![screen shot 2016-03-21 at 4 27 02 pm](https://cloud.githubusercontent.com/assets/512288/13933097/e4c347da-ef81-11e5-90d7-e5ae36a0bfc6.png)

![screen shot 2016-03-21 at 4 27 28 pm](https://cloud.githubusercontent.com/assets/512288/13933100/e7d76a14-ef81-11e5-9c8

[2016-03-21 20:31] nllong commented on #791
that was the issue. Let me try again.

On Mon, Mar 21, 2016 at 2:28 PM Nicholas Serra <notifications@github.com>
wrote:

[2016-03-21 20:32] nllong commented on #851
I can review this if you want... easiest probably to just do a pull request.

On Wed, Mar 16, 2016 at 6:28 PM Miles Clark <notifications@github.com>
wrote:

[2016-03-21 20:35] mmclark commented on #851
That's my plan

On 03/21/2016 01:32 PM, Nicholas Long wrote:

[2016-03-21 21:16] RDmitchell commented on #860
Ok, that's fine. We can put this off until after the June release -- I will change the Milestone.

Thanks for investigating it.

[2016-03-21 21:21] RDmitchell commented on #861
@nicholasserra -- I will add you to the org, and send you documentation about how to upload, map and match the files on your development environment.

[2016-03-21 21:39] nicholasserra commented on #861
Perfect thank you

[2016-03-22 15:20] nllong commented on #791
I tested this again locally and i didn't see the issue anymore. closing...

[2016-03-22 18:04] RDmitchell commented on #791
am reopening to test on seedtest

[2016-03-22 18:06] RDmitchell commented on #859
Looks good. Closing

[2016-03-22 18:06] #859 closed

[2016-03-22 18:14] #791 closed

[2016-03-22 19:16] RDmitchell commented on #813
@nicholasserra -- I am assigning this to you to work on when you have time. It would be nice if the progress bar to show small incremental progress, just so the user knows it hasn't crashed/hung. This is particularly a problem for large datasets, just because it takes so long for them to match. The files that you were using for testing #861 would be a good test set for this issue. Just import and

[2016-03-22 20:04] RDmitchell opened #865 "Server times out (?) trying to delete 15,000 building records"
Same data set for #813, after merging and matching, end up with approximately 15,000 records. Tried to delete them all using the Building Actions pulldown and selecting all records with the upper left hand checkbox in the building list table grid.

Get a 502 error after a not-very-long time
![image](https://cloud.githubusercontent.com/assets/6314950/13966192/8a08d2bc-f02e-11e5-9915-b1141d6fabfc.pn

[2016-03-22 20:42] RDmitchell opened #866 "Add Revised Field Names in Portfolio Manager for 2016 to default PM mapping file"
We need to add the PM revised field names to our default PM field mapping file.

I have an email into Cindy Jacobs for a list of the fields that have changed.

[2016-03-22 22:00] rebrownlbnl commented on #866
Our PM mapping file probably needs to be a "superset" of both the 2015 (and before) and 2016 field names, just in case someone tries to import an old file (aren't some of the cities talking about importing previous years' data?).
The only problem I foresee is if a field in the PM file changed its meaning, but not its name, between PM versions. That would be a bit perverse for EPA to do that, hopef

[2016-03-23 18:32] RDmitchell opened #868 "Energy (Timeseries) tab UI refinements for the "Finer Timeseries Data" section"
In the Finer Timeseries Data section, seems like it could be tweaked to be easier to read.
- Put the Timestamp in a human readable format (date/time)
- Put units in the titles if possible, ie, Reading (Wh), Interval (seconds or whatever it is)
- If that is not possible, put the Attribute section, which is now at the end of that section, at the top of the section under the title

![image](https://c

[2016-03-23 19:39] nicholasserra commented on #865
Locally this only takes a couple seconds for me. I just tried it with 30,000 buildings. I'll load up seedtest and see what i get.

[2016-03-23 19:46] nicholasserra commented on #828
Seeing some kind of issue in the mapping flow, it seems to be stuck at some initial progress state. Going to have to do some close inspection of all the mapping steps in celery.

[2016-03-23 19:47] nicholasserra commented on #828
![screen shot 2016-03-23 at 3 46 58 pm](https://cloud.githubusercontent.com/assets/512288/13998630/7c590124-f10e-11e5-9a8a-406a3615999c.png)

[2016-03-23 22:00] RDmitchell opened #869 "Make import of Portfolio Manager Monthly meter data one step and include mapping"
In the timeseries module, the program can read a PM multi-tab spreadsheet that has Properites, as well as Meter and Meter Consumption tabs.

![image](https://cloud.githubusercontent.com/assets/6314950/14002107/eb9fbe36-f106-11e5-81e9-f1f880aa8568.png)

The program currently requires two import steps
1 - Import the spreadsheet as a regular PM file
2 - Import the spreadsheet as a PM file with "Energ

[2016-03-24 18:10] RDmitchell opened #871 "Add date/time of import for uploaded files in the Data Files section"
In the view that shows all the files that have been updated, add a column for date/time of upload.

The way the program works right now (except for time series data) if you import the same file twice, the program just shows the same filename twice. So if we added date/time the user could at least tell which one was the most currently uploaded.

And we might think about doing what is done in the ti

[2016-03-24 19:24] RDmitchell opened #872 "Display of files is slow if the list of files is long"
So far i have only tested this on seedts (the timeseries instance), where I have loaded 36 files into one dataset (all monthly timeseries files with 70,000 records in each). As I added more and more files, it seems like the program took longer and longer to refresh the file list, even when I did a browser refresh by hand.

Need to test this on our normal server (seedtest) to see if it is an issue

[2016-03-24 20:22] RDmitchell commented on #872
This might be a good place to add a spinner, at least for starters, when the program is taking time to display the list.

[2016-03-25 13:57] mmclark opened #873 ""NoneType object is not iterable" in _match_buildings"
Seen in the celery log on the seed-timeseries instance:

[code]

[2016-03-25 20:08] Lasternas commented on #868
Do you want to keep some tabular format once we implement the graphical interface?

[2016-03-25 20:14] RDmitchell commented on #868
If it seems useful from a debugging standpoint, which I think it might, I think maybe yes?

Can you put a screenshot of the graphing UI in this issue so we can see how the tabular format might fit in?

[2016-03-25 20:30] Lasternas commented on #868
we will make a mock-up and send it

[2016-03-25 20:49] RDmitchell commented on #873
This might have been me trying to unmatch some records in the matching screen. It seemed to put the program into endless spinner mode, which is why I had @mmclark restart the ts instance.

[2016-03-25 20:50] RDmitchell commented on #873
This would have been for the SEED App Contest org, which has 22,000+ records, a few hundred of which have timeseries data associated with them.

[2016-03-25 21:06] RDmitchell opened #874 "Save GreenButton Request button doesn't save deletion of input in URL and Subscription fields"
I am testing this on seedts.lbl.gov in the SEED App Contest org.

There are 9 records with GreenButton connect information entered for them, and they all show the interval data in the Energy tab.

Now that I have the interval data loaded, I would like to delete the information at the top of the Energy Screen for the Base URL and Subscription ID fields. I would also like to set the Active button to

[2016-03-28 15:21] Lasternas commented on #874
Please assign this to Haopeng. This fix will also include deleting Energy timeseries data entries on KairosDB and PostgresSQL when a building is deleted.

[2016-03-28 20:30] nicholasserra commented on #813
Seeing a 400 and

[code]

coming back. Some kind of bug. No celery errors.

[2016-03-28 20:33] nicholasserra commented on #813
I'm going to try to implement a timeout loop to wait for matching to complete on the FE. Basically, it can't match yet because all the mapping jobs havent come back. Also going to look at why the mapping step says 100% when it isn't done yet.

[2016-03-28 20:45] RDmitchell commented on #813
Thanks for pursuing this Nick. It would be good to figure it out.

[2016-03-28 20:46] nicholasserra commented on #813
Happy to be hunting bugs :) Some celery errors just came through so i'm going to hunt those down too, i'm thinking they're related.

[2016-03-28 21:14] nicholasserra commented on #865
On seedtest I just deleted 30,000 with no issue. But it took probably ten seconds for the request to complete. What's odd is that this delete method doesn't actually delete anything, as mentioned in #665. So I think there's some error happening here. @RDmitchell we had a few issues around this data set. Did we have any exact files and steps to reproduce anywhere? I suspect a data issue here.

[2016-03-29 01:00] danielmcquillen commented on #718
Alex is going to pull in most of these changes and integrate them with his Issue #567

[2016-03-29 01:03] #718 closed

[2016-03-29 18:20] nicholasserra commented on #813
So in a few places we're telling the FE that progress is 100% when it is not. Trying to get some fixes in for that.

[2016-03-29 18:21] RDmitchell commented on #813
that would be great. thx

[2016-03-29 20:38] axelstudios opened #876 "Upgrade fine-uploader"
In addition to not using extremely-outdated code, fine-uploader is a pain because it needs to be built by the user with grunt.  Once compatibility with the latest fine-uploader has been added, we can use a pre-built repo like this (https://github.com/feryardiant/fineuploader-dist).

Alternatively, we can add a distributable 3.x fine-uploader build to a new SEED-platform repo and use that.

[2016-03-29 21:23] rebrownlbnl commented on #876
so the user would install from that fineuploader-dist repo?
I don't think we can distribute it through SEED-platform because of the license type.

[2016-03-29 21:29] nicholasserra commented on #13
@RDmitchell do we have any concrete issues with this? Thinking we should close this main ticket either way.

[2016-03-29 21:31] nicholasserra commented on #828
I think this may be a dupe of #813.

[2016-03-29 21:31] nicholasserra commented on #828
Both related to progress bar issues.

[2016-03-29 21:32] nicholasserra commented on #218
This is going to be blocked by Django 1.9 as I don't want to make any more field changes before fixing Organization migrations.

[2016-03-29 21:38] RDmitchell commented on #13
Yes I will close this issue.

[2016-03-29 21:38] #13 closed

[2016-03-29 21:40] RDmitchell opened #878 "Set up a release server that replicates production with latest updates"
For testing a final release before putting the changes on production.

Seems like this will be particularly important if we are migrating a bunch of user data -- I would want to test the migration on a duplicate version of production before migrating the real data.

[2016-03-29 21:41] RDmitchell commented on #828
Seed #813 -- test this when that is merged

[2016-03-29 22:02] axelstudios commented on #876
The dist repo just removes a few dependencies and the step of developers compiling the code themselves.

I didn't notice that the license had changed - v3.9.1 (currently used by seed, circa 2013-10) appears to be GPLv3, and v5.0.9 was the last version with the GPL license before they switched to their custom Widen license.  Their Widen license allows open-source projects to use the code freely, bu

[2016-03-29 22:07] RDmitchell commented on #876
I don't believe we can use GPL. I think the only license we can use are BSD and MIT. @rebrownlbnl can verify.

[2016-03-29 22:34] nicholasserra commented on #443
@danielmcquillen Do you know the current status of js tests by chance? I remember you were working on them. Thanks!

[2016-03-30 00:41] rebrownlbnl commented on #876
yes, that's my understanding also, which is why we haven't been distributing fineuploader but making the user download it directly from the other source.
If the dist repo just makes it easier to install, but the source is still that other repo, let's go with that.

[2016-03-30 16:22] nllong commented on #673
@rebrownlbnl can we close this?

[2016-03-30 17:47] rebrownlbnl commented on #673
There are also some coding guidelines in the wiki:
https://github.com/SEED-platform/seed/blob/develop/.github/CONTRIBUTING.md
Those seem out of date now and should be updated.
Maybe this comes under "updating the contributor guidelines" which should be a separate issue.

[2016-03-30 18:04] nllong commented on #673
I took those from the wiki. Prob make a ticket to update

- nick

[2016-03-30 18:07] rebrownlbnl commented on #673
okay I'll make a separate ticket and assign it to myself to do the initial edits

[2016-03-30 18:09] rebrownlbnl opened #881 "Update wiki contributor guidelines"
particularly for coding style guidelines
https://github.com/SEED-platform/seed/blob/develop/.github/CONTRIBUTING.md

[2016-03-31 15:08] nicholasserra commented on #861
https://app.getsentry.com/lawrence-berkeley-national-lab/seed-platform-django/issues/120160889/

filter on semicolon and add label

[2016-03-31 15:40] RDmitchell opened #883 "Export not working from Project"
On seedtest, with NYC data (15,000 records), tried to export the 300 records from a project, and the program appears to hang. Progress bar stays at 0%, no errors. There is a sentry error which may not be releated but here it is:

New Issue on Lawrence Berkeley National Laboratory SEED Django (staging)

AttributeError: type object 'ProjectBuilding' has no attribute 'status_label'
ID: 019d48501b254c

[2016-03-31 15:41] nicholasserra commented on #883
I think that error is related.

[2016-03-31 15:41] nicholasserra commented on #883
https://app.getsentry.com/lawrence-berkeley-national-lab/seed-platform-django/issues/120298616/

[2016-04-01 02:41] RDmitchell opened #884 "Bullet in data -- is it a problem?"
In a Portfolio Manager file, what appears to be a "bullet" is attached to a Tax Lot ID.

The question is whether it will send SEED south. While trying to import this file, @mmclark saw some very strange errors on the uwsgi server -- no idea if it would be related or not.

[2016-04-01 02:44] RDmitchell commented on #884
I have isolated the record and made a very small file for testing which can be found here.
https://drive.google.com/open?id=0B3fTKpZ9Dx7LSXhBOU03cXFuS2M

[2016-04-01 19:52] RDmitchell opened #885 "Mapping screen only shows non-JSON blob fields"
On the last mapping screen, where you click the Save Mappings button and then the program proceeds to go into Matching mode, the program displays the mapped field names to the actual data, in list form. It seems like the program shows all fields except those in the extra_data field, which is the JSON blob.

I mapped a file where the only field I mapped that was not in extra_data was Tax Lot ID (al

[2016-04-01 19:53] RDmitchell commented on #885
Get an example file together.

[2016-04-03 23:10] danielmcquillen opened #886 "UI Updates for DB Refactoring"
Develop UI updates to match changes to data model and requested feature set for June 2016 release.

[2016-04-03 23:12] danielmcquillen commented on #886
@RDmitchell I created this issue as kind of a catch-all for the UI work for the June 2016 release. Please let me know if you'd like more detail or this issue to be subdivided.

[2016-04-04 17:43] nllong opened #887 "Unit tests for timeseries"
There appear to be few unit tests in the time series branches. Can you please add more?

For example, this should be easy to test

https://github.com/SEED-platform/seed/pull/714/files#diff-cc527e75c3721fb11edc098bba4e16d4R22

All of the requests will need some mock data to run the tests.

[2016-04-04 17:47] wanghp18 commented on #887
Thanks, I will complete the tests.

On Mon, Apr 4, 2016 at 1:43 PM, Nicholas Long <notifications@github.com>
wrote:

[2016-04-04 21:10] nicholasserra commented on #883
So it's trying to export the label as a field. I'll add a check to stop that.

[2016-04-04 21:39] RDmitchell commented on #883
that's very interesting, because that is actually something we need to add to the program, ie, being able to export the labels associated with each record. I started to write it up as an issue, and realized that we needed to think about it a bit, because there may be different numbers of labels associated with each record. So some design may be needed.

For now, let's fix this so that export works

[2016-04-05 16:50] nicholasserra opened #889 "Fix migrations from clean db"
Migrations are not working from a fresh database. Hoping this is something we can fix without bumping to Django 1.9.

[2016-04-05 18:43] RDmitchell commented on #886
I think this is a good placeholder. I suspect as we figure out what needs to be done, we will spin off new issues, but this could be the master list.

For starters, I think the UI updates would include:

- Building List, including detail view
- Labels (?) -- this might be all BE?
- Project List, including detail view
- Graphs

[2016-04-05 21:44] nicholasserra opened #894 "Upgrade to Django 1.9"
Mainly for initial migration changes, to solve orgs app migration problem.

[2016-04-06 02:43] rnicholus commented on #876
Hey there! If you have any licensing questions or anything else related to using Fine Uploader in your project, feel free to let me know or open up a new case in the Fine Uploader issue tracker.

Note that Fine Uploader is also distributed on npm.

[2016-04-06 18:10] nicholasserra opened #897 "Audit pip packages"
We have a lot of stuff being installed via pip, some that is not even used. I found a few via the Django 1.9 upgrade, but i'd like to go over each one and figure out if it's unnecessary.

[2016-04-06 19:15] RDmitchell commented on #897
sure

[2016-04-06 23:29] RDmitchell opened #898 "Don't automatically make unmatched records into new buildings"
I have been looking at some of the edge data cases for NYC and it has made me realize that we may want to change the way matching currently works.

Right now the program matches records without giving the user a chance to say whether they should be matched or not. The user can go to the Matching screen and match or unmatch records, but that is AFTER they have already been matched.

In the case whe

[2016-04-07 00:08] rebrownlbnl commented on #898
I agree this needs more thought.
In some cases, such as the first file import, the user would want new buildings created, where later imports they may not.
Also, with the new data model an import record might be populating two (or more?) different tables, each of which would require matching.

[2016-04-07 00:54] rebrownlbnl commented on #876
Thanks @rnicholus for offering the assistance.
The npm option may help, although the fineuploader npm page says it's licensed under the commercial license?
@axelstudios does npm solve any of the issues you are trying to address?

[2016-04-07 01:27] rnicholus commented on #876
The widen commercial license allows free projects to use Fine Uploader for free.

[2016-04-07 16:07] axelstudios commented on #567
This is fixed with #875 - the solution is a little different than I originally intended, but the outcome is the same (version is in package.json, About page shows version and git sha)

[2016-04-07 19:40] RDmitchell opened #899 "Can log into deleted account"
This is on seedtest

I deleted an organization as a superuser, but I can still log into "something" with the email address associated with that account.

Here is what I see when I log in with the email address originally associated with the deleted organization
![image](https://cloud.githubusercontent.com/assets/6314950/14364187/9b2da794-fcbc-11e5-9fbe-7d56f1858cc7.png)

When I log in as a superus

[2016-04-07 19:42] RDmitchell commented on #899
These sentry errors are undoubtedly related to this issue
![image](https://cloud.githubusercontent.com/assets/6314950/14364522/25af5420-fcbe-11e5-8e7a-f09908781030.png)

[2016-04-07 19:43] nicholasserra commented on #899
Emails are not directly tied to Organizations. A user account can belong to many organizations, or none.

Two solutions that will work:
- We delete the user account if we're deleting the only org they belong to (as you said)
- We add "You don't belong to any organizations" message when they try to log in, and stop the login.

[2016-04-07 19:43] nicholasserra commented on #899
I think the second option, not allowing them to log in, makes more sense from a database view.

[2016-04-07 19:47] RDmitchell commented on #899
I think we should delete the user account if it is the only org they belong to.

I don't think it makes sense to keep an email around that doesn't belong to an organization.

That is what I meant when I said "design flaw" in the organization account setup design.

What reason is there to have an email account if you can't log into an Organization, which is the only way you can access data ?

[2016-04-07 19:49] nicholasserra commented on #899
It's a common pattern to have Users <--> Memberships <--> Organizations. The reason to keep the user is that in the future they may be added to new organizations, and some would think the historical data on that user account might be valuable.

[2016-04-07 19:50] nicholasserra commented on #899
Or it's also common that even though their only org is gone, they may be allowed to create a new org. That's not something we do right now, or may ever do, but that's something that the pattern allows.

[2016-04-07 20:06] RDmitchell commented on #899
I think for now, we should just delete the email account at the same time that the associated organization is deleted, if it is the only organization that email is associated with.

The program doesn't currently have the infrastructure to support what you are talking about and it would (and probably should) be a design exercise.

But right now we don't have time for that, so you should just delete

[2016-04-07 21:30] RDmitchell commented on #813
imported a file with 13K records, created 13K buildings. Imported another file (PM) with 11K records to match to the newly created buildings. 20 minutes into the matching, program was still reporting 0% progress, then about a minute later it reporting increments of progress in about 20% intervals over the space of less than a minute, then reported the matching results

So I don't think there is mu

[2016-04-09 02:07] RDmitchell commented on #883
I am trying to same type of thing on seedtest, after the merge, this time from the Building list, rather than Project. The program reports 0/2616 buildings are exported, progress keeping chunking along under the network debugging tab, and then there is the following sentry error
![image](https://cloud.githubusercontent.com/assets/6314950/14401151/f7da948e-fdbb-11e5-8855-77b85c34a398.png)
![image](

[2016-04-11 18:52] #894 closed

[2016-04-11 21:31] nicholasserra opened #902 "Switch to Django 1.9 password validation"
Django 1.9 ships with password validation built in, so with some small changes we can remove the django-passwords library.

[2016-04-12 18:05] nicholasserra commented on #889
@danielmcquillen can you confirm I fixed this? :P

[2016-04-12 22:23] nicholasserra commented on #883
Looks like a data issue. Which files were used?

[2016-04-13 06:23] rebrownlbnl commented on #902
yes, like this idea :+1:

[2016-04-13 17:09] #897 closed

[2016-04-14 22:21] RDmitchell opened #906 "Clear filters goes back to Show All state, but pulldown doesn't reflect that state"
When you have the "Show Matched" or "Show UnMatched" state selected in the Building list, and then click the clear filters button, the program reverts to showing all the records in the Building list, ie, the "Show All" state.

However, the pulldown is still left in the "Show Unmatched" or "Show Matched" state -- it should revert to the "Show All" state, or the Clear Filters button should not chang

[2016-04-14 22:23] RDmitchell opened #907 "After applying labels on page > 1, program goes back to showing page 1 list"
In the Building list, when you move to a page other than the first page view of records, then apply labels to some or all of the records on that page, the program refreshes to show the page 1 list of records.

It would be nice if the program would stay on the page where you were applying the labels.

[2016-04-14 23:07] RDmitchell opened #908 "Changing the name of the label currently being filtered on"
Renamed label while that label was being filtered on in the building list, and got an error on Search Buildings when I clicked on the Building List in the Label screen

Filter by a label, then click on the Labels link
![image](https://cloud.githubusercontent.com/assets/6314950/14546418/26f3d292-025a-11e6-8c0a-6ae991f17473.png)

Edit the name of the label you are currently filtering on in the build

[2016-04-14 23:16] RDmitchell opened #909 "Clicking on Building Detail loses Filter by Label"
In the building list, filter by a label
![image](https://cloud.githubusercontent.com/assets/6314950/14546598/66701362-025b-11e6-910e-6502b6ae4694.png)

click on one of the resulting records to see the Building Detail screen, then click on the Buildings link to get back to the Building list view
![image](https://cloud.githubusercontent.com/assets/6314950/14546641/ae3b5882-025b-11e6-9d6e-1f899c6b4a7

[2016-04-14 23:23] RDmitchell commented on #908
It also seems like this can result in an error when you click on the Buildings link

![image](https://cloud.githubusercontent.com/assets/6314950/14546874/2da37040-025d-11e6-9ea8-7a97aa09c1a2.png)

[2016-04-14 23:32] RDmitchell opened #910 "Update filtering in the Matching detail view"
When you click on a matched or unmatched record to get into the detailed matching view, when you then enter a filter into one of the filter input boxes, the program acts like it used to, ie, it starts the filter right away.

It should start the filter once the user hits the enter key or clicks the Update Filters button.

[2016-04-15 19:59] #902 closed

[2016-04-16 01:28] danielmcquillen opened #911 "local_untracked has changed"
Based on help from @nicholasserra, local_untracked.py is now much simpler. Creating this issue so I can add a PR with the new version for local_untracked.py.dist

[2016-04-16 01:45] danielmcquillen commented on #911
Fixed in https://github.com/SEED-platform/seed/pull/912

[2016-04-18 22:02] RDmitchell opened #913 "Problem importing file"
General support uploading a user PM file -- problem is fixed in seedtest but not in production, so determine the problem so maybe the user can fix the file to get it to load onto production

[2016-04-19 00:21] RDmitchell opened #914 "Number of Buildings not reporting properly"
On the building list, for some reason the number of building is not reporting properly. I will give an example once this issue is created.

[2016-04-19 00:31] RDmitchell commented on #914
Now I am having trouble recreating the issue. Now the program is reporting the correct number of buildings in both the left nav bar and the building list header, where before it was only reporting "1" building in the building list header, no matter what I did (Clear Filter, Show All)

[2016-04-19 00:41] RDmitchell commented on #860
Tested ! Looks Great !! Thanks !

[2016-04-19 00:41] #860 closed

[2016-04-19 00:53] RDmitchell commented on #914
Now, using user's real data, I see the same issue -- "1" building is reported in the Building list header but 1,166 records are actually there.
![image](https://cloud.githubusercontent.com/assets/6314950/14624275/1a15d1c4-058e-11e6-8cf3-089607e3df67.png)

[2016-04-19 01:09] RDmitchell commented on #914
I can reproduce this issue by importing 2 years of public disclosure data from the DC benchmarking website. Here is a screen shot -- I have uploaded 2012 and 2013 data, and even though there will be some matching, the Building list is only reporting 1 building in the header, when it should be reporting 1,1218.

![image](https://cloud.githubusercontent.com/assets/6314950/14624544/87d0e968-0590-11e6

[2016-04-19 05:08] danielmcquillen commented on #914
Dang. I can't recreate this issue locally. Trouble is, we're using Angular 1.4.10 on develop right now (as well as Django 1.9 and some other changes), so it's going to be even harder to recreate.
@axelstudios I think this has to do with ng-pluralize's binding to scope.number_of_buildings. Do you have any thoughts on what might be going wrong?
@RDmitchell should we postpone working on this issue un

[2016-04-19 17:40] RDmitchell commented on #914
@danielmcquillen -- I don't quite understand your comment "until the latest on develop gets pushed to staging".... what is in develop that is not in staging (ie, seedtest) ?

[2016-04-19 18:18] axelstudios commented on #914
I'm not able to reproduce this on seedtest or locally (using Angular 1.4.10, Django 1.8.9).

But I also don't think it's ng-pluralize - `search.number_matching_search` is exactly what is was bound to before that change.  I have a feeling it's an issue with the data coming from the backend (search results).  To test this, try the following:

Sidebar: This should return the maximum number of buildin

[2016-04-19 18:30] RDmitchell commented on #914
It's interesting that it seems no one can reproduce it on their local dev environment, because I can definitely see it on some of my seed accounts, but it does seem to be intermittent.

I would like someone to figure it out -- @axelstudios or @danielmcquillen -- can you decide who will work on it?

And then I can add that person to the seedtest org where I see the problem, and we can figure out wh

[2016-04-19 19:55] #841 closed

[2016-04-19 20:01] RDmitchell commented on #861
I am still seeing this issue on seedtest with the large dataset

In this particular case, the total # of filtered records is 867, and I am displaying them 100 records at a time, selecting several (by hand by checking the checkbox on the left). I was displaying the 201-300 block of data when this happened.
![image](https://cloud.githubusercontent.com/assets/6314950/14653611/9de80b20-062e-11e6-8c2c-

[2016-04-19 20:03] RDmitchell commented on #861
I get the error message right away after clicking the Building Actions, Add/Remove Labels option

[2016-04-19 20:15] nicholasserra commented on #884
Just tested this, looks like the program is stripping those bad characters, so it should be fine.

[2016-04-19 20:39] RDmitchell opened #915 "Program can't load labels in large dataset when multiple pages have checked records"
In this particular case, I have filtered on a building list with 14,000+ records, resulting in 867 from the filter. I then display the records 100 at a time, and check some subset of them (those that have floor area < 50000). I do this for 3 pages, then try to use the Building Actions, Add/Remove Labels option, and the program gives an error, right after I click the pulldown list.

![image](https:

[2016-04-19 20:45] RDmitchell commented on #915
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LU3JnSXFkd1E5ZVU/view?usp=sharing

[2016-04-19 21:25] RDmitchell commented on #915
It seems like it might have to do with the number of records that are checked to get a label added. I could add labels to the first 2 pages of 100 records, but I had checked < 10 records in each page to label. On the third page, I check approximately 60 (?) records, and the program displayed the list of labels, but when I clicked the Done button (or whatever it is when you pick a label and apply i

[2016-04-19 21:47] RDmitchell commented on #915
tried selecting 50 at a time, got the error. Did 33 at a time, worked.

[2016-04-19 22:40] RDmitchell opened #916 "Error loading Building List page"
I keep running into the issue that the program errors out trying to display the Building List. I am testing a large dataset with 14,000+ records, and it happens fairly often. The only solution seems to be to log out, close the browser, start another browser. I tend to start an incognito browser, which I don't think users should have to do.

In the example below, I had filtered on two labels, and t

[2016-04-19 23:13] RDmitchell commented on #916
Here is a link to a video that shows the problem
https://drive.google.com/open?id=0B3fTKpZ9Dx7LdExveEptN2FCa0U

[2016-04-20 00:23] danielmcquillen commented on #914
On seedtest, confirmed that building_factory.search_buildings is getting back the correct number of buildings in the response...

![image](https://cloud.githubusercontent.com/assets/119496/14659743/d79e50be-06e1-11e6-8c74-d2db739ca60f.png)

So now trying to figure out why FE isn't populating this value to display...

[2016-04-20 00:43] danielmcquillen commented on #914
I think part of the problem is that when you navigate to the Building List view, the router calls building_factory.search_buildings, which returns the correct data. But when the view is instantiated, it's looking at the injected search_service for data like number_matching_search, and search_service has just default values, including 0 for number_matching search.

I'm not sure why this issue doesn

[2016-04-20 01:20] RDmitchell commented on #914
Did we change something recently that would have changed this? I have never seen this problem before.

[2016-04-20 01:28] danielmcquillen commented on #914
Ok, I'm starting to think this is definitely a binding issue with ng-pluralize
I was able to recreate issue locally and validate that $scope.search.number_matching_search is indeed updated (line 485 in building_list_controller). So looks like the ng-pluralize directive isn't seeing that change.

[2016-04-20 01:29] danielmcquillen commented on #914
I placed the old way of doing this next to ng-pluralize. You can see it's binding ok to the value...

![image](https://cloud.githubusercontent.com/assets/119496/14660730/1b149f16-06eb-11e6-9344-b20887b7ab53.png)

[2016-04-20 01:30] danielmcquillen commented on #914
I'm out of time at the moment, so I can pick up again tomorrow. Next step is to either work on figuring out why ng-pluralize isn't binding right or just use our own simple function to set the bound prop.

[2016-04-20 01:36] RDmitchell commented on #914
Thanks for working on this Daniel !!!

[2016-04-20 01:37] RDmitchell commented on #914
I guess one question is whether there are other parts of the program that we should be testing that might also have been affected by this change.

[2016-04-20 01:46] danielmcquillen commented on #914
Looks like ng-pluralize was added to buildings.html, dataset_list.html, project_detail.html, and projects.html...I don't know if they'll all suffer the same issue though. @axelstudios what do you think?

[2016-04-20 02:37] RDmitchell commented on #573
@maronnax -- just assigned this to you in case you need it for assigning your work to.
We should add some links in here to relevant docs at some point.

[2016-04-20 02:39] RDmitchell commented on #34
we have a new db design (see #573 ) so this is no longer relevant.

[2016-04-20 02:39] #34 closed

[2016-04-20 18:05] nicholasserra commented on #915
So this isn't a code issue, it's a config issue on the server. No issues locally with this. I'm suspecting something wrong with the uwsgi config or nginx config. I'm starting to investigate there.

[2016-04-20 18:14] nicholasserra commented on #915
I bumped the url length parameter up on seedtest, @RDmitchell can you test this again? This will hopefully now support more selected items. The issue seems to be the url length and the fact that we're tossing all the selections into the url.

[2016-04-20 19:58] RDmitchell opened #917 "Label list doesn't appear on first click into the input box"
When I first log into an organization (in this case on seedtest on my test org with the 14K records), then display the building list, the first time I click into the label input box, nothing happens. Maybe if I wait long enough it would eventually appear, but I waited 25 seconds and nothing happened. Then I clicked somewhere else on the screen (ie, out of the label input box) and then clicked insi

[2016-04-20 20:02] RDmitchell commented on #917
Here is a link to a video which shows the behavior
https://drive.google.com/open?id=0B3fTKpZ9Dx7LclB0TXdfZEZBRzA

This is definitely different behavior from yesterday -- I was using labels a lot and didn't see this behavior.

Don't know who should work on it.

[2016-04-20 21:40] RDmitchell commented on #916
This keeps happening to me, and the only way I know that the program is not going to display the list is to look at the error via the developer tools. Is there a way that this error can make it's way to the surface so that the user knows what's going on, and can log off and start over?

[2016-04-20 22:15] danielmcquillen commented on #914
Ok, turns out the " | count: 0" code within ng-pluralize was causing the issue. Changing this:

`<ng-pluralize count="search.number_matching_search | number:0"`

to this...

`<ng-pluralize count="search.number_matching_search"`

fixed the issue. So *not* a binding issue but rather ng-pluralize didn't like how that pipe transformed the value of $scope.search.number_matching_search.

[2016-04-20 22:25] danielmcquillen commented on #914
I've opened a PR with an initial fix: https://github.com/SEED-platform/seed/pull/919
I'm going to check the other instances of ng-pluralize to see if they need similar modification.

[2016-04-20 23:27] RDmitchell commented on #914
Great, thanks Daniel !!

[2016-04-20 23:33] danielmcquillen commented on #914
There are example of embedding the number in ng-pluralize directly (e.g. http://stackoverflow.com/questions/14002870/how-to-format-a-number-in-ngpluralize) but I couldn't get that to work with search.number_matching_search, perhaps because of the scope.object.property nature of the value. In the interest of time, I'm just taking out the number and listing it separately.

[2016-04-20 23:45] RDmitchell commented on #858
Here is a video that shows the problem.
https://drive.google.com/open?id=0B3fTKpZ9Dx7LVVZfYWNfaC11dUE

[2016-04-21 00:31] danielmcquillen commented on #915
@nicholasserra would it make sense to change that angular call to use POST rather than GET? Or do you think the new URL limit you set will be sufficient?

If we did use post the operation would be  less REST-like. We could look at using POST and then using X-HTTP-Method-Override to set it back to GET so that it's semantically correct...not sure if that's important from the BE point of view (Howeve

[2016-04-21 15:38] nicholasserra commented on #916
Initial testing leads me to believe this is just a slow query across those buildings. I can look into optimizing that endpoint if you'd like. We might just have to up the timeout on nginx cc @mmclark

[2016-04-21 15:40] axelstudios commented on #914
@danielmcquillen good catch!  I was totally expecting an issue from the backend.  I don't think we needed the number filter anyway, everything that I saw was already stored in javascript as integers.

[2016-04-21 15:45] axelstudios commented on #567
@RDmitchell I think this is ready for testing and closure.

[2016-04-21 15:48] RDmitchell commented on #567
so what type of testing would be useful?

[2016-04-21 15:51] nicholasserra commented on #915
@danielmcquillen I think this is kind of an edge case, so I think my initial increase of url limit is going to be okay for now. I'm going to leave this open to investigate other solutions. An easy one will be to shorten the GET key it's using, I think it's using `search_label` or something really long that we can shorten.

[2016-04-21 15:55] RDmitchell commented on #915
What exactly does the URL contain? Does it contain the name of the labels? The only reason I am asking is that I can see the users making long-ish label names -- I certainly have been doing that.

[2016-04-21 15:57] nicholasserra commented on #915
My mistake, it contains the selected buildings. But this could be shortened down to `s` or something, or put in the GET in a different format. Here's an example:

[code]

[2016-04-21 16:12] RDmitchell commented on #567
look at about screen and it should show the git commit #

[2016-04-21 16:16] RDmitchell commented on #567
This may not be testable on seedtest because it doesn't have git -- @mmclark ??

[2016-04-21 16:17] RDmitchell opened #920 "Clean up Javascript name spaces"
Possibly remove prefix altogether?

[2016-04-21 16:41] mmclark commented on #916
The uwsgi timeouts on nginx are probably ok - they're set at 300s. This morning the /app/label/ call was taking 18-20 seconds.  It sounds like it was slower for @RDmitchell, but not several minutes slower.  Are there additional timeout settings that you think would effect this call?

[2016-04-21 16:47] mmclark commented on #567
seedtest does have git.  That's how I pull down updates from github.  I see the /about/version/ call is returning a 500.  I'll check into it.

[2016-04-21 17:04] nicholasserra commented on #916
There is an nginx default timeout of 60 seconds that is probably being hit. I think `proxy_read_timeout` is the setting. I want to try to speed up this endpoint first though.

http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout

[2016-04-21 20:39] RDmitchell commented on #567
Great, thanks !

[2016-04-21 20:58] axelstudios commented on #567
[The command](https://github.com/SEED-platform/seed/blob/f7caf8cb4236f6ad77495decc32e1b4c16269ed8/seed/views/main.py#L162) it's attempting to run is `git rev-parse --short HEAD` from the working directory.

[2016-04-21 21:13] RDmitchell commented on #915
Because the program allows you to select buildings across pages, it seems like there could be several hundred building ids in this URL. Doesn't seem like a very good way to be passing data around. ??

[2016-04-21 21:14] nicholasserra commented on #915
It's necessary if you want to send that link to someone else and have those things selected. We have a lot of options before we need to change that structure.

[2016-04-21 21:19] RDmitchell commented on #915
ok, sounds good ...

[2016-04-21 22:32] RDmitchell opened #921 "Make django project with new DB models to test queries"
Implement the new db refactoring data schema into a fresh Django project in order to test out queries.

[2016-04-21 22:36] RDmitchell opened #922 "Investigate data migration issues for DB restructuring"
Look at migrating data from the existing data structure in SEED. Get a db dump from @mmclark for this.

[2016-04-21 22:39] RDmitchell opened #923 "Develop prototype for new DB structure"
Implement the new db structure composed of TaxLot, TaxLotView, TaxLotState, Property, PropertyView, PropertyState and TaxLotPropertyM2M tables in a new branch in develop.

[2016-04-22 00:33] RDmitchell commented on #913
@nicholasserra -- I don't think you've made any progress on this, right? I have a call with the user about this on Tuesday, 4/26, so I guess I should postpone that call if I don't have any ideas about how to work around the issue ??

[2016-04-22 01:28] nicholasserra commented on #913
Wasn't able to pinpoint an exact reason for this yet.

[2016-04-22 13:54] mmclark commented on #567
The issue is resolved.  It was a problem with the way I was setting the PATH environment variable in the upstart script.

[2016-04-22 16:26] axelstudios commented on #567
Looks good!

[2016-04-22 17:43] RDmitchell commented on #567
OK, I'm closing this issue. Thanks all !

[2016-04-22 17:43] #567 closed

[2016-04-22 18:38] wanghp18 commented on #874
@RDmitchell I fixed the bug by allowing empty fields to be submitted if Active is set to No. The empty field value will overwrite the previous field value, which acts as deletion. I will include the fix commit in the current PR request for review.

[2016-04-26 02:15] RDmitchell opened #924 "Error when filtering records on matching"
The following error was generated, I believe, in the matching screen, after matching was finished, and I went back to it from the Data nav bar, and entered a filter (street name) on one of the fields, and then hit Enter to initiate the filter.

![image](https://cloud.githubusercontent.com/assets/6314950/14804612/e19c66d2-0b19-11e6-8abf-6af9f195abbe.png)

Seems like the issue might be the apostroph

[2016-04-26 03:53] RDmitchell commented on #913
I figured out several issues with the data

* Apostophes in the field names caused problems on import -- taking those out allowed the program to import, map and match the file -- this is fixed on seed test

* Newlines in the Property Notes field in the Portfolio Manager files -- when I substituted commas and spaces, the program could upload, map and match the data -- I believe this problem might e

[2016-04-26 03:53] #913 closed

[2016-04-26 04:05] RDmitchell commented on #797
@danielmcquillen -- where are we with this? Is this something you can fix, or should we punt on it for now?

[2016-04-26 17:57] RDmitchell opened #925 "Newline in data causes problems"
Users are entering newlines in some of the "Notes" fields (in Excel) in order to make the information more readable, but it causes the program to create a new record when it encounters that newline, or to possibly not even be able to import the file.

I will put together some examples. We should try to get this fix into the next release, as this seems to be a common problem.

[2016-04-27 23:20] RDmitchell opened #927 "Change Read the Docs subdomain"
Starting today, 4/27/2016, projects will be hosted from readthedocs.io instead of readthedocs.org.

We need to change our URL reference as appropriate.

![image](https://cloud.githubusercontent.com/assets/6314950/14871079/e00023ec-0c93-11e6-8b22-267e58d074c2.png)

[2016-04-27 23:44] RDmitchell opened #928 "Blank field name in imported file causes error"
If there is a blank field in a file being imported, the program cannot map it properly, even if you enter a field name for it during the mapping phase.

We could do a few different things:
- give a error upon import that there are blank fields and make the user fix them and reimport.
- set the original imported file field name to the new SEED mapped field name

and probably there are more options

[2016-04-27 23:58] rebrownlbnl commented on #928
By "blank field" you mean that the header row is missing a value for one of the columns?
I think the second option in your list is easier for the user, so preferred.
We would need to have validation that they don't just pass the blank field name through mapping (can't map to an unnamed field; hopefully we already check for that).

[2016-04-28 14:52] nllong commented on #855
@RDmitchell I think this can be closed now... it has been running on Travis for a little over a month now. Reopen if you disagree.

[2016-04-28 14:52] #855 closed

[2016-04-28 14:53] nllong commented on #673
This can be closed. the flake8 is documented and the contributing changes is a separate ticket. Reopen if you disagree.

[2016-04-28 14:53] #673 closed

[2016-04-28 15:13] nllong commented on #826
this was removed. closing.

[2016-04-28 15:13] #826 closed

[2016-04-29 01:19] RDmitchell opened #931 "API Refactoring"
Make APIs more RESTful

[2016-05-02 19:47] nicholasserra commented on #915
So I'm going to go ahead and try to shorten the variable name for selected items, and investigate whether we can do this in a better way. I made the change on seedtest to allow longer urls, so this may have fixed most cases of the issue, so this should be tested again.

[2016-05-02 20:31] nicholasserra commented on #865
Not sure if this one is still valid

[2016-05-02 20:32] nicholasserra commented on #883
I need exact files on this one. I think I fixed the first part of this issue by removing the status column, but there is probably a data issue for this final part.

[2016-05-02 20:34] nicholasserra commented on #915
After looking through the code and seeing how this is working, I don't think any further modification is wise at this point, mainly because these named inputs are used throughout the entire project. @RDmitchell this should be fixed though, so if you could test and close if working. Thanks!

[2016-05-02 21:21] RDmitchell commented on #865
I will do some testing to figure this out.

[2016-05-02 21:22] RDmitchell commented on #915
OK, I will test

[2016-05-02 23:13] nicholasserra commented on #916
There are some pretty ugly queries around building search that i'm fixing up. We should see a performance improvement for all filtering.

[2016-05-03 00:17] RDmitchell commented on #916
wonderful !!!

[2016-05-04 03:01] RDmitchell commented on #899
Tested this; can't log into a deleted account; am closing

[2016-05-04 03:01] #899 closed

[2016-05-04 03:13] RDmitchell commented on #883
This appears to be fixed. I could add records filtered by labels to projects, export all those records from the project, then in the building list, filter on tax lot id not blank and pm property id blank, get the 2614 results, export to a file. It all worked !!!

[2016-05-04 03:13] #883 closed

[2016-05-04 03:23] RDmitchell commented on #925
![image](https://cloud.githubusercontent.com/assets/6314950/15004499/ac1eceb0-116c-11e6-92d8-cd469410437e.png)

Here is a link to a data file for testing that has newlines inside the Property Notes fields
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LUi1HSUdTZXBJNlU/view?usp=sharing

[2016-05-04 20:46] nicholasserra commented on #925
@RDmitchell I imported the example file and was given the correct number of buildings (17). Do we have an example file that shows the incorrect state?

[2016-05-04 21:14] nicholasserra commented on #925
Nevermind, I see it now, not sure what happened the first time. :P

[2016-05-04 21:19] RDmitchell commented on #925
Oh, good. I was thinking maybe it was something that only showed up in mapping and didn't actually affect the final results, which I was about to test -- I think I have never gone past the mapping stage once I saw this.

[2016-05-04 21:24] RDmitchell commented on #865
I get a bad gateway error when trying to delete 14K records using the Building Actions pulldown list.

I can add you to this organization on seedtest and you can see if you can replicate it

![image](https://cloud.githubusercontent.com/assets/6314950/15029761/eee466b4-1203-11e6-80fb-26d7fa5bcd94.png)

[2016-05-04 21:27] RDmitchell commented on #865
@nicholasserra -- i just added you as an owner to this test org on seedtest. Log in and see if you can delete the records. thx

[2016-05-04 21:41] RDmitchell commented on #925
@nicholasserra -- I think it is just an issue in the mapping screen. When you actually import the data, the program puts all the data into the Notes field, and seems to have replaced the newlines with spaces or something along those lines. So I guess the fix is to have the mapping screen behave properly.

[2016-05-04 21:49] nicholasserra commented on #925
I think you're right. Just looks like a display issue.

[2016-05-04 22:05] nicholasserra commented on #925
So this is an issue with how we store some cache data. We store the first five rows of the imported file in a field with a delimiter between them, and split on the lines to show the mapping view. When there's newlines, it gets messed up. I'm trying to think of a way to do this without a data migration.

[2016-05-05 15:53] RDmitchell commented on #865
@nicholasserra -- I am wondering whether we should spend time on this. This is the only user with this much data, and they will probably not be using the current system extensively. Let me do some testing with smaller data sets and then maybe we will shelve this one for the time being. I want to be strategic about what we are including in the 1.5 release.

[2016-05-05 15:57] nicholasserra commented on #865
Okay, let me know.

[2016-05-05 16:40] #752 closed

[2016-05-05 16:43] RDmitchell commented on #662
am closing this as we will need a new issue when we do this work on the new data model

[2016-05-05 16:43] #662 closed

[2016-05-05 17:01] RDmitchell commented on #309
Importing seems to be working much more reliably for large data sets (12K), so I am closing this issue.

[2016-05-05 17:01] #309 closed

[2016-05-05 17:02] RDmitchell commented on #713
I am closing this issue, as I have not experienced this in testing recently, and it is not reliably reproducible.

[2016-05-05 17:02] #713 closed

[2016-05-05 17:05] #192 closed

[2016-05-05 21:19] RDmitchell commented on #573
Seems like we are far along enough in the design and prototype implementation of the new data model to close this issue. We can make another one if needed for tasks related to a spec.

[2016-05-05 21:19] #573 closed

[2016-05-05 21:42] #922 closed

[2016-05-05 21:43] RDmitchell opened #933 "Build Migration Scripts to move data from old to new tables"

[2016-05-06 01:10] RDmitchell commented on #915
This seems to be working much better. I checked several records on 3 pages of 100 each, and it worked fine, based on filtering to get 800+ records. I then checked all 800+ records, and could add display the label list. I could also check all 14K records and the label list appeared.

@mmclark, @nicholasserra -- do we need to make the same change on seed production to allow longer URLs? Should I mak

[2016-05-06 01:25] RDmitchell commented on #885
Here is a link to an example file that should show this problem.

https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LOWlRd04wbjlVUXc&usp=sharing

[2016-05-06 14:35] mmclark commented on #915
@RDmitchell Please make an issue in the seed-lbnl repo - thanks

[2016-05-06 16:19] nicholasserra commented on #915
Youll need to add this to the uwsgi ini, like I did on staging

[code]

Also, we need to get these files checked into the repo at some point.

[2016-05-06 18:14] nicholasserra commented on #924
You're correct, that field name is invalid with the apostrophe. Do you have data files that caused this?

[2016-05-06 18:32] nicholasserra commented on #885
This seems to only happen the first time a _new_ extra_data field is introduced. I suspect it is related to how the Columns table works.

To show this, import the test file and specify new extra_data field names for the fields. If you then go back to mapping and hit save mappings again, they'll all be on the mapping screen.

[2016-05-06 19:07] nicholasserra commented on #885
I have a fix for this in progress.

[2016-05-06 19:18] RDmitchell commented on #885
Interesting ... and I think that makes sense, thinking back about my experiences with mapping.

Thanks for working on this !!

[2016-05-06 20:30] RDmitchell commented on #924
Here is a link to a file with this case. There are a few field names that have apostrophe's
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7Lc2wxaWV5Rkx5cG8&usp=sharing

![image](https://cloud.githubusercontent.com/assets/6314950/15085320/717e408c-138e-11e6-9c11-002dcba3cd08.png)

![image](https://cloud.githubusercontent.com/assets/6314950/15085338/80abdd58-138e-11e6-8ed6-f9a3a7e4be88

[2016-05-07 00:24] RDmitchell commented on #933
I have some thoughts about the migration scripts. I plan to work with Stephen the week of 5/9 to 5/13 to figure at least some of this out, at the very least to figure out how hard it's going to be to do a really good migration (it might be kind of hard !).

* To be really useful, and to show the cities in the June release that we can actually do what they need the program to do with this new data

[2016-05-07 00:30] RDmitchell commented on #933
Also, I have put together a lot of test data for the different cases (A, B, C and D) that I can perfect after talking to Stephen about what would be useful to him in order to test migrating those particular cases.

[2016-05-09 15:35] RDmitchell commented on #923
this has been completed.

[2016-05-09 15:35] #923 closed

[2016-05-09 15:36] RDmitchell opened #937 "DB Refactoring -- Audit Logs and Data Migration"
Work with new DB prototype to refine the audit logs and work with Stephen on data migration issues

[2016-05-09 18:09] nicholasserra commented on #790
Closing this ticket, we're at 80%, and I suspect a lot of these tests will be deleted after the refactor.

[2016-05-09 18:09] #790 closed

[2016-05-09 18:10] nicholasserra commented on #218
@RDmitchell Should we be using large text fields for all new fields for the refactor? cc @maronnax

I'll investigate performance implications on this.

[2016-05-09 18:11] nicholasserra commented on #218
Also, this ticket is now probably invalid.

[2016-05-09 19:25] RDmitchell commented on #218
Yes, I'm going to close it.

I am a bit unclear about "large text fields" for all new fields for the refactor -- seems like they should have the field types they had in the building snapshot table, except that the some of the strings should be able to accommodate 4000+ characters -- there is an old issue for this, I will dredge it up and add the field names to one of the Sprint 2 issues

[2016-05-09 19:25] #218 closed

[2016-05-09 19:28] RDmitchell commented on #921
In the meeting where we decided on the sprint 2 tasks, one was to "refine" the tables in the new data structure.

I am wondering how we should handle the fields and data that are currently being stored in the extra_data JSON blob field in the Buildingsnapshot table.

The last version of the new table structure just had the fields that are currently in buildingsnapshot. Are we going to keep that, i

[2016-05-09 19:34] RDmitchell commented on #921
Also, in terms of fields that we are now moving to the Tax lot or Property tables from buildingsnapshot, we should use the same data types.

Here are a few fields from Portfolio Manager files that can have up to 4000 characters, and so need to be set to a data type that can accomodate long strings:

Property use detail alerts
Energy alerts
Data Center -- IT Energy Configuration
Property Notes
Wate

[2016-05-09 19:37] RDmitchell commented on #921
Right now, I believe of those fields, two are currently stored in the buildingsnapshot table:

* Property Notes (property_notes)
* Energy Alerts (energy_alerts)

The other are stored in the extra_data JSON blob field.

[2016-05-09 20:03] nicholasserra commented on #218
The fields in the building snapshot table were too short, which is why this issue was created. So basically i'm asking if we should make all the fields support 4000+

[2016-05-09 20:28] RDmitchell commented on #218
Looking at the character fields in the buildingsnapshot table. I think the only ones that need to hold 4000+ characters are those I listed in Issue #921, which are:

* property_notes
* energy_alerts
* space_alerts

And actually, looking at the definition for buildingsnapshot, all three of those are set to TextField, so they should remain that way.

**So I think this might be a non-issue.**

The ot

[2016-05-09 20:53] nicholasserra commented on #921
@RDmitchell seems like we still need extra data fields if we're going to handle all possibilities on import. I'd stil love to see a series of a dozen or more "generic" fields instead of extra_data, but that still limits us. Your call.

More questions:
- I think we need the confidence field on the View table. This brings another question: we haven't really talked much about "matching" in general. W

[2016-05-09 20:56] RDmitchell commented on #218
Would it make sense to make a unit test for this, ie, make sure that the long PM fields are not truncated upon import and when the data is actually put into the final db tables?

[2016-05-09 20:57] RDmitchell commented on #921
Yes we definitely need to keep the extra_data fields in both of the new tables.

My question was whether we should move some of the known fields, in particular from the Portfolio Manager files, that are now almost all put into extra_data, into real table fields.

[2016-05-09 20:59] nicholasserra commented on #921
I think we should. Would be interested to analyze all extra_data fields and see how many are only used by a single organization. The application would be so much simpler without the extra_data stuff. But I know that's unrealistic.

[2016-05-09 21:00] nicholasserra commented on #218
Well all fields are truncated down to size when buildings are saved. If we removed that code we would immediately see when someone is trying to import something that is too long.

[2016-05-09 21:03] nicholasserra commented on #924
I think the best bet is to sanitize these extra_data fields on import. I'm not having much luck escaping them when querying, as the json query stuff is complex. I'm going to spend a little time to see if I can simplify it. I think Django shipped some changes that we can use.

[2016-05-09 21:05] RDmitchell commented on #218
What do you mean all fields are truncated down to size when buildings are saved?

And we want to preserve the data in those 5 PM fields that are 4000+ characters, so what do you mean "import something that is too long"?

[2016-05-09 21:07] nicholasserra commented on #218
I mean that when a building is saved, if the address is longer than 255 characters, it's trimmed down:

https://github.com/SEED-platform/seed/blob/develop/seed/models.py#L1350-L1402

All fields have a limit, we need to decide what that limit should be.

[2016-05-09 21:07] RDmitchell commented on #921
We definitely have to leave the extra_data field there, the question is how much data ends up being put in it. If you look at a sample PM file (which I can provide) which has 200+ fields in it, for any given record, many of them are set to "Not available". If those were all fields in the Property table (or an associated 1:1 table), then there would be a lot of blank fields. Which might be fine. I

[2016-05-09 21:10] nicholasserra commented on #921
I don't know the answer to the efficiency question. But I just think it's simpler to have fields for stuff we know will be there. Easier to debug too.

[2016-05-09 21:12] RDmitchell commented on #218
I think we have to be careful not to truncate information that the user needs. I think a lot of the building snapshot fields defined as  CharField will probably almost always be < 255 (like postal_code and telephone, etc). But it is true that quite a few of them might be > 255, like address, property_name, building_certification, etc. So if it makes the most sense to make them all as TextField, th

[2016-05-09 21:17] RDmitchell commented on #921
Yes. Do you want a sample PM file with the large number of fields? We know what the PM fields are and can basically make them all (or the majority of them) into named fields in the Property table if that seems like the right thing to do.

If we do that, I wonder if we really want all that information in the Property Table, and might instead want to make another table with Portfolio Manager data in

[2016-05-09 21:23] nicholasserra commented on #921
I think those new fields on the single table will be fine

[2016-05-09 21:28] RDmitchell commented on #921
OK. We can always start that way and divide things up later if we find we need to. Do you want a list of the fields?

[2016-05-09 23:35] StephenCzarnecki commented on #933
Here's a list of questions that I have after the initial work last sprint.  Some of it will likely be solved by things Robin mentioned in her previous comment.

**Cycles:**

User vs Organization:  The current Cycle model has a key to user.  In the existing model the BuildingSnapshot table just ties back to Organization.  There was some talk of making Cycle have a key into Organization instead.  If

[2016-05-10 02:18] RDmitchell commented on #933
We need to start keeping this information in a spec doc, so I have started one.
Here is a link to that doc
https://docs.google.com/a/lbl.gov/document/d/1P9w4VGkesAMjAoNGGutIGQKTOm4Nz5hzMfghKqi89uw/edit?usp=sharing

I have put the following info in that doc, but will also put it here

**Cycles:**
* I think we need to have the cycles be at the organization level, not at the account level. Individual

[2016-05-10 02:24] RDmitchell commented on #933
My comment about getting the Cycle information from the Portfolio Manager year_ending date will only apply to the properties table. We need to ponder how to determine the Cycle information for that tax lot data. Can we determine that from the Tax Assessor / Covered Building data files that were used to import the data. In some cases, they may have that information. I can work with the cities to fi

[2016-05-10 04:52] nicholasserra commented on #921
Yes, that list is necessary. Thanks!

[2016-05-10 14:02] mmclark commented on #915
prod has been updated with the larger buffer size value

[2016-05-10 19:19] RDmitchell commented on #921
@maronnax, @nicholasserra -- do we have a document started that contains the data model and various decisions about what fields go in each table? I am going to start one, and it can be merged with an existing doc if there is one.

[2016-05-10 21:59] StephenCzarnecki commented on #933
I was looking at year ending dates, here is a complete list from the dump of the production database:

"1889-01-01"
"2005-03-31"
"2010-03-31"
"2010-12-31"
"2011-09-30"
"2011-11-30"
"2011-12-31"
"2012-01-31"
"2012-04-30"
"2012-05-31"
"2012-06-30"
"2012-08-31"
"2012-09-30"
"2012-10-31"
"2012-11-30"
"2012-12-31"
"2013-01-31"
"2013-02-28"
"2013-03-31"
"2013-04-30"
"2013-05-31"
"2013-06-30"
"2013-07-31

[2016-05-10 22:28] StephenCzarnecki commented on #933
Looking at Kansas City I see ~37k records but none with a year_ending, release_date, or generation_date

[2016-05-10 22:30] RDmitchell commented on #933
Yes.

I want to clean up the database before we migrate the data -- most of the organizations in it are not relevant, mostly being test data. We really only need to migrate the data for the twelve SEED Collaborative Partner entities, which I can give to you.

[2016-05-10 22:32] rebrownlbnl commented on #921
I am pretty strongly in favor of moving fields out of the extra_data field, into regular fields.
Probably an 80/20 rule -- if a field is present for at least 80% of the canonical buildings, it should be a regular field. Looking at the existing data to decide this is a good idea.
Particularly for PM data, which has a known structure, we should be storing more of that data in regular postgresql fiel

[2016-05-10 23:09] RDmitchell commented on #933
I think that is because they haven't loaded any Portfolio Manager data yet. At least in the data dump that you are probably working with.

[2016-05-10 23:14] RDmitchell commented on #921
I am trying to figure out the very thing that you are bringing up, in a document that I will share with others soon.

I have a file that lists all the "Basic" PM fields, and there are 1300 of them. There is another tab in the spreadsheet listing "Detailed" PM fields, and there are another 1300+ of those.

And a lot of those field names are the "flattened" records by property type, so that you have

[2016-05-10 23:15] RDmitchell commented on #921
Also, I will put the normalization proposal in the doc, but I think it might be too much to do right now. Although if we are going to do it, probably now is the time. It's fairly complicated, because each use type has some things in common and several have things not in common with any other use type.

[2016-05-11 00:56] nicholasserra commented on #917
I suspect that because of the amount of buildings or labels, the query to grab them isn't done by the time you click the box. Waiting on a data dump them I can try this out with this account.

[2016-05-11 02:02] RDmitchell commented on #921
Here is a link to a doc I have made where I propose a few different options for how to store the PM data in our new data model. There are probably other options as well. Feel free to add comments either to the doc or to this issue.

https://drive.google.com/open?id=1rX18sZ2oijXlq6FAhnoYRmuD_ydYmXmBPKJtD5HnwhA

Also, here is a link to the Portfolio Manager website where you can download a spreadshe

[2016-05-11 18:52] nicholasserra commented on #858
So the spinner is for refreshing the search filters when the label modal opens, and the notification top right comes after the label update query is done. I think the best solution is to keep the label modal open with a spinner until the label update is done, then it will stop spinner and close, and then the building update will happen.

I'll start implementing this to see how it feels.

[2016-05-11 19:05] RDmitchell commented on #858
That seems right to me.

[2016-05-11 21:11] danielmcquillen commented on #889
Sorry @nicholasserra , only seeing this now. Yes I believe the migrations worked correctly.

[2016-05-11 21:14] RDmitchell commented on #840
Right now the program shows the fields alphabetically except if the user has reordered them. This seems good. At some point, we might want to add an option somewhere, probably on the Settings/Reorder screen, to re-alphabetize the entire list. But that is really icing on the cake and can be for 2017 (I will make an issue with a milestone of 2017 for that).

Thanks Nick !! It's much easier to find f

[2016-05-11 21:14] #840 closed

[2016-05-11 21:18] RDmitchell commented on #889
@danielmcquillen -- if you think everything is working properly, you can close this issue.

[2016-05-11 21:22] RDmitchell commented on #836
This is fixed and works great ! Nice improvement -- thanks !!

[2016-05-11 21:26] RDmitchell commented on #865
For whatever reason, I can now delete all 14,161 buildings from that organization on seedtest. So I am going to close this for now. We can revisit it later if needed.

[2016-05-11 21:26] #865 closed

[2016-05-11 22:22] RDmitchell commented on #885
@nicholasserra -- I can't seem to import this test file into any of my test accounts on seedtest. I have tried 3 different ones (61, 11 and 86). They all seem to hang at 45% in the "Upload your building data" screen. This file only has 6 fields and 9 records, so it should upload quickly.

I will try importing other files and see if it is a more universal problem. If it is, I will make a new issue.

[2016-05-11 22:25] RDmitchell commented on #885
@nicholasserra -- this seems to be a more universal problem -- I can't upload the covered building sample data. I just tried it on seed production and it uploads within a few seconds. On seedtest it is stuck at 45%. I will make a new issue and come back to testing this issue when the import problem is fixed.

[2016-05-11 22:31] RDmitchell opened #940 "Import not working on seedtest"
i can't seem to import any files. I tried the simple file from issue #885, which got stuck at 45%. Then I tried the covered building sample file, and it also sits at 45%. I tried uploading the covered building sample file on seed production and it sat at 45% for a few seconds, and the finished importing.

@nicholasserra -- I am assigning this to you. You are a member of my seedtest org called LBNL

[2016-05-11 22:37] RDmitchell commented on #940
going on 2 minutes sitting at 45% for the covered building sample data, and no errors on console.

[2016-05-11 22:44] RDmitchell commented on #940
@mmclark restarted celery, working now. am closing

[2016-05-11 22:44] #940 closed

[2016-05-11 22:52] RDmitchell commented on #885
Miles restarted celery, now I am able to import files.

Now I can get to the mapping screen, and below is how I mapped the file

![image](https://cloud.githubusercontent.com/assets/6314950/15198991/e9ceb2a6-178f-11e6-9e04-464538c60dd5.png)

But now the program seems to hang at 0% mapping.
![image](https://cloud.githubusercontent.com/assets/6314950/15199023/28ab556a-1790-11e6-88d9-143c9ce9875a.png)

[2016-05-11 22:53] RDmitchell commented on #885
@nicholasserra -- am handing this back to you because I can't get the test file to map. Could be another problem with seedtest, but decided to put this back in your queue. You can make a new issue if there is a problem with mapping.

[2016-05-12 00:28] RDmitchell commented on #885
am taking this back because I think the mapping problem is not related to this bug. When that is figured out I will test this.

[2016-05-12 19:02] nicholasserra commented on #858
Reassigning, in PR

[2016-05-12 19:03] nicholasserra commented on #813
@RDmitchell can you supply me with the files from the last comment? Was this one seedtest?

[2016-05-12 19:11] RDmitchell commented on #813
I believe I used the same files #861.

[2016-05-12 19:12] RDmitchell commented on #813
And on seedtest -- let me know if you want me to make an account for you on seedtest for testing things like this.

[2016-05-12 20:23] nicholasserra opened #942 "Investigate Sentry errors"

[2016-05-12 21:53] RDmitchell opened #943 "Fix test_seed_host_api.py which gets an error during file upload"
We frequently run a python script that uses API calls to run through the SEED workflow from start (data import) to finish (making a project). This script is run outside of the Django test framework, which makes it a good test of the basic API functionality.

It had been working fine for months, and recently is it no longer running properly.

here is the location and name of the test:

    /seed/se

[2016-05-13 14:35] mmclark opened #946 "Divide by Zero error in export_buildings"
The following error was reported in the celery log importing covered-building-sample.csv:

[code]

A subsequent upload of the file did not trigger the error.

[2016-05-13 14:37] mmclark opened #947 "django-compressor out of date"
We're currently using django-compressor 1.5, which is incompatible with django 1.9.  Suggest upgrading to current version (2.0).

[2016-05-13 18:53] RDmitchell commented on #942
@nicholasserra -- I noticed there was a new sentry error this morning from philadelphia, having to do with projects. Maybe it is something we have already fixed, but if you could look into it that would be great. thx

[2016-05-13 18:58] RDmitchell commented on #946
This was generated when you imported the file? Or someone else ?

I will assign this to @nicholasserra for now, and we can reassign it later if needed.

[2016-05-13 18:59] RDmitchell commented on #946
Looking at the error, is it in import or export ?

[2016-05-13 19:04] mmclark commented on #946
This was generated when importing covered-buildings-sample.csv.  On my second attempt, the import succeeded.  What stood out to me is that it looks possible that data['total_buildings'] could be 0 under some circumstances and the code isn't handling this case.

[2016-05-13 19:07] RDmitchell opened #948 "Consider creating default API key when a new account is created."
Think about the pros and cons of making a default API key when a new account is created. Right now the API key can be generated through the API in the admin screen.

What about the case where the same account is associated with multiple organizations? Then would the API key, associated with the account, work across all the organizations that account belongs to? Is this the desired behavior?

Am no

[2016-05-13 19:10] RDmitchell commented on #947
@mmclark -- I have assigned this to @nicholasserra. The two of you can coordinate if needed. thx !

[2016-05-13 19:10] RDmitchell commented on #946
I am assigning this to @nicholasserra ... thx !

[2016-05-13 19:51] RDmitchell commented on #943
From @mmclark
This is the error I'm running into.

API Function: get_user_profile
INFO - get_user_profile...passed
API Function: get_organizations
INFO - get_organizations...passed
Traceback (most recent call last):
  File "test_seed_host_api.py", line 88, in <module>
    organization_id = account(header, main_url, username, log)
  File "/home/mmclark/prj/lbnl/seed/seed/tests/api/test_modules.py",

[2016-05-13 21:27] RDmitchell commented on #942
@nicholasserra -- just got this Sentry error when I was trying to filter on Year Ending, which is a date field, so you have to enter min and max values -- it's actually very funky.

ValidationError: [u"'2010-01-01T08:00:00.000Z' value has an invalid date format. It must be in YYYY-MM-DD format."]
(15 additional frame(s) were not displayed)
...
  File "seed/utils/api.py", line 97, in _wrapped
    r

[2016-05-13 21:33] RDmitchell commented on #942
And now I can't even get the building list to appear -- gets an error on search buildings. sigh ...

[2016-05-14 00:02] RDmitchell commented on #942
I just loaded sample data from issue 85 (multi year data) in order to do some testing on date filtering. I imported the data onto seed production in my +25 account, which didn't have any data in it (not sure whether it used to or not). Imported, mapped and matched the covered building list, the program reported 10 records imported, I clicked on the Buildings nav bar and got the search buildings er

[2016-05-16 17:56] nicholasserra commented on #943
This is pretty hard to troubleshoot. I'm seeing a few errors still.

[2016-05-16 18:31] nicholasserra commented on #943
So I have this working, but only with CELERY_ALWAYS_EAGER set to True. Not sure how this ever worked when testing against any of the servers, as the script needs to wait for celery to process things, but currently isn't.

I'm going to make a PR for a couple little fixes, but I don't see how we can support this script being tested against the server. I'd rather see these tests ran in the normal tes

[2016-05-16 19:19] nicholasserra commented on #943
Assigning to @mmclark to test this out and report back. Probably still failing with my PR, but closer.

[2016-05-16 19:23] nicholasserra commented on #943
I can probably get this test running in the Travis build, as travis runs with celery always eager. No more manually running it. Let me know @RDmitchell

[2016-05-16 20:34] nicholasserra commented on #942
Looks like the datepicker is sending the wrong values.

[2016-05-16 21:01] nicholasserra commented on #942
Okay so just realized the datepicker is a chrome only thing. Is that what was used when the error happened? I don't think I can make a fix for that on the frontend.

[2016-05-17 17:26] #719 closed

[2016-05-17 18:35] RDmitchell commented on #943
@nicholasserra -- it would be good to get this running on Travis, but we will still want to run it manually on occasion. So it needs to work manually as well. You can make a new issue for yourself if you want to to get this running on Travis. Or just use this issue, whichever makes sense to you.

[2016-05-17 18:46] RDmitchell commented on #942
I was using Chrome, but I am puzzled that this is an issue. I am pretty sure it worked before on Chrome, although it is true that I haven't tested this in a very long time.

I am wondering if we should abandon the current filtering UI for dates -- it is very hard to use, and doesn't seem very effective.

Would it be possible to just do a single filter box, like all of the others, and still be able

[2016-05-17 18:50] RDmitchell commented on #943
@nicholasserra -- this test script has been working for about a year and a half, against the test and production instances. So it doesn't make sense to me that it would stop working now. And we just used it to test another developer's instance of SEED and it ran fine.

[2016-05-17 18:51] nicholasserra commented on #942
The issue is that there isn't really frontend work to do, the native chrome datepicker is putting in an invalid format. Chrome may have changed the way this works. I'll just need to validate the format on the backend.

[2016-05-17 18:54] nicholasserra commented on #943
It's a timing issue, so it's just flaky. I'm adding more fixes to make this better.

[2016-05-17 18:55] RDmitchell commented on #942
OK, and in the interim, using another browser should still work?

[2016-05-17 18:55] RDmitchell commented on #943
thanks !

[2016-05-17 18:55] nicholasserra commented on #942
Just don't use the datepicker. Put in then format manually as YYYY-MM-DD

[2016-05-17 18:57] RDmitchell commented on #942
hmmm, I guess I didn't realize I was using the "datepicker". I thought I was just typing in the date, but maybe I'm wrong. I will do a bit of testing.

[2016-05-17 19:19] RDmitchell commented on #942
This is what I see when I look a the year_ending date in the UI
![image](https://cloud.githubusercontent.com/assets/6314950/15335901/f64fe548-1c28-11e6-9c2c-7f320832b4a1.png)

If I enter in the values 1/1/2011 for the first input and 12/31/2011 for the 2nd input
![image](https://cloud.githubusercontent.com/assets/6314950/15335964/258b5fd6-1c29-11e6-9289-23d56d20f679.png)

I still get a server erro

[2016-05-17 19:21] nicholasserra commented on #942
Chrome must be forcing those values on date inputs. No worries. I'll just fix it on the backend.

[2016-05-17 19:30] RDmitchell commented on #942
great, thx!

[2016-05-17 20:14] RDmitchell opened #953 "Edited data in Building Detail view is not saved"
If I change a value, in this case the Year Ending date, in the Building List view using the Edit function, the changed value is not saved.

In the Building Detail view, here is the original year ending date, 12/31/2011 for 180702 N Horsechestnut Loop
![image](https://cloud.githubusercontent.com/assets/6314950/15337488/e7b310e8-1c30-11e6-9f16-8529eaf0968f.png)

![image](https://cloud.githubusercont

[2016-05-17 20:19] RDmitchell commented on #942
I tried Mozilla Firefox on seed production, and it doesn't give an error but also doesn't do the filter correctly.

In Mozilla, there are no input controls, so you can just enter the values, but then the filter doesn't work.

In this example, only the first record should be displayed after the Update Filter button is selected, but all the records are displayed.

![image](https://cloud.githubuserco

[2016-05-19 04:07] nicholasserra opened #954 "Fix Django deprecated warnings."
Warning are making it pretty hard to debug travis stuff.

[2016-05-19 18:18] nicholasserra commented on #921
More questions:

- do we have a field to handle unique building id?

[2016-05-19 19:44] RDmitchell commented on #921
Looking at @maronnax V5 data model PDF, I believe it is the field called "jurisdiction_property_identifier" in the propertystate table.

[2016-05-23 05:13] rnicholus commented on #876
Please note that, as of version 5.9.0, Fine Uploader is now MIT licensed.

[2016-05-23 14:16] axelstudios commented on #876
Thanks, @rnicholus!  That's fantastic news

[2016-05-23 18:29] RDmitchell commented on #943
@bravacheLBL -- can you test to see if you can now get the API test script to run "by hand". thx

[2016-05-23 18:44] RDmitchell commented on #921
Here is a link (in specifications / database restructure) to the list of Portfolio Manager fields from the PM website
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LbDJOajB0MDJWdjg/view?usp=sharing

[2016-05-23 19:02] rebrownlbnl commented on #876
@rnicholus thanks for the update -- that is very good news.
@axelstudios- given that we can distribute the v5.9.0 code, what's the suggested upgrade path?

[2016-05-23 19:56] RDmitchell opened #959 "UI for Blue Sky Test Release in June"
Here is a doc with my cut at what the UI wireframe functionality.

https://docs.google.com/a/lbl.gov/document/d/12MD5smqQVchRZ0B6i-E9Q1huhc8enLt2Qknc3O1HC6I/edit?usp=sharing

It is all up for discussion. We want to get enough functionality into the version that we can show the power of the new data model.

[2016-05-23 21:54] nicholasserra commented on #921
- Confidence field is staying but is basically no-op for now.
- Need to decide on where import_file FK goes. Most likely going to be a FK on the State tables.

[2016-05-24 18:41] bravacheLBL commented on #943
Hi Robin,

The test is still failing in SeedTest. What I get is an error during file upload when the test calls: https://seedtest.lbl.gov/data/s3_upload_complete/ . This returns a status code 500 "Internal Server Error".

When I run the exact same test in the main Seed, the error is different. The upload succeed, but the following call "save_raw_data" times out. Normally, the test would call "/app

[2016-05-24 19:01] nicholasserra commented on #943
Ill take another run at it.

[2016-05-24 22:06] RDmitchell commented on #943
I still can't figure out why it works on the instance that Maalka, a third party hosting provider, set up. But it doesn't run on either seed production (!) or seedtest. And presumably it worked on the production version of SEED back when we updated to the current version, because one of the things you usually do is to run that test when we put new code on the production server.

[2016-05-25 01:08] RDmitchell commented on #921
This is completed, am closing.

[2016-05-25 01:08] #921 closed

[2016-05-25 01:09] RDmitchell opened #960 "Make a branch in main repo for db refactoring work."

[2016-05-25 02:08] RDmitchell commented on #909
Tested, fixed. Thanks Nick !

[2016-05-25 02:08] #909 closed

[2016-05-25 02:11] RDmitchell commented on #884
Seems to work fine.

[2016-05-25 02:11] #884 closed

[2016-05-25 02:18] RDmitchell commented on #943
@nicholasserra -- I am wondering whether maybe @mmclark should work on this, since you should probably be spending all your time on the db refactoring work.

[2016-05-25 02:39] RDmitchell commented on #946
just tested exporting zero buildings (from an empty building list), which from a UI standpoint we should probably prevent, but the program does indeed export an empty excel file with field headers, so this is fixed. Thanks Nick !

[2016-05-25 02:39] #946 closed

[2016-05-25 02:47] RDmitchell commented on #797
@danielmcquillen -- nice implementation ! Thanks !

Two things I don't see are "better scrollbars" and "frozen headers". But we have frozen the code for the 1.5 update, so I will make a new issue for those two features, for a later version.

[2016-05-25 02:47] #797 closed

[2016-05-25 02:49] RDmitchell opened #961 "Inventory Detail UI Refinements"
Requested updates to the Inventory Tax Lot and Property Detail page, based on Robin's assessment and user input:
- Better scrollbars
- Frozen headers

If we implement the UI Grid in the Inventory Detail views, I think this will be taken care of.

(See closed issue #797 )

[2016-05-25 02:53] RDmitchell commented on #885
Thanks Nick -- looks great !

[2016-05-25 02:53] #885 closed

[2016-05-25 03:09] nicholasserra commented on #943
Give me a couple more hours on it. I rewrote a lot of how it worked so I can probably figure it out pretty quick.

[2016-05-25 03:54] RDmitchell commented on #943
Ok sure. I just didn't want it to distract you from the blue sky work.
On May 24, 2016 8:09 PM, "Nicholas Serra" <notifications@github.com> wrote:

[2016-05-25 20:39] RDmitchell commented on #942
**Seems to be working for Chrome but not Mozilla**
Will close this issue and add another to fix the issue in Mozilla

Testing the date filtering with real data (RM + 7):

* 2 PM files, 2012, 2013
* 1291 Total records
* 1,178 records with year ending = 12/31/2013
* 113 records with year ending = 12/31/2012
* 1,178 + 113 = 1291

In Google Chrome, tested (using Enter key to initiate the filter):

* E

[2016-05-25 20:39] #942 closed

[2016-05-25 20:42] RDmitchell opened #962 "Date filtering not working in Mozilla Firefox"
In Mozilla Firefox, the date filtering doesn't seem to be working (used the Update Filter button to initiate the filter) -- see previous issue #942, which fixed this issue for Google Chrome
- Start = 12/31/2013, End = 12/31/2013 ==> 1,291 records, so filter didn't work
- Start = 12/31/13, End = 12/31/13 ==> 1,291 records, so filter didn't work
- Start = 01/01/13, End = 12/31/13 ==> 1,291 records,

[2016-05-25 20:55] RDmitchell commented on #924
Seems to be working on the sample data.

[2016-05-25 20:55] #924 closed

[2016-05-25 21:23] RDmitchell opened #963 "Generate list of all fields in extra data"
from real data on the production instance, to help with mapping for new db restructuring

[2016-05-26 00:03] RDmitchell commented on #544
Looks good !

![image](https://cloud.githubusercontent.com/assets/6314950/15559855/a1aee5de-229a-11e6-9b25-12300896d4ef.png)

[2016-05-26 00:03] #544 closed

[2016-05-26 00:07] #925 closed

[2016-05-26 00:07] #914 closed

[2016-05-26 17:53] nicholasserra commented on #943
Just pushed a couple more fixes to the test script. Now consistently working on seedtest.

[2016-05-26 18:04] RDmitchell commented on #943
any idea why this works on a newly installed SEED instance of the current release and it didn't work on seedtest? What changed?

[2016-05-26 18:06] StephenCzarnecki commented on #963
Got the field names for canonical records.  Total came to 2060.  I tried to do the same for the whole table but ran into an encoding issue.  Can fix and rerun but the runtime takes a while so I'd rather do it overnight.  However given that on import each record is first put in a BuildingSnapshot row with all the record's fields in the extra_data column I'd expect this to be just a list of all fiel

[2016-05-26 18:10] nicholasserra commented on #943
It was a timing issue. Those timings vary between databases and instances.

[2016-05-26 18:10] RDmitchell commented on #963
I think this is good enough. You don't need to do it on all the buildingsnapshot records

[2016-05-26 18:13] RDmitchell commented on #963
what is the date of the database that you got these fields from?

[2016-05-26 18:13] StephenCzarnecki commented on #963
2016-04-28

[2016-05-26 18:48] RDmitchell opened #965 "Bar chart section of report not working"
I am getting the following error on seedtest for the right side graph, which is the bar chart graph. @danielmcquillen I am assigning it to you for now, but we could give it to @axelstudios also, if you don't have time to work on this. We probably can't do it for the June 1.5 release, so not as much time pressure.

![image](https://cloud.githubusercontent.com/assets/6314950/15586145/a6a4d0d8-2337-1

[2016-05-26 19:15] RDmitchell commented on #963
@StephenCzarnecki -- how hard would it be to add the organization ID to each field in the table? I guess there would be multiple IDs for a lot of them. I'm just trying to figure out the source of a lot of the fields. Maybe we can talk about this.

[2016-05-26 19:21] RDmitchell commented on #943
so the fact that seedtest has more data in it than a new instance would be the difference?

[2016-05-26 19:21] RDmitchell commented on #943
so is this going into a PR?

[2016-05-26 19:25] nicholasserra commented on #943
I pushed it straight to develop

[2016-05-26 19:28] RDmitchell commented on #943
@mmclark -- can you put this on seedtest so that we can see if @bravacheLBL can run his API test script? Thx

[2016-05-26 19:31] nicholasserra commented on #943
This doesn't need deployed, he can just pull from the repo and run it locally.

[2016-05-26 19:37] RDmitchell commented on #943
but did you make changes to test_seed_host_api.py

It didn't look like it, looking at the commits. I believe that is the file that @bravacheLBL is running

[2016-05-26 19:39] nicholasserra commented on #943
I made changes to the local test script that is ran, but no changes to the code that is ran on the server.

[2016-05-26 19:51] RDmitchell commented on #492
tested, works, closing

[2016-05-26 19:51] #492 closed

[2016-05-26 19:58] RDmitchell commented on #858
worked well on the App Contest org, which has 22,214 records. Added a label to all the building records, and it worked without issue.

[2016-05-26 19:58] #858 closed

[2016-05-26 20:49] StephenCzarnecki commented on #963
Short answer is not very.

[2016-05-26 21:28] RDmitchell commented on #963
ok, no worries. thx

[2016-05-26 21:41] RDmitchell commented on #943
@bravacheLBL -- I am assigning this to you for testing. You can work with @mmclark if you are still having problems.

[2016-05-27 18:00] RDmitchell commented on #414
@danielmcquillen, @StephenCzarnecki  -- how do I test this? I was thinking that if I brought in data, plotted it, then edited the master record for one of the variables I was plotting, that I should see that change in the scatter plot.

Does that make sense for a way to test? I am assuming that editing the master building is the equivalent of editing the merged, canonical building in the building

[2016-05-27 18:15] RDmitchell opened #966 "Edits to "Master" in Building Info are not being saved"
In the Building Info screen, when I make changes to something in the Master column, using the Edit function, and click Save, the change appears to be saved while still in the Building Info screen. However, upon moving back to the Building List, the change is not saved.

Example:

* Using the data from Issue 65 (https://drive.google.com/open?id=0B3fTKpZ9Dx7LTmlyM2w0MHRKeVE), import the covered buil

[2016-05-27 18:22] RDmitchell commented on #414
can't test this until we fix the problem with edits to building data not being saved, #966

[2016-05-27 18:37] RDmitchell commented on #915
This is working much better. I tested on the App Contest org on seedtest that has 22,214 records in it.

[2016-05-27 18:37] #915 closed

[2016-05-27 18:41] RDmitchell commented on #916
Testing in the App Contest org on seedtest with 22,214 records, displaying the building list is working much better. Will also do a bit of testing with city data files that have less records (12K) but more fields.

[2016-05-27 19:30] RDmitchell opened #967 "Sentry errors from trying to display building list"
on seedtest, LBNL 855, generated the following Sentry error after logging in and clicking on the Buildings left Nav button.

![image](https://cloud.githubusercontent.com/assets/6314950/15619079/b8b0af84-2406-11e6-8f81-dbc42c5fd5b7.png)

[2016-05-28 01:29] RDmitchell opened #968 "Develop field order for Blue Sky test view"
Make a list of fields and the order for display for the Blue Sky UI test

[2016-05-31 14:34] mmclark commented on #967
The user rdmitchell+855@lbl.gov is not associated with any organizations on seedtest, so the orgs list in the last line of the stack trace is empty (orgs[0] does not exist).  The code should be fixed to handle this situation.

[2016-05-31 16:45] nicholasserra commented on #960
Closing this, as i'm working on UI now.

[2016-05-31 16:45] #960 closed

[2016-05-31 18:47] RDmitchell commented on #960
This has been completed, bluesky branch exists in the repo

[2016-05-31 19:05] RDmitchell commented on #967
Hmm, I think that this problem has been solved, ie, this shouldn't now be allowed to happen. So it must be legacy. I will see if I can add an organization and then associate that account with the org. Maybe that will solve the problem.

[2016-05-31 19:08] RDmitchell commented on #967
Yes, that solved the problem.

[2016-05-31 22:53] RDmitchell commented on #861
This is working to generating labels for those records, but it seems that when I then filter by the label that labeled the records with semicolons in the Tax Lot ID field, the program will not export those records -- seems to be hanging on 0/265 buildings.

I will make a new issue for this, and test other imports as well to see if it is a problem with exports in general or just this particular cas

[2016-05-31 22:54] #861 closed

[2016-05-31 23:27] tallus commented on #861
@RDmitchell where you talking about the new issue you are going to create?

I had a look at the exporting code and it (the code) looks straight forward enough, though if I had to hazard a guess the issue might be somewhere before it hits the actual python code looking at the fix @nicholasserra added.

[2016-06-01 00:02] RDmitchell commented on #861
@tallus -- Yes, I was going to make a new issue about the exporting problem. I will give it to you and just need to spend a bit of time today making some sample data and explaining the problem a bit more so that you have enough information to work on. So I should have that ready by tomorrow morning. Does that sound like a plan?

[2016-06-01 00:35] RDmitchell opened #970 "Export not working when filtering on label"
Need to do more testing to make sure exactly what the problem is.

[2016-06-01 00:37] tallus commented on #861
Sounds great

On May 31, 2016 5:02:03 PM PDT, RDmitchell <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-01 00:44] RDmitchell commented on #970
so the export problem does not have to do with the semicolon or not -- I tried it on a small dataset and the program exports the data without problem.

What I was working on before was the large 13k datafile, so maybe the export of 265 records just takes a very long time. I will let it sit for a while and see if it finishes.

[2016-06-01 00:57] RDmitchell commented on #970
@tallus -- I just sent you an email to join an organization (LBNL 855) on our seedtest instance. I will make a doc that shows the steps I am going through -- maybe I am just not waiting long enough for the export to finish, even though it is only 265 records. And then if you need to import the data directly into your dev environment to really see what is going on, I will put a link in the doc to t

[2016-06-01 01:07] RDmitchell commented on #970
Here is a link to a video that shows the export problem.
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LM2RaZWxrazdWWVE/view?usp=sharing

[2016-06-01 01:21] RDmitchell commented on #970
Export had been running for several minutes at 6:07 pm. Let it run until 6:21 -- no errors on the console tab. Killed it after that.

[2016-06-01 02:27] RDmitchell opened #971 "Error mapping"
Trying to map a PM file for Issue #970, I got the following error on mapping

This was in my LBNL 84 test account -- I deleted all the building records as a super user before importing an mapping this file.

@mmclark -- I am giving this to you -- maybe you can look at the server logs and figure out what happened. I can also give you access to the file in question. It imported into another test org

[2016-06-01 02:31] RDmitchell commented on #970
@tallus -- I shared a link with you for the Portfolio Manager file with 13K records in it.
Import it as a Portfolio manager file, and accept all the default mappings. Hopefully you will get the program to save the mapping (see my latest issue #971), and then once you have saved the mapping and gone through the matching step (the file is just matching to itself, and I don't think there will be any

[2016-06-01 15:02] nicholasserra commented on #861
This is just a weird issue all around. I'd start by checking the celery logs when exporting. The first part of the fix for this was to get angular correctly serializing the semicolon. Now i'm not sure where the issue might be.

[2016-06-01 15:14] RDmitchell commented on #861
I think you may want to keep working on the blue skt UI? I was hoping not
to distract you from that ?
On Jun 1, 2016 8:02 AM, "Nicholas Serra" <notifications@github.com> wrote:

[2016-06-01 19:52] RDmitchell opened #972 "Unchecked fields in Mapping screen are imported but not available in Building List Settings"
A field called **Building Address** was imported and mapped, and shows up on the Building Detail view.
![image](https://cloud.githubusercontent.com/assets/6314950/15723376/fb972262-27f6-11e6-9f3f-3d75ef673835.png)

The users wants to view it in the Building List view, but when going to **Settings**, that field is not in the list of fields to choose from. So there doesn't appear to be any way that

[2016-06-01 20:29] RDmitchell commented on #972
am making a new issue for this, so closing this one.

[2016-06-01 20:29] #972 closed

[2016-06-01 20:31] RDmitchell opened #973 "Unchecked fields in Mapping screen are imported but not available in Building List Settings #972"
according to the helpful information icon on the mapping screen, if you uncheck the checkbox on the left hand side, the program will import the data but use the Data File Header name instead of a new name that you give it.
![image](https://cloud.githubusercontent.com/assets/6314950/15727161/b082bb02-2809-11e6-8ed7-63db1d5c2ea1.png)

The program does import the field, with the Data File Header as t

[2016-06-01 21:18] RDmitchell commented on #962
We need to make sure that the date filtering works on the following browsers -- Chrome (I believe it now does), Firefox (I don't think it does) and Explorer (I haven't tested).

@tallus -- I am giving you this issue. It would be nice to get it into the V 1.5 release, because some users are trying to do date filtering in non-Chrome browsers.

[2016-06-01 22:02] StephenCzarnecki opened #974 "Building summary report function is not implemented"
There is a function in seed/views/main.py called get_building_summary_report_data that has not been implemented.  It is referenced in a commented-out section of js/services/buildings_reports_services with the comment

" This method is not current used in the first verion of the building reports page.
        Uncomment this method when the back end endpoint ahas been implemented."

If rules for sum

[2016-06-01 22:07] RDmitchell commented on #973
@tallus -- I am assigning this to you. So you need to understand how these pieces of the software work, and then see what is involved in making the suggested change. Or proposing something else depending on what you discover.

@StephenCzarnecki knows a bit about mapping, so if you have questions, you could ask him. thx

[2016-06-01 22:15] RDmitchell opened #975 "Data migration to put extra data fields into column mappings"
see issue #973 -- once we change the behavior of the program, we will need to do a data migration on the existing data on the production server, so that any field names in extra data that are not in the column_mappings table (by organization) are put into that table. Otherwise the user will not be able to display that data in the Building List.

[2016-06-01 23:48] RDmitchell commented on #414
This is fixed. I edited a record in Building Details and the updated information is showing up on the graphs, so the program is using the merged data (not the unmerged building snapshot records). Thanks @StephenCzarnecki and @danielmcquillen !!

[2016-06-01 23:48] #414 closed

[2016-06-01 23:49] RDmitchell commented on #966
working now -- thanks @nicholasserra !!

[2016-06-01 23:49] #966 closed

[2016-06-02 00:09] bravacheLBL commented on #943
API test is working again with Nik's fix. I'm closing that issue.

[2016-06-02 00:10] #943 closed

[2016-06-02 03:02] tallus commented on #962
Date filtering works ok if you give it the right format e.g. 2016-01-01, which is not super helpful as that's not the format we use for display.

 I've added a validator that will warn the user if they enter a date in the correct format.

@RDmitchell can you take a look at the attached screenshot and tell me what you think of the UI?
![seed platform - mozilla firefox_128](https://cloud.githubuserc

[2016-06-02 16:02] tallus commented on #962
Something to note: it starts to validate as soon as the user starts typing. I've set a 750ms delay on the message, but average typing speed is around 3 characters per sec, so it's still likely to appear before the user has finished typing (even if its a valid format since partial dates as considered invalid).

We could also set it to appear  after they have left the box.

[2016-06-02 16:27] tallus commented on #962
Chrome isn't affected since it uses the HTML5 date picker. I haven't tested on IE (I'm on Linux) put this approach should be platform agnostic. I will install a virtual machine and confirm once we are happy with this approach.

[2016-06-02 16:47] RDmitchell commented on #962
@tallus -- I think the big red bar across the page is probably too much in terms of warning the user, but if there could be a rollover on the date fields, or a smaller error message on the UI that would probably be more appropriate. Right now we don't really have error checking on the UI, so there isn't really a precedent to follow.

@danielmcquillen -- do you want to weigh in on a nice way to sho

[2016-06-02 16:52] RDmitchell commented on #962
Also, relative to your comment about the validation starting to happen as soon as the user types, we probably don't want that behavior. I think it would be better to validate after they have either clicked on the Update Filters button or hit the Enter key to start the filter.

But again, we have to decide if we want to do the validation and if we do, what the error message should look like.

I am

[2016-06-02 17:02] tallus commented on #962
@RDMItchell
I don't think display would need to be platform specific, Chrome users see the date picker without a box to type in, so it can be the same for everyone.

On that note we could change the starting text in those boxes to be YYY-MM-DD instead of Min or Max, but there's not enough room for that to be really visible.

Angular has tooltips so we could add a rollover with the correct format i

[2016-06-02 17:11] tallus commented on #962
@danielmcquillen
You might have more insight into this.
The way I got it working is too add a subform in angular, since its outside a form* and angular validation requires one to work. A side effect of this is that the div containing the messaging is actually inside the table header with the boxes. I then reposition the spans with the error messaging using CSS. This is based off of the .status-mes

[2016-06-02 17:44] tallus commented on #962
Quick mockup of tooltip onfocus
![tooltip](https://cloud.githubusercontent.com/assets/347498/15754816/de44d0a2-28ae-11e6-90d1-ffe02f9be599.png)

[2016-06-02 19:08] RDmitchell commented on #962
I think because this is not a real bug, I don't want to make any changes about this for the 1.5 release, which we need to get out as soon as possible.

So I am going to change the Milestone date on this to later in the summer, and we can pick it up again then. And @tallus, I will unassign it from you. But thanks for figuring out that the filtering actually worked if you just put the input in the r

[2016-06-02 20:15] RDmitchell commented on #947
Is there anything I can do for this in terms of monkey testing? I am assuming not.

[2016-06-02 20:16] nicholasserra commented on #947
Nope, nothing to test here

[2016-06-02 20:17] RDmitchell commented on #809
don't know if there is any monkey testing I can do regarding this. I haven't hit any issues in mapping that I know of. So am closing.

[2016-06-02 20:17] #809 closed

[2016-06-02 20:27] RDmitchell commented on #772
downloaded the sample covered building file from seedtest and looks like illinois is spelled correctly ! 2 Ls not 1 !

[2016-06-02 20:27] #772 closed

[2016-06-02 20:31] RDmitchell commented on #947
am closing

[2016-06-02 20:31] #947 closed

[2016-06-02 20:31] RDmitchell commented on #265
am closing

[2016-06-02 20:31] #265 closed

[2016-06-02 20:50] tallus commented on #970
CSV export works, XLS does not. This seems to happen regardless of how many records or the presence of a semi-colon. However the failure is dependent on the presence of this particular record set, I delete all the buildings and just reimport the sample data set it works fine.

I've added the traceback below, but essentially the issue seems to be that  we can't write more than 256 columns to a xls

[2016-06-02 20:52] RDmitchell commented on #970
Excellent sleuthing! Thanks much. The users can control the number of fields that are being displayed and they are painfully aware of the 256 limit of Excel files, so this is a user education issue for now.

Thanks again ! I will close this ticket.

[2016-06-02 20:52] #970 closed

[2016-06-02 20:57] RDmitchell commented on #973
@tallus -- definitely investigate this and understand the issues, but I think we will not deal with this for the 1.5 update release, since I want to get that out as soon as possible. But understanding the issue and potential solution is good and we can fix it for the next version. So I am changing the milestone.

[2016-06-02 21:00] RDmitchell commented on #973
@tallus -- am also changing this to priority = 2 (the number "2" label) to indicate that other work for the June release or other Priority = 1 issues would take precedence over working on this.

[2016-06-02 21:05] RDmitchell commented on #916
Also tested on the sample data with 13K records. Filtering and displaying the Building list is working much better. Am closing this.

[2016-06-02 21:05] #916 closed

[2016-06-03 00:45] tallus commented on #973
yes

apparently so

Data from unchecked fields is stored in the extra data field but doesn't appear accessible, so the messaging is true, but not very useful. However leaving it checked and entering a custom name in the first box (or leaving as is) will cause the field to be stored in  the column_mapping so it appears in the list settings, with the corresponding data stored in  the extra_data fiel

[2016-06-03 17:33] tallus commented on #973
Some more points

Its possible in the mapping stage to check the box but leave the column name (left field) blank, which has the same effect as leaving the box unchecked, this should surely throw an error. You can't do this if you blank an existing field but the software remembers previous mappings so this field is blank but you can still check the box.

If you uncheck a box that corresponds to a

[2016-06-03 18:09] tallus commented on #973
I also want to flag the security implications of adding previously hidden extra data fields.

Suppose we have a scenario where some one is uploading a document that contains sensitive info that other members of their team have access to.

They uncheck the box since they don't want them to be able to see it. If that column still appears in list settings the other people who shouldn't be privvy to i

[2016-06-03 23:19] RDmitchell commented on #959
For Sprint 5, due 6/10
From **UI for Blue Sky Test Release June 2016**

**View by Property Tab**
* 1-3 - Data for use cases A-D is displayed properly, based on data either migrated from existing user data, or example data from Nathan that contains the 4 different use cases

**View by Tax Lot**
* 2-3 - Data for use cases A-D is displayed properly, based on data either migrated from existing user da

[2016-06-03 23:29] tallus commented on #973
Some other notes:

I tried importing some data* and selecting just the additional data (on the grounds the other data already exists and this was new data  I wanted  to add). Two things happened from this.

1. Whenever you import new data and map it it rewrites the columns, this left me with 1 column  and all the existing information was orphaned.

2 . The data was present during mapping but appea

[2016-06-04 00:46] tallus commented on #973
# Summary:

### The existing system.
The present system is inconsistent. Whether we store unchecked data and column names depends on whether that column maps to a column in the building snapshot field or not. If it does we don't store the data or column name for unchecked fields. If it doesn't we store the column/data as a key value pair for everything that doesn't match an existing column, regard

[2016-06-06 15:30] RDmitchell commented on #971
@tallus -- I am giving this issue to you. Here is a link to the file that is giving the error
https://drive.google.com/open?id=0B3fTKpZ9Dx7LaVd2c1BMWTFNdUU
Try importing it into your development environment and see if you can replicate the problem I am seeing. And if not, that too is interesting. It could be something with my account setup .

[2016-06-06 17:46] RDmitchell commented on #937
For now, we will hard code in a series of annual cycles, Jan 1 - Dec 31, starting at the earliest, 2000.

[2016-06-06 19:22] RDmitchell commented on #937
For NYC, here is their compliance cycle:

Q1: May 1 – July 31
Q2: Aug 1 - Oct 30
Q3: Nov 1 - Jan 31
Q4: Feb 1 - Apr 30

We should go all the way back to 2011

[2016-06-06 20:21] tallus commented on #971
I can't recreate this, though that is not altogether unsurprising (its not related to the specific file). The stack trace is complaining that the primary  key for the Import file.  That field is auto-incrementing and the records gets creates by a call to create() in seed/data_importer/views.py which will never pass in a pk/id so it *should* always be unique. Postgres does some stuff on the backend

[2016-06-06 22:31] tallus commented on #971
What's happening in the DB:

The import process start with an ajax call to upload a file which passes in an import_record_id (from `data_importer_importrecord`) which represents at data set, and a file name.

The exact function called depends on whether S3 is used or not but both make a call to  ImportFile.objects.create(import_record=record, file=filename... no id is passed in and its an auto-inc

[2016-06-07 18:56] RDmitchell commented on #959
Here is a link to a spreadsheet -- see the first tab, called **Vew By Tax Lot - Fields** -- it shows all the fields from both the TaxLotState and the PropertyState tables (as defined in the bluesky models.py branch), with the field name, display name, and table source. The order they are in in the list is the order they should be in for the UI.

[2016-06-07 18:56] RDmitchell commented on #959
https://docs.google.com/a/lbl.gov/spreadsheets/d/1rffYaCuX7W5afFl351nuHj5WVpLzKwkyQwIMSApMqhc/edit?usp=sharing

[2016-06-07 20:13] RDmitchell commented on #959
Here is my version of the UI mockup for View by Tax Lot, Expanded. I am going to put this screen shot in issue # 959 also. Case D, Campuses, still to be figured out. I am hoping to talk to Daniel this afternoon about that.

![image](https://cloud.githubusercontent.com/assets/6314950/15873047/9c80b378-2cb1-11e6-9551-e06b7ce83215.png)

[2016-06-07 20:14] RDmitchell commented on #959
This is using sample data found here
https://drive.google.com/open?id=0B3fTKpZ9Dx7LQzJ5Z29WUGtrTVU

[2016-06-08 03:13] tallus opened #976 "simple_modal_service is broken"
Attempting to call it(e.g by clicking on the delete label button) gives the error:
  Error: [$injector:unpr] Unknown provider: $modalInstanceProvider <- $modalInstance

The issue appears to lie in seed/static/seed/js/services/simple_modal_service.js

tempModalDefaults.controller is defined on line 100

            tempModalDefaults.controller = function ($scope, $modalInstance) {
                $

[2016-06-10 23:19] RDmitchell opened #979 "Specs for UI for DB refactoring"
We need to generate 3 specs to continue making progress on the UI DB refactoring.

Seems like the 3 are ( @maronnax to clarify in comments):

* Define how to generate and display "Associated tax lots for tax and property tables" for the Property and Tax Lot view tabs
* Extra_data fields -- the current plan is to display the fields and data in the extra_data fields in both Property and Tax Lot stat

[2016-06-14 22:16] RDmitchell opened #980 "Imported files have a sequential number appended onto them"
I am testing existing functionality on seeddev, which is an AWS instance of the bluesky branch.

In importing the sample data (covered_building_sample.csv), I noticed that the program is numbering the data input files, which it doesn't do in current production.

I believe this was something I also found in the timeseries branch -- I am surprised to see it here, and I don't think we want the progra

[2016-06-14 22:46] tallus commented on #965
I believe this is caused by missing quote marks on line 32 of buildings_reports_controller.js

[2016-06-14 23:47] StephenCzarnecki commented on #963
Using the newest database dump (20160604) I generated a file that has two parts.  The first part is extra_data fields per organization and the second part is organizations per extra_data field.  I restricted the search to the active canonical buildings of the 12 organizations targeted for migration.

The first bit looks like

	City of Cambridge
		Co_grantee
		Parent Property Name
		Food Service -

[2016-06-14 23:59] rebrownlbnl commented on #963
This is really interesting to see all the fields sorted this way.
Nice data slicing.

[2016-06-15 04:55] #963 closed

[2016-06-15 21:56] RDmitchell opened #982 "Building Detail Column width control doesn't work properly in IE"
The new feature added for V 1.5 that allows the user to control the width of the column in the Building Detail (Information) view doesn't work properly in IE. It does work as expected in Chrome. It hasn't been tested in Mozilla. I will make a video that shows the behavior in IE.

[2016-06-15 21:59] RDmitchell commented on #982
Here is a link to the video showing the behavior.
https://drive.google.com/open?id=0B3fTKpZ9Dx7LYzNocjhUX2lxSFk

[2016-06-15 22:04] RDmitchell commented on #982
This is a perfect candidate for a Selenium test, ie, once this is fixed, write a Selenium test that tests it in all the major browsers (Mozilla Firefox, Chrome, IE), and then get that Selenium test into our CI framework.

[2016-06-15 22:05] RDmitchell commented on #878
we have set up seedtest as our staging server, so I am closing this issue.

[2016-06-15 22:05] #878 closed

[2016-06-15 22:45] RDmitchell commented on #982
I did the video recording / test in 11.0.0600.18349
![image](https://cloud.githubusercontent.com/assets/6314950/16099974/19891d38-3310-11e6-8051-827ac202af5b.png)

[2016-06-15 22:47] RDmitchell commented on #982
Which appears to be the latest version at this moment.

[2016-06-16 01:00] tallus commented on #982
Do you have some more details on how it was behaving. I can't reproduce this in IE11. I will test on older version tomorrow.

[2016-06-16 01:32] RDmitchell commented on #982
The behavior you see in the video is using IE 11.

You might want to see if you can reproduce it on our seedtest server, rather than just your dev environment. I can give you and account there (if you don't already have one) tomorrow. In my example I just loaded the sample data (covered building and portfolio manager).

[2016-06-16 01:40] tallus commented on #982
On June 15, 2016 6:32:52 PM PDT, RDmitchell <notifications@github.com> wrote:

That would be handy.  I have a different number of columns on my dev box and it might get triggered if no of columns > 2

 tomorrow. In my example I just loaded

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-16 15:37] RDmitchell commented on #982
Paul -- I just made you a member of the organization where I have been testing on seedtest. See if you can reproduce what I was seeing with IE11 in that org.

[2016-06-16 22:59] tallus commented on #982
This is restricted to Chrome. The same things happens in Firefox (47.0/Ubuntu 14.04). It does not happen on my dev box, it does happen on seed test. The immediate difference I see is in Angular versions: v1.4.10 on my dev box, v1.4.8 on Seed test. There also appears to be a difference in bootstrap versions (as part of Angular)

However the the resizing component lives in jquery and both versions a

[2016-06-16 23:12] rebrownlbnl commented on #982
Assuming you're running current Develop branch on your dev box?
I'm wondering why the Angular version is different there than on seedtest -- the two versions shouldn't be that different, unless we incremented Angular for the blue sky development?

[2016-06-16 23:28] RDmitchell commented on #982
when you say "restricted to Chrome" -- Chrome is the browser that the feature works with. It does not work with IE, for example.

[2016-06-16 23:35] tallus commented on #982
that's corrected, I meant to say not restricted to IE

Angular: version
It's 1.4.8. vs 1.4.10
bower.json says
dependencies": {
    "angular": "~1.4.7",
  "resolutions": {
    "angular": "1.4.7"

~1.4.7 will be satisfied by >= 1.4.7 <1.5.0

[2016-06-17 00:08] tallus commented on #982
So we set
table th.ellipsis {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

in style.css
It was added here: https://github.com/SEED-platform/seed/commit/9c18be24efd044b5cc102980095bb5014d81166a

Removing the max-width by editing it in firebug on seed test makes everything work ok, so it looks like setting the max-wdith is causing the issue, whi

[2016-06-17 00:16] tallus commented on #982
". On my dev box it's there in the scss but not the css file, which explains the difference, why this should be the case I'm not sure."

Its not there the committed css file on the develop branch.

[2016-06-17 01:12] tallus commented on #982
Note the td below does have the same ellipsis class set.
The purpose of the ellipsis class is to add an ellipsis for overflow text.
max-width appears to be needed here as with out it the computed width is set to that of any containing elements, presumably because whitespace: nowrap is inherited form ellipsis so they won't line break, so the width will always include enough room for the text to dis

[2016-06-17 17:43] tallus commented on #982
![selection_131](https://cloud.githubusercontent.com/assets/347498/16159471/ce1d2e7a-3477-11e6-98e9-91fa260fa78f.png)
Screen shot showing layout with css fix on seedtest:
max-width on th removed, min-width:80px, 170px on first column to prevent labels overflowing. table-layout: fixed (this is waht makes in work).

Note how header and cell contents have ellipsis.

[2016-06-18 04:05] tallus commented on #982
Pull request is now in, but note that Selenium testing is kinda broken now due to issues with webdrivers + selenium (nothing to do with our code). I put some workarounds in place.

There is no selenium test for IE as IE is not available across all Platforms so won't work on peoples dev boxes unless they are running Windows. Travis doesn't use a browser for Selenium testing.
It might be possible to

[2016-06-20 13:52] #976 closed

[2016-06-20 19:37] RDmitchell commented on #982
Do you have any suggestions about how to test the application across the major browsers? It seems that we need to do it, and we need to automate it.

[2016-06-20 19:50] tallus commented on #982
We can do this with SauceLabs, I've just cut another branch off of this one to better handle multiple browsers. It looks like its mostly a matter of providing different desired_capabilities to the tests.
I also want to eliminate duplicate/cunt-n--paste tests.

[2016-06-21 18:37] RDmitchell opened #984 "In superuser organization list (under Admin) show the Organization ID from the database in a column"
In the Admin view of a superuser account, at the bottom where the list of organizations is shown, add a column to the left of the Organization Name, to display the Organization ID.

![image](https://cloud.githubusercontent.com/assets/6314950/16241839/64c650ac-37a4-11e6-82d0-40669e957b19.png)

[2016-06-22 21:59] RDmitchell opened #985 "Need feature to delete user (email) accounts"
Right now in the admin screen (as superuser) it is possible to remove user accounts (email address) from an organization, and delete an entire organization, but there is not a way to delete individual user email accounts. Need to add this feature in order to clean house every once in a while.

[2016-06-23 20:51] RDmitchell opened #989 "List of labels in building list is not showing all the labels"
It seems that the program is only displaying the first 25 labels in the label list that is displayed in the Building List **Filter by Label** list. All of the labels need to be displayed. It is possible to bring a label that is past the 25th to the top of the list by adding a prefix onto the name such as "A" or "1" which puts it at the top of the list.

For example, here is the full list of labels

[2016-06-23 22:38] RDmitchell commented on #989
The PR for this would be submitted against the release-1.5.0 branch, which we’ll merge into master after testing on seedtest

[2016-06-24 02:33] RDmitchell opened #990 "Can't export just one record"
From the Building List. Robin to make a test case for this before assigning it to be fixed.

[2016-06-24 02:38] RDmitchell commented on #990
I did a filter on some data that resulted in one record being displayed. When I tried to export that record, the program hung, and eventually the server timed out.

[2016-06-24 02:46] RDmitchell opened #991 "Investigate sentry errors"
There have been several Sentry errors generated on seed production, I believe primarily when coming back to the Building List from Building Info/Detail view, possibly from a filtered set of records in the Building List.

Nick is going to look into the errors to figure out what is causing the problem(s).

[2016-06-24 21:35] nllong commented on #989
<img width="1336" alt="screen shot 2016-06-24 at 3 30 17 pm" src="https://cloud.githubusercontent.com/assets/1907354/16351133/aaf070b6-3a20-11e6-8afc-fd06d8fb01b6.png">

here is the update screenshot with 70 or so items in the dropdown.

[2016-06-24 22:34] RDmitchell opened #994 "It is possible to have orphaned user accounts without an associated organization"
This sentry error was caused by the condition that the user account did not have an associated organization. This happened when I added a user to an org, then later deleted that user from that org, but forgot that I had done that. So when I logged in as the user that had been removed from the org, the program had no associated org and generated this error.
https://app.getsentry.com/lawrence-berkel

[2016-06-27 19:52] RDmitchell opened #996 "UI refinements for Tax Lot and Property View"
I am opening this issue to keep track of refinements for the UI for the new "bluesky" Tax Lot and Property views.

[2016-06-27 21:36] RDmitchell commented on #996
I will add the refinements to this doc, then we can decide whether to make them into separate issues (probably for at least some of them we will).

[2016-06-27 22:31] RDmitchell opened #998 "UI Grid interface for choosing fields to display is a bit flakey"
I will make a video that shows the behavior I am seeing

[2016-06-27 22:32] RDmitchell commented on #998
Here is a link to the video which shows the behavior of the pulldown list where you can select what fields to display in the Property and Tax Lot Views

[2016-06-27 22:40] RDmitchell opened #999 "Add Associated Tax Lots to UI for new db refactoring"
There are 4 different tasks, which are listed in Pivotal Tracker separately.

I am going to put them all into this one issue:

* Calculate and display the "Associated Tax Lot IDs" in the Property View
* Move TaxLot/Associated Tax Lots to TaxLot/Associated Buidling Tax Lots
* Calculate and display Associated Building tax lots in the Property view for each of the secondary tax lots
* Calculate and d

[2016-06-27 22:52] axelstudios commented on #998
Yep, I'm familiar with this one.  it's a known bug with the library that causes it to set the focus on the topmost grid menu item which scrolls it back up.  I'll try to find the github issue

[2016-06-28 02:13] RDmitchell commented on #996
Here is a link to a doc called "Blue Sky UI Feedback" with the start of these refinements. But for now, no need to work on any of them until we get a bit further along in the data migration. I will keep adding to this doc over time, and then we can prioritize what to work on and schedule it the work in separate issues.

[2016-06-28 15:30] axelstudios commented on #999
`Calculate and display the "Associated Tax Lot IDs" in the Property View` appears to be a duplicate?  Same thing in Pivotal

[2016-06-28 16:47] RDmitchell commented on #999
Yes I would agree that they seem redundant -- we should check with @maronnax, who made the list

[2016-06-28 16:52] RDmitchell opened #1000 "Angular Grid UI - Add field display on/off, persistence of UI state"
Added from Pivotal Tracker

[2016-06-28 16:52] RDmitchell commented on #1000
see PR #995

[2016-06-28 17:02] RDmitchell commented on #999
Just updated the last bullet in the description to change it from "Property" to "Tax Lot" view.

[2016-06-30 17:12] axelstudios commented on #999
@RDmitchell Can you clarify the second one?  The google sheet for the TaxLot page currently has adjacent columns for "Associated TaxLot IDs" and "Associated Building Tax Lot ID", with another one called "Associated Tax Lot ID" at the very end

[2016-06-30 18:46] RDmitchell commented on #999
@axelstudios

If you look on page 9 of the doc called **UI for Blue Sky Test Release June 2016** does it help clear up the difference between the
* Associated Tax Lot IDs
* Associated Building Tax Log IDs

Here are screen shots from that page

[2016-07-03 01:12] RDmitchell commented on #989
tested, looks good! Thanks Nick !

[2016-07-03 01:12] #989 closed

[2016-07-03 01:23] RDmitchell commented on #982
Tested in IE -- column resizing works well
Tested in Chrome -- column resizing works well
Tested in Mozilla -- column resizing works well

[2016-07-03 01:23] #982 closed

[2016-07-03 01:32] RDmitchell commented on #965
Bar chart seems to be working now ! Thanks Paul !

[2016-07-03 01:32] #965 closed

[2016-07-06 18:05] tallus commented on #953
I can't reproduce this:
![selection_132](https://cloud.githubusercontent.com/assets/347498/16628947/ae8c3376-4368-11e6-9213-476d0d0636a5.png)

[2016-07-08 02:15] tallus commented on #953
I've added a (selenium) test for this issue: https://github.com/SEED-platform/seed/pull/1003

[2016-07-11 21:44] nllong opened #1005 "Error in number of pages calculation"
The number of pages calculation is not reading from the local storage upon initialization. This causes the buildings page to load indefinitely because the program always thinks that the total_number_of_pages is equal to total_buildings divided by 10, and not total_buildings divided by number_per_page.

This error had the largest number of events in sentry (#991)

[2016-07-12 18:02] RDmitchell opened #1007 "DB Migration cleanup -- DC and 2015-2016"
There are several DB migration "cleanup tasks that need to be done, but let's start with these two (they are both in PT and I will cross reference them from both this issue and PT):
- Migrate the DC BlueSky Test org
  Org ID = 184 (please verify this -- the real DC org is ID = 7 but we want to use this test org for now)
  This is PT ID #124312881 (https://www.pivotaltracker.com/story/show/12431288

[2016-07-12 21:02] nllong opened #1008 "catch invalid organization id"
When accessing several of the API endpoints, there is a chance that the org id is not valid. The code is currently trying to catch the error, but the error is not propagating back to the user.

For example this call: http://localhost:8000/app/get_datasets_count/?organization_id=

will return an invalid type cast error because '' can't be coerced into an integer.

#967

[2016-07-14 19:06] tallus commented on #587
The SEED affiliate page no longer exists.

Locally I created a 1px by 1px image and saved it to static/seed/images/DOE-SEED-Logo_v4.jpg.

AFAICT this image is only used  in one template on the landing page which is rendered from a django template: seed/landing/templates/landing/_marketing_bullets.html
we could switch out the file name set in config which can point to the logo or a place holder dep

[2016-07-14 19:17] tallus opened #1010 "Table layout inconsistencies"
I noticed table layouts are vary inconsistent.

Some use thead for the headers, some put them in tbody, others use multiple thead and tbody with colspan to put title on tables in a way that could be achieved with a simple div above the table.

While it displays fine, it makes testing harder. It might be better to stick with

[code]

[2016-07-14 19:20] rebrownlbnl commented on #587
The affiliate page was moved here:
http://seedinfo.lbl.gov/SEED-Technical-Allies
Putting the image file name in a config file seems like a good approach.
This isn't very high priority, but look into it if you have some extra time.

[2016-07-14 23:38] RDmitchell commented on #989
Tested on production and it works great.

[2016-07-18 21:01] #998 closed

[2016-07-21 23:46] tallus opened #1022 "Cancel button on Change Password page appears to have no effect"
To reproduce:
1.  Go to /app/#/profile/security
2. Change values in form fields
3. Click Cancel

What Happens:
Nothing

What was expected:
The form field should set to their default state (e.g. any entered text should be cleared).

[2016-07-22 17:33] RDmitchell commented on #1008
any monkey testing for this?

[2016-07-22 18:39] nllong commented on #1008
just go to  http://localhost:8000/app/get_datasets_count/?organization_id=

on the seed site and see if it returns a nice message instead of a 500/server error.

[2016-07-22 23:24] RDmitchell opened #1024 "Can define user account without an organization"
Need to add error checking so that it is not possible to add a user (in superuser mode) without specifying an organization. Right now I believe the program allows this.

[2016-07-25 15:58] nllong opened #1025 "Breakup Bluesky Model"
Restructure and remove the use of bluesky.

[2016-07-25 18:13] RDmitchell commented on #968
not really relevant because users can reorder fields as necessary. Am closing

[2016-07-25 18:13] #968 closed

[2016-07-25 18:14] RDmitchell commented on #979
This is done and the first cut is implemented in the program

[2016-07-25 18:14] #979 closed

[2016-07-25 18:16] RDmitchell commented on #959
The first cut at the UI has been completed

[2016-07-25 18:16] #959 closed

[2016-07-25 18:22] RDmitchell commented on #793
Daniel implemented a bubble feature which shows the entire text of the field, even when truncated.

[2016-07-25 18:22] #793 closed

[2016-07-25 18:25] RDmitchell commented on #760
This was fixed in issue #989

[2016-07-25 18:25] #760 closed

[2016-07-25 18:31] RDmitchell commented on #658
revisit with the new data model

[2016-07-25 18:33] RDmitchell commented on #647
revisit after new data model is in place

[2016-07-25 18:37] RDmitchell commented on #508
am closing this. if we need to do more work on read the docs, we can open up another issue.

[2016-07-25 18:37] #508 closed

[2016-07-25 18:40] RDmitchell commented on #85
@nllong -- don't know if this is something we want to put on our plates for the Sept 2016 release or just move it to FY 2017

[2016-07-25 18:40] RDmitchell commented on #47
revisit this after db restructuring is in place

[2016-07-25 18:48] RDmitchell commented on #1008
When I use this URL:

https://seedtest.lbl.gov/app/get_datasets_count/?organization_id=

I get this message

it returns the message "There was a problem with our server!"

Is that the correct behavior ?

[2016-07-25 19:18] RDmitchell commented on #1008
@nllong -- when I enter an invalid org id, like 9999, I get the following message

{"status": "error", "message": "Organization does not exist"}

It seems like the "blank" org ID is the same case, ie, the organization does not exist. And the message above is a much better message than

"There was a problem with out server"

?

[2016-07-25 19:59] nllong commented on #1008
it should have handled both cases. I'll have to test locally again.

[2016-07-25 21:37] nllong commented on #1008
this is what my machine looks like on the release-1.5.0 branch

<img width="635" alt="screen shot 2016-07-25 at 3 36 45 pm" src="https://cloud.githubusercontent.com/assets/1907354/17118398/ac418584-527d-11e6-9bf3-ffa42eeed83c.png">

[2016-07-25 21:46] RDmitchell commented on #1008
ok, so I think your code is not on seedtest, which is where I would test it. I will ping Miles about this.

[2016-07-25 21:49] RDmitchell commented on #1008
looks like @mmclark loaded this code onto seedtest 9 days ago. So I wonder what the difference is between your local environment and seedtest.

Can you try the URL on seedtest and see if you get the right behavior (that I am not seeing for some reason)?

[2016-07-25 22:31] RDmitchell opened #1027 "Can't delete data in extra_data fields in Building Detail"
It seems that in the old data model (V1.5) does not allow deleting existing text in extra_data fields in Building Detail. However, it IS possible to delete data in structured fields in the building snapshot table.

[2016-07-25 22:57] RDmitchell commented on #1027
Here is a link to a sample data file that has both real fields and extra_data fields.
https://drive.google.com/open?id=0B3fTKpZ9Dx7Lano3OXp3Z2syX2M

Steps to replicate:
* Import the file into SEED, mapping the Extra Data fields so that they stay in extra_data
![image](https://cloud.githubusercontent.com/assets/6314950/17119851/7609c5e4-527d-11e6-8bd4-c3c019060302.png)

* Delete "triangle town" whi

[2016-07-26 03:15] mmclark commented on #1008
seed prod is updated with the hotfixes and behaves like Nick's example above

[2016-07-26 14:33] nllong commented on #1008
i'm confused why this isn't looking right on seedtest. Could it be something related to DEBUG? Can i log into seedtest and check the code base?

seedtest
![image](https://cloud.githubusercontent.com/assets/1907354/17141965/85f1ee6c-530b-11e6-914d-cb5a10219c87.png)

release-1.5.0 branch

![image](https://cloud.githubusercontent.com/assets/1907354/17141973/8f828220-530b-11e6-8b5b-073875f50c15.png)

[2016-07-26 14:38] nllong commented on #1008
@mmclark -- ah, i just saw your message above mine. So we are good now it looks like?

[2016-07-26 14:43] mmclark commented on #1008
Yeah, we're good.  This is what it looks like as of 5 minutes ago:

![nimbus-image-1469543983160](https://cloud.githubusercontent.com/assets/54338/17142323/9176f662-5304-11e6-9d3f-7fb9da8d3afc.png)

[2016-07-26 15:47] #1008 closed

[2016-07-26 16:59] nllong opened #1030 "import file into new data model"
handle mapping in new data model

[2016-07-26 20:56] RDmitchell commented on #1027
@tallus -- can you take a look at this and determine the level of effort to fix it? Then we can decide whether to fix it now or just wait for the September release. thx

[2016-07-26 23:01] RDmitchell opened #1031 "Investigate Sentry error"
Paul -- can you investigate this Sentry error? Miles is going to invite you to our Sentry account tonight, which should help you debug it.

https://app.getsentry.com/lawrence-berkeley-national-lab/seed-django-production/issues/145481270/

I will forward you the email I got for this error, but really you will need to log into Sentry to figure it out.

[2016-07-26 23:02] RDmitchell commented on #1031
This error was generated through the UI, not through an API call.

[2016-07-26 23:51] tallus commented on #1027
updating extra data  uses merge_extra_data  from [seed/mappings/mapper.py](https://github.com/SEED-platform/seed/blob/develop/seed/mappings/mapper.py#L60)
This *merges* extra data so it won't overwrite keys with blank values:
changing
   k: default_extra_data.get(k) or non_default_extra_data.get(k)
to
 k: default_extra_data[k] if k in default_extra_data else  non_default_  extra_data.get(k)
on lin

[2016-07-27 02:11] RDmitchell commented on #1008
This definitely works if the id is not blank, but is some bad id.

However I still get "There is a problem with our server" when the id is actually blank.

But I guess this is ok for now.

[2016-07-27 02:15] RDmitchell commented on #1005
I believe this broke #842 but we can close this for now, and reopen 842 to be fixed

[2016-07-27 02:15] #1005 closed

[2016-07-27 02:20] RDmitchell commented on #836
I am reopening this issue, as I believe it was broken by PR #

[2016-07-27 02:48] Myoldmopar commented on #931
@RDmitchell Not sure how this pretty broad issue corresponds to the work already in place and the larger overhaul.  Should I close this and open others?

Also.....in case you haven't seen it: https://github.com/blog/2206-reorder-issues-within-a-milestone

[2016-07-27 13:03] Myoldmopar opened #1033 "Add link to Swagger on front end"
I _think_ it might be nice to put a link to the Swagger page right on the front end.  Maybe something like:

![image](https://cloud.githubusercontent.com/assets/849824/17176035/04bb6716-53c8-11e6-911d-3ad1c304907d.png)

only.... :sunny: pretty ☀️ .

[2016-07-27 16:43] tallus commented on #1031
It looks like it is generated during  the data mapping stage once Step 1 has been completed (when the user can 'Save Mappings'). On this page clicking on any of the table headings sends a request to search_building_snapshots with order_by set to that column name.

However since this gets translated directly into a DB call it only works for columns that correspond to fields in the database, not on

[2016-07-27 19:02] tallus commented on #1031
Pull request is in
https://github.com/SEED-platform/seed/pull/1034

[2016-07-28 00:21] RDmitchell commented on #1033
What do others think? I can see it is nice to be able to get to it easily through the FE, but most users using the FE will not know what this is or use it. So I can see it both ways, ie, with and without it.

How else would someone get to the swagger pages if not through the FE?

[2016-07-28 00:27] RDmitchell commented on #836
I am closing this and will open a new issue if this is still a problem on seed production.

[2016-07-28 00:27] #836 closed

[2016-07-28 00:42] RDmitchell opened #1035 "Stay in the same place in the building list when coming back from building detail"
On the release 1.5 branch
https://github.com/SEED-platform/seed/tree/release-1.5.0
that is currently on seed production (seed.lbl.gov)

do the following:
- Go to the Building List view for a data set that has more than 100 records (such as the sample data which has 512 records).
- Set the number of records to display on a page to 100

![image](https://cloud.githubusercontent.com/assets/6314950/171

[2016-07-28 01:21] Myoldmopar commented on #1033
Maybe a link in the docs or on the GitHub readme, but it seems like a good
idea to have a clean simple link right on the FE.

[2016-07-28 04:06] danielmcquillen commented on #889
Closing. This issue is long gone.

[2016-07-28 04:06] #889 closed

[2016-07-28 04:07] danielmcquillen commented on #886
Tabs were resolved in PR #1023

[2016-07-28 05:08] RDmitchell commented on #1033
agreed !

[2016-07-28 21:25] RDmitchell commented on #1027
Paul -- we definitely don't want the program to overwrite existing data in the canonical building / building snapshot with blank data on import.

However, this is a different situation, ie, the user explicitly wants to delete existing data and not put new data in there. So if the same method is used in both cases, then we can't break the existing functionality that on import the program doesn't ov

[2016-07-28 23:17] tallus commented on #1035
I've updated the test to reflect the new steps.

It's now failing, though only when using last record.

The page the user is being returned to is the page they were on before they clicked the last record (not always the first).

[2016-07-29 00:09] tallus commented on #1035
Also happens with first record (neither were storing the page number in the session store)

Fixed added

[2016-07-29 02:48] Myoldmopar commented on #1033
Closable now, right?

[2016-07-29 02:57] Myoldmopar opened #1039 "Swagger is inelegant when user isn't logged in"
The `RequiredLoginMixin` that is inherited by the RestFramework viewsets is causing troubles.  If the user isn't logged in, it follows this path through the Mixin code:
- [it returns the response of `handle_no_permission`](https://github.com/django/django/blob/master/django/contrib/auth/mixins.py#L55), which:
- if it isn't triggered to throw an exception, [tries to `redirect_to_login`](https://git

[2016-07-29 03:04] Myoldmopar commented on #1039
Gyah...OK I think I already solved it.  I'll comment on the PR in a moment.

[2016-07-29 17:43] tallus commented on #1027
I did some more tracing on the code patch and this also gets called in merge_building which gets called by save_snapshot_match which gets called by the save_match view and the match_building tasks which is where we wouldn't want it to overwrite data.

That said I think adding a flag to the function to specifically allow overwriting should be safe, as we can isolate it to the call to the function i

[2016-07-29 17:48] RDmitchell commented on #1027
Is update_building only used when the user is hand editing a value in the building detail view? We want to make sure existing data doesn't get overwritten by blank data in any of the "automated" ways that building records get updated.

[2016-07-29 18:07] tallus commented on #1027
update_building in models.py only gets called by the update_building view: this states in it's doc string its for manually updating a building.

This gets called by the building_service angular service and the only place I see a reference to this is in the building_detail angular controller (which is what does the editing).

The view does have an api_endpoint decorator so it might be getting acces

[2016-07-29 21:46] tallus commented on #1031
Pull request against release 1.5.0: https://github.com/SEED-platform/seed/issues/1041

[2016-07-29 21:51] tallus commented on #1035
I just realized the fix is against develop.

 I will  create a pull request with the release against release 1.5.0, it won't have the Selenium test though.

[2016-07-29 22:02] tallus commented on #1035
Create a pull request for this against  release 1.5.0: https://github.com/SEED-platform/seed/pull/1042

[2016-08-01 23:30] tallus commented on #1027
#1043 is a hot-fix against release 1.5.0, as such it tries not to introduce any extraneous or breaking changes. As this leaves other, existing issues with the code touched,  in place.

These are:
seed.models.update_building takes unlimited arguments and positional arguments (*args, **kwargs) but never references them, Its not clear at all what it might do with them in and it is never supplied with

[2016-08-02 18:28] SuprasannaBhaumik commented on #998
Fix : https://github.com/angular-ui/ui-grid/issues/4623

[2016-08-04 18:35] RDmitchell opened #1044 "Filter settings kept between browser sessions -- give user control of this?"
Right now, both seed production (V1.5) and the new version currently in development (V2.0), filter settings are kept between browser sessions; this is sometimes very convenient, but can also be confusing. I had the experience of opening a building list and seeing no results -- this was because there was a filter, on a field that was not visible on the first page of fields, that had no results, so

[2016-08-25 18:46] RDmitchell opened #1048 "Figure out what SEED is using prefinery.com for"
From Stephen C, 8/24/2016

It seems the landing page is getting some widget from prefinery.com.  Quickly looking at prefinery.com it seems to be related to new user registration?  I didn't look too closely just noticed it when I was trying to use a local copy of seed without internet.

---

Am assigning this to @mmclark to investigate.

[2016-08-25 21:39] RDmitchell opened #1049 "Testing filtering in Blue Sky"
Using the filtering doc on the seed website
https://sites.google.com/a/lbl.gov/seed/detailed-support

Go through building list (from the BLUE SKY nav button) and test to see if all the filtering in the old BUILDING view is working in the BLUE SKY view.

[2016-08-26 14:56] mmclark commented on #1048
Prefinery is an email marketing tool, used to grow email lists during the beta phase of a product launch.  It is in the origin commit of the project, so it was added by Building Energy.  As far as I know, it's not being used.  I suggest we remove it.

[2016-08-26 16:30] rebrownlbnl commented on #1048
yes, agree we should remove it.

[2016-08-26 18:22] RDmitchell commented on #1048
Yes we should definitely remove it. Miles, should I assign that to someone or do you want to do it?

[2016-08-26 18:32] mmclark commented on #1048
I'll take care of it.  Would you like to open a new issue or just use this one?

[2016-08-26 18:32] mmclark commented on #1048
One other question - would you prefer this to be a hotfix against 1.5, or a PR against develop?

[2016-08-26 18:45] RDmitchell commented on #1048
You can make a new issue for the fix, and close this one.

Also, a PR against develop

Thanks !

[2016-08-29 20:36] #1025 closed

[2016-08-30 20:02] RDmitchell commented on #59
View/Hide Columns which allows control of order was added, so am closing this issue.

[2016-08-30 20:02] #59 closed

[2016-08-31 23:46] bravacheLBL commented on #1049
Hi Robin,

I have noticed some small errors with the filtering:
1 - (this is a strange one) for both numerical and text field, I am not able to apply a "not equal to" (whether it is using != ! or <>) filter, UNLESS there is other filters that are applied (in other fields or for the same fields). See images for example. This problem doesn't affect the command "!null".

2 - Same problem with the com

[2016-09-14 22:13] RDmitchell commented on #66
Am closing this issue due to the db refactoring done during the summer of 2016, which should handle this case.

[2016-09-14 22:13] #66 closed

[2016-09-14 22:13] RDmitchell commented on #30
Am closing this issue due to the db refactoring done during the summer of 2016, which should handle this case.

[2016-09-14 22:13] #30 closed

[2016-09-22 01:03] RDmitchell opened #1072 "Filter by label state is lost going from list to detail and back to list"
Steps to reproduce
- In Property List View, filter by an existing label
  ![image](https://cloud.githubusercontent.com/assets/6314950/18734045/379a1770-8025-11e6-8616-fcd00699fac0.png)
- Click on the "i" icon for one of the resulting records to see the detail view, which shows the label
  ![image](https://cloud.githubusercontent.com/assets/6314950/18734054/5b49ecb8-8025-11e6-9ae3-be98622dcb89.png)

[2016-10-05 21:30] axelstudios commented on #1049
1 and 2 are actually expected behaviors because the filter is failing to match the visible row, but is matching the collapsed child row and thus keeping the parent visible.  The filter functionality doesn't currently have any way to know if it's filtering against a parent/child row so unfortunately I can't easily tweak that.

I just fixed 3 - The problem was that the UI-Grid library and I were bot

[2016-10-09 20:50] RDmitchell opened #1084 "Mapping grid only shows extra data and no data for the records"
Screen that shows the final mapped data, only extra data is being shown and none of the data in the records are being displayed in the rows.

Here is the mapping after importing the sample-covered-buildings.csv
![image](https://cloud.githubusercontent.com/assets/6314950/19223522/c4f01e26-8e26-11e6-9366-8f83a3351166.png)

And here is the grid showing the mapping, but only extra data fields and no d

[2016-10-09 20:57] RDmitchell commented on #1084
Another wrinkle on this
When I import the portfolio manager sample file (portfolio-manager-sample.csv) as a spreadsheet, and map the fields as "property", then go to the mapped data grid, some of the data is actually being displayed, as opposed to the screen shot above, where none of the data is displayed. Not sure what the difference is

![image](https://cloud.githubusercontent.com/assets/6314950

[2016-10-10 18:12] RDmitchell opened #1085 "Duplicate Fields in Mapping -- can't assign them to a Tax Lot or Property table"
When the program finds a duplicate field, it puts them at the top of the Mapping screen.

In V2.0, we need to allow the user to resolve the duplicates by changing the field names, and then also have a way for the user to assign those fields (presumably after resolving the duplicates?) to the appropriate table, either Tax Lot or Property.

Right now, you can't do that (code as of 10/10/2016)

![ima

[2016-10-10 19:01] RDmitchell opened #1086 "Program doesn't save "state" of mapping after saving (the table assigned to the field)"
If I map a file, then save it, then go back to see how it was mapped, the program doesn't save the original mapping state.

Here was my original mapping -- all fields set to Tax Lot

![image](https://cloud.githubusercontent.com/assets/6314950/19246979/d3026700-8edd-11e6-860b-3c70bfd97792.png)

After saving the Mapping and having the program merge/match the data (this is the first data file, the ta

[2016-10-10 19:04] RDmitchell commented on #1086
Here is a link to a video which shows the problem
https://drive.google.com/open?id=0B3fTKpZ9Dx7LdEg4OVZYaGpySEU

[2016-10-10 19:33] RDmitchell opened #1087 "List settings contains multiple versions of the same field -- don't know which to pick"
I imported, mapped and matched the sample Tax Lot file, setting all the fields to "Tax Lot" in the mapping screen. This is in an organization that I just created that has not had any other data imported into it.

Here is a screen shot of the excel file that I imported

![image](https://cloud.githubusercontent.com/assets/6314950/19248094/f3d20198-8ee2-11e6-8c01-9c77e35225c9.png)

Here is the mappin

[2016-10-10 19:36] RDmitchell commented on #1087
Here is a link to the file being imported
https://drive.google.com/open?id=0B3fTKpZ9Dx7LSVJja21VTm1WUGs

[2016-10-10 20:25] RDmitchell opened #1088 "Creating new user -- hitting the Enter key doesn't cause the user to be created"
Logging in as superusin, in the Admin screen, it is possible to create a new user, and assign that person to a new organization.

When all the appropriate information is entered, the "Create" button becomes dark blue, indicating that the user can be created.

If you then hit the keyboard Enter button, the information disappears, and it seems as though the user has been created. However, the green

[2016-10-10 20:26] RDmitchell commented on #1088
![image](https://cloud.githubusercontent.com/assets/6314950/19250031/3353aa42-8eed-11e6-9be2-15eb0eb42f70.png)

[2016-10-10 20:49] RDmitchell opened #1089 "Not all records imported into View by Property"
Not all the records are imported into the Property tab from the example property spreadsheet

I am testing on seeddemostaging on 10/10/2016 with Nathan's latest matching code up (I think). I made a completely new organization, and this is the first and only file imported into it.

The screenshot below shows the records in the original spreadsheet and the records that are showing up in the View by

[2016-10-10 20:51] RDmitchell commented on #1089
It might be worth figuring out the issue here before the demo on Oct 13th if possible. I can't really show the original spreadsheet and the results of the import if this bug is not fixed. I can work around it by not showing the import, mapping and matching functionality for the demo -- we will just have to see how far @maronnax and @nllong get with figuring out this issue.