[2015-09-25 21:48] juliecov commented on #396
When viewing a list of projects and retrieving the list of available columns, there is a "Status" column always inserted at position 0, unrelated to the columns available in the data.  It would be a bigger change to be able to add/remove this column, or to sort it without adding/removing, so I went with desired behavior #2 for now.  If you feel strongly about behavior #1 let me know, but since the

[2015-09-28 21:39] bravacheLBL commented on #340
I tested it with multiple combination of the same sample, some dataset overlapping the others.
The new text box showed up correctly with the correct number of duplicate/match/new master buildings. Also, all buttons were redirecting to the right place.

[2015-09-28 21:43] bravacheLBL commented on #396
It works for me. The Status Field shows up in the first column. I didn't see another "Status" field to add, so I will leave it to Robin to check if she can reproduce the double "Status" error.

[2015-09-28 21:48] bravacheLBL commented on #386
I reproduced Robin's test: match 5 buildings, then unmatch them, and got back the 5 original building. In my opinion, this problem is solved, but let me know if you see a better way to test this issue further.

Thanks

[2015-09-28 22:47] cycustodio commented on #384
@nllong, I'm having trouble uploading ```covered-buildings-sample-with-errors.csv``` just as a spreadsheet. It works fine when I upload the file as Portfolio Manager data. Can you check if you are seeing the same thing?

[2015-09-28 22:57] cycustodio commented on #384
The  date range checking is running on seedtest; I used ```data-cleansing-sample.csv``` under seed/cleansing/test_data.

Screencaps for the record:
![daterange_check1](https://cloud.githubusercontent.com/assets/8461331/10151123/55eeb132-65f9-11e5-86d2-3144917cbf8a.png)
![daterange_check2](https://cloud.githubusercontent.com/assets/8461331/10151128/5e546bb4-65f9-11e5-9634-47868343b964.png)

[2015-09-29 20:10] cycustodio opened #401 "Reporting Functionality -- getting 404 error on dropdown template"
Using Firefox 40.0 and also checked on Chrome, I don't see the drop down menu for the X and Y axis.

![404dropdowntemplate](https://cloud.githubusercontent.com/assets/8461331/10176717/33867be0-66ab-11e5-928e-88f7ccf0974b.png)

[2015-09-29 20:11] cycustodio opened #402 "Reporting Functionality -- charts not appearing"
I'm using the sample files from Issue 65: one covered-buildings, 3 years of portfolio-manager data.
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LTmlyM2w0MHRKeVE&usp=sharing

In the reporting window I set the date range between 01-01-2011 to 01-01-2014. I'm getting a "Data Load Error", the charts are not being generated.

[2015-09-29 20:34] nllong commented on #384
just to make sure, are you saying that this is working right now?

[2015-09-29 21:05] cycustodio commented on #384
It's working.

[2015-09-29 21:05] #384 closed

[2015-09-29 21:25] RDmitchell commented on #401
I also see this issue on seedtest using Chrome.

[2015-09-29 21:26] RDmitchell commented on #401
Claudine -- does this work in your development environment?

[2015-09-29 21:29] RDmitchell commented on #402
I am seeing this error. Could the "end_date=...nization_id=19" be the problem?

https://seedtest.lbl.gov/app/get_aggregated_building_report_data/?end_date=…nization_id=19&start_date=2013-01-01&x_var=site_eui&y_var=gross_floor_area Failed

![image](https://cloud.githubusercontent.com/assets/6314950/10178738/694fa296-66b6-11e5-97b8-3cc6e496170b.png)

[2015-09-29 22:11] danielmcquillen commented on #401
Looks like static/seed/js/directives/dropdown-template.html is missing.

However, you can see the file here in the merge:

https://github.com/SEED-platform/seed/blob/b598c1d16093f42205bcdf3dc26ee2dd6156af1b/seed/static/seed/js/directives/dropdown-template.html

Since this is a static file, does the cache need to somehow be cleared?

[2015-09-29 22:14] cycustodio commented on #401
I was using an incognito window on chrome. I managed to get the dropdown appear on the virtual machine that has firefox 39. I can't get a screencap right now because it's complaining about bower_components.

[code]

[2015-09-29 22:39] danielmcquillen commented on #402
Looks like both server methods are failing with a 500. Can you provide access to those sample data files and I'll try to recreate locally?

[2015-09-29 22:50] RDmitchell commented on #402
I just gave you sharing permissions.

[2015-09-29 23:06] mmclark commented on #401
The dropdown-template.html is on S3:

https://seedtest.s3.amazonaws.com/seed/js/directives/dropdown-template.html

If an incognito window is used, cache shouldn't be a problem.

[2015-09-29 23:09] mmclark commented on #401
It looks like SEED is attempting to get that file from seedtest.lbl.gov, instead of seetest.s3.amazonaws.com.  I suspect that's the issue.

[2015-09-29 23:51] StephenCzarnecki commented on #402
Just checked in a fix to https://github.com/SEED-platform/seed/tree/Issue402 and made a pull request here https://github.com/SEED-platform/seed/pull/404

[2015-09-30 02:40] mmclark commented on #402
Merged and loaded on seedtest

On 09/29/2015 04:51 PM, StephenCzarnecki wrote:

[2015-09-30 02:41] RDmitchell commented on #402
Great, thanks Miles!

[2015-09-30 03:11] RDmitchell commented on #402
Pulldown lists and scatter plot are now working, but aggregated data is not

I think it is what I pointed out earlier in this issue that the end date doesn't appear to be set correctly

"end_date=...nization_id=19"

Should Nick Serra look at this?

![image](https://cloud.githubusercontent.com/assets/6314950/10183575/0cdd4182-66e6-11e5-840c-a0c954871064.png)

[2015-09-30 03:16] RDmitchell opened #405 "Reporting Functionality -- thoughts"
We may want to break these into separate issues but here are some initial observations:

* Dates are not saved, so if you generate a report, go somewhere else in the program, then come back to generate the graphs again, the dates are back to the default dates. Would be nice if the program could remember the last date settings

* I found some outliers (ie, high EUI), and wanted to eliminate them te

[2015-09-30 03:33] RDmitchell opened #406 "Deleting Building doesn't delete point from scatter plots"
I wanted to delete two buildings that had high EUI and were outliers in the scatter plot. I was hoping that by deleting them (so that the program would not graph them), the x-axis would become smaller and the other points would spread out.

I identified the two outliers and deleted them from the building list, then regenerated the scatter plots. But the outliers are still there.

This is probably

[2015-09-30 03:36] RDmitchell commented on #402
![image](https://cloud.githubusercontent.com/assets/6314950/10183885/b268a04e-66e9-11e5-86b9-739c61e7352f.png)

[2015-09-30 18:16] RDmitchell opened #407 "Order of fields in Building List for existing records"
Claudine -- can you check older accounts where you have previously imported data to see what the default field order is for the Building List -- it seems like it is not in the default alphabetical order anymore, which might have to do with the changes we made to control the field order.

Seems like the default behavior should be alphabetical (?) and then the user can change it. But I don't know ho

[2015-09-30 19:00] RDmitchell commented on #407
However, the one thing that is nice about how the fields are now ordered in the List Settings, is that all the ones that are actively checked are at the top, which is a big improvement. And then they are alphabetical after that. Which also seems like the right approach.

So I guess the only question is really how does that initial order of the checked fields that are shown at the top of the List S

[2015-09-30 19:15] RDmitchell opened #408 "Report generation vs mapping -- need to understand how to map fields"
As we know, the reporting function depends on properly mapping the fields to those that the program recognizes for reporting. I am seeing some issues with how I have mapped my data, and need guidance about how the fields should be mapped in order for them to show up in the reports.

I think this is probably an issue for Stephen, as he knows the most about how the field mapping is set up.

To see w

[2015-09-30 19:17] RDmitchell commented on #402
I believe if the fields are mapped correctly in a building record (see issue #408) the reports work.

There are a few other issues, like the Data load error shown above, and some questions about how to map data correctly, but I am going to put those in separate issues, and close this one.

[2015-09-30 19:17] #402 closed

[2015-09-30 19:18] RDmitchell commented on #401
I am now seeing the dropdown lists on seedtest, so am closing this issue.

[2015-09-30 19:18] #401 closed

[2015-09-30 19:29] RDmitchell opened #409 "Reports - add info to popup boxes about data"
The info shown for each point in the scatter plot and the data in the bar charts is good, but we need to add some sort of identifier, so the user can go back to the building list and see the actual record (for example if it is an outlier).

**Scatter Plot**
The problem is that we don't necessarily know what IDs the user has assigned to the records. Probably there will be one of the three ID fields

[2015-09-30 20:06] cycustodio commented on #407
The order of the fields looks like it comes from the last file to be uploaded.

This is the field order for the building list. It's not alphabetized but the checked fields are on top.
![buildinglist_order](https://cloud.githubusercontent.com/assets/8461331/10204986/91a1a4fc-6773-11e5-91c7-ec0d87efe902.png)

This is the field mapping for the last file uploaded.
![mappinglist_order](https://cloud.gi

[2015-09-30 20:07] RDmitchell commented on #407
OK, so field order in the original input file.

Let's leave it that way for now and get input from users before making a change.

Thanks for investigating.

[2015-09-30 20:17] RDmitchell opened #410 "Reports - Scatter plot displayed but aggregate data shows "Data Load Error""
This doesn't happen all the time. With small, well behaved data sets the aggregate data is displayed. This case is for real city data with approx 1700 records and a lot of PM fields. I will try to create an anonymized data set that shows this behavior.

[2015-09-30 20:27] #396 closed

[2015-09-30 20:27] RDmitchell commented on #410
When trying to graph Site EUI vs Gross Floor area, the scatter plot works but the bar chart doesn't.

![image](https://cloud.githubusercontent.com/assets/6314950/10205586/e089dd16-6776-11e5-91c3-b582a2e8905e.png)

I get this error message

https://seedtest.lbl.gov/app/get_aggregated_building_report_data/?end_date=…nization_id=19&start_date=2013-01-01&x_var=site_eui&y_var=gross_floor_area

Failed t

[2015-09-30 20:45] cycustodio commented on #410
Is it because "Year Built" and "Site EUI" are both from portfolio-manager and "Gross Floor Area" is in covered-buildings?

[2015-09-30 21:31] RDmitchell commented on #410
It does seem to be related to floor area.

I have put a sample set of data (5 records in the Issue 410 gdrive folder)
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LMFp5Qk94cVlOMkE&usp=sharing

All the graphs work except for bar charts with anything plotted against Gross Floor Area on the Y-axis.

![image](https://cloud.githubusercontent.com/assets/6314950/10207219/e94130d6-677f-11e

[2015-09-30 22:02] RDmitchell opened #412 "Reports - too many points in scatter plot"
Using the data from Issue #410
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LMFp5Qk94cVlOMkE&usp=sharing

There are only 5 records in the two data files and they match 1:1 between covered building and PM

But when plotting the data, some of the graphs don't make sense.

For example, here is Source EUI vs Year Built

![image](https://cloud.githubusercontent.com/assets/6314950/102078

[2015-10-01 01:00] StephenCzarnecki commented on #408
There are two cases here, the covered building file and the pm file.

Covered building - You do have gross floor area mapped here but there is no year_ending so these records are skipped for lack of a year_ending property.

PM files:  You do not have gross floor area mapped.  There is a Property Area (Building and Parking) but that is not mapped to gross floor area.  And according to the rules a r

[2015-10-01 01:30] StephenCzarnecki commented on #410
For starters when I do the default matching I see it matched 2 of the 5 buildings.  But the graph behavior is as you say so it is picking up the 5 in the PM file.

When I look at the code for the aggregate buildings it first calls my code and gets a list of the correct building snapshot ids.  Later on there is a bit about grouping the floor areas and there is one record that has a floor area that

[2015-10-01 01:53] StephenCzarnecki commented on #412
I can't reproduce this.  As I mentioned in 410 if I start clean then the matching only matches 2 of the 5 buildings.  111 X st st
and
22 5th st.

If I try to do a graph at this point I see

![screenshot from 2015-10-01 01 46 46](https://cloud.githubusercontent.com/assets/7605407/10211068/6ff37180-67de-11e5-937d-cc2b8e4ecce0.png)

(Hope that comes through)  It has the 5 points you would expect.  If

[2015-10-01 22:10] RDmitchell opened #414 "Change reporting to use merged (not unmerged) records"
we were using unmerged records to generate the reports, need to change it to merged building snapshot records.

[2015-10-01 22:53] StephenCzarnecki commented on #414
Made a pull request here:  https://github.com/SEED-platform/seed/pull/415

Previously only got data from unmerged building snapshot records.  Per Robin changing that to use only data from merged records (the current canonical building and previous canonical buildings).

One consequence of this is that since there is no current way to null out a field once a building gets a value in a field it will

[2015-10-02 00:28] StephenCzarnecki commented on #406
Made a pull request here: https://github.com/SEED-platform/seed/pull/416

When a user deletes a building all that really happens is that the CanonicalBuilding record for that building has the 'active' property set to false.  Changed the reporting code to filter out those canonical buildings.

[2015-10-02 01:06] #373 closed

[2015-10-02 18:27] RDmitchell commented on #178
I am closing this because the basic reporting functionality is in place and working. We can open new issues for future work on reporting

[2015-10-02 18:27] #178 closed

[2015-10-02 18:28] RDmitchell commented on #358
I am closing this issue, as we have the basic functionality for reporting in place. Thanks everyone !

[2015-10-02 18:28] #358 closed

[2015-10-02 18:29] RDmitchell commented on #340
I am closing this issue.

[2015-10-02 18:29] #340 closed

[2015-10-02 18:33] RDmitchell commented on #412
This seems to be working now -- it is fixed by PR #416

[2015-10-02 18:33] #412 closed

[2015-10-02 19:57] RDmitchell commented on #405
Am closing this and making a specific issue for the first bullet -- the 2nd bullet has been dealt with.

[2015-10-02 19:57] #405 closed

[2015-10-02 19:59] RDmitchell opened #417 "Reports -- Save the last settings"
I think it would be useful if the program saved the settings the user last set, ie, for the dates and the x and y axis.

I am constantly going to the reports, then fixing the data, then coming back to the reports to look at the same report with the data fixed, and I have to reset everything every time.

And maybe we need a "reset to default" button which would reset to some default settings?

[2015-10-02 20:02] RDmitchell opened #418 "Reports - error checking for user input"
I consistently put in the same date for start and end, and then click Update Charts and the program reports No Data. Seems like we should put in some error checking to make sure the dates are set in a logical way and let the user know? Not sure quite how to do this so it isn't too obnoxious to the user -- maybe when the Update Charts is clicked, the error is displayed ?

[2015-10-02 20:08] RDmitchell commented on #406
Tested and this is fixed. Thanks Stephen !

[2015-10-02 20:08] #406 closed

[2015-10-02 20:13] RDmitchell commented on #386
This is working now with this simple dataset. I will test with a more complex data set and start another issue if any more problems are found. Thanks Piper

[2015-10-02 20:13] #386 closed

[2015-10-02 20:23] RDmitchell opened #419 "Reports - determine the date range based on the data?"
Not sure this is a good idea (I will ask users on one of the upcoming user calls) but it might be nice to suggest the reporting date range based on the dates in the database (although I know this might not be trivial to determine, and might take a bit of processing time). Maybe we could have that as an option on the Report page, ie, have the program determine the date range, but the default would

[2015-10-02 20:26] RDmitchell opened #420 "Put display # records pull down at the top of the list"
In addition to having the pulldown at the bottom of the list, put it at the top also -- it is really slow to display the list when it is set to 100 records, and you have to wait for all 100 records to display in order to change it to 10 records.

[2015-10-02 20:30] RDmitchell opened #421 "Reports - Message saying why there is no data"
Tell the user what the problem is when the "no data" message is displayed, ie, "Gross Floor Area value is missing from all records", or whatever.

Also, add the ability to select any columns that contain data that can be plotted. Look at the column settings tab and populate with items that have numeric data types.

[2015-10-02 20:50] RDmitchell opened #422 "Reports -- order of building classification"
Looks like building classification is in reverse alpha order when looking at the labels on the Y axis from top to bottom

Seems like it should be alpha order with the top being the beginning of the alphabet? Not sure, but to me seems more intuitive ? Probably in the long run, we may want to give the user control over this, so maybe for now we will just leave it as is and see what users say.

![ima

[2015-10-02 21:22] RDmitchell opened #423 "Reports -- multi year colors"
Right now the colors are a bit close together for the multi year data, at least in the example that I tested. 2012 and 2011 are varients of blue -- seems like we might want a completely different color?

And in the long run, this is probably something we will want to give the user control over, ie, the color scheme (but that is for much later in 2016 if not beyond).

For this example I was using t

[2015-10-02 22:11] RDmitchell opened #424 "matching hangs during address normalization for fields with more than one address"
There is an issue with some of the city data that there is more than one address in the address field, so that when the program tries to normalize the address, it can't do it, and the program ends up "hanging" at the 0% matching stage, with no indication to the user what the problem is.

From Stephen, who looked at some real city data that was exhibiting this:

* It seems there is a problem with t

[2015-10-02 22:49] RDmitchell opened #425 "Reports - create log of data not used in graph"
I think users will be interested in knowing what records did not make the cut for the graphs, ie, the difference between the Total Buildings and Buildings with data.

So possibly another log to be generated that shows the records that didn't have data, and what data they didn't have.

Would need to be designed. Probably work on this toward the end of FY 2016

[2015-10-02 22:53] RDmitchell commented on #414
Assigned to myself for testing.

[2015-10-02 22:54] RDmitchell commented on #408
I am closing this issue because we have changed how we are doing the graphing, ie, we are now using merged data, not unmerged data.

[2015-10-02 22:54] #408 closed

[2015-10-02 22:55] RDmitchell commented on #410
I am closing this and if we encounter more problems we can make a new issue.

[2015-10-02 22:55] #410 closed

[2015-10-02 23:24] RDmitchell commented on #424
I wonder if this is something that we can flag during data cleansing. But we still need to deal with it in matching, because presumably the users want to keep the data that they have in the address field.

[2015-10-05 17:07] nicholasserra commented on #424
Another option is just just skip normalization, but not skip the record. Aka if the record has a weird address, simply use that address as the normalization output. Basically don't change it. That way, the record will still exist, it just won't have a pretty address.

I think the best route here is to get a fix in to handle the error case, and then start trying to figure out how to normalize it pr

[2015-10-05 17:10] RDmitchell commented on #424
This makes sense, ie, work on not bombing because of the error case first.

So yes, seems like skipping normalization for weird addresses would be the right approach to prevent the error.

Then we can figure out how to deal with it properly after that

Thanks

[2015-10-05 17:23] rebrownlbnl commented on #424
I'm wondering what that compound address actually means.
Is it a large building that has a different address for each side (e.g., it
takes up the whole block)?
Or is it actually bad data?

Regardless, the approach of passing through data cleansing first, then just
leaving the address as-is for matching seems like the right approach for
now.

Do we have the notion in our schema or in BEDES of a "pr

[2015-10-05 17:34] RDmitchell commented on #424
I think those addresses represent a few different things, talking to some of the cities about their data

* Large building that takes up the entire block with multiple addresses on the different streets
* Intersection - sometimes the double address might be an intersection, which I think again might mean a large building that takes up the whole block.

It is once again a function of the horrible s

[2015-10-05 20:33] nicholasserra commented on #424
PR in to handle the error. The parsing packing can't handle addresses like `M St., N St., 4th St., Delaware St., SW`. So we need to figure out exactly what that address even means, and probably make our own parser for this one off case. The code is structured so that we should easily be able to try out different parsers when other parsers can't handle certain cases.

[2015-10-06 02:17] nllong commented on #390
:+1

[2015-10-06 02:18] nllong commented on #424
I merged down PR #427 which should have fixed your failing tests.

[2015-10-06 09:19] danielmcquillen opened #428 "Celery throws error during matching"
I have a file that I was using while developing the reporting graphs. I tried importing it today after getting the latest on develop, and now I'm getting the following error, traced out in the terminal I'm running celery in.

[code]
Here's the line (644) in seed/seed/models.py where the error seems to be happening:

[code]
I hope that something's not 'invalid' in the formatting of the csv, but if

[2015-10-06 09:58] danielmcquillen commented on #428
After debugging in Celery, it looks like (at least in one case) the source_mappings array has a mapping with a empty array in the first element. In this case it was the Site Energy Use column...
[code]

[2015-10-07 01:45] danielmcquillen commented on #423
I updated the palette to the following colors:

![image](https://cloud.githubusercontent.com/assets/119496/10327276/3c6c62fa-6cf1-11e5-9df5-923dc4d491b2.png)

Fix is here:

https://github.com/SEED-platform/seed/tree/423-redo-palette

I can do a PR if this palette looks good.

[2015-10-07 01:53] danielmcquillen commented on #424
In planning for errors similar to this one, is there a way for the server to return a 500 response so that the Angular promise can get rejected and we can handle the error in an error function? (Maybe show a short message to the user.)

[2015-10-07 01:55] danielmcquillen commented on #422
Ok. The fix is easy enough. We could even expose the setting to the user in the UI.

[2015-10-07 01:59] danielmcquillen commented on #421
I can update that client to look for a 'message' property on the response object if the 'status' property is 'error.'

We'll need the two back end methods to be updated to handle the different kinds of errors that can happen and write out a message for each. Shall I work with Stephen on that?

[2015-10-07 02:52] nicholasserra commented on #424
I think in general, the api endpoints are all returning incorrect status codes. That may be something we need to handle on a larger scale.

[2015-10-07 16:47] nllong commented on #383
This has been fixed. negatives were being stripped when reading CSV files and converting the string to a float. PR #429

[2015-10-07 17:00] nllong commented on #424
@axelstudios or @rHorsey is this the same issue that you are seeing as well?

[2015-10-08 21:53] RDmitchell commented on #423
I think these colors look good. What would the color order be?

[2015-10-08 21:54] RDmitchell commented on #422
Let's get some user feedback first. I will bring this up on our next user meeting (mid-October).

[2015-10-09 21:22] StephenCzarnecki opened #430 "Potential crash in map_row_chunk"
In the following bit of code "model" is only created inside the for loop.  If chuck is empty then model will not exist and the "if model:" line will throw a "name 'model' is not defined"

[code]

[2015-10-09 21:36] RDmitchell opened #431 "Delete records when click "Back to Mapping""
When you click "Back to Mapping" on the Mapping Data verification screen, the program currently saves the mapped records, and these records are forever orphaned.

queue up background queue to delete the current mapped records in the building snapshot table.

[2015-10-09 22:53] nllong opened #432 "Asynchronous tasks should pass primary keys to task"
Right now the background tasks are handed all the JSON data to process. The background task should only be handed the PK of the building snapshot models and request (in parallel) the data from the database to act on.

- [x] Refactor chunk code to pass ids
- [x] Remove batch method
- [x] Disable pickling of data (reenable JSON) for celery/redis

[2015-10-12 02:55] danielmcquillen commented on #423
["#458cc8","#779e1c","#f2c41d","#939495","#c83737", "#f18630"];
or,
blue, green, yellow, grey, red, orange.

[2015-10-12 04:09] danielmcquillen commented on #418
I can show a simple modal. I was experimenting with showing just an error state on the start date and a tooltip, but tooltips don't seem to be working right with our current Angular version + Angular UI.

So rather than solving that issue right now, I can implement a simple modal. However, rather than doing it just for this page, it's probably better to create a "simple modal" partial and service

[2015-10-12 17:44] RDmitchell commented on #418
It seems like a good idea to me to implement a general UI solution for handling messages or error states.

[2015-10-12 17:49] RDmitchell commented on #423
This looks good to me. Go ahead and submit a PR for this.

[2015-10-12 20:00] RDmitchell commented on #421
Yes, you can make an issue for Stephen to do that. We can discuss level of effort and priority. If it's relatively easy for him to do, he can go ahead and do it. If not, we may need to prioritize.

[2015-10-12 20:12] RDmitchell commented on #428
did this get resolved?

[2015-10-12 22:06] danielmcquillen commented on #428
I don't know enough about this area of the app to offer a solution yet, just logging it to try to assist. I could work on it but it would take me some time to get familiar with these methods.

[2015-10-12 22:08] danielmcquillen commented on #423
Done. https://github.com/SEED-platform/seed/pull/433

[2015-10-12 23:19] RDmitchell commented on #423
Assigned to myself for testing when the PR is merged

[2015-10-13 21:35] danielmcquillen commented on #421
Stephen has asked some good questions about determining what to look for and report when there is "no data." We should discuss.

[2015-10-13 21:41] danielmcquillen commented on #409
Can you add a priority to this issue?

[2015-10-13 22:00] RDmitchell commented on #409
Just set to Priority 2

[2015-10-13 23:40] RDmitchell opened #434 "Develop Functional Spec for tagging / labeling scheme for buildings"
Develop a spec for tagging / labeling building records:

* Add tagging / labeling functionality to Building List and Building Detail views
* Allow multiple tags per building record (master building record / building snapshot record)
* View / filter / sort labels from the Building List view
* Include appropriate labels when exporting records from the Building List view

[2015-10-15 00:25] RDmitchell opened #435 "Add IDs to UI elements for Selenium testing"
Once this is done, we can start setting up Selenium tests

[2015-10-15 00:40] RDmitchell commented on #75
Baptiste -- if you could test to see if this is still a problem that would be great. thx.

[2015-10-15 00:43] RDmitchell commented on #63
Baptiste - if you could test this to see if it's still a problem that would be great -- I think it might be fixed, but not sure. You could just make a test file with a few records in it from the standard PM sample data (512 records) and set up the data to emulate the problem described in this issue. thx.

[2015-10-15 00:43] RDmitchell commented on #48
I think this has been fixed. I am closing this issue

[2015-10-15 00:43] #48 closed

[2015-10-15 00:46] RDmitchell commented on #126
Baptiste -- see if you can reproduce this. Hopefully the description gives you enough information to modify the 512 sample data to replicate the situation. thx

[2015-10-15 01:02] RDmitchell commented on #385
Nick -- is this done? Can we close this issue?

[2015-10-15 01:03] RDmitchell commented on #359
Am closing this issue, as we implemented this first cut.

[2015-10-15 01:03] #359 closed

[2015-10-15 01:04] RDmitchell commented on #179
Still need to test with live PM account -- Robin to follow up with EPA to set this account up.

[2015-10-15 01:05] RDmitchell opened #436 "Set up PM live test account for PM Web Services connection"
EPA said this was fine -- need to follow up with them to get it going.

[2015-10-15 01:06] RDmitchell commented on #170
See if this is still a problem

[2015-10-15 01:23] RDmitchell opened #437 "APIs should return correct status codes"
The api endpoints are all returning incorrect status codes. That may be something we need to handle on a larger scale.

[2015-10-15 02:33] nicholasserra commented on #437
Want me to just start hunting and fixing?

[2015-10-15 02:45] RDmitchell commented on #437
We should make a plan, because probably an infinite amount of time could be spent working on this. So we should decide a level of effort (ie, spend xx hours on this task) and then try to figure out where it would be most useful to get status codes. We may want to get Nick Long (and Miles?) into the conversation. Rich and I are going to try to figure out tomorrow who should do what for the December

[2015-10-15 04:14] nicholasserra commented on #437
I don't think there's that many API endpoints that the FE code directly deals with. I could at least get a list, and see what the javascript is doing with responses. I haven't looked yet, but i'd bet that they're not handling error cases, which will be triggered if I change everything to give back 400s.

[2015-10-15 05:50] RDmitchell commented on #437
Yes that sounds like a good start.
On Oct 14, 2015 9:14 PM, "Nicholas Serra" <notifications@github.com> wrote:

[2015-10-15 14:23] mmclark commented on #437
Agreed

On 10/14/2015 10:50 PM, RDmitchell wrote:

[2015-10-15 16:39] RDmitchell commented on #437
Nick -- go ahead and start on this.

[2015-10-15 16:44] RDmitchell commented on #424
See PR #426

[2015-10-15 17:06] RDmitchell commented on #423
I am still seeing the old colors, even when I do an incognito window

![image](https://cloud.githubusercontent.com/assets/6314950/10521376/584216a8-7324-11e5-934a-27a5948d2fa0.png)

[2015-10-15 17:33] RDmitchell commented on #383
Baptiste -- testing this has higher priority than the other issues in your queue-- I set it to "1"

[2015-10-15 20:36] RDmitchell commented on #423
I see them now, after Miles did his magic. I think allowing the users to pick the colors is going to be something we will want to add in the future. I will make an issue for it, but not assign it to anyone -- it will probably be for later in FY 2016
![image](https://cloud.githubusercontent.com/assets/6314950/10526780/aadfbd62-7341-11e5-98be-5cdd3030b83e.png)

[2015-10-15 20:36] #423 closed

[2015-10-15 20:39] RDmitchell opened #438 "Reporting - User control over various aspects of plots"
We can continue to add to this list over time, and then decide when to implement these changes (maybe the May 2016 release, maybe after that).

User control over:
- Fields to plot (X and Y) from a list of fields in their data
- Colors for different years
- Definition of criteria for selecting data (what fields to use for criteria, what the criteria should be).

[2015-10-15 20:41] RDmitchell commented on #438
* User defined data to appear in the popups for scatter plot (such as Tax Lot ID, or whatever).

[2015-10-15 21:01] nicholasserra commented on #437
This really isn't too bad. I'm mainly cleaning up FE code, and reworking the ajax_request decorator to handle the different status outputs. Should also be able to drop a dependency when i'm done.

[2015-10-15 21:06] RDmitchell commented on #437
Great !!! And dropping dependencies is also good.

[2015-10-15 22:05] RDmitchell opened #439 "Mapping -- storing mapping results in cache"
Every time the mapping button is clicked, the results of the mapping are stored in the database under seed_buildingsnapshot. If the mappings are not saved, the results are still stored. I suggest we store the mapping results in the cache to save space/time.

preferable we update the serializer to allow for unpickled data (i.e. JSON data) to be stored

(RM -- I am adding this issue based on our Oct

[2015-10-15 22:06] RDmitchell commented on #291
Am closing this issue and replacing it with #439

[2015-10-15 22:06] #291 closed

[2015-10-16 01:30] RDmitchell opened #440 "Update copyright notice on all code"
Rich to get the language from LBL / DOE legal then need to implement it.

[2015-10-16 01:37] danielmcquillen opened #442 "Write unit test for simple_modal_service"
Write a set of unit tests for the Angular service simple_modal_service.js

[2015-10-16 16:51] nicholasserra opened #443 "Add JS tests to travis build"
Best I can tell, there are failing JS tests in develop. They do not seem to be ran on travis builds, but should be.

[2015-10-16 17:30] nicholasserra opened #445 "Normalize BE endpoint success responses"
On the BE, it seems that two styles for status are used:
- `status`: `success` or `error` or `warning`
- `success`: `True` or `False`

We should pick one and stick to it. I'd opt for the boolean `success`. When this is normalized, also update the logic in the `ajax_request` decorator, as it currently handles both cases.

[2015-10-16 17:37] mmclark commented on #445
+1

On 10/16/2015 10:30 AM, Nicholas Serra wrote:

[2015-10-20 17:05] mmclark opened #450 "403 error posting to /data/upload/"
In the following commit:

https://github.com/SEED-platform/seed/commit/c014ef7efdbebc8fbe37dba15e055953ed184512

Attempting to upload a file through the browser UI triggers a call to /data/upload/, which is returning an HTTP 403.  The following URL is an example:

http://localhost:8000/data/upload/?csrf_token=undefined&csrf_name=csrfmiddlewaretoken&csrf_xname=X-CSRFToken&import_record=293&qqfilena

[2015-10-20 18:50] bravacheLBL commented on #187
This issue still exists in seedtest but not in seed. In seedtest, some numeric field (such as Total GHG Emissions or Field Parking Gross Floor Area to name a few) are treated as character strings. One good indicator of it is whether or not it is possible to filter a range of data.
In the main seed, it seems that the few fields I have checked are correctly set to numeric. Sorting and filtering work

[2015-10-20 23:53] danielmcquillen commented on #450
The issue was due to our upgrading to Angular 1.4.

Our Angular setup code in seed.js was looking for properties -- like csrftoken -- directly on the $cookies object. Meanwhile, in Angular 1.4, you need to use the get() and put() methods to get and set cookies values.

I've fixed in branch: https://github.com/SEED-platform/seed/tree/FixAngularUpdateIssues

[2015-10-21 00:07] danielmcquillen commented on #445
I'm curious about how the BE methods should work in the context of internal errors due to incorrect data sent from the FE.

If the FE passes correctly formatted but invalid data, would the server return a 400 Bad Request response, or perhaps a 422 Unprocessable Entity response, or would it return a 200 with "status":"error" (or whatever we standardize this string to).

I guess I'm confused about t

[2015-10-21 00:14] nicholasserra commented on #445
I didn't get too crazy with response codes in the other PR. I just wanted to get success vs failure working.

If there is an "error" condition, it will now respond with a 400. If there's no error, it's a 200. There is no longer a situation where you'll see a 'status':'error' and a 200.

[2015-10-21 00:17] danielmcquillen commented on #445
Ok, thanks Nick.

[2015-10-21 01:29] bravacheLBL commented on #75
I tried to import the data in the GDrive from Claudine's API test and it failed at get_column_mapping_suggestions. In SEED, the progress bar stops at 45% and then return an Unhandled Error 3.0 with the following trace:

"Traceback (most recent call last):
File \"/home/ubuntu/prj/seed-lbnl-v1.2.0/seed/tasks.py\", line 774, in _save_raw_data
cache_first_rows(import_file, parser)
File \"/home/ubuntu/

[2015-10-21 01:51] bravacheLBL commented on #63
I added a field "Note" with more than 256 characters in each rows and they were imported correctly without being truncated.

[2015-10-21 02:19] bravacheLBL commented on #126
I tried to match the two sample files (PF and covered building CSV) after deleting the address line for some records in both files.
The blank fields were not matched together and the resulting building data contained 82 additional master building (corresponding to a total of 20 + 62 blank fields in the original files)

[2015-10-21 14:32] mmclark commented on #428
Does the file have any sensitive data?  If not, can you attach it here.  I can try & duplicate the problem in my environment.

[2015-10-21 16:46] RDmitchell opened #451 "Angular update"
We have updated to Angular 1.14. This issue is to investigate any other migration issues other than what we have already discovered.

Here is the information from Daniel McQuillen:

I have updated Angular and its dependencies within SEED to their latest versions, as well as adding them to bower.json and thereby moving them into bower_components.

I fixed one bug that arose from this update today -

[2015-10-21 18:56] RDmitchell opened #452 "Column width control -- left checkbox should never expand"
Right now, when you pull on a column to expand it, the first thing that happens is that the checkbox field on the far left is expanded. That column should be static -- I don't think there is ever a reason for it to expand.

I will make a video to show the behavior.

[2015-10-21 19:00] RDmitchell commented on #452
Here is a link to a video which shows the behavior
https://drive.google.com/file/d/0B3fTKpZ9Dx7LNWlqSkE2dkkzbjQ/view?usp=sharing

Also, when fixing this, check the behavior in Chrome, Firefox, and Safari

[2015-10-21 20:28] RDmitchell opened #453 "seedtest -- Upload failed -- new dialog box"
![image](https://cloud.githubusercontent.com/assets/6314950/10649124/246e132c-77f7-11e5-8ed2-e9aea4734d4b.png)

Getting these error messages

24angular.js:12477 TypeError: s.is_initial_state is not a function
    at fn0 (eval at <anonymous> (https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js:13322:15), <anonymous>:4:483)
    at Object.expressionInputWatch [as get] (https://ajax.googl

[2015-10-21 20:30] RDmitchell commented on #453
Actually this seems to be happening with any file. Thought it was working earlier, but maybe I am wrong.

[2015-10-21 22:02] danielmcquillen commented on #451
Miles will be incorporating the FixAngularUpdateIssue branch into develop tomorrow.

[2015-10-21 22:07] danielmcquillen commented on #453
This will be fixed tomorrow when Miles updates seedtest with the latest develop (which merges my FixAngularUpdateIssues branch)

[2015-10-21 22:35] danielmcquillen commented on #428
This issue went away when I flushed and recreated my db
[code]
I'll note here if it shows up again.

[2015-10-21 22:46] #428 closed

[2015-10-22 00:58] danielmcquillen opened #455 "Remove javascript:void(0); in href tags"
The current FE code is sprinkled with href="javascript:void(0);" attributes (alongside things like ng-click) to indicate no link action needed.

This is causing errors in jquery, and the Angular docs seem to indicate that using href="", or even just not including an href attribute in the <a/> tag, is the best approach.

So we should decide which approach is best and update all FE code.

[2015-10-22 15:20] axelstudios commented on #455
Personally, I prefer HTML5 placeholder hyperlinks (where the href attribute is removed altogether).  It's [valid HTML5](http://www.w3.org/TR/html-markup/a.html#placeholder-hyperlink), but we will probably need to add a small amount of css to keep the hyperlink cursor:

[code]

[2015-10-22 16:31] nllong opened #456 "classify progress key and increment logic"
The return of the async tasks are not consistent. These need to be consistent and the increment method needs to be standardized.

[code]
vs
[code]

should be `cache.status`

[code]

should be something like--in such that cache is a class that is aware of how much to increment the progress by.
[code]

[2015-10-22 20:50] RDmitchell opened #457 "Increase timout for get_organizations"
Right now the program is timing out when trying to get the list of organizations

![image](https://cloud.githubusercontent.com/assets/6314950/10677862/b5563f8c-78c3-11e5-810b-da44d73fa9a7.png)

From Miles:
Looking at the code, it appears that the 60-second timeout is the default in angular. It looks like we'll need to update organization_service.get_organizations() in services/organization_service

[2015-10-22 23:05] danielmcquillen commented on #455
Just added that in. Links are now showing pointer rather than text cursor. Excellent.

[2015-10-28 17:45] RDmitchell opened #459 "Data Cleansing Report not working"
Assigned to @nllong

When I click on the Data Cleansing Report button in mapping, I get the error messages below. In the UI, nothing happens (ie, no error, and no display of the data cleansing dialog box).

This is on seedtest. I was using the Data Cleansing file that Claudine made, but I think it will happen with any file. Here is a link to the file
https://drive.google.com/open?id=0B3fTKpZ9Dx7LN

[2015-10-31 01:55] RDmitchell opened #461 "Add wildcards to filtering"
In any list where filtering is possible, allow user to filter based on wildcards, such as _PAR_ or _N_

[2015-10-31 02:33] RDmitchell opened #462 "Add wildcards to filtering"
In any list where filtering is possible, allow user to filter based on wildcards, such as _PAR_ or _N_

[2015-10-31 02:34] RDmitchell commented on #313
Nick Long dealt with this with some other importing issues. I tested on DC PM data that had the header lines and it imported without issue.

[2015-10-31 02:34] #313 closed

[2015-11-02 04:08] RDmitchell commented on #367
I have presented to several key users the idea of having one field instead of the min / max fields in the numeric fields for filtering, and they agree that it is fine to make that change, particularly if it results in more powerful filtering.

Here is a link to the start of a spec for this feature -- the main things to add would be more expressions, but I am assuming we can also do that over time,

[2015-11-02 04:10] RDmitchell commented on #367
Forgot to put the link to the spec
https://docs.google.com/a/lbl.gov/document/d/1ixrEDc7D7PWbFb1fZQbSbyWa_7py-bktvjE7VD7mP_E/edit?usp=sharing

[2015-11-02 04:31] RDmitchell opened #463 "Add Button to activate Filtering on List Views"
Currently, when entering criteria into the filter fields in the List views (building list, project list, matching list), the program instantly starts matching as you type the criteria. It is also sometimes quite "flakey" when filtering large data sets (1000+, which is not really large) -- you type in a filter criteria, the program doesn't do anything, you finally give up and delete the criteria, a

[2015-11-02 04:39] RDmitchell commented on #463
Here is the link to the spec -- very bare bones right now.

https://docs.google.com/a/lbl.gov/document/d/19K-NuaxzHy47XJQ8eCsV47unNPcIG2-QAr8iSbiwnxw/edit?usp=sharing

[2015-11-03 17:43] nicholasserra commented on #367
I wouldn't be surprised is this ended up taking a full week to implement. There's FE and BE changes, with the bulk on the BE. Will need to parse all those expressions. I'll probably start on this today at some point.

[2015-11-03 19:18] RDmitchell commented on #367
Ok, thanks Nick. If you can think of a better way to implement this, let me know.

[2015-11-04 20:14] RDmitchell opened #465 "Switch json field packages and fix filtering code"
Notes from Nick about the issue -- we can now fix the original workaround to deal with mapped fields that have no data.

            # If querying for empty matches, do a hack-y 'contains' query on
            # the json field to check if the field exists. We're checking
            # existence because empty mapped fields are not saved in the
            # extra_data json field if they contain no

[2015-11-04 20:15] RDmitchell commented on #465
Assigned to @nicholasserra

[2015-11-04 20:46] RDmitchell commented on #452
@juliecov -- are you able to work on this for the December release? We would need a pull request by approx Dec 4 -- do you think that is possible?

thx

Robin

[2015-11-05 01:27] RDmitchell opened #466 "Ability to split addresses apart (opposite of concatenation)"
Home Energy Score addresses have street address, city and zip all in one field. For now, SEED users importing that data will split it out by hand, but would be nice if the program could de-concatenate a field in that situation.

[2015-11-05 01:29] RDmitchell opened #467 "Add HES as File Type on import"
Add Home Energy Score as a File Type to select when importing data. In the future, this might be useful in creating some heirarchy for the HES data that comes through as a flat file but is actually heirarchical.

[2015-11-05 01:31] RDmitchell opened #468 "Assign file type to data already imported"
Add ability to add the file type (Portfolio manager, Home Energy Score, etc) to a data file that has already been imported. This might be needed for data that already exists but needs to be reorganized in the database after the fact, based on adding heirarchy to files that come in flat.

[2015-11-06 01:12] RDmitchell opened #471 "Filtering in Building list is Flakey !"
Filtering records in the building list can be very flakey. I have made a video which I will reference in this issue that shows the problem. Users have also reported it. When you enter a filter into a field in the Building List the program will display the correct number of records sometimes, but other times it shows other records that don't match the filter, and many times it shows several interme

[2015-11-06 01:19] RDmitchell commented on #471
Here is a link to the folder for this issue, which has a recording that shows the problem, as well as some data files to upload to get a good chunk of records in. I may make another video explaining the dataloading and mapping, so that doesn't turn into an ordeal.

https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LUzQtbXB2dU5md1U&usp=sharing

[2015-11-06 02:21] RDmitchell commented on #471
I added another video showing how to set up the mapping, etc when importing the data files. I did all this on seed (seedtest is down right now).

[2015-11-06 02:22] RDmitchell commented on #471
Two videos:

* Issue 471 - Importing Data.swf
* Issue 471 - Flakey Filtering.swf

[2015-11-07 01:49] RDmitchell commented on #237
Am closing this issue because we are doing something much different with the labels/tags feature - see #434

[2015-11-07 01:49] #237 closed

[2015-11-10 10:38] danielmcquillen opened #473 "Remove less .js library"
We need to remove the less .js library for licensing reasons, but also because it's not a good approach to to compile the .less file in the browser.

So in addition to removing less-1.5.0.min.js, this issue should
- move the .less file to .scss
- switch base.html to include the .css directly
- add a Gulp file to watch the .scss and compile to .css
- make sure the most recent .css is checked in
- a

[2015-11-10 18:51] RDmitchell opened #474 "Update infinite scroll code"
Update our existing ng-infinite-scroll.min.js with the latest version

https://github.com/sroze/ngInfiniteScroll/blob/master/build/ng-infinite-scroll.min.js

which has this license

https://github.com/sroze/ngInfiniteScroll/blob/master/LICENSE

[2015-11-10 22:21] wanghp18 opened #475 "Map the data stuck at 0% on AWS Deployment"
Hi,

I followed the instruction in docs/source/AWS.setup.rst using the latest SEED code.

The website is successfully deployed and I can access it. I used the sample CSV file of covered-buildings-sample to test the map/matching, the site recognized there are 512 buildings, and I can adjust the duplicated fields, but when I clicked the Map the data button, it stuck at 0%.

Any help will be apprecia

[2015-11-11 00:40] rebrownlbnl commented on #475
Is the Celery task queue running?
See the instructions here:
https://github.com/SEED-platform/seed/blob/master/docs/source/LINUX.setup.rst

[2015-11-12 04:37] RDmitchell commented on #317
@nicholasserra -- can you see if this is still an issue, and if it is, propose a way to deal with the address ranges without whitespaces. I created the issue above, but I believe it was emailed to me by another developer.

If it is useful, there is a set of data associated with this issue that has several records with address ranges. In general they are well formed, although one does not have whit

[2015-11-12 04:40] RDmitchell commented on #317
@nicholasserra -- can you investigate if this is still an issue, ie, dealing with white space in address ranges. I made a set of files that have address ranges, and do match 1:1, and the program matches them without issue on just address. They are formatted exactly the same, so maybe that is not a good test. You could potentially start with those files (in the link below, starting with "matched")

[2015-11-12 04:42] RDmitchell commented on #317
Link to sample files
https://drive.google.com/open?id=0B3fTKpZ9Dx7LUlQyUG9YZkQ2aDQ

The two files with the prefix "matched" have 1:1 matching on address line 1

[2015-11-12 05:48] nicholasserra commented on #317
Those are some nasty addresses. Anything is possible, just need to write regex to handle odd cases. Can you give me what you think the normalization output should be for those example addresses?

[2015-11-12 16:44] wanghp18 commented on #475
Hi Rich,

Thanks for your response.

I think the Celery task queue is running. Here is the celery log at the
stuck time:

[2015-11-12 08:42:27,703: INFO/MainProcess] Task
seed.tasks.map_data[c2d0718a-cf60-4529-b5c4-2ccab820c7a4] succeeded in
0.00139185797889s: None
[2015-11-12 08:42:27,704: INFO/MainProcess] Received task:
seed.tasks._map_data[30547f65-8c7f-4aa6-9f58-31a94d19e52f]
[2015-11-12 08:4

[2015-11-12 16:49] nllong commented on #475
can you post your command for starting celery? I have a feeling that it may be slightly out of date. For celery 3.1 I use the command:

[code]

Also, are you upgrading from celery 3.0 to 3.1?

[2015-11-12 17:02] nllong commented on #274
@rHorsey committed this with PR #469

[2015-11-12 17:03] RDmitchell commented on #451
This is done and can be closed

[2015-11-12 17:03] #451 closed

[2015-11-12 17:10] wanghp18 commented on #475
Hi Rich,

I installed both django-celery (3.1.16) and celery (3.1.18). The celery and
PostgreSQL are installed locally in the AWS instance, I don't want to use
AWS RDS and ElastiCache service for saving the cost.

I used your command to start the celery, here is some screen shots:

​

but the log still shows the error when I run Map the data, and the percent
is stuck at 0:

​
Haopeng

On Thu, Nov

[2015-11-12 17:12] RDmitchell commented on #385
Please test this

[2015-11-12 17:14] RDmitchell commented on #435
There are enough IDs added that we can do testing. It is integrated into Travis CI testing

[2015-11-12 17:14] #435 closed

[2015-11-12 17:30] nllong opened #477 "fix readthedocs"

[2015-11-12 19:03] RDmitchell commented on #274
Am closing this issue

[2015-11-12 19:03] #274 closed

[2015-11-12 19:56] RDmitchell commented on #471
@danielmcquillen
Am assigning this to Daniel, as it appears to all be on the FE and he is going to make the change with activating the filter with a button.

[2015-11-12 19:57] RDmitchell commented on #465
Am assigning this to myself for testing

[2015-11-12 20:04] RDmitchell opened #478 "Delete organizations"
Add ability in the Superuser Admin screen to delete organizations and all their associated records, as long as another organization or sub organization is not also part of that organization and able to see the data.

[2015-11-12 21:20] RDmitchell commented on #317
Looking at some data samples (CoStar real estate data that cities import into SEED, as well as other city data), it seems like the standard might be <number><hyphen><number> without spaces, so that any hyphenated address range value would be normalized to not contain spaces before and after they hyphen for the matching comparison. And the characters in the example in this issue would get resolved

[2015-11-12 21:23] nicholasserra commented on #317
Yeah. The more specifics, the better. Aka

This -> should be this

`123 SW Main` -> `123 sw main`
`300-22 S Green St #house:300-22` -> `300-22 s green st house 300-221`

Etc

[2015-11-12 21:30] dnfehren-elevate commented on #317
Those were my examples based on addresses I've seen in Chicago, the # signs
might be confusing the issue here, they are showing the output of the
parser when it encounters those formats, not a part of the raw address
string. I've added output examples instead. The output below would be what
I would expect but I'm not sure what works best in terms of SEED
developement.

322 S Green St -> house_star

[2015-11-12 21:33] RDmitchell commented on #317
Thanks Dan for jumping in. I thought you were the person who was originally talking about this so thanks for clarifying.

And addresses with spaces in the address range would get the spaces deleted during the normalization / comparison step:

300 - 302 S Green St -> 300-302 s green st

[2015-11-14 02:55] RDmitchell opened #479 "Address Matching -- Suites, Apts, etc"
For address matching, make sure we are dealing with the cases where addresses have Apt #, Suite #, etc. These can be alpha or numeric

Abbreviations used:

STE (suite)
#

APT
Unit
FL (floor)

Examples -- Seems like these should all match (?):
555 MAIN RD STE 110
555 MAIN RD # 110
555 MAIN RD APT 110
555 MAIN RD Unit: 110
555 MAIN RD FL 110

[2015-11-14 02:56] RDmitchell commented on #317
Another wrinkle in an address, not sure how it should be interpreted in terms of matching, but found it in real data

110/120/130 First Street, SW

[2015-11-14 03:02] RDmitchell opened #480 "Handle multiple data elements in matching field"
See the specification
https://docs.google.com/a/lbl.gov/document/d/1ecDCeNg7Yb3hPhPdVfuN5R9WxC2ZD7LCfwnmTUSIR3s/edit?usp=sharing

[2015-11-18 00:44] RDmitchell commented on #457
this is fixed

[2015-11-18 00:44] #457 closed

[2015-11-18 02:51] RDmitchell opened #482 "Upgrade to Bootstrap 3.3.5, JQuery, etc"
Email from Alex 11/16/2015

I would definitely recommend v3.3.5 (v3.1.1 is from early 2014).  I think JQuery is another candidate that needs updating – v1.8.0 is from 2012.  Even the old Bootstrap v3.1.1 requires JQuery v1.9.1 minimum, so it’s fortunate that we haven’t hit an incompatibility in practice.

I would also recommend moving away from the CDNs and adding Boostrap, font-awesome, JQuery, J

[2015-11-18 02:51] RDmitchell commented on #482
Alex -- go ahead and issue a PR for your branch to get it into Develop. Miles will merge it this weekend.

[2015-11-18 17:24] pipermerriam commented on #317
@RDmitchell I've got a working version of this that covers what should be the lion's share of the address range formats.  Should catch anything with two numbers, separated by whitespace or `-,/,\` and will expand the second number if it appears to have left off a leading digit (`125-45 => 125-145`)

I looked through the linked google documents and this implementation should handle all of the cases

[2015-11-18 17:49] RDmitchell commented on #317
Great ! go ahead and do a pull request and Miles will merge your changes into develop over the weekend so we can do some testing on the seedtest instance

[2015-11-18 18:13] pipermerriam commented on #317
PR can be found here https://github.com/SEED-platform/seed/pull/483  onto 480

[2015-11-18 18:31] pipermerriam commented on #480
@RDmitchell Do you have a file with building data that I could use for testing purposes while I work on this feature?

[2015-11-18 18:35] RDmitchell commented on #317
Right ! I saw it in my email queue right after I made this comment !
I am assigning this to Baptiste for testing. Thanks !!

[2015-11-18 18:36] RDmitchell commented on #317
@bravacheLBL -- I am assigning this to you for testing next week (Nov 23) after Miles merges the code in over the weekend. Thanks !

[2015-11-18 23:17] nllong commented on #475
Are you able to load one of the example files? For example [this one](https://github.com/SEED-platform/seed/blob/develop/seed/tests/data/covered-buildings-sample.csv).

[2015-11-18 23:19] nllong commented on #459
This can be closed as it has been merged. There is another PR out but it is cosmetic.

[2015-11-18 23:19] #459 closed

[2015-11-19 02:06] mmclark commented on #475
Where are you saving imported files?  To S3 or to the local file system?

[2015-11-19 17:19] RDmitchell commented on #180
close and refer to 181

[2015-11-19 17:19] #180 closed

[2015-11-19 17:32] RDmitchell commented on #239
Test the progress bar functionality on seedtest (after PR 456 is merged) and depending on results of testing, close this issue

[2015-11-19 17:34] nllong commented on #477
edwin lee is looking into this

[2015-11-19 17:42] RDmitchell commented on #437
@nicholasserra - can we close this issue?

[2015-11-19 17:53] nicholasserra commented on #437
I think this iteration of it is done, so yes.

[2015-11-19 18:07] RDmitchell commented on #67
This is working - program shows all the fields -- not sure this is the best final solution but it is much better than it was and can be refined over time. Am closing

[2015-11-19 18:31] RDmitchell commented on #437
am closing

[2015-11-19 18:31] #437 closed

[2015-11-19 19:41] wanghp18 commented on #475
Hi Nicholas,

I used covered-buildings-sample.csv for the test, and have this problem...

Thanks,
Haopeng

On Wed, Nov 18, 2015 at 6:17 PM, Nicholas Long <notifications@github.com>
wrote:

[2015-11-19 19:42] wanghp18 commented on #475
Hi Miles,

I use local file system to save the imported files.

Thanks,
Haopeng

On Wed, Nov 18, 2015 at 9:06 PM, Miles Clark <notifications@github.com>
wrote:

[2015-11-19 19:58] RDmitchell commented on #480
Sample files for this issue can be found here
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LSjRzRGxMTnlmaUk&usp=sharing

[2015-11-20 19:23] RDmitchell commented on #367
@bravacheLBL -- am assigning to you for testing next week once Miles has merged the PR for this issue onto seedtest

[2015-11-20 19:25] RDmitchell commented on #456
@bravacheLBL - am assigning to you for evaluating the behavior of the progress bar as you do general testing next week after this PR has been merged onto seedtest

[2015-11-23 00:20] #390 closed

[2015-11-23 18:51] RDmitchell commented on #317
I am reopening this issue for Baptiste to test

[2015-11-24 14:39] mmclark commented on #473
PR #476 removed the less .js file, but the landing/templates/landing/base.html template still contains a less file, which breaks the landing page under development.  @axelstudios may be the right person to look at this, since he submitted the PR.

[2015-11-24 15:37] axelstudios commented on #473
@mmclark I actually fixed that yesterday https://github.com/SEED-platform/seed/commit/fac94c46c429f942b68e2ecefe33591dc80a00e1

While I was monkey testing to see if anything else was broken in the upgrade, I found a number of bugs that have been there since the initial commit.  I've fixed most of them, but there's a few more that I found that I'd like to fix before issuing this PR.

[2015-11-24 15:57] mmclark commented on #473
Great - thanks.  I put less.js back into seed/base.html from CDN as a quick fix.  That should be removed as part of your PR whenever you're ready to submit it.  I'm happy to do that however if it makes more sense.

[2015-11-24 16:24] nllong commented on #475
@wanghp18 Have you had any luck getting this working?

[2015-11-24 18:31] RDmitchell opened #488 "Restore Address Concatenation in Mapping"
The Mapping screen used to have a "concatenation" button, which allowed users to combine two or more fields into one. This was used primarily for the case where the city data for address was broken up into multiple fields, for example a separate field for street number, street name, street suffix, etc.

This feature was very buggy, and so we decided to "hide" the button until we could get time to

[2015-11-24 22:18] RDmitchell commented on #482
@axelstudios -- we can close this, right?

[2015-11-24 22:34] axelstudios commented on #482
Once #489 is merged, then yes.  I had to do a deeper review of the changes, and I found of number of other things that needed updating or to be fixed.  The PR is ready for review now.

[2015-11-25 01:35] RDmitchell commented on #474
@mmclark -- do you think you have time to do this by the Dec release? Or maybe you have already done it, in which case I can close this? thx !

[2015-11-25 02:58] RDmitchell commented on #480
am assigning this to myself for testing

[2015-11-25 15:58] mmclark commented on #474
Yes, I'll definitely have it done in the December release timeframe.

[2015-11-25 21:12] #482 closed

[2015-11-26 00:42] RDmitchell commented on #434
Here is a link to the spec
https://docs.google.com/document/d/1_I8YxZl_RSmyVXYJVSra5CEkUnS_ghnlTn_GZWxLdjo/edit?usp=sharing

[2015-11-29 00:26] bravacheLBL commented on #383
In Seed Test, the negative values remains negative and are being spotted by the cleansing app correctly.
In the main Seed, the negative values are stripped of the '-' to become positive and are not declared by the cleansing report (and rightfully so, since the positive values are correct).

[2015-11-29 22:39] danielmcquillen opened #490 "Warning message doesn't clear on "Create New Project""
If you select a couple bulidings in the Building List view, and then try to "create a new project" for a project that already exists, you get a warning in the dialog. This is good.

However, if you close and then relaunch the dialog by select "create a new project" again, you still see that warning in the dialog. This isn't good.

[2015-11-30 07:58] bravacheLBL commented on #367
This seems to work well for numeric values and simple formula: <, >, =, >=, <=

I wasn't able to make multiple filter work, whether it is with "," "||" or "OR". I believe it has not been implemented. Same thing about !"", that I assumed meant "Everything but ...", it didn't work and returned no results.

Thanks

[2015-11-30 14:50] mmclark commented on #474
To clarify - ng-infinite-scroll.min.js used to exist in seed/static/vendors/ng-infinite-scroll, but was removed due to a licensing issue.  You'd like the updated version referenced above to be placed in the same location - correct?

As a side note - ng-infinite-scroll.min.js was removed in this commit:

https://github.com/SEED-platform/seed/commit/fac94c46c429f942b68e2ecefe33591dc80a00e1

and does

[2015-11-30 19:03] bravacheLBL commented on #385
I used Claudine's cleansing test sample to test this.

Cleansing work for the in-range test for fields with numeric values. It also works for the missing matching field test, although the error reported is "Value is missing", when the google doc example had "Building is missing matching field".

The cleansing didn't detect the following errors/warnings inserted in the dataset:
- Missing non-matchi

[2015-11-30 19:14] bravacheLBL commented on #385
This test revealed another issue though: in her test sample, Claudine had put dates in the fields for Year Ending and Year Built (format 01/01/2000). For Year Built, those dates were stripped off the "/" to become big numeric (01012000), while for Year Ending, the dates were correctly remaped as dates.

The In-range test for Year Built actually worked, even though all buildings in the file had an

[2015-11-30 20:16] Myoldmopar commented on #477
@RDmitchell,  as per the [comment](https://github.com/SEED-platform/seed/issues/477#issuecomment-158129867) above, my esteemed coworker @nllong has asked me to work on generally improving the documentation and fixing the RTD support for this repo.  I had a few questions and thoughts and wondered if I should air them out here or if you'd prefer to chat via any other method.  Thanks!

[2015-11-30 20:18] RDmitchell commented on #477
You can send me an email to start the conversation, RDMitchell@lbl.gov

[2015-11-30 21:32] pipermerriam commented on #367
@bravacheLBL

To query for emptiness, you would use any of the following expressions.

- `=null`
- `==null`

And to exclude empty values

- `!null`
- `!= null`
- `<>null`

To query using multiple expressions, separate them with a comma.  There is no support for custom rules like AND/OR statements.  All expressions are AND'd together, so results match all provided expressions.

Hope that helps your

[2015-11-30 21:57] bravacheLBL commented on #367
Thanks,
The AND statement works. I doubt an OR statement could be useful.
For the !"" it works for empty values, but it might be interesting to be able to filter out a given string also (for example filtering out a city or a use description by having "! Commercial").

[2015-11-30 22:05] pipermerriam commented on #367
The current functionality only applies to numeric fields.

[2015-11-30 22:10] RDmitchell commented on #367
so is the "" and !"" functionality only for the non-numeric fields?

[2015-11-30 22:12] RDmitchell commented on #367
The idea of using ! for filtering out strings is a nice idea. I will make another issue for it, probably for January or later.

[2015-11-30 22:14] pipermerriam commented on #367
@RDmitchell I apologize if I missed part of the requirements, but I wrote this with only numeric fields in mind.  I think all of the examples were numeric so I assumed numeric filtering only.  I think the way it's implemented will end up working for some select non-numeric based queries.  Extending this to work for non-numeric fields will be **really** easy, so feel free to create and assign that

[2015-11-30 22:14] RDmitchell opened #492 "Filtering tweak to filter out particular strings"
From Baptiste #367 --  For the !"" it works for empty values, but it might be interesting to be able to filter out a given string also (for example filtering out a city or a use description by having "! Commercial").

[2015-11-30 22:17] RDmitchell opened #493 "Review Label Spec"
Here is a link to the spec
https://docs.google.com/document/d/1_I8YxZl_RSmyVXYJVSra5CEkUnS_ghnlTn_GZWxLdjo/edit?usp=sharing

[2015-11-30 22:17] RDmitchell commented on #493
@pipermerriam -- have assigned this formally to you

[2015-11-30 22:21] RDmitchell opened #494 "Work on BE of Labeling Feature"
Work with Daniel on the back end of the labeling feature. See #493 for the spec.

@pipermerriam -- I am assigning this to you.

Thanks !

[2015-11-30 22:23] RDmitchell commented on #367
I think it's fine for now for it to apply to numeric fields. I will make an issue for you to extend it to non-numeric fields, after we get the majority of the features done for the Dec 18 release. I will set it to priority = 2

Thanks !!

[2015-11-30 22:25] RDmitchell opened #495 "Extend the work for min/max fields to non-numeric fields"
Extend the work done for numeric fields #367 to non-numeric fields. This can happen after we get the majority of the Dec 2015 release work completed, and then we can decide whether it goes into the Dec release or the Feb release.

@pipermerriam - I am assigning this to you.

Thanks !

[2015-11-30 22:26] RDmitchell commented on #367
Just made issue #495 for this, prioirty = 2 after the other priority = 1 issues. Thanks as always !

[2015-11-30 23:18] pipermerriam commented on #494
@RDmitchell there has been talk of using Django Rest Framework in this project.  I think I can do this feature quicker using that framework as well as establishing an example implementation of how to do API endpoints using DRF.  Thoughts?

@danielmcquillen if I get a green light on this, I'll probably make some modifications to the format of the data that goes into the API endpoints and PR the rel

[2015-12-01 01:02] danielmcquillen opened #497 "Problem with get_cache()"
I noticed an issue with the get_cache() method in utils/cache.py.

To recreate on seedtest: select one or two building in the Building List and then select "Create a new project" from the pulldown.

The server will return a 500 error, as within the get_cache() method a Key Error occurs. It looks like on line 47 the code is trying to set data['status'] but that property doesn't exist at that point

[2015-12-01 01:25] RDmitchell commented on #497
@axelstudios -- I just assigned this to you, as you were working on the caching.

[2015-12-01 01:30] RDmitchell commented on #383
@nllong, @mmclark  -- any idea why there is a difference between the results Baptiste is getting between the seed and seedtest environments?

[2015-12-01 01:31] danielmcquillen commented on #493
Piper has suggested doing a more proper API for the new label methods using a library like Django Rest Framework. If the team thinks this makes sense, I'm fine with updating the FE to accomodate the new API.

[2015-12-01 01:33] RDmitchell commented on #493
This sounds good to me, but I would hope that a few other developers would chime in by tomorrow, so that Piper can get started.

[2015-12-01 01:42] rebrownlbnl commented on #494
I thought there was some discussion about not wanting to piecemeal switch over to DRF, that it should be done all at once?
I like the idea of doing an example implementation for one endpoint(s) to see how it goes, if it doesn't introduce more inconsistencies between endpoints.
@nllong were you cautioning against doing the incremental switch?

[2015-12-01 01:50] RDmitchell commented on #494
or possible @nicholasserra was cautioning about the incremental approach?

[2015-12-01 02:01] rebrownlbnl commented on #474
Thanks for asking about this.
The original request in this issue has been superceded by the commit by @axelstudios that you mention.
We decided to remove all these javascript libraries from SEED repo and have the end-user manage them through bower (or gulp, etc.).

If ng-infinite-scroll is not used in SEED anymore, we should probably remove it from the dependencies. Probably vestigial -- the depen

[2015-12-01 02:05] pipermerriam commented on #494
Interesting.  I would highly recommend an iterative approach.  Huge refactors like that are problematic in my experience.  Since these endpoints are *new* this seems like a nice place to start if the developers are ok with this.

For reference, I have  a **ton** of DRF experience and would plan on doing this in the simplest way possible so that it's an easy reference for other endpoints if we chos

[2015-12-01 02:09] RDmitchell commented on #367
Adding the capability for multiple filters is probably something users will want, but I am going to put that onto a later version, probably the June version (at least for now). I will make an issue for it and put the milestone as June 2016. We can work on it earlier if we have the time and the resources.

[2015-12-01 02:11] RDmitchell opened #498 "Expand filtering to include multiple criteria"
From @bravacheLBL relative to issue #367
add feature for multiple filters, whether it is with "," "||" or "OR"

I think users will want this. I have set this for the June 2016 release. We will need to put together a spec and then implement it.

[2015-12-01 02:15] rebrownlbnl commented on #494
Could you post some more information about how you would implement this in DRF?
The potential downsides seem to be that
1) the affected endpoints could behave differently than other "standard" SEED endpoints, causing confusion, or
2) other endpoints break somehow from this change.
Any other risks to be aware of?

[2015-12-01 02:34] pipermerriam commented on #494
I would like to make the new endpoints in a more REST-ful manner.  Use of `POST/PUT/GET/DELETE` http verbs for Create/Update/Retrieve/Delete operations.  Similarly, I'd like to use proper response status codes for responses rather than a `{"status": "success"}` json response and always returning a 200 status code.  These changes would require very minor modifications to the Frontend code that is a

[2015-12-01 02:49] danielmcquillen commented on #494
If we are going to do a test, I'd agree with Piper that this seems like a nicely decoupled place to do it.

Piper, would you apply REST principles to just the Label CRUD or would you also modify the method that applies/removes labels to buildings (since I'd imagine that's just a bit farther reach)?

And would using DRF require a change in BE method documentation format (i.e. structuring comments i

[2015-12-01 02:52] pipermerriam commented on #494
I'd plan on using DRF for both, but the multi-building-update would still look largely the same but with DRF wrapping the functionality.  This gives two nice examples for people to reference.  One that leverages the built-in CRUD capabilities, and one that shows how to implement a very custom API endpoint.

[2015-12-01 02:54] RDmitchell commented on #494
I think the concern on the call was moving to REST for the existing APIs. Since this is a new section, it seems to me that it is worth doing as a test of the concept and to see if there are any unforseen ramifications, as Daniel mentions. I would vote for doing it. Rich, you should weigh in based on this new information.

[2015-12-01 03:00] nicholasserra commented on #494
In my opinion, correct request methods (POST, PUT, etc) and correct status
codes are just called good programming. Not really any choice there.

So i'm +1 with doing the correct requests/responses for these new endpoints.

I'm +0 on DRF on these. I don't like things piece by piece when it comes to
api stuff, especially since DRF seems like it's more for building an entire
api resource. But if you

[2015-12-01 07:56] rebrownlbnl commented on #494
Thanks everyone for weighing in.

Overall this seems pretty low risk, and I do see us moving to DRF in the
future so this will be a good test.
I hear Nick Serra about not mixing API styles, but I think the benefits
outweigh the drawbacks.
Let's go with Piper's approach.

[2015-12-01 15:24] mmclark commented on #494
I would agree.  There was some talk in the last developer's call about possibly using DRF for a v2 of the API (in parallel with the existing v1).  It seems like this is a good first step towards that.

[2015-12-01 15:27] mmclark commented on #474
I may be missing something, but I see no reference to ng-infinite-scroll or ngInfiniteScroll in the dependencies.  Where is it referenced?

[2015-12-01 15:32] mmclark commented on #383
Not sure.  I just verified that the code from PR #429 is running on seedtest.  That PR was merged after the last release to SEED, so it shouldn't be there.

[2015-12-01 17:10] nllong commented on #383
this could be an issue between emdashes and endashes vs hypens.

This [line](https://github.com/SEED-platform/seed/pull/429/files#diff-f8db5c9285867533c345968f5fac06a7R15) looks to replace only hyphens. Is there a small chance that the file that is being uploaded has emdashes or endashes as the negative?

Or maybe the uploaded file's encoding is changing when saving to S3?

[2015-12-01 17:15] RDmitchell commented on #383
So this is my bad, not paying enough attention to the issue and the PRs -- I think the behavior that Baptiste is seeing is correct.

seedtest doesn't have the problem, ie, the fix from PR 429 is working
seed does have the problem, because the latest develop code, including PR 429 is not on this production server yet.

So I think we are good. When all the PRs are incorporated into Master and put on

[2015-12-01 17:23] mmclark commented on #383
Yes, that should address the issue on SEED

[2015-12-01 17:31] pipermerriam commented on #493
Based on the conversation in https://github.com/SEED-platform/seed/issues/494 the backend component of Labels is going to be implemented using Django Rest Framework.  Motivations for this are that it is new functionality which reduces some of the risk, as well as providing a somewhat simple example implementation for future development using this framework.

[2015-12-01 17:33] pipermerriam commented on #494
@StephenCzarnecki According to an email I was forwarded, you may have started some work on migrations for labels.  Is there a branch where I can view this work?

[2015-12-01 17:49] RDmitchell opened #500 "Label feature database migration"
This issue is for migrating the current Project label structure into the new label structure

[2015-12-01 17:53] #169 closed

[2015-12-01 17:53] #105 closed

[2015-12-01 17:59] rHorsey commented on #497
This should be me. Robin, can you assign me to this? Thanks!

[2015-12-01 18:05] RDmitchell commented on #497
@rHorsey -- assigned to you ! thx

[2015-12-01 18:06] rebrownlbnl commented on #474
Sorry, I was being loose with the term "dependency" -- I was just generically referring to 3rd party packages that we either link to or distribute through our repo. In the case of ng-infinite-scroll, it was directly distributed through our repo, but at some point whatever code actually used that library was removed, so I think we can remove all references to it now.

[2015-12-01 18:45] RDmitchell commented on #495
We should make sure an be consistent between text and numeric fields in terms of the filtering criteria. For text strings we will want to keep the "XXX" option, etc. And does this then carry over to the numeric fields?

@pipermerriam -- when you get to this can you make a list of all the criteria that you will be implementing for both so that we can do a quick review? thx

[2015-12-01 18:48] RDmitchell commented on #495
Right now the user, just looking at the mapping screen and the names of the fields, does not know which fields are numeric and which are strings, so another reason to be consistent in our filter criteria between the two.

[2015-12-01 18:57] rebrownlbnl commented on #494
Let me know if this is overly ambitious, but I think it's worth writing down a few guidelines here for implementing the revised API:

1) use only HTTP verbs wherever possible (`POST/PUT/GET/DELETE`),
2) endpoint names should be plural nouns,
3) use proper HTTP response codes (can we define what is proper behavior in some ambiguous cases, like when you try to create a resource that already exists?)

[2015-12-01 18:58] pipermerriam commented on #494
I'd like to focus on the implementation first to be sure that deadlines don't get missed, and then backfill this spec information.  Is that ok?

[2015-12-01 18:59] pipermerriam commented on #494
If there are no objections, I would like to go ahead and namespace these new urls under `/v2/`.

[2015-12-01 19:03] RDmitchell commented on #473
@axelstudios -- I am assigning this to you, since it seems you are doing the work.

[2015-12-01 19:10] StephenCzarnecki commented on #494
Hi

I replied in another thread, the one with subject "SEED -- Review (and
possibly implementation) of Label feature backend proposal"

On Tue, Dec 1, 2015 at 9:33 AM, Piper Merriam <notifications@github.com>
wrote:

[2015-12-01 19:11] rebrownlbnl commented on #494
I think that's fine to implement this as a "proof of concept" for new APIs, and complete the spec later. In that case, let's save `v2` for our complete future set of APIs, and let's version this interim API `/v1/' (or `/v1.3/` if we want to be consistent with the SEED release numbering, since we plan to increment to v1.3 with the December release).

[2015-12-01 19:26] pipermerriam commented on #494
@rebrownlbnl  Rather than namespace these all by themselves, I think I'd opt towards just creating them in the same style as the current urls, and they can be migrated to the `/v2/` namespace when this approach gets formalized.  How does that sound?

[2015-12-01 20:11] mmclark commented on #474
Ok - makes sense.  Agreed.

[2015-12-01 20:21] rebrownlbnl commented on #494
Sounds like a good approach.

[2015-12-01 20:25] RDmitchell opened #501 "Bottom Map Your Data button is now centered"
Which is not such a bad thing, but it is a bit odd to have the one at the top on the right and the one on the bottom in the middle. We will deal with this after the Dec release.

![image](https://cloud.githubusercontent.com/assets/6314950/11513150/8b526256-9826-11e5-807e-4e2cc8285e09.png)

[2015-12-01 23:36] StephenCzarnecki commented on #500
Checked in a branch with fixes here:  500_label_database_migrations  This is a branch from Daniel's 434-develop-labels branch.

Database migrations for labels feature. First records all project buildings that do not point to a canonical building snapshot. Then creates a many-to-many relationship between CanonicalBuilding and StatusLabel. Next adds existing labels to this relationship. Finally drop

[2015-12-01 23:52] pipermerriam commented on #494
Just an update for anyone who's interested.

I've got all of the CRUD operations working correctly and merged into @danielmcquillen 's branch.  Things are going smoothly thus far.  If you'd like to take a look at the implementation you can see it in this branch https://github.com/SEED-platform/seed/tree/434-develop-labels

[2015-12-02 02:07] rebrownlbnl commented on #494
One thought about testing: @bravacheLBL has an API testing script he maintains for hitting the API endpoints over http. He'll need to update the script to handle your new/modified endpoints.

[2015-12-02 02:44] pipermerriam commented on #494
@rebrownlbnl DRF comes with it's own testing helpers that make testing API endpoints pretty easy.

[2015-12-02 17:14] rHorsey commented on #497
Yep; this code is using the previous not-functional way of incrementing async tasks, which will no longer work. @RDmitchell are there progress bars other than mapping, matching, upload, and add-to-project? If so I'll make sure that they have the same updated code.

[2015-12-02 17:17] rHorsey commented on #239
@bravacheLBL Do you have time to look into this today or tomorrow? If any of the progress bars aren't working I can wrap that into the commit for issue #497 .

[2015-12-02 17:39] RDmitchell commented on #239
@bravacheLBL -- I have assigned this to you for testing. Thanks !

[2015-12-02 17:45] RDmitchell commented on #497
That list of progress bars seems correct.

[2015-12-02 18:05] RDmitchell commented on #480
@StephenCzarnecki -- can you do some testing on this, and then we can talk. Try matching just on the Tax Lot ID with the sample data for this issue, and then try matching on Tax Lot ID + Address Line 1, which I think might put the data in a different state than we may want.

[2015-12-02 18:08] RDmitchell commented on #480
@StephenCzarnecki -- we also need to figure out the ramifications of this for the reporting feature.

[2015-12-02 18:47] RDmitchell commented on #273
@pipermerriam -- when you have finished your other priority = 1 and 2 tasks, can you take a look at this? Not sure it is still a problem. Thx

[2015-12-02 20:34] RDmitchell opened #504 "Add Password Creation Guidance on login screen"
The password has a lot of criteria -- we should have a help icon or something like that to list all the rules.

[2015-12-03 17:14] RDmitchell commented on #181
Ry will start a design document for how to implement the import of AS building sync XML files, and then we can discuss it.

[2015-12-03 18:12] axelstudios commented on #473
Closing, bce11e06517c00920362f5da64b017c61fa92b99 has been merged

[2015-12-03 18:12] #473 closed

[2015-12-03 18:15] RDmitchell commented on #477
I believe this is now working, so I am closing this issue. We can reopen a new issue if needed for any followup.

[2015-12-03 18:27] RDmitchell opened #506 "Data cleansing criteria additions and issues"
Comments from @bravacheLBL in issue #385 (which I have closed):

The cleansing didn't detect the following errors/warnings inserted in the dataset:
- Missing non-matching field
- Wrong data type (string instead of date in Year Ending); the string was filtered out during remapping.
- In-Range test for fields with date types, such as generation_date, recent_sale_date, year_ending, that had dates in

[2015-12-03 18:28] RDmitchell commented on #385
I have made a new issue # 506 with the comments above from @bravacheLBL about outstanding data cleansing issues. So I am closing this issue.

[2015-12-03 18:28] #385 closed

[2015-12-03 19:07] RDmitchell opened #507 "Implement FE for Label Feature"
Based on the spec in issue #434 implement the GUI/Front end of the label feature.

[2015-12-03 19:35] Myoldmopar opened #508 "Finish/Polish ReadTheDocs"
A couple things can be done to really improve and wrap-up the ReadTheDocs integration:
 - Configure ReadTheDocs to point to the develop branch for `latest`, and point to the master branch for `stable`
 - Add a badge on the README on the repo.  On the repo README, this could be for both the `latest` and the `stable` versions.  When a new version is released, it should always be advertised with link

[2015-12-03 19:37] Myoldmopar commented on #477
Thanks @RDmitchell, I opened #508 to wrap up a few polishing tasks.

[2015-12-03 19:37] RDmitchell commented on #508
@Myoldmopar -- is this something you would do, or would @mmclark do this?

[2015-12-03 19:37] RDmitchell commented on #477
perfect, thanks

[2015-12-03 19:41] Myoldmopar commented on #508
I am able to do this.

How often do you pull develop into master for a release?  Until release has the changes to get RTD building, there's no point in fixing the `stable` side of ReadTheDocs, as it will fail.  In either case, the part on my plate here would be to add the badge to the README.  I will issue a PR shortly for that.  Anything else is ReadTheDocs configuration, which I am happy to assi

[2015-12-03 19:45] pipermerriam commented on #494
Just a quick update.

* This is coming along swimmingly thus far.

* [x] admin CRUD management of labels
* [x] filtering by labels in the building list.
* [x] bulk updating of labels in the buildings list.
* [ ] editing a single building's labels on the building information screen.

There is still work to be done with getting tests for this new functionality.  On track to have it code-complete by

[2015-12-03 20:35] RDmitchell commented on #452
I am assigning to myself for testing. Thanks Alex !

[2015-12-03 20:39] axelstudios commented on #474
We can probably close this - as mentioned above, the library is no longer included and there are no usages of it.

[2015-12-03 21:16] danielmcquillen commented on #507
Migration should created an Initial set of "pre-populated" labels
- EUI Blank
- Energy Score Blank
- Gross Floor Area Blank
(Robin may add more)

[2015-12-03 21:29] RDmitchell commented on #507
I have started a document with suggestions by cities, that supercede my initial suggestions. Here is a link to that doc.
https://docs.google.com/a/lbl.gov/document/d/14tvpbVFQXDihItRvrC4WDCnNqiMRbFrOtNbpWIq_Vys/edit?usp=sharing

[2015-12-03 21:30] RDmitchell commented on #474
thx Alex. Am closing !

[2015-12-03 21:30] #474 closed

[2015-12-03 21:32] RDmitchell commented on #508
Develop only goes into master at the end of the development period for a release (generally). So for this upcoming Dec 18 release, we will be merging develop into master between Dec 18 and 21. Then it will stay that way until the end of Feb, when we have another release.

[2015-12-03 21:34] RDmitchell commented on #494
How do you make checked and unchecked boxes for bullets ?? very nice !

And thanks for the update !

[2015-12-03 21:34] pipermerriam commented on #494
[code]

[2015-12-03 21:38] RDmitchell commented on #494
cool ! thx ...

[2015-12-03 21:43] axelstudios commented on #392
How's this?

![image](https://cloud.githubusercontent.com/assets/411466/11575015/3178f39c-99cc-11e5-937e-68ebe2ed5358.png)

[2015-12-03 21:45] RDmitchell commented on #392
Looks good -- can we indicate the time zone, ie, GMT if that's what it is?

[2015-12-03 23:01] rebrownlbnl commented on #494
re. testing, can @pipermerriam point us to the docs on DRF test helpers, or write up a little summary to help @bravachelbl extend the API tests? Thanks

[2015-12-03 23:01] pipermerriam commented on #507
@RDmitchell or @danielmcquillen

My understanding was that labels are organization specific.  Does this imply that all of these labels need to be created for each organization?  That is fine, I just want to be sure I understand the requirement.

[2015-12-03 23:06] RDmitchell commented on #507
Yes, the labels will be organization specific, so there needs to be a pointer/reference to the organization from the label table (or however you have this organized).

[2015-12-03 23:07] RDmitchell commented on #507
Do we need to talk about how this would be configured? I don't know how the label table is currently set up or how the link to organizations would be made. Or possibly @pipermerriam, put together your proposal, unless it's already in the spec. THX!

[2015-12-03 23:12] danielmcquillen commented on #507
As documented in spec, we're going to do a boolean AND on the label filter on the Building List for this first iteration. We did this because showing multiple labels within the grid is a tricky UI issue that needs more thought. So, by making the filter an AND, it by definition indicates that all visible buildings have the current labels shown in the filter input.

e.g. these two buildings have 'ab

[2015-12-03 23:18] pipermerriam commented on #494
@rebrownlbnl the documentation for the DRF testing helpers can be found [here](http://www.django-rest-framework.org/api-guide/testing/)

Once I have some API tests to show off I'll see about a brief writup on best practices.

[2015-12-03 23:19] pipermerriam commented on #507
@danielmcquillen here is the PR that converts this to use the AND operator.

https://github.com/SEED-platform/seed/pull/511/files

[2015-12-03 23:23] axelstudios commented on #392
Yep, we can easily indicate an offset (-07:00).  Indicating an actual timezone (like 'MDT') is (I think) impossible without providing an exact region like 'America/Denver' to the parser.

Pull request #512 issued.

[2015-12-03 23:25] RDmitchell commented on #392
I think the offset is fine for now. Just curious where the program gets it from, presumably the local system / browser?

[2015-12-03 23:27] axelstudios commented on #392
The offset is determined from the local time of the user's browser (which just reads it from the system).  It's tricky since daylight savings time is observed so differently - Mountain Time can be -7 or -6 depending on the time of year, whereas locations like Phoenix that don't obverse daylight savings time and will always be -7.

[2015-12-03 23:28] RDmitchell commented on #392
This will work well. Thanks for implementing it !

[2015-12-04 00:44] RDmitchell opened #513 "Leading zeros on Matching on IDs -"
The program is now normalizing IDs in terms of ignoring (deleting) punctuation (which is great). But here is a case where the program doesn't match two IDs that it should, presumably because of the leading zero in the first case

In this case, the program normalized the Tax Lot ID field from the PM data (which had hyphens in it) but then should have matched these two records (each one from a diffe

[2015-12-04 01:39] RDmitchell opened #514 "Missing Address at top of Building Detail"
In the current version of seedtest (12/3/2015), the master building address doesn't appear at the top of the screen.
![image](https://cloud.githubusercontent.com/assets/6314950/11579668/ac33ea34-99e4-11e5-814a-d711a7222bf2.png)

In the current production version of seed (v1.2.2), the address does appear.
![image](https://cloud.githubusercontent.com/assets/6314950/11579638/752294a0-99e4-11e5-86b1-2

[2015-12-04 01:42] RDmitchell commented on #453
closing this

[2015-12-04 01:42] #453 closed

[2015-12-04 01:43] RDmitchell commented on #192
@danielmcquillen -- should we close this? There are others with more recent issues (NREL?) that I think are going to document issues with setting up the development environment.

[2015-12-04 02:06] RDmitchell opened #515 "Implement Managing labels on Building Detail page"
Implementing the ability to manage label on the individual building detail page

See #493 for the original spec for this feature

@pipermerriam -- I am assigning this to you for the Feb 2016 release.

[2015-12-04 02:07] RDmitchell commented on #494
We will move implementing the management of labels from the Building Detail screen to the Feb 2016 release. See issue #515.

[2015-12-04 21:01] #452 closed

[2015-12-04 21:29] RDmitchell opened #518 "Server error on Delete Building"
I am getting a server error when I try to delete buildings (loading just the sample building data then trying to delete the 512 buildings from the Building List)

![image](https://cloud.githubusercontent.com/assets/6314950/11601805/9a445b96-9a8a-11e5-9473-9f0d5a58363c.png)

I then close that browser window, open a new browser window in incognito mode, log in to that account, then I can delete the

[2015-12-04 21:50] pipermerriam commented on #507
Default labels are now being populated once 5bf00f2 is merged in #517

[2015-12-08 00:20] RDmitchell commented on #273
Piper -- thanks for fixing this -- I have assigned to myself for testing.

[2015-12-08 00:21] RDmitchell commented on #513
Thanks @pipermerriam -- I am assigning this to myself for testing

[2015-12-08 18:37] RDmitchell opened #521 "Multiple IDs in Matching Field Fix"
The Multiple IDs in Matching field feature ( #480 ) isn't working quite the way I was expecting. Below is a link to a doc explaining what I am seeing.

https://docs.google.com/a/lbl.gov/document/d/1PBgcD6Irm145m8mkJbDU2zcQaa5f9jxo8xhvGqh1qjc/edit?usp=sharing

@pipermerriam -- I am assigning this to you, and depending on what you think once you read the issue, you, @StephenCzarnecki and I might wan

[2015-12-08 20:12] pipermerriam commented on #521
Issue received.  Starting to look into it now.  I'll let you know what I find and whether I think I need a call to discuss.

[2015-12-08 20:36] RDmitchell commented on #521
sounds good. thanks !

[2015-12-08 21:09] pipermerriam commented on #521
Ok, I think I'm seeing where this is happening.  I'm going to take some notes here in the issue so that there in a public place for refererence.

The problem appears to be in the logic of the [`seed.tasks.get_canonical_id_matches`](https://github.com/SEED-platform/seed/blob/f924be35e874787f7fabd577958c4a8323bdb6d4/seed/tasks.py#L1020) function which is called in this call chain

* [seed.tasks.matc

[2015-12-08 21:21] pipermerriam commented on #521
I've opened https://github.com/SEED-platform/seed/pull/523 which is almost for sure going to break something else so that you can see the change that fixes this specific issue.  I've re-run your testing procedure against this new code and I end up with the expected results of two buildings at the end.

I'll need some advice on whether this change is acceptable.  It seems pretty significant and it

[2015-12-08 21:32] pipermerriam commented on #521
The fix in PR #523 introduces some breakage in existing tests.

https://travis-ci.org/SEED-platform/seed/builds/95670776#L2740

[2015-12-08 21:45] rebrownlbnl commented on #521
I think the original logic in that matching function assumed that the ID fields were interchangeable, so *any* match between ID fields was considered good enough to match the records. This is based on the assumption that you can't control how the users map their input data fields, so the IDs in the uploaded records can get mapped to virtually any field, so the ID fields were seen as interchangeabl

[2015-12-08 21:47] pipermerriam commented on #521
@rebrownlbnl a little investigation shows that the broken tests are a single test that merely demonstrates this cross-field matching.  I've pushed a commit (1ca3b6a) which fixes the failing test.

The remaining failures are selenium based and seem somewhat non-deterministic.

[2015-12-08 22:32] RDmitchell commented on #521
I guess I don't quite understand what this line in the PR means

"the query has been adjusted such that it matches records which have all of the fields in common"

I do agree with Rich that we should change the mapping so that it only matches across fields that are the same, so the program would match Tax Lot ID to Tax Lot ID, and PM Property ID to PM Property ID, but not Tax Lot ID to PM Property

[2015-12-08 22:45] pipermerriam commented on #521
@RDmitchell yes, it now only matches PM to PM, or Tax to Tax.

[2015-12-08 22:46] RDmitchell commented on #521
@pipermerriam -- looking at the code you changed in tasks.py I think it makes complete sense that instead of matching all IDs to all IDs, that you are now only matching on each specific ID. I always thought that original logic didn't make sense, and could end up in many false positive matches.

pm_id:
+        params.append(Q(pm_property_id=pm_id) | Q(pm_property_id__isnull=True))
     if tax_id:

[2015-12-08 22:50] rebrownlbnl commented on #521
@pipermerriam I'm not sure the modified test is valid because it's matching two buildings that have the same values for both pm_property_id and custom_id_1, so won't that always guarantee a match, regardless of which IDs we are matching on?

[2015-12-08 23:00] StephenCzarnecki commented on #521
@pipermerriam I'm not sure I understand how this change fixes the problem.  As I understand it this fix only applies to when one record has a field that corresponds to the value in a different field in another record.

For example, if Record 1 has
tax_lot_id = 12345
and Record 2 has
pm_property_id = 12345

Then under the old scheme these two records will be matched because the will check if tax_lo

[2015-12-08 23:02] pipermerriam commented on #521
@StephenCzarnecki the problem is that if record 1 & 2 have different tax ids but identical PM id's they will be merged and one of the tax ids will be *clobbered*.

This changes it so that for the three id fields, records will only be merged *if* the queried fields are the same (or one of them is null).

Does that clear it up?

[2015-12-08 23:04] pipermerriam commented on #521
@rebrownlbnl Looking at the test that I modified, I'm unsure what exactly it is testing, or what exactly I'd need to change to maintain the correctness of the test.  The assertions are just looking at the `match_type` which hasn't changed.

Can you advise on what needs to be done here?

[2015-12-08 23:30] pipermerriam commented on #494
@RDmitchell

@danielmcquillen just brought up another potentially missing part of this feature.  There is a data migration that will populate all organizations with the appropriate default labels.  However, there is no mechanism to create these default labels for *new* organizations.

Would it be good for newly created orgs to have the default label set created for them?

[2015-12-08 23:35] StephenCzarnecki commented on #521
@pipermerriam Ah I see.  I missed that you removed the "or" operator on the results too.  So then is the following correct?

(Ignoring the cross-field matching for the moment because that seems like it's own issue) Previously a record had **any** of the four key fields (pm_property_id, tax_lot_id, address_line_1, custom_id_1) matched **any** value in one of those fields in the record it would be a

[2015-12-08 23:44] pipermerriam commented on #521
@StephenCzarnecki I'll plan on getting you answers to your questions tomorrow.  Overall, I think everything you said is correct, but I'm not 100% whether either of those cases are going to result in undesirable merging or matching.

[2015-12-09 00:40] RDmitchell commented on #521
@pipermerriam I am going to try to come up with some tests that will test you new method of matching IDs, and maybe we will abandon the test that you and Rich are talking about.

[2015-12-09 01:17] RDmitchell commented on #494
Yes. I thought we were going to use the labels in this doc as the default set of labels. So I guess this would apply to new orgs.

https://docs.google.com/a/lbl.gov/document/d/14tvpbVFQXDihItRvrC4WDCnNqiMRbFrOtNbpWIq_Vys/edit?usp=sharing

[2015-12-09 17:06] pipermerriam opened #527 "Bugs related to recently implemented caching utilities"
cc @RDmitchell @rHorsey @danielmcquillen

In our recent work on the new Labeling functionality in issue #494 daniel and I have uncovered some very strange bugs that seem related to the work that @rHorsey did back in November via PR #485, and more specifically in commit a9b4ca4aa57b81b032408983d4b7e16643cbb19a

One way this bug is manifesting is when you use the "Add to an existing project" functio

[2015-12-09 17:24] pipermerriam commented on #527
I don't have any evidence to support this yet, but I suspect that the selenium/firefox errors we're seeing could be related to this as well.

[2015-12-09 20:41] rHorsey commented on #527
@pipermerriam @danielmcquillen At some level the issue is that when [attempting to access the progress of adding the buildings](https://github.com/SEED-platform/seed/blob/develop/seed/views/projects.py#L448) the get_cache command is used, while the setting of that [same progress key](https://github.com/SEED-platform/seed/blob/develop/seed/tasks.py#L165-L168) uses the set_cache_raw functionality, w

[2015-12-09 23:08] RDmitchell commented on #527
@rHorsey -- I talked to Daniel and in doing some testing, in the current set of code on seedtest, I can't make a new project. And if I had an existing project, which I don't in my current test case, I probably couldn't add new records to it.

I am getting the following error
Failed to load resource: the server responded with a status of 500 (INTERNAL SERVER ERROR)
https://seedtest.lbl.gov/app/proj

[2015-12-09 23:11] RDmitchell commented on #527
@pipermerriam, @danielmcquillen -- we should probably get Ry's fix in for this problem before you all check in the label code, so that you can test his fix first. THX.

[2015-12-10 16:53] RDmitchell commented on #392
I am closing this issue.

[2015-12-10 16:53] #392 closed

[2015-12-10 17:04] pipermerriam commented on #527
Also, I have some ideas on where to take this next.  I'm thinking that adding a layer on top of these cache functions that looks something like.

* `initialize_progress_key(key, initial_status="pending", **extra_data)`  - initializes the cache key for some progress meter.
* `update_progress_key(key, percentage_done, status="processing", **extra_data)` - updates the progress of the given key as wel

[2015-12-10 17:04] axelstudios opened #529 "Fix outdated browser code"
The detection for outdated browsers used deprecated jQuery calls, and broke with the jQuery update.  This code needs to be replaced with the outdatedbrowser.com module.

[2015-12-10 17:23] pipermerriam opened #530 "Newly created organizations should have a pre-populated set of labels created for them."
Currently, only organizations created via the `seed.utils.organizations.create_organization` function will have their default labels popululated.  This functionality should be extended to the other primary creation paths for organizations.

The places this functionality should be tied to seem to be.

* the `create_user` management command.
* the `seed.views.accounts.add_user` view.

[2015-12-10 17:24] pipermerriam commented on #530
@RDmitchell This came out of some discussion that @danielmcquillen and I had, but we are trying to restrict adding more code to our currently huge PR for labeling.

[2015-12-10 17:28] pipermerriam opened #531 "`seed.tests.functional.test_firefox` is breaking in Travis."
This test is breaking in CI.

[2015-12-10 17:55] RDmitchell commented on #527
@danielmcquillen -- per @pipermerriam 's email, can you take the lead on merging Ry's PR #528 into your label develop branch?

[2015-12-10 17:56] RDmitchell commented on #527
@danielmcquillen -- seems that because of the time diff, @pipermerriam will take the lead on this. Once you are online for the day, check with Piper to see where things stand. THX !

[2015-12-10 18:17] rHorsey commented on #527
I think this looks pretty good. finalize_progress_key is most likely unnecessary, but it's a nice wrapper nonetheless. It will also fit well with all the 'finish_*' methods in the data-upload/mapping/matching world. That having been said, getting the caching stuff to work sync/async is painful.

[2015-12-10 21:14] danielmcquillen commented on #530
Wouldn't associating sub orgs with labels be problematic? Does the current data model support that or would it need refactoring?

[2015-12-10 21:31] pipermerriam commented on #530
I was just grepping for places where orgs are created.   I'll remove the sub-org part.

[2015-12-10 22:57] pipermerriam commented on #531
@rHorsey @dangunter @RDmitchell

Here's what I've tried in hopes that it inspires someone to have a clever idea.

* I've tried to reproduce the error locally (fresh installs of python requirements, js requirements in the same manner as they are installed on travis)
* removal of all of the caching for the travis-ci runs.
* extending wait time for the `wait_for_visibility` call in the test case just

[2015-12-10 23:36] RDmitchell commented on #531
Changed Dan Gunter to Daniel McQuillen in the previous comment.

I am wondering if @rHorsey should maybe take a look at this tomorrow?

[2015-12-11 00:06] danielmcquillen opened #537 "Organizations pulldown not working"
Looks like the organizations pulldown in the top header is not showing the current set of organizations for the logged in user.

One issue is immediately apparent:  the **_header.html** wants to iterate over **menu.user.organizations**, but **menu_controller** never sets this value on **$scope**.

[2015-12-11 00:12] RDmitchell commented on #537
@danielmcquillen -- if you have time to work on this, go ahead. thx

[2015-12-11 00:28] danielmcquillen commented on #537
Started branch https://github.com/SEED-platform/seed/tree/537-fix-org-switching

This is the first bug I noticed, but there could be deeper issues with org switching via the pulldown. Needs more investigation...

[2015-12-11 01:51] RDmitchell opened #538 "Updating master record with multiple PM files - auto vs hand matching"
There seems to be different behavior about how the master record is updated with multiple imports of a PM file vs if it is "hand matched" in the matching screen. Not all of the data from the matched file gets put into the Master record. More details and example file to come.

[2015-12-11 01:52] RDmitchell commented on #538
Here is a folder which will contain sample files
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7Lc3lZVU00eXJaV2s&usp=sharing

[2015-12-11 02:40] rHorsey commented on #531
I'm booked tomorrow, but the unfortunate reality is that I've tried all the same steps as Piper over the last three days saving the historical test failures and dumping the html from travis. My next planned action was dumping the html, (thanks for doing this @pipermerriam!) and it shows exactly what I was afraid of - the 'verify-mapping-table' id is there, and not recognized. The critical method i

[2015-12-11 04:19] RDmitchell commented on #531
@pipermerriam & @rHorsey
Seems like maybe we need to put this one on hold for a bit, and get @nllong to help look at it next week, particularly as I think that it isn't holding up any code that needs to be merged into develop and tested on seedtest.
@pipermerriam -- it would probably be better for you to work tomorrow with @StephenCzarnecki on PR #523, as he's trying to put together some tests to

[2015-12-11 16:56] pipermerriam commented on #531
@RDmitchell got it.  I'm going to leave this issue alone and move onto #523

[2015-12-11 18:48] RDmitchell commented on #531
sorry to over-communicate ! Just wanted to move on to other issues. Thanks !!

[2015-12-11 18:54] pipermerriam commented on #531
Better to over-do it than under.

![awesome](https://cloud.githubusercontent.com/assets/824194/11752636/f25b2bd4-9ffd-11e5-8e19-cf1161131b39.jpg)

[2015-12-11 19:00] RDmitchell opened #540 "Ignore leading zeros in street numbers"
I think some work was done on this already (see #165 ) but it is still not working as it should. I will provide a sample file and complete details in subsequent comments.

[2015-12-11 19:10] RDmitchell commented on #540
Never mind, seems to be working in the latest code on seedtest (it was not working in a previous iteration of the code) ! Yippeee !!!

[2015-12-11 19:10] #540 closed

[2015-12-11 19:18] RDmitchell opened #541 "Layout issues with Update Filters button on Mapping screen"
When running seedtest on Chrome on my smaller monitor, the "update Filters" button is in the wrong place and seems to push everything to the right.

![image](https://cloud.githubusercontent.com/assets/6314950/11753161/7fec0c58-9ff8-11e5-82bb-894030993062.png)

If I move the browser window to my larger monitor and make it wider, the button eventually moves to the correct place
![image](https://clou

[2015-12-11 19:34] RDmitchell opened #542 "Changes to PM mapping not shown in mapping "review" screen after save"
When I import a file as a PM file, and get the default PM mapping, if I change one of the SEED field names, and then save the mapping, the program correctly uses the changed field name in all screens, except if I view the saved mapping from the Data nav tab. Then it shows the original suggestions, without the changes I made.

Here is how to reproduce the problem:

Import a PM file
In the mapping s

[2015-12-11 19:35] RDmitchell commented on #542
Here is a link to the PM file used above -- it just has one record
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LTjNrdHpWTDZkenM&usp=sharing

[2015-12-11 19:36] RDmitchell commented on #542
@StephenCzarnecki -- I am assigning this to you because you have worked on the PM mapping changes in the past.

[2015-12-11 19:52] RDmitchell opened #543 "When should program overwrite existing data when matching records?"
This is a design issue that we should deal with fairly soon, as users are starting to use SEED for real work, and we don't want to cause extra work if the program overwrites data in the Master Record that the user doesn't want automatically overwritten. It is a bit of a tricky program, from both the FE and BE.

Here are some cases where new data that is matched to a canonical building probably sho

[2015-12-11 19:58] RDmitchell opened #544 "Invalid Date in Data Cleansing Screen"
I am getting an "invalid date" for the Date Uploaded in the Data Cleansing screen.

![image](https://cloud.githubusercontent.com/assets/6314950/11754191/69e68360-9ffe-11e5-9d84-2962f8a14982.png)

I have only tested with one file, but will test with others and see if it makes a difference what type of file it is.

@axelstudios -- I am assigning this to you. thx.

[2015-12-11 20:04] RDmitchell opened #545 "Activate Update Filter button with Enter key"
I don't know if this is possible, but the change from the "immediate response" filtering that we have disabled to now having to click the Update Filter button every time you want to do a filter, seems like a bit of a regression. However, I think it is necessary to get rid of the flakey filter issues we were seeing before ( #471 ).

One thing that would help is if you could type in the filter crite

[2015-12-11 20:06] RDmitchell commented on #471
I am closing this issue because now that we have the "Update Filter" button this is no longer an issue. We may want to revisit how to make the filtering a little more seamless, but that will be for another iteration (like maybe the May or Sep 2016 versions !!).

[2015-12-11 20:06] #471 closed

[2015-12-11 20:08] RDmitchell commented on #434
@danielmcquillen -- I am going to close this, because the functional spec has been created and at this point we would just be refining it, which I don't think needs an issue. Thx !

[2015-12-11 20:08] #434 closed

[2015-12-11 20:15] RDmitchell opened #546 "Filter expression / criteria refinements"
In the example below, how can we set up a filter expression that would show only the records with City = sacramento, irregardless of capitlization

![image](https://cloud.githubusercontent.com/assets/6314950/11754472/7a9eb63a-a000-11e5-93c6-074f7baa3b1d.png)

I think right now there is not a way to eliminate the "WEST SACRAMENTO" and still get both "Sacramento" and "SACRAMENTO".

@pipermerriam --

[2015-12-11 20:21] RDmitchell commented on #471
Just wanted to add that particularly for a multi-criteria query, I think the new "Update Filter" button is working very well. Much better than the old jumpy, weird behavior when the program would try to keep up with the filter criteria in real time.

[2015-12-11 20:23] RDmitchell opened #547 "Add "Clear Filter" functionality"
Add some sort of UI option (button, small icon, not sure) to clear all the current filters, so that you don't have to go into each input box by hand, delete the criteria and then click Update Filter button.

@danielmcquillen -- am giving this to you, but for the Feb release (don't worry about it now). So will set to priority = 2

[2015-12-11 20:46] RDmitchell opened #548 "Adding labels after filtering"
I am not sure I have the sequence right about how to add labels in the building list. Below are the steps I am going through to add a label, but it doesn't seem to be working. So maybe we need to fix the program, or maybe Robin just needs some training ! And the second option is fine, I just have to document the process for the user.

Here is what I am doing.

In the Building List, I filter on a d

[2015-12-11 20:54] RDmitchell commented on #548
However, the label feature DOES seem to work when I use the "Create a new label" feature in the Add/Remove Labels dialog box.
![image](https://cloud.githubusercontent.com/assets/6314950/11755250/d5bb72c4-a005-11e5-98b7-e8e7bfa5b46d.png)

Now I can see the labels in the Building Detail screen for the record I added them to
![image](https://cloud.githubusercontent.com/assets/6314950/11755263/e95d217

[2015-12-11 21:05] RDmitchell commented on #548
Not sure if this matters, but the account I was testing this on belongs to 2 organizations.

[2015-12-11 21:17] RDmitchell opened #549 "Migrating Project labels from old projects"
I am wondering if projects get deleted when labels from an old project are migrated over?

I logged into one of my test accounts that already had data in it.
In the Building List, when I click on the Labels link at the top (to get to the Label Admin screen), I see a a label in addition to the default labels called "Green Button Data".

![image](https://cloud.githubusercontent.com/assets/6314950/11

[2015-12-11 23:25] RDmitchell opened #550 "Help for filtering criteria expressions"
We need to come up with some nice way in the GUI to show people how the filtering works, ie, the expressions (!"", "", > , quotes for exact match, etc).

Could be a quick tool tip, could include a link to a web page or other document with more details (?)

@danielmcquillen -- I am assigning this to you for the Feb release.

[2015-12-11 23:53] bravacheLBL commented on #317
This issue is not totally resolved in my opinion. I added a new file in Gdrive /Issue 317 (https://drive.google.com/open?id=0B3fTKpZ9Dx7LUlQyUG9YZkQ2aDQ) with the suffix "FORMAT" where I changed the format of some address line and added a field "Note" where I wrote what I changed.

I then tried to match those buildings with the other database named "CoveredBuildings" (that was imported first).

Th

[2015-12-12 00:14] RDmitchell commented on #317
@pipermerriam -- I am putting this back in your queue, but with Priority = 2 and for the Feb release. If you want to make a new issue for the findings from Baptiste, that's fine, or we can keep this issue going. Thx !!

[2015-12-13 20:58] danielmcquillen commented on #548
For the first bug you logged, this is definitely a bug, not a training issue. I couldn't recreate the bug in my local build, it is working correctly for me. Perhaps we can do a screenshare when you're at work tomorrow?

[2015-12-13 21:00] danielmcquillen commented on #548
For the second bug, once again I cannot recreate locally. It works for me. However, I only  have one organization for my user. This very well could be the issue. I'll look more into it today.

[2015-12-13 23:01] pipermerriam commented on #548
I just opened up https://github.com/SEED-platform/seed/pull/551 to fix a bug I found while trying to reproduce this bug.

I was unable to reproduce either of the bugs reported here.  +1 to Daniel's suggestion about doing a screen share tomorrow to try and figure out why we're seeing different results.

[2015-12-13 23:51] danielmcquillen opened #552 "Label filter should be case insensitive"
The label filter dropdown is currently case sensitive, so typing "cal" does not show "Call"

The filter should be case insensitive, i.e. we should see the following dropdown whether the user entered "C" or "c"..

![image](https://cloud.githubusercontent.com/assets/119496/11770382/b028643e-a250-11e5-82ca-4b6f8c41a2d8.png)

[2015-12-14 00:01] danielmcquillen commented on #548
Actually, I am seeing some issues which might be related. I did a filter on site_eui and year_built, and then applied a label. I'm seeing the filter params go in correctly to the BE update_building_labels method, but I'm seeing three build IDs when I only selected two. So their might be something wrong with the building IDs being sent back. Investigating...

[2015-12-14 00:32] danielmcquillen opened #553 "Search_service not clearing selected_buildings"
The selected buildings are not being cleared correctly and in sync with the buildings "checked" property.

[2015-12-14 01:58] danielmcquillen commented on #548
I did a PR as well #554, so perhaps we can get both this and #551 into seedtest to help isolate any further issues.

[2015-12-14 04:30] mmclark commented on #548
Not a problem!

On Dec 13, 2015 5:58 PM, Daniel McQuillen <notifications@github.com> wrote:I did a PR as well #554, so perhaps we can get both this and #551 into seedtest to help isolate any further issues.

—Reply to this email directly or view it on GitHub.

[2015-12-14 18:08] RDmitchell commented on #548
I have made a video that shows the behavior I am seeing in terms of adding a label when filtering but then not having it "stick".  Here is the link
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LMXBXTllnT2xuc0U/view?usp=sharing

[2015-12-14 18:12] RDmitchell opened #555 "Can't add label via Label link"
I made a new label by clicking on the Labels and typing in a new name, associated a color with it, and clicked the Create Label button, but no label is created in the list below.

[2015-12-14 18:15] RDmitchell commented on #555
Here is a video link that shows the behavior
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LeHphbjVXWmNVVjA/view?usp=sharing

[2015-12-14 18:15] pipermerriam commented on #548
@RDmitchell ok, watched your video and followed the same steps.  Everything is working correctly on my end.  I think we should do a screen share (google hangout?) to try and see what's going on.  Alternatively, you could give me credentials for the seedtest site.

[2015-12-14 18:19] RDmitchell opened #556 "Changing color in label admin"
It seems like you can't change just the color of a label with the Edit button. If you change both the text of the label and the color, then they are both saved, but if you try to just change the color (of the default labels) the program just keeps them blue.

[2015-12-14 18:20] RDmitchell commented on #556
Here is a video that shows the behavior -- maybe we just need to disable the color selector until the user has changed the name, if there is a reason that we don't (or can't) change the color of the default labels.

https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LeHphbjVXWmNVVjA/view?usp=sharing

[2015-12-14 18:22] pipermerriam commented on #548
Watched both videos now.  I think something is wrong with seedtest, but I'll need credentials to that site to confirm.

[2015-12-14 18:24] RDmitchell opened #557 "Only first 10 labels appear in the Filter by Label list"
If I make new labels in the "admin" screen, by editing a default label (I changed the name and the color of two default labels), those new/edited labels don't show up in the list of labels in the Building List when I try to use them.

[2015-12-14 18:27] RDmitchell commented on #557
Here is a video that shows that behavior
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LT0Rmd1hIVDlZbFE/view?usp=sharing

[2015-12-14 18:30] RDmitchell commented on #548
I can make an account for you on seedtest -- is that enough?

[2015-12-14 19:52] RDmitchell commented on #548
@pipermerriam -- just made an account for you on seedtest, you will get an email to set the password. Will that be enough for you to see what's going on ?

[2015-12-14 21:35] pipermerriam commented on #548
This is really strange.  I just went through the following use cases and everything seems to be working correctly.

* Creating a label from "building list"
* Creating a label from the "label administration panel"
* Bulk adding of labels
* Bulk removal of labels
* Filtering by labels
* Filtering by labels and other fields.

All of these worked without error.  I sort of at a loss as to what is going

[2015-12-14 21:39] pipermerriam commented on #548
do we know when seedtest was last updated with new code?

[2015-12-14 21:49] RDmitchell commented on #548
You did this test with the new seedtest account I set up for you, right?

Last night was when seedtest was updated with the new code.

Let me try this with a different account -- I have a bunch I can test with.

Do you think the issue might have to do with a "new" account vs an existing account?

[2015-12-14 22:03] RDmitchell commented on #548
@pipermerriam, @danielmcquillen -- very interesting. When I use another account, it seems like the label functionaltiy is working (I found maybe one quirk which I will try to replicate). So the question is what is wrong with my other test account that it is NOT working.

Could the data in that account (maybe the label table) gotten into some weird state if it was between code merges or something?

[2015-12-14 22:05] pipermerriam commented on #548
@RDmitchell is it possible that your account somehow is not associated with an organization?

[2015-12-14 22:26] RDmitchell commented on #548
@pipermerriam -- I don't think it is possible to have an account without an organization but I can certainly verify that.

[2015-12-14 22:28] pipermerriam commented on #548
That question (about organizations) was a wild guess.  Really I'm somewhat at a loss for ideas on what is happening on your main account.

[2015-12-14 22:33] RDmitchell commented on #548
But on another account it seems to be working fine, although I am about to do a video recording for a potential bug, if I can reproduce it

I think I am going to close this bug, and make a specific bug about that one problem account, possibly for Miles to look at, and then keep testing on an account that works and see if I can find any other "real" issues.

[2015-12-14 22:33] #548 closed

[2015-12-14 22:34] RDmitchell commented on #557
I am going to assign this to myself, as it seems to just be happening on my LBNL 1 seedtest account and not others.

[2015-12-14 22:35] RDmitchell commented on #555
I am moving this to my issue list, as it is only happening with my LBNL 1 account -- I will follow up with Miles to see if we can figure out what is different with that account.

[2015-12-14 22:43] RDmitchell opened #558 "Label pulldown gets too small to read label text when browser window shrinks"
This is not something that has to be addressed now, but thought I would record it as an issue for future work. Basically the Label pulldown text becomes more and more truncated as the width of the browser screen shrinks (in the Label admin screen) to the point where you can't read the label. Maybe when the browser resizes, the label pulldown can remain a certain minimum width and the name field sh

[2015-12-14 22:46] RDmitchell commented on #558
Here is a video that shows the behavior
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LNW41cmdJdm9JNDA/view?usp=sharing

[2015-12-14 22:52] RDmitchell opened #559 "Display Label dialog gets an error"
I will reference a video in the 2nd comment, but when I move through several screens of data and then check one of the records in order to label it, the program gets an error trying to display the label list when I click on Add/Remove labels.

[2015-12-14 22:55] RDmitchell commented on #559
@pipermerriam - I am assigning this to you, although it could be in Daniel's court. Feel free to reassign to him.
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LSFd6by1ZbVRSR0k/view?usp=sharing

[2015-12-14 22:57] RDmitchell commented on #559
When I go back to the first screen full of data (using the First Record button, the program displays the list of fields without issue.

[2015-12-14 23:05] RDmitchell opened #560 "New label doesn't always show up in Filter list"
I am getting inconsistent results when I make a new label and then try to use it from the Filter pulldown list. The first time I added a label it appeared, but now I added a 2nd label and it doesn't appear in the list, even though records have been labeled with it.

[2015-12-14 23:06] RDmitchell commented on #560
I will make a video for this issue.

[2015-12-14 23:14] RDmitchell commented on #560
Here is a video that shows the behavior I am seeing.
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LMzNrSkw0MHRfOFk/view?usp=sharing

@pipermerriam -- I am assigning this to you. Feel free to assign to @danielmcquillen as needed. thx !

[2015-12-15 00:15] RDmitchell opened #562 "Building List view error on old data unless browser is incognito"
On most (all?) my old accounts on the latest seedtest (updated 12/14/2015) I get an error when I try to display the buildings. If I do a browser refresh it doesn't help. When I do an incognito window, the problem goes away.

Here I have logged into my Robin LBL 5 test account and I get an error loading the building list
POST https://seedtest.lbl.gov/app/search_buildings/ 500 (INTERNAL SERVER ERROR

[2015-12-15 00:26] danielmcquillen commented on #560
In testing via Robin's account, it looks like labels are being created for org ID 2, but the user is logged in as using org ID 6.

[2015-12-15 01:10] danielmcquillen commented on #562
I was able to log in with credentials Robin provided for this account, and list the buildings without an issue. Is this possible an issue arising from the values Robin has set in cookies?

[2015-12-15 01:12] RDmitchell commented on #562
This is really only important in terms of whether users will run into this on seed. We might want to be able to tell users default browser settings so that they don't run into this problem. We don't want to have them needing to clear their cache or their cookies all the time.

[2015-12-15 01:21] RDmitchell commented on #562
Looking at the list of cookies in my chrome browser I don't see anything related to seedtest.lbl.gov. Not that it is that easy to sort through all the cookies.

[2015-12-15 04:38] pipermerriam commented on #560
That makes complete sense.  All of the label backend code uses
`user.orgs.all()[0]`

On Mon, Dec 14, 2015 at 5:26 PM Daniel McQuillen <notifications@github.com>
wrote:

[2015-12-15 15:24] axelstudios commented on #544
Hmm, I'm not able to reproduce that, even by clicking `Data Mapping`->`Data Cleansing` on a file I uploaded weeks ago.  That value is pulled directly from the database for the ImportRecord's finish_time

[2015-12-15 16:49] axelstudios commented on #544
Yeah, I think we're going to need a database migration to be able to store timestamps of when files were uploaded because that doesn't currently exist. The database table `data_importer_importfile` only has metadata about the file content and processing status (no timestamps), whereas the *dataset* table `data_importer_importrecord` does maintain timestamps for the entire dataset.

We could probab

[2015-12-15 20:11] pipermerriam opened #565 "Revert all changes related to multiple id matching"
Per today's (15/12/2015) call, revert all tax-id splitting changes.

[2015-12-15 21:17] axelstudios opened #567 "Add git $Id:$ keyword to display the sha of the current version on the About screen"
This will help with identifying which git commit seedtest is currently serving.

[2015-12-15 22:00] pipermerriam opened #568 "Add flake8 linting to the python codebase."
Add an automated code linting run to travis-ci

[2015-12-15 22:06] RDmitchell commented on #565
The one exception (if possible) might be to keep in the ID normalization code that you wrote, ie, matching 111-111 to 111111 and 111 111 (etc). If it's too hard to keep that in, it's ok, but just having that normalization for 1:1 record matching would be useful. Up to you in terms of whether it's feasible.

[2015-12-15 22:07] pipermerriam commented on #565
@RDmitchell here is the google document with my thoughts from the developer call today.  It's pretty sparse but hopefully acts as a starting point.

https://docs.google.com/document/d/1R7Lh5CpcKhidWBWWGaGhjCnOX1x7eXN0qsI2xpHJFuY/edit#

[2015-12-15 22:07] danielmcquillen opened #569 "Label service calls should always include user's org ID"
When making calls to the label API endpoints, always include the user's current organization ID.

[2015-12-15 22:11] danielmcquillen commented on #569
The FE sometimes uses "org_id" and sometimes uses "organization_id"  ... we're going to try to standardize on "organization_id"

[2015-12-15 22:21] RDmitchell opened #570 "Address *debt* related to building search"
Suggested by Piper at the 12/15/2015 SEED Developer call.

Currently, the payload used in `seed.views.main.search_buildings` to search/filter/sort buildings is being used in two other places within the new labeling functionality.  This area of the code is not well tested making it somewhat easy for a change in one of these location to cause breakage in the others.
- Attach this to the next time so

[2015-12-15 22:38] danielmcquillen commented on #569
Created branch https://github.com/SEED-platform/seed/tree/569-add-org-ids

[2015-12-15 22:57] danielmcquillen commented on #569
Fixed in https://github.com/SEED-platform/seed/pull/572

[2015-12-15 23:03] #569 closed

[2015-12-15 23:09] RDmitchell opened #573 "Data Model Changes -- create spec"
In trying to put together a solution to the problem that cities have with multiple PM IDs matching to single Tax Lot IDs, and multiple Tax Lot IDs matching to single PM IDs (which we punted on fixing, see #565), we (Piper, Stephen, Rich, Robin on a conference call 12/15/2015) decided we need to come up with a better data model, as the current model doesn't really support many:many relationships in

[2015-12-15 23:41] danielmcquillen commented on #556
This is working locally for me. This also works for me on seedtest with a user with one org. This fails on seedtest user with two organizations (Robin's).

Therefore will probably be resolved by Piper's https://github.com/SEED-platform/seed/pull/572 PR.

[2015-12-16 00:24] danielmcquillen commented on #541
Fixed in #575. In the future, we should probably refactor the `section_header` area to be more responsive. Current layout is a bit cumbersome.

[2015-12-16 00:27] danielmcquillen commented on #545
This was included as part of the Labels work https://github.com/SEED-platform/seed/pull/524.

(Sorry, should have been a separate PR to address just this issue. )

[2015-12-16 00:53] bravacheLBL commented on #490
This seems to be solved in Seedtest. When I create a new project with the same project name, I get the warning. If I close the dialog box and open it again, the warning is gone and the input field is cleared.

[2015-12-16 00:53] #490 closed

[2015-12-16 01:25] RDmitchell commented on #545
Daniel -- when you have this fixed, assign it to me and label it "test" and I will then test it and close it. Thx !

[2015-12-16 01:28] RDmitchell commented on #556
Assign it to me for testing when PR 572 is merged. thx!

[2015-12-16 01:31] RDmitchell commented on #541
I am assigning this to myself for testing when the PR #575 is merged. I took off the "in progress" label and substituted "test" (!) I guess this is the process that Elena wants us to solidify !

[2015-12-16 01:32] bravacheLBL commented on #239
Sorry about the delay, I missed the message that asked if I could do it quickly.

Regarding the progress bar I identified 3:
- The progress bar between data import and mapping suggestions
- The progress bar between mapping suggestions and the mapped data overview
- The progress bar for matching buildings in the dataset.

For the first progress bar before mapping suggestions, it starts at 0 and jum

[2015-12-16 01:35] RDmitchell commented on #507
I am assigning this to me for testing once Piper gets the org issue squared away. thx !

[2015-12-16 01:38] RDmitchell commented on #490
Thx for testing !

[2015-12-16 01:41] RDmitchell commented on #239
@bravacheLBL -- thanks for testing this.
is the "message" text showing up in the UI of the progress bar or do you just see it behind the scenes?

[2015-12-16 01:52] RDmitchell opened #576 "Fix the failing selenium CI tests"
Nick is going to work with Piper in the next few weeks to decide what to do about the failing CI Selenium tests.

Some notes from the 12/15/2015 developer call
****
Piper - Separate the selenium based tests into a different test run on travis that is allowed to fail
Selenium tests are fragile and hard to write
* Nick L to talk to Piper and Ry and make a plan
* Delete the tests and then work on get

[2015-12-16 04:09] RDmitchell commented on #544
@axelstudios -- Seems like a timestamp for the data files would be a good addition. Users may have multiple datafiles inside a dataset, and they can have different import dates.

Let's put this on the work for after the Dec release, so for the Feb release. I will change the milestone. Thx !

[2015-12-16 04:45] RDmitchell opened #577 "Add Show/Hide Columns and Reorder Columns to Building Detail"
In the Building List, it is possible to control what fields are displayed in the list, and what order they are in, under the List Settings link. I am putting the main ideas about the new functionality directly into this issue, but am also starting a spec document where the developer who works on this can add more details. Here is a link to that doc:
https://docs.google.com/a/lbl.gov/document/d/1wC

[2015-12-16 04:56] rHorsey commented on #239
Nice. Thanks so much @bravacheLBL for testing this out.

@bravacheLBL Could you also look into the projects functionality? As I was suprissed to learn there are status bars associated with project creation, & deletion, as well as building deletion and export.

@RDmitchell If you make a list of what behavior you want for not-matching (I have no idea what's up with that) progress bars, I think I can

[2015-12-16 04:58] RDmitchell opened #578 "Add Column Reordering Feature to Matching Screen"
There is currently already a "Show/Hide Columns" button in the Matching Screen. Add a "Reorder Columns" option that would have the same functionality as the "Reorder Columns" in the Building List "List Settings" link. We can start a more detailed spec once we assign this issue to a developer

**Reorder Columns**
This is the Reorder Columns feature in the Building list to be added to the Matching s

[2015-12-16 05:04] RDmitchell opened #579 "Add ability to view different fields on each side of matching screen"
Allow the user to define different fields to be displayed on the right and left side of the matching screen
![image](https://cloud.githubusercontent.com/assets/6314950/11832652/4e8dfafc-a36f-11e5-897f-3ef0067f9eea.png)

This might be part of #578

[2015-12-16 05:48] RDmitchell opened #580 "Add Label Feature to Data Cleansing view"
In the Data Cleansing Results that are displayed from the Mapping screen, add the Label feature. This would allow a user to filter on the Data Cleansing Results, and then add appropriate labels.

For example, it would be possible to filter on a field and the error message, and then label all the resulting records.
![image](https://cloud.githubusercontent.com/assets/6314950/11833222/635deea0-a375-1

[2015-12-16 05:55] RDmitchell opened #581 "Add "Matched" filter to Building List screens."
Add the label feature to the Matching screen so that users can label unmatched records, or records that they want to come back to in the Matching screen for further scrutiny. Once we assign this issue we can develop a more comprehensive design doc

![image](https://cloud.githubusercontent.com/assets/6314950/11833350/78f5304c-a376-11e5-8b17-7131b8120e02.png)

![image](https://cloud.githubuserconten

[2015-12-16 06:00] RDmitchell commented on #29
Add these navigation buttons (currently on the Building List view)
![image](https://cloud.githubusercontent.com/assets/6314950/11833390/fed6d01c-a376-11e5-87c0-dec3a8a25cca.png)
to the Building Detail View
![image](https://cloud.githubusercontent.com/assets/6314950/11833401/1996a8aa-a377-11e5-856a-c41cdd3fd7bd.png)

[2015-12-16 06:05] RDmitchell opened #582 "Add Data Cleansing functionality to Inventory (Property and Tax Lot) View"
Add the Data Cleansing functionality, that is currently on the Mapping screen, to the Building List, so that users can see data cleansing issues after files have been imported.

![image](https://cloud.githubusercontent.com/assets/6314950/11833457/b8b74a0c-a377-11e5-945b-32aecdd3285d.png)
![image](https://cloud.githubusercontent.com/assets/6314950/11833467/d0a4b8c0-a377-11e5-807c-f45533bc9c87.png)

[2015-12-16 06:13] RDmitchell opened #583 "Admin screen to control Data Cleansing settings"
We will develop a much nicer spec for this feature, but here is a rudimentary beginning for what might be controlled on this screen.
![image](https://cloud.githubusercontent.com/assets/6314950/11833587/0266d1e4-a379-11e5-991d-955bdcab4091.png)

[2015-12-16 18:23] bravacheLBL commented on #239
@RDmitchell : The message is behind the scene.
@rHorsey : Yes, it seems that I missed the progress bar for project creation and export. There are no progress bar for deleting projects/buildings/datasets. In those cases, there is a dialog box that shows up, but it is empty, and the deletion is fairly quick (~5 seconds for my sample of 512 buildings).

Regarding the progress bar for project creation

[2015-12-16 18:41] RDmitchell commented on #239
@rHorsey -- if it is possible (you can ponder and we can make a separate issue for it, figure out the level of effort, priority, schedule, etc) it seems like it would be nice to see the messages (ie, "parsing" or whatever). It might seem a bit geeky, but it would make me (and possibly other users) more comfortable that something was actually happening when the progress bar is sitting at 45%. Right

[2015-12-16 19:19] RDmitchell opened #585 "If no matching fields mapped, can't get to Building Details"
If, for whatever reason, you don't map any of the 4 matching fields in a data file, when you go to the Building List, because there are no matching fields, which are usually displayed with a link to the Building Detail view, there are no links to get to the Detail view.

Not sure what to do about it, but seems like a design flaw.

[2015-12-16 21:30] rebrownlbnl commented on #585
On data import, should users be required to map at least one field to one of the 4 matching fields?
Otherwise, the building list page needs to change so that other fields (besides the 4 matching fields) can be hyperlinked to the detail view.
I lean toward the former approach, since it's hard to imagine a building that doesn't have some type of ID or an address. (although I'm probably overlooking s

[2015-12-16 22:38] RDmitchell commented on #585
I don't think we should enforce setting a matching field. At this point, I think it's not going to be an issue, because everyone using the software is setting at least one matching field. I just happened to be testing an edge case and didn't set it and then discovered this issue.

I actually think the current UI doesn't make sense -- why should only the matching field link to the details screen? a

[2015-12-16 22:54] RDmitchell opened #586 "Add capability to read multi-tab excel files"
Right now the program only reads the first tab of an excel file. Many times i have imported data, and gotten something unexpected, because what I was looking at in Excel was the 3rd tab but the program imported the 1st tab.

On importing an Excel file, can we detect if there are multiple tabs, and then give users a choice of which tab to import, still only importing one tab, but not forcing it to

[2015-12-16 23:38] teeterc opened #587 "Missing {{STATIC_URL}}seed/images/DOE-SEED-Logo_v4.jpg"
Open google chrome developer tools and view errors on the landing page (before logging in)
static/seed/images/DOE-SEED-Logo_v4.jpg 404 (Not Found)

This is on the development branch

Cheers,
Clay

[2015-12-16 23:39] teeterc opened #588 "/static/landing/js/landing.js missing"
Open google chrome developer tools and view errors on the landing page (before logging in)
static/landing/js/landing.js  404 (Not Found)

This is on the development branch

Cheers,
Clay

[2015-12-17 01:00] rebrownlbnl commented on #587
There's probably a more elegant way to do this, but that image is missing is because it is a trademarked logo and the person/organization installing SEED has to sign a license with LBNL for permission to use the logo publicly. The licensing process is described [here](http://seedinfo.lbl.gov/SEED-Affiliates/affiliate-criteria) under Hosting Provider.
Basically, there's a different process to get t

[2015-12-17 01:14] RDmitchell commented on #127
![image](https://cloud.githubusercontent.com/assets/6314950/11858676/62c16262-a418-11e5-9e5a-71818f6cd9be.png)
![image](https://cloud.githubusercontent.com/assets/6314950/11858664/47ada36e-a418-11e5-9aa1-73906c95a357.png)

[2015-12-17 04:00] RDmitchell commented on #309
A data point from an import I did today (seedtest, version as of 12/16/2015 at around 11 am). 17,000+ records, approx 3 minutes to upload. Didn't actually seem that bad to me. Not too many fields (29). The harder case would probably be that many records with 250 fields from Portfolio Manager.
I put the data (NYC Public Disclosure Benchmarking data) here
https://drive.google.com/a/lbl.gov/foldervie

[2015-12-17 17:09] Gregory-Bonser opened #590 "deleting data sets does not delete buildings?"
We have deployed SEED on AWS.

We deleted test data sets and uploaded a new set for further testing and demonstration purposes, however there are many buildings that remain in the list of buildings (the ones in "EnergyTown") that remain - we expected deleting the datasets would delete the buildings in the data sets...

[2015-12-17 17:37] RDmitchell commented on #590
Deleting the dataset does not delete the buildings. You need to delete the buildings from the building list.

[2015-12-17 18:11] Gregory-Bonser commented on #590
OK thank you.  What does deleting the dataset do?

When working with the building list, I "checked all" via the box in top LH corner of the list.  This selects the whole set, not just the visible data...

Is there an easier way to delete all the buildings from an old data set, or belonging to a particular owner, buidings of a certian size etc?

[2015-12-17 18:13] RDmitchell commented on #590
Without any filtering, checking the upper left box selects all the buildings. If you filtered the data (using the input boxes at the top of each column) you would get a subset of the data based on your filter, and then when you check the upper left box only the records in the filter are selected, and then you can delete just those records.

[2015-12-17 22:36] danielmcquillen opened #592 "Server returns wrong num_buildings_updated after label operation on filtered list"
To recreate:
- Create a new label "test"
- Add label "test" to the first two buildings in your building list
- Filter by label "test" - you should see two buildings
- Remove label "test" on those two buildings

Expected results:
- No buildings are shown in building list (as "test" is still an active filter)
- `num_buildings_updated` returned from server is 2

Actual results:
- No buildings are in

[2015-12-17 22:48] danielmcquillen opened #593 ""View Project" button doesn't work after adding buildings to existing project."
**To recreate:**
- Select two buildings in the building list
- Select "Add to existing project" from the pulldown
- Select "View Project" in the success dialog

**Expected results:**
- Server shows project view

**Actual results:**
- Nothing happens

**Analysis:**

Looks like the click event is calling $scope.go_to_project() without providing a `project_slug` argument. The method in this case will

[2015-12-17 22:49] RDmitchell commented on #593
@danielmcquillen -- Should this be assigned to @pipermerriam ?

[2015-12-17 23:06] danielmcquillen commented on #593
I'm looking into it now. If I can't figure it out perhaps Piper can help. But let me have at it a bit more. Somehow the project object is being remove from the $scope when that final success dialog is shown.

[2015-12-17 23:20] RDmitchell commented on #493
I'm closing this as we have implemented the first phase of the label spec

[2015-12-17 23:20] #493 closed

[2015-12-17 23:21] RDmitchell commented on #494
I am closing this as we have implemented the first phase of labeling and now can open separate issues for bugs and enhancements. Thanks Piper !

[2015-12-17 23:21] #494 closed

[2015-12-17 23:42] RDmitchell opened #594 "Null operator on numeric fields"
@pipermerriam
Should null work on numeric fields to show records with blank values for that field?

If this is easy to fix, we can try to get it into the Dec release; otherwise let's push make it a Jan hotfix (?) or move it to the Feb release.

In the following example, there is one record that has Year Built blank (total # records = 512, the sample data set)
![image](https://cloud.githubuserconte

[2015-12-17 23:45] RDmitchell opened #595 """ or !"" in a numeric field gives server error"
the expressions "" and !"" are not allowed for numeric fields -- null and !null are used instead.

However, if the user (like me who forgot !) types "" or !"" into a numeric field, the program gives a server error

![image](https://cloud.githubusercontent.com/assets/6314950/11885369/327fce6e-a4d5-11e5-820d-4b8632b6ac25.png)

Could we put that error into the UI, ie, saying something like "That expr

[2015-12-17 23:48] RDmitchell commented on #593
Sure, so I assigned it to you. Having it assigned to someone reassures me that someone is looking into it !! Thanks !

[2015-12-17 23:48] danielmcquillen commented on #593
The core issue is that the $scope.project object is getting set to null after buildings are successfully added to a project. I can't see exactly where this is happening, but I believe it's due to the fact that the `building_list_controller` calls init() after the buildings are added.

Within its init method, the `building_list_controller` will call project_service.get_projects() because it's curre

[2015-12-17 23:51] RDmitchell commented on #593
Should I test this on the production server to see if this is an issue that existed before we made the recent changes?

[2015-12-17 23:55] RDmitchell commented on #593
Looks like this works on the current production server -- I did the following
* checked 2 records in the building list and made a new project
* viewed the project,
* back to building list, checked 2 more buildings, and added them to the project i just made
* clicked View Project, program highlights the Project nav button and shows the building list in the project

[2015-12-18 00:19] RDmitchell opened #596 "Default labels not available for new accounts"
@danielmcquillen -- I am assigning this to you initially but it might be an issue for @pipermerriam

I made a new account on seedtest for testing. I played around with testing filtering, then decided to test labels.

When I filtered the building list and then clicked on Add/Remove labels, the default labels do not appear. I can make new label, and I see it in the Label Admin screen, but the defaul

[2015-12-18 00:24] RDmitchell commented on #593
It is not just View Project that doesn't work -- if I make a new project, the program makes the Project Name, but doesn't add the records to it that I had selected (after doing a filter on the data)

[2015-12-18 00:24] danielmcquillen commented on #593
For the add to existing, the difference is: on the production server after the buildings are added and init() is called, which calls get_projects(), the $scope.project object is not being set to null.
Somehow in the current code, it is getting set to null.

[2015-12-18 00:31] RDmitchell opened #597 "Labels take a long time to load if there is a lot of data"
I have an account with 17,000+ records in it. When I make do a filter that selects 16,000+ of those records in the Building List, then select all of the (with the checkbox) and select Add/Remove label, the program takes several seconds to load the label list. it does display a message saying "loading labels" which is good. Don't know if we want to look into optimizing this.

I am setting this to a

[2015-12-18 00:41] RDmitchell opened #598 "Adding a label to 16,000+ records is a bit slow"
**Issue Summary**

Takes several seconds to apply a label to thousands (16,000+) of records
Related to #597

**To recreate**
- Filtered on a database with 17,000+ records
- Get 16,000+ as a result of a filter
- Select all of them with the checkbox
- Select Add/Remove Filter from the Building Action pull down menu
- Make a new label
- Click the Done button to apply the new label

**Result**
- Progr

[2015-12-18 01:17] danielmcquillen commented on #593
Ok, I think I've figured this one out. The problem is that a binding with the UI pulldown in the dialog is hanging around and setting $scope.project to null when get_buildings returns and repopulates this pulldown.

A quick solution is to bind this control to a model meant only for this purpose (tracking which project the user just selected), so in that way any changes during data refreshes won't

[2015-12-18 02:02] RDmitchell commented on #480
We are not going to implement this as designed so I am closing this issue. I will make another one for working on a new design

[2015-12-18 02:02] #480 closed

[2015-12-18 02:12] RDmitchell commented on #75
@axelstudios -- I am assigning this to you for January, as I think it is still a problem. If this should be something for @nllong feel free to reassign it to him. thx!

[2015-12-18 02:17] RDmitchell commented on #436
I am closing this issue as we are not implementing the PM web services connection at this time.

[2015-12-18 02:17] #436 closed

[2015-12-18 02:20] RDmitchell commented on #370
@danielmcquillen -- is this something you could do? What is the level of effort? and is there a performance implication?

[2015-12-18 02:21] RDmitchell commented on #456
I am closing this issue.

[2015-12-18 02:21] #456 closed

[2015-12-18 02:24] RDmitchell commented on #42
I am closing this as I believe Edwin Lee did this
Update dev.py with initialized DOMAIN_URLCONFS for RTD

[2015-12-18 02:24] #42 closed

[2015-12-18 02:36] RDmitchell commented on #465
I am closing this issue.

[2015-12-18 02:36] #465 closed

[2015-12-18 02:38] RDmitchell commented on #463
This has been implemented with the label feature so I am closing it.

[2015-12-18 02:38] #463 closed

[2015-12-18 02:43] RDmitchell commented on #500
This has been hard to test as I don't have any existing projects on seedtest with labels. I will make some projects on seed and add labels, and then when we put the Dec release onto seed, I can test the migration.

[2015-12-18 02:52] RDmitchell commented on #500
on Robin LBL 3, made a project with 9 records, labeled with 3 different labels
![image](https://cloud.githubusercontent.com/assets/6314950/11888106/1999ef46-a4ef-11e5-8e1a-c048d5610ff4.png)

I also had a few other labels defined even though they weren't used for this project.
![image](https://cloud.githubusercontent.com/assets/6314950/11888115/2fcfd4ba-a4ef-11e5-978f-5c7d426d5f12.png)

Once the ne

[2015-12-18 02:54] RDmitchell commented on #497
@bravacheLBL -- if you can test this on the latest seedtest tomorrow (Fri, Dec 17) that would be great. thx

[2015-12-18 03:03] RDmitchell commented on #497
Just tested this, seems to be working. Am closing

[2015-12-18 03:03] #497 closed

[2015-12-18 03:05] RDmitchell commented on #521
I am closing this issue as we reverted these changes due to lack of correct data model

[2015-12-18 03:05] #521 closed

[2015-12-18 03:05] RDmitchell commented on #513
I am closing this as we reverted this code

[2015-12-18 03:05] #513 closed

[2015-12-18 03:07] RDmitchell commented on #593
Assigned to myself for testing after @mmclark  merges in #599

[2015-12-18 03:07] RDmitchell commented on #560
Am assigning this to myself for testing

[2015-12-18 03:09] RDmitchell commented on #559
Am assigning to myself to retest with all the new code fixes

[2015-12-18 03:09] RDmitchell commented on #557
Test on seedtest on account with 2 orgs

[2015-12-18 03:13] RDmitchell commented on #556
This works on an account with 1 org (+44)
This works on an account with 2 orgs (+1)
Am closing !

[2015-12-18 03:13] #556 closed

[2015-12-18 03:18] RDmitchell commented on #555
This works in an account with 2 orgs (+1)
This works in an account with 1 org (+44)
Am closing

[2015-12-18 03:18] #555 closed

[2015-12-18 03:19] RDmitchell commented on #549
I am closing this issue, because I am going to test via #500.

[2015-12-18 03:19] #549 closed

[2015-12-18 03:21] RDmitchell commented on #596
@pipermerriam -- I am putting this in your queue, since tomorrow is Daniel's Saturday. If you can fix this by EOD on Friday (12/18) that's great, but if not it's not the end of the world. The rest of the label functionality seems to be working well, so we don't have to have the default labels working if you don't have time or it's complicated.

[2015-12-18 03:22] RDmitchell commented on #126
I am closing this as it seems to have been resolved.

[2015-12-18 03:22] #126 closed

[2015-12-18 03:23] RDmitchell commented on #367
am closing this as it has been tested and is ready to go

[2015-12-18 03:23] #367 closed

[2015-12-18 03:31] rebrownlbnl commented on #370
I think we should keep some sorting and filtering capability on the backend, because API users might want that capability. But if we think it's better to implement this in the FE, we can just not invoke the BE filtering and sorting, retrieve the full list of buildings, and filter in the FE.

[2015-12-18 03:32] RDmitchell commented on #271
I believe this is still an issue. Am setting the milestone to January and assigning to @bravacheLBL to test to verify that it is still doing an alpha sort on the numbers in the address.

[2015-12-18 03:42] RDmitchell commented on #560
In my +1 acct with 2 orgs, filtered on !"" for Building Name (using file from #271), got 9 buidlings, made a label, clicked Done to apply it and got this error message
![image](https://cloud.githubusercontent.com/assets/6314950/11888699/7f0e9772-a4f5-11e5-864e-ed7c700d7829.png)
 The label was created, and if I don't use that filter and just apply the label to a record, it works fine.

This doesn't

[2015-12-18 03:52] RDmitchell commented on #557
I am still seeing this problem in my account with 2 orgs.
To reproduce:
* Edit a default label via the Labels admin screen -- I change the color and add xxx to the name
* Go to the Building List
* Select a record with the checkbox, go to Add/Remove Labels menu option
* You should see the newly edited label
* Click Done or Cancel to get out of that modal
* Click on the "Filter by Label" box and you

[2015-12-18 03:55] RDmitchell commented on #507
This is working for existing accounts but not for new ones (see #557 ), so I am closing this issue

[2015-12-18 03:55] #507 closed

[2015-12-18 03:59] RDmitchell commented on #541
this is fixed. am closing

[2015-12-18 03:59] #541 closed

[2015-12-18 09:15] rebrownlbnl commented on #440
This is the new copyright language to put in the header of all source code files.

The author line is optional, but where an author is already listed we should use it.

@pipermerriam - the copyright is a long line, do we need to add line breaks to limit to 80 characters to pass Flake8 testing?

Please also add the notice to the bottom of the main readme page.

[2015-12-18 16:55] pipermerriam commented on #440
@rebrownlbnl two possible options for flake8

* wrap the lines (will this mess up whatever automated stuff reads these?)
* append `# NOQA` to the line.  This signals to flake8 that it should ignore any linting errors on the line.

[2015-12-18 16:56] pipermerriam commented on #440
Also, just curious why this needs to be present in each file as opposed to being done in the project LICENSE or something?

[2015-12-18 17:36] RDmitchell commented on #557
@pipermerriam -- I set this to priority 1 (maybe get it fixed today?), because not all the labels that have been defined are available in the filter box. I am wondering if it might be something like the scroll bar on the pulldown is missing or something, because it seems that the first 10 labels are showing up, but not the rest. ??

[2015-12-18 17:41] RDmitchell commented on #557
@pipermerriam -- this happens in my test accounts with just 1 org and with > 1 org. It seem like the first 10 tags are shown in the pull down list alphabetically in all the accounts I have tested, no matter whether I have made them as new labels or they are the default labels.

[2015-12-18 17:46] RDmitchell commented on #557
@pipermerriam -- I am closing this issue, because the problem in it I think is now fixed, and what I was writing at the end is actually a different problem. I will make a new issue with the new problem.

[2015-12-18 17:46] #557 closed

[2015-12-18 17:47] pipermerriam commented on #594
The tradeoff here is:

* This will currently work if you just type `=null` or `==null`
* If I extend this to work with just typing `null` it will remove the ability to search for the string "null".
* The ability to search for the string "null" could be re-implemented later by detecting that it has

This is probably not nearly as big a deal as the simplicity of being able to filter for `null` value

[2015-12-18 17:54] RDmitchell opened #601 "Only the first 10 labels are shown in the Filter by Label list"
@pipermerriam -- I am assigning this to you, priority 1, for today if possible. If you can't fix it by today let me know and we can decide whether to release the program without this fix and do a hot fix next week, or to just hold off doing the release for a day or two (I would prefer the first option). THX !
*******
Only the first 10 labels in the label list (sorted alphabetically) appear in the

[2015-12-18 17:54] pipermerriam commented on #557
@RDmitchell that makes perferct sense!  The results are paginated (which didn't occur to me until you said this).  This will be a really easy fix.

[2015-12-18 17:55] pipermerriam commented on #601
This will be really easy.  on it now.

[2015-12-18 17:55] RDmitchell commented on #557
Cool !

[2015-12-18 17:56] RDmitchell commented on #601
thx !

[2015-12-18 17:57] RDmitchell commented on #594
Aha ! As long as there is something that works now, ie =null, that's fine.

Keep it as is, don't make any changes !

Let me do a quick test and then I will close this issue -- THX !

[2015-12-18 19:36] RDmitchell commented on #440
@rebrownlbnl -- if you decide that it does have to be on every file (which I think you might decide is true), then we should assign it to someone to work on next week. Presumably that would be @pipermerriam ?

[2015-12-18 19:55] RDmitchell commented on #246
Have tested, am closing

[2015-12-18 19:55] #246 closed

[2015-12-18 19:56] RDmitchell commented on #514
Don't see this in latest code on seedtest, am closing

[2015-12-18 19:56] #514 closed

[2015-12-18 19:57] RDmitchell commented on #593
Tested, this is now working, am closing

[2015-12-18 19:57] #593 closed

[2015-12-18 20:06] RDmitchell commented on #560
@pipermerriam -- am giving this a Jan 2016 milestone -- we can do a hot fix in late Dec or early Jan

[2015-12-18 20:14] RDmitchell commented on #559
@pipermerriam -- this is still an issue, but I am putting a lower priority on it, and we can deal with it as a hot fix in late Dec or early Jan. So this happens when I use the "next" button to move through the records. However, if I just do a filter for # in the address field, the program shows all the records with # and then I can assign labels without problem. It just seems to happen when you mo

[2015-12-18 20:17] RDmitchell commented on #562
I am going to close this, as I can't reproduce it now and there was not an obvious reason why this was happening. I will make a new issue if it continues to be a problem

[2015-12-18 20:17] #562 closed

[2015-12-18 20:40] pipermerriam commented on #601
Ok, two things going on here.

1. The pagination *thing* that i mentioned was real but it wasn't the issue you were seeing.  This PR fixes it.
2.  The issue you were seeing was the auto-complete list you were looking at was limiting the displayed results to 10 items.  I bumped this up to 25.  If the number of labels is larger than 25 *and* the desired label is not in the first 25 results then the

[2015-12-18 20:44] pipermerriam commented on #596
@RDmitchell can you tell me how this new account was created?

[2015-12-18 20:45] pipermerriam commented on #530
This is *potentially* duplicated by https://github.com/SEED-platform/seed/issues/596

Closing this one.

[2015-12-18 20:45] #530 closed

[2015-12-18 20:47] RDmitchell commented on #601
Got it -- thanks for the explanation. I sort of forgot that it was possible to just type the label name. I am going to write up some documentation so I will be sure to include this explanation.

I will test this as soon as Miles has merged the PR.

[2015-12-18 20:48] mmclark opened #603 "AttributeError: 'int' object has no attribute 'strip'"
Found in output of celery on seedtest.  Putting here so we can follow up.

[code]

[2015-12-18 21:05] RDmitchell commented on #603
@pipermerriam -- this is referencing "normalize_tax_lot_id" -- is this something you should look into?

[2015-12-18 21:09] pipermerriam commented on #559
This was in-advertantly fixed by https://github.com/SEED-platform/seed/pull/602

[2015-12-18 21:27] pipermerriam commented on #603
bork, easy to fix. I'll get a PR in asap.

[2015-12-18 22:27] RDmitchell commented on #559
Cool ! is working, am closing this -- thx !

[2015-12-18 22:27] #559 closed

[2015-12-18 22:32] RDmitchell commented on #596
Made a new account, default records are in the Label view. Closing

[2015-12-18 22:32] #596 closed

[2015-12-18 22:36] RDmitchell commented on #601
@mmclark -- did this get merged onto seedtest? I am still seeing the same behavior of the first 10 labels in the list

@pipermerriam -- can you log into your seedtest account and verify whether this is working?

[2015-12-18 22:38] rebrownlbnl commented on #440
@pipermerriam we do have a repo-level license also, but I was told by our licensing folks to put the copyright notice in the files also. It's a bit of a pain, but I can see why they want it.
I think we should just tag the line with `#NOQA`.
I realize now the text I posted is only applicable to the python code; we'll need to use a different format for the html templates and javascript.
@RDmitchell

[2015-12-18 22:44] pipermerriam commented on #601
My changes do not appear to be on seedtest.

[2015-12-18 22:46] pipermerriam commented on #440
My curiosity is piqued.  I'm curious what the reasoning is here as it isn't obvious to me.

[2015-12-18 22:50] RDmitchell commented on #440
I guess it depends how long it will take. Stephen is on vacation, so he can't do it.

[2015-12-18 22:52] pipermerriam commented on #552
@danielmcquillen I looked into this.  It's internal to the ng-tags library and I didn't see any configuration options to allow case-insensitive searching.

I **strongly** discourage hacking this in if it can't be done through official supported API's.  I think we'd be better off just using a nice looking select with all of the values since it's likely to be a manageable list of labels.

[2015-12-18 22:55] pipermerriam commented on #440
@RDmitchell 193 python files.

[2015-12-18 22:56] RDmitchell opened #607 "Add spinner when the program is taking a long time to do something"
For example, adding a label 16,000 records -- when you click Done the program just sits there for a few seconds before that dialog box goes away as it applies the labels to the records.

@axelstudios had this idea, which seems good to me
For Angular web apps, I typically implement spin.js (http://fgnass.github.io/spin.js/) to appear in the middle of the window when the $rootScope detects a $stateC

[2015-12-18 22:58] RDmitchell commented on #552
I would agree, no need to hack.

I have already written in my documentation for labels about this. Very low priority and far away if we do anything.

[2015-12-18 23:37] RDmitchell commented on #601
Got the changes onto seedtest. working now. am closing ... thx !!

[2015-12-18 23:37] #601 closed

[2015-12-19 00:46] RDmitchell opened #608 "Interpret Excel Data set to "Scientific" (Notation)"
Not sure we want to spend the time dealing with this (certainly not now), but I did run across some data that had a few of the Tax lot IDs set to "Scientific" (Notation) in Excel.

![image](https://cloud.githubusercontent.com/assets/6314950/11910161/2e02a5b0-a5a6-11e5-9db7-fd2a1640d407.png)

Right now SEED is stripping out the punctuation (good !!) and turning the first number, for example, into 7

[2015-12-19 01:18] RDmitchell commented on #424
The program imported without error the following compound address, so I am closing this issue. Thanks @nllong !
![image](https://cloud.githubusercontent.com/assets/6314950/11910426/0db85fac-a5ab-11e5-8be2-26c08ff55813.png)
![image](https://cloud.githubusercontent.com/assets/6314950/11910431/28c9f148-a5ab-11e5-9fa8-339b82f7d0e4.png)

[2015-12-19 01:18] #424 closed

[2015-12-19 01:50] RDmitchell commented on #63
I tested with a sample PM file that had alerts with 1000+ characters; program brought the text in without truncating. Fields were mapped to Energy Alerts (445), Property Use Detail Alerts (1000+), Water Alerts. Didn't have Space Alerts. (See sample data in Issue folder for this issue). Am closing

[2015-12-19 01:50] #63 closed

[2015-12-19 01:52] RDmitchell commented on #14
Am closing this issue as I think that #499 addresses this, and if not we can make another issue.

[2015-12-19 01:52] #14 closed

[2015-12-19 02:01] RDmitchell commented on #440
@pipermerriam -- I am assigning this to you. We (you, @rebrownlbnl and myself) can have a quick email consult about how to do this on Monday (12/21/06). Drudgery but it's required by our lawyers.

[2015-12-19 02:12] MarshallDDB commented on #63
Yay!

Sent from my iPhone

On Dec 18, 2015, at 8:50 PM, RDmitchell <notifications@github.com<mailto:notifications@github.com>> wrote:

I tested with a sample PM file that had alerts with 1000+ characters; program brought the text in without truncating. Fields were mapped to Energy Alerts (445), Property Use Detail Alerts (1000+), Water Alerts. Didn't have Space Alerts. (See sample data in Issue fo

[2015-12-19 02:13] RDmitchell commented on #414
@danielmcquillen @StephenCzarnecki -- how can I test this?

[2015-12-19 02:24] RDmitchell commented on #63
Until we find something that breaks it (!), but I used your data that had very long alerts and it seems to be working, no truncation, etc.

[2015-12-19 02:53] RDmitchell opened #609 "Reports don't seem to be working"
@danielmcquillen -- Can you take a look at this (not for the Dec release, for a Jan hot fix if needed)
I used the data from issue 65, that has multiple year PM files with just 10 records.
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LTmlyM2w0MHRKeVE&usp=sharing
They imported properly but then when I went to view reports its seems like there is an error.

I am setting this for Miles

[2015-12-19 03:49] RDmitchell opened #610 "Blank data overwrites master record in extra_data field"
**Description**
I believe that if a file is imported and matched to an existing record, if the data in an extra_data field is blank in the new data, it will overwrite existing non-blank data, which it should not.

**To recreate**
There are two files. The first file has data in the column called "Extra_Data field" and the 2nd file has that no data in that field.
![image](https://cloud.githubusercon

[2015-12-19 03:54] RDmitchell commented on #610
**Example Files**
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LUEVGbEVteFZpRG8&usp=sharing

@pipermerriam -- I am assigning this to you in case you can work on it sometime during the last two weeks in Dec. if you can't we can potentially give it to @StephenCzarnecki in the beginning of Jan when he is back from vacation

This is slightly urgent because one of our Partner cities nee

[2015-12-19 03:55] RDmitchell commented on #594
Am closing -- it works fine as is.

[2015-12-19 03:55] #594 closed

[2015-12-19 03:57] RDmitchell commented on #565
This seems to be completely reverted. Am closing

[2015-12-19 03:57] #565 closed

[2015-12-19 04:02] RDmitchell opened #611 "Update Master record with good data if it was overwritten with blank data"
Per #610, we need to figure out a way to correct the problem in an existing organization's data. The program has a record of all the merged data, so the original data that was overwritten by blank data is known.

We will work on this the first week of Jan when we are all back from the holidays. I am assigning it for now to @StephenCzarnecki

[2015-12-19 20:52] RDmitchell opened #612 "Rounding numeric values in list view"
Come up with a consistent way to round numbers in the list view, possibly based on number of digits to the left of the decimal point?

Right now, for very large numbers, such as Site Energy Use, the program is showing values to one decimal point, which is not needed in terms of resolution and makes them hard to read.

In the screen shot below, for a 7 digit value, the program is showing it to 1 de

[2015-12-19 21:44] RDmitchell opened #613 "Filtering floating point numbers that are rounded/truncated"
**Summary**
I can't seem to get only values exactly equal to 100 in one of the numeric fields in the sample data

**To recreate**
Import the sample PM data (portfolio-manager-sample.csv) as a Portfolio Manager file, accept all the automatic mapping suggestions from the program, the program generates the building records.

Set filter to > 100, get the following -- seems like the program shouldn't s

[2015-12-19 22:49] RDmitchell commented on #500
**Problem**
It seems that the program added the labels from the Project to the Building Records, but the new labels made in the Project were not added to the list of labels. Not sure there is anything to be done about this, because we would have to write something to make a pass through all the Canonical Buildings (?) and add any labels found associated with those records to the Label table (?)
@d

[2015-12-19 23:19] RDmitchell opened #614 "Address Normalization -- a few more refinements"
Here are some other ways that addresses can appear in data
- 111 'N' Street ==> 111 N Street
- 2222 - 8th Street ==> 2222 8th Street
- 123 Civic CenterPlaza ==> 123 Civic Center Plaza
  - can/should we parse out a camel case address into separate words ??
- 333SouthStreet ==> 333 South Street
  - we should probably try to break up the street number from the name, but then the question still remain

[2015-12-19 23:24] RDmitchell opened #615 "Two Addresses in Portfolio Manager Address field"
**Problem**
Two addresses in one field, possibly separated by "and" or "&" that are entered as the one address in a Portfolio Manager file

**Example**
Address Line 1 = 714 and 744 P Street

This is from Portfolio Manager data and presumably represents another example of 2 buildings lumped into one PM record, in a similar fashion to having two Tax Lot iDs associated with one PM record.

**Solution

[2015-12-20 00:09] RDmitchell opened #616 "No records added to project when filtering with labels"
**Problem**
Records are not added to a new Project if they are filtered by a label, even if the records to be added are selected with the checkboxes

**Steps to recreate**
Import, map and match the sample data for buildings and PM data.

* Do a =null search on Site EUI, 120 buildings are filtered.
![image](https://cloud.githubusercontent.com/assets/6314950/11915731/0eb8948a-a669-11e5-92ea-5b962025

[2015-12-20 00:55] RDmitchell opened #617 "Address Range matching -- more refinements"
Comment by @bravacheLBL from issue #317, which I have closed.
There are still more things that should be addressed
@bravacheLBL  added a new file in Gdrive /Issue 317 (https://drive.google.com/open?id=0B3fTKpZ9Dx7LUlQyUG9YZkQ2aDQ) with the suffix "FORMAT" where I changed the format of some address line and added a field "Note" where I wrote what I changed.

I then tried to match those buildings wi

[2015-12-20 00:56] RDmitchell commented on #317
@pipermerriam @bravacheLBL -- I am making this into a new issue ( #617) and closing this one, with just the piece at the end from @bravacheLBL in the new issue.

[2015-12-20 00:56] #317 closed

[2015-12-20 00:57] RDmitchell commented on #617
I have set the priority = 3 and not assigned a milestone yet. We will wait and see how other things stack up before deciding when to tackle this.

[2015-12-20 01:20] RDmitchell commented on #617
Looking at the matching results when the files that have the prefix "Matched" on them, the matching results are a bit mixed. We should revisit the matching results when we have time, using those same files in
https://drive.google.com/open?id=0B3fTKpZ9Dx7LUlQyUG9YZkQ2aDQ

[2015-12-20 01:26] RDmitchell commented on #273
tested on seed v1.3, am closing

[2015-12-20 01:26] #273 closed

[2015-12-20 01:51] RDmitchell opened #618 "Decouple list settings in different views"
**Problem**
Right now, the List Settings from different views are coupled together. So if you change them in one place, such as in the Matching screen, those same changes are carried over into the Building List view.

Users may want to see a very different set of fields in the Matching screen than in the Building List screen

[2015-12-20 02:00] RDmitchell opened #619 "Distinguish Strings vs Numbers in Building List JSON blob fields"
**Problem**
Right now it is very hard to tell whether something is a number or a string based on either the value in the field or the field name.

Filtering and sorting behave differently depending on whether the data are numbers or strings.

And then there is the issue of the data stored in the Extra_data field which might be a number stored as a string (does that happen?)

**To see the issue**
P

[2015-12-20 08:19] danielmcquillen commented on #609
Ok. I wasn't able to recreate, but did see a gateway timeout error:

![image](https://cloud.githubusercontent.com/assets/119496/11917132/9f1bc296-a74e-11e5-8d90-9851b3a93cc7.png)

I can work on this in January.

[2015-12-20 22:21] RDmitchell commented on #553
am closing.

[2015-12-20 22:21] #553 closed

[2015-12-20 22:27] RDmitchell opened #620 "Wrong number of matched buildings reported in dialog box"
This doesn't happen often, but sometimes, even using the sample data, the program shows that not all the records matched (even though I know that they all match). I am assigning this to myself to see if I can figure out when it doesn't report the correct # of matches.

Program is only reporting 509 matches
![image](https://cloud.githubusercontent.com/assets/6314950/11920458/5688f162-a725-11e5-8c38

[2015-12-21 17:40] pipermerriam commented on #616
Notes to self.

This functionality needs to be converted to use the `seed.search.process_search_params` and `seed.search.orchestrate_search_filter_sort` utils so that they produce the same results as the `seed.views.main.search_buildings` api endpoint does.

[2015-12-21 17:41] pipermerriam commented on #613
The field you are filtering on `site_eui_weather_normalized` is actually a floating point number in the database.  I tried this in my database which has records with the following values `103.5, 103.6, 105.3, 105.6`.  Since these numbers get rounded, the `103.5, 103.6` numbers get rounded to `104`.  When I tried searching for `==104` I get nothing and for `>=104` my first record is always `105` wh

[2015-12-21 18:23] jcmartel opened #621 "Search field not working"
The search field is not working. Typically when I type a value in the search field, only that building record displays. The issue started today.

![seedissue](https://cloud.githubusercontent.com/assets/12823217/11937986/3bd8cc62-a7dd-11e5-8713-e82cd7901110.png)

[2015-12-21 18:32] rebrownlbnl commented on #440
@pipermerriam re. copyright notice in HTML files, @mmclark had this suggestion: put it in top level html files, but not necessarily every chunk of template code in the repository.  I think if you view source on any page on the site, you should see a copyright notice.

[2015-12-21 18:55] pipermerriam commented on #440
@rebrownlbnl sounds good.  I've got the python files done.  Javascript files and html templates up next.

[2015-12-21 18:56] RDmitchell commented on #621
JC -- did you click the Update Filters button? That is the change we made -- the program no longer performs the filter as you type, you have to click the button.

[2015-12-21 20:23] pipermerriam commented on #440
RE html license.

I only had to put it in a single location as every template on the site seems to inherits from `seed/base.html`

[2015-12-21 20:33] RDmitchell commented on #440
excellent !

[2015-12-21 21:48] RDmitchell opened #623 "Unresponsive Script message"
on production server
using Firefox 43.0.1

![image](https://cloud.githubusercontent.com/assets/6314950/11942119/44d45e7e-a7e9-11e5-9f92-89c39e250cec.png)

I will see if I can replicate this on Chrome.

[2015-12-21 21:49] RDmitchell commented on #623
Don't seem to have this problem on Chrome. Could it be a browser issue? Should we recommend certain browsers and versions that work best with SEED?

[2015-12-22 17:36] pipermerriam commented on #495
@RDmitchell I believe this is complete.

[2015-12-22 17:48] pipermerriam opened #625 "Add javascript tests to Travis-CI"
The javascript test suite should probably be added to travis ci.  Otherwise it's likely to just have random failures that go unfixed.

[2015-12-22 17:50] RDmitchell commented on #611
@pipermerriam -- I am assigning this to you as your first priority for the next round of issues. This might be a bit tricky. If you can at least ponder it, and figure out how hard this would be to do, that would be a start. Thx !!

[2015-12-22 17:57] RDmitchell commented on #611
One question about this is whether this is something we do "behind the scenes" on individual orgs that request it, or we put the functionality into the UI so a user can trigger this action as needed. If we decide to put it in the UI, it could be a superuser function, or it could be something that individual users (probably "owners") of an organization, could trigger. We can figure this part out on

[2015-12-22 18:07] RDmitchell commented on #625
Who is a likely candidate to do that work?

[2015-12-22 18:14] pipermerriam commented on #625
@danielmcquillen or myself are the two that come to mind.  They basically just need to be adjusted such that they can be run from the command line.  There's already a handful of tools for doing this so we just need to pick one and get it wired up.

[2015-12-22 18:17] pipermerriam commented on #611
@RDmitchell I think I'd prefer to do this as a data migration.  That way it's a one-off thing that runs on the next deploy and we don't end up with code that needs to be maintained long term since the application should now treat this data correctly.  Thoughts?

[2015-12-22 18:19] RDmitchell commented on #432
@nllong -- would it make sense to have @rHorsey work on this ? I could assign it to him now and he could work on it as he has time in Dec and into Jan?

[2015-12-22 18:25] RDmitchell commented on #611
That does seem like the right approach.

[2015-12-22 18:27] RDmitchell commented on #495
@pipermerriam -- reassigned to me for testing.

[2015-12-22 23:48] RDmitchell opened #627 "Can't add label from Filtered building list"
When I do a filter on the building list, and then try to add a label to it (on seed.lbl.gov) I get the following error.
![image](https://cloud.githubusercontent.com/assets/6314950/11968635/33cb553a-a8c3-11e5-9c99-2726265b94e4.png)

[2015-12-22 23:49] RDmitchell commented on #627
The program also puts up an error message
![image](https://cloud.githubusercontent.com/assets/6314950/11968671/917f6428-a8c3-11e5-9e73-b0d55dcdfad6.png)

[2015-12-22 23:51] RDmitchell commented on #627
@pipermerriam -- I am assigning this to you, Priority = 1. If you can't replicate this in your development environment, let me know and I will add you to my seed account that shows this problem, in case that helps you debug.

[2015-12-23 00:07] RDmitchell opened #628 "Remove filter criteria but don't click update filter button program updates all records (not just filtered records)"
Robin -- look into this more and see if this is really true.

[2015-12-23 00:55] RDmitchell opened #629 "Server error when filtering on label"
This is somewhat related to #627 -- it is the same dataset (on seed.lbl.gov) that has 6,000+ records.

Because I couldn't label all the buildings at once when they were filtered ( #627) I labeled each record (78 of them) by hand, basically one by one. Then once I got them all labeled (label called "Tax+PM Matched"), I tried filtering on that label and the program returned a server error. However I

[2015-12-23 01:46] RDmitchell opened #630 "Server error when filtering on label"
This is somewhat related to #627 -- it is the same dataset (on seed.lbl.gov) that has 6,000+ records.

Because I couldn't label all the buildings at once when they were filtered ( #627) I labeled each record (78 of them) by hand, basically one by one. Then once I got them all labeled (label called "Tax+PM Matched"), I tried filtering on that label and the program returned a server error. However I

[2015-12-23 01:47] RDmitchell commented on #630
closing, accidentally duplicated this

[2015-12-23 01:47] #630 closed

[2015-12-23 02:31] RDmitchell opened #631 "Investigate the options for automatically downloading Custom Reporting Template data from Portfolio Manager"
@rHorsey  -- See the description in this doc. It contains some test PM accounts that you can log into to see the basic functionality we want to emulate. You can also make your own test accounts if you want to.

https://docs.google.com/a/lbl.gov/document/d/1sRM65QE9JRAQwDa9LJhc6zSiksSeofI5Py4OPCJayQo/edit?usp=sharing

I can provide more details as needed. I am setting the milestone as January to do

[2015-12-23 02:46] RDmitchell commented on #627
Can replicate with my +3 account on production seed

[2015-12-23 20:19] RDmitchell opened #632 "Add Cancel button to View/Hide Columns / Save Settings on Matching screen"
very low priority, but we should add a Cancel button to this screen
![image](https://cloud.githubusercontent.com/assets/6314950/11984367/709f6b2a-a96f-11e5-8578-3a94d16f4dde.png)

[2015-12-23 20:31] RDmitchell opened #633 "Program Doesn't Always show the right number of matches"
Program reports 72 not matched and 36 matched, but actually it is 78 matched and 30 not matched for this particular data set.

![image](https://cloud.githubusercontent.com/assets/6314950/11984516/b21033e0-a970-11e5-9f17-d14f058b6875.png)

I will try to come up with a dataset that reproduces this behavior, although that may not be straightforward.

[2015-12-23 20:37] RDmitchell commented on #627
@pipermerriam -- I am testing the current version of seedtest (12/23/2015 12:11 PM), and I can't replicate this problem. So for some reason this might only be happening on seed (production). I am going to do more testing on seedtest and make sure it is all working. Then if we move the code from develop to master and onto seed (production) I will test again.

[2015-12-23 22:15] pipermerriam commented on #627
Looking into it now.

[2015-12-23 22:24] RDmitchell opened #634 "Renaming Data set doesn't save new name"
**Problem**
Using the Edit icon to rename a dataset, and clicking the Save button, the new name is not saved

**To recreate**
* Make a dataset
* Click the pencil (edit icon)
![image](https://cloud.githubusercontent.com/assets/6314950/11986079/6011cb34-a980-11e5-8814-8893ba49c816.png)
* Rename the dataset
* Click the Save button
![image](https://cloud.githubusercontent.com/assets/6314950/11986093/7

[2015-12-23 22:53] pipermerriam commented on #627
Ok, I'm able to reproduce on seedtest but not locally.  Given that it's throwing a 500 it should be easy to diagnose if I can get access to the server logs (or the app can be toggled into debug mode).  Any ideas on how to accomplish this? @RDmitchell

[2015-12-23 23:17] RDmitchell commented on #627
I think @mmclark can put the server into debug mode. Not sure what his work schedule will be over the holiday. We can work on this the first week of Jan if not before.

[2015-12-24 00:18] RDmitchell opened #635 "Using View/Hide Columns in Mapping screen causes program to go back to Map your Data"
**Problem**
When you have mapped your data and you are in the Mapping screen where you can see the actual data with it's new mapping (the list view), if you click the View/Hide Columns button, and select new or deselect existing fields, when you click Save Settings, you are put back into the very first mapping screen, and when you move from that screen to the final mapping screen, the list setting

[2015-12-28 21:19] RDmitchell opened #636 "Improvements to Matching Screen"
Indicate in the matching screen which records matched:
- Just ID (and which ID)
- Just Address
- ID (and which ID) + Address

This would help users figure out what matching might not be correct, ie, matching on ID but the address is different.

Robin to develop the beginning of a functional spec as the first step

[2015-12-30 02:06] danielmcquillen opened #637 "Small correction needed for comments"
A few small tweaks to comments in the FE code.

[2016-01-04 04:38] danielmcquillen opened #639 "Matching view still has 'active' filter inputs."
The filter input fields in the matching view table header are still dynamically updating the filter on each keypress. These need to be switched to only updating on 'Enter' key.

[2016-01-04 19:52] jcmartel commented on #621
@RDmitchell -- clicking the Update Filters button worked. Thanks.

[2016-01-04 19:52] #621 closed

[2016-01-04 23:46] RDmitchell commented on #611
I am assigning this to Stephen for testing.

[2016-01-05 01:30] StephenCzarnecki commented on #611
In short looks good to me.

I don't know how to write an automated test to test a migration so I just did it by hand.  I made some files with the following columns: tax lot id, address line 1, foo.  For some of the later files to prevent duplicates I added a "q" column too.  The idea being that neither "foo" nor "q" should be recognized and therefore would be extra data.

I came up with a handful

[2016-01-05 02:58] RDmitchell commented on #262
this is duplicated in #635 so I am closing this issue

[2016-01-05 02:58] #262 closed

[2016-01-05 03:03] RDmitchell commented on #504
Could also do this for now on the seedinfo website -- knowledge base, or add to getting started guide

Am assigning to myself to write the content, then we can decide where to put it.

[2016-01-05 03:04] RDmitchell commented on #360
This is probably not needed now, because most everyone has reimported their data after the fix for not creating duplicate data was implemented.

[2016-01-05 03:56] danielmcquillen opened #641 "Refactor directive names"
Some directives has a "be" prefix, the rest don't have a prefix at all.
Standardize all directives to have an "sd" prefix (for SEED).

[2016-01-05 04:08] danielmcquillen commented on #639
The matching table list doesn't have the date filters shown in the building list. Is that intentional?

[2016-01-05 04:18] danielmcquillen opened #642 "Building list filter doesn't handle commas correctly"
The building list filters doesn't correctly handle numerical values with commas.

Given that there's a row with a value of 236,260 for some column, entering "236,260" in that column's filter input will not return a hit, but entering "236260" will.

[2016-01-05 04:19] danielmcquillen commented on #642
Somewhat related to https://github.com/SEED-platform/seed/issues/619

[2016-01-05 04:40] danielmcquillen commented on #545
There's a note in the code (ALECK) to at some point start using the search_service's filter_search() method rather than then one implemented in the matching_controller.

I'm not going to tackle making that change in this issue. That refactoring should happen in a separate issue/PR.

[2016-01-05 07:32] rebrownlbnl commented on #545
@danielmcquillen can you create an issue for that refactoring, but make it a little more general to evaluate whether search_service is the right tool to use in this case?

[2016-01-05 18:20] RDmitchell opened #643 "Add double date filters to matching screen"
The matching table list doesn't have the double date filters that you can see in the regular building list, for example on field "Release date".

[2016-01-05 18:22] RDmitchell commented on #639
probably not. I have made an issue for it to be dealt with in the June 2016 release. #643
We need to make a pretty significant pass through the matching screen after the June release to make it more useable, and we can revisit how to handle date filtering (there and everywhere else in the program) at that time.

[2016-01-05 18:23] RDmitchell commented on #642
Setting to the June 2016 release milestone

[2016-01-05 18:26] RDmitchell opened #644 "Use the search_service's filter_search()"
From @daniel -- There's a note in the code (ALECK) to at some point start using the search_service's filter_search() method rather than then one implemented in the matching_controller. See #545

[2016-01-05 18:27] RDmitchell commented on #545
@danielmcquillen & @rebrownlbnl -- I just created an issue #644 for the refactoring. Feel free to add whatever info you need to there, and change the title if desired. Robin

[2016-01-05 18:32] RDmitchell opened #645 "Update data_model.rst file with latest changes"
from @rebrownlbnl
This passage is no longer correct in the data_model.rst file:
* Here BS1 entered the system and was matched with BS0. When a match occurs, a new BuildingSnapshot is created, BS2, with the fields from the primary BuildingSnapshot, BS0, and the secondary BuildingSnapshot, BS1, merged together. If both the primary and secondary BuildingSnapshot have data for a given field, the prima

[2016-01-05 19:08] RDmitchell commented on #13
The first step is to understand how the orgs and sub orgs work, document it, and then write a spec for deleting them.

[2016-01-05 19:12] RDmitchell commented on #478
There is a duplicate issue #13 which will be used for this, so am closing this issue.

[2016-01-05 19:12] #478 closed

[2016-01-05 19:56] RDmitchell commented on #609
@danielmcquillen -- on the current production version, for well behaved data (the sample data), the reports seem to be working fine. I am closing this issue. We can open another one if we find issues with reports. thx

[2016-01-05 19:56] #609 closed

[2016-01-05 20:51] RDmitchell commented on #610
@pipermerriam -- I am assigning this to you, as Stephen doesn't have time to work on it. #611 covers the migration for data that this has already happened to, but we need to change the basic behavior so that blank data doesn't overwrite good data.

[2016-01-05 22:48] danielmcquillen opened #646 "Building List and Mapping List Filter Error"
To recreate:
1. jot down a specific value of the first row of the first page of buildings.
2. move to page 2 of the building list
3. filter for that specific value from step 1.

Result:
You'll get a search error.

The problem is that building_list_controller and mapping_controller should be using search.filter_search(), not search_buildings(), as the former will set the page back to 1.

[2016-01-05 22:56] danielmcquillen commented on #607
Example usage: show progress indicator after user changes a filter in building list and hits return or clicks "Update Filters" button.

[2016-01-05 23:40] RDmitchell commented on #580
@danielmcquillen can start on the spec and the FE dev. @pipermerriam will work on any back end issues, and we can make separate issues for those.

[2016-01-05 23:41] RDmitchell commented on #127
@StephenCzarnecki assigned this task. @danielmcquillen can provide guidance on FE aspects as needed

[2016-01-05 23:42] RDmitchell commented on #577
assigned to @danielmcquillen with help from Piper for BE issues as needed.

[2016-01-05 23:42] RDmitchell commented on #583
assigned to @axelstudios

[2016-01-05 23:47] RDmitchell commented on #580
@danielmcquillen, @axelstudios -- we should probably set up a call to discuss what the right approach to this is, in terms of transforming this dialog to a more standardized screen, etc.

[2016-01-06 00:05] RDmitchell commented on #127
@pipermerriam might also be able to work on this. I will check with him.

[2016-01-06 00:10] RDmitchell commented on #127
I have assigned this to @pipermerriam for now

[2016-01-06 18:42] RDmitchell commented on #610
am giving this back to @StephenCzarnecki as @pipermerriam doesn't have time to work on it right now.

[2016-01-06 19:34] danielmcquillen commented on #580
For consistency and clarity I would think we should start out with checkboxes. A user is going to already be familiar with how the work with labels from their use of the main building lists views.

That is, unless that would be too hard in the given timeframe.

[2016-01-06 20:19] RDmitchell commented on #580
Yes I think that would be ideal.

[2016-01-06 21:10] RDmitchell commented on #583
@axelstudios -- @danielmcquillen is going to start a spec for #580 so that we can see where the overlap is between what you are doing for this issue and what he is doing his issue. By next week we should have something for your review, so we can make sure we are all on the same page with our approach. Thx

[2016-01-07 22:17] StephenCzarnecki commented on #611
I ran the migration on the dump of the production database provided by Miles (seedprod-pg94-20151223).  It completed in around 38 minutes with the caveat that it needed a bit more memory than I had initially provided.  I got distracted by having my picture taken so don't have exact figures but it needed at least an additional 8GB of swap in addition to the 2GB of memory the machine also had free.

[2016-01-07 22:27] RDmitchell opened #647 "Add ability to delete unmatched records from the matching screen"
Right now the program will make new building records from unmatched data. If a user imports data, such as Portfolio Manager, that doesn't have a matching building from the covered building list, they may not want to have the program make a new record from that unmatched data.

Allowing the user to delete unmatched data from the matching screen would eliminate the need for the user to label unmatch

[2016-01-07 23:20] danielmcquillen opened #648 "Reference list of BEDES properties"
Just an observation/idea:

When in the mapping phase, it would be nice to allow the user to call up a complete list of BEDES properties, just for reference in case the user isn't familiar with standard names or needs to browse to get an idea of the best property to map to.

You can start typing into the input field to get a partial list, but that doesn't give you the complete list.

![image](https

[2016-01-07 23:50] RDmitchell opened #649 "Make data cleansing error messages more human readable"
For example, right now the program puts up the message:

Value [0] < 1700

It would be nicer for the user if the message said something like:

"Value of 0 is < 1700"

etc.

[2016-01-07 23:53] RDmitchell commented on #648
Actually, what we really need to do is have a way to distinguish, in the pulldown list, what are BEDES terms and what are user defined terms. As soon as a user types in their own field name, it becomes part of the default list (which is good because the program remembers the mapping and the user doesn't have to type their new field name in again), but then there is not a way to distinguish which f

[2016-01-09 02:54] RDmitchell opened #650 "Year built displayed with commas in matching"
in the matching screen, year built is being displayed as
- 1,967

It should be displayed as
- 1967

![image](https://cloud.githubusercontent.com/assets/6314950/12213786/c9bc11e2-b633-11e5-82d6-4d50ec2b62bb.png)

[2016-01-09 02:56] RDmitchell opened #651 "Export is broken in Building List and Project"
on seed production, V1.3
Program seems to hang when exporting selected records.
![image](https://cloud.githubusercontent.com/assets/6314950/12213986/5facc16a-b639-11e5-88fa-336b30657b7f.png)