[2016-01-11 05:23] danielmcquillen commented on #580
Robin, in our last discussion we talked about -- for this iteration -- just providing the ability to apply labels to all rows where that label's error appears. I'm documenting this in the spec I'm creating.

[2016-01-11 20:28] RDmitchell commented on #127
@StephenCzarnecki -- just reassigned this to you.

[2016-01-11 20:40] RDmitchell opened #653 "Report the total number of records imported at the end of data upload"
At the end of the data upload, when the program says "Successful upload", report the number of records imported

![image](https://cloud.githubusercontent.com/assets/6314950/12245952/8e6ef508-b860-11e5-80ec-063bd13f02ad.png)

[2016-01-12 00:21] RDmitchell opened #654 "Design feature which allows bulk editing of data"
Like search and replace -- could filter records, then do bulk editing of those records. Would need much design thought.

[2016-01-12 19:40] RDmitchell commented on #607
One example of where the program takes a long time to display results:

* Matching
 * 5,000+ records, 100 records displayed at a time -- takes several seconds to display the 100 records the first time you set the "display" pull down to 100. Then moving to the next set of 100 records using the "Next" button at the bottom of the screen takes another few seconds. This would be a good place to impleme

[2016-01-12 19:52] RDmitchell opened #655 "Update copyright in seed/config files"
There are still files in seed/config that need to have the copyright information updated.

See issue #440 for details about the text of the copyright and how Piper updated other parts of the code (issues of line length, etc).

[2016-01-12 21:03] RDmitchell commented on #617
Here is another example of an address that it would be nice if the program would match, ie, a street number that falls within a range of addresses

![image](https://cloud.githubusercontent.com/assets/6314950/12276840/d695e374-b92c-11e5-9e13-e4221280ca70.png)

[2016-01-12 21:30] RDmitchell opened #656 "Add filename to modal reporting matches when there are no matches"
At the end of the matching step, the program reports the number of non-duplicate and duplicate matches. This is the modal that appears when you import the first file (no other files exist to match to, so it is just reporting on matches within the file being loaded)

We should add the file name that the program was working on to the modal

![image](https://cloud.githubusercontent.com/assets/6314950

[2016-01-12 21:57] RDmitchell opened #657 "Number of matches reported in modal is not always correct"
The number of records reported to be matched in the modal below is not always correct. Here is what the program reported

![image](https://cloud.githubusercontent.com/assets/6314950/12277908/ed3e5592-b932-11e5-899f-f0e011f3333d.png)

But in actuality, when you look at the Matching screen, the number of records matched were

931 matched
856 matched

[2016-01-12 21:59] RDmitchell commented on #657
Files can be found here
https://drive.google.com/open?id=0B3fTKpZ9Dx7LV3ZUR2NJdDZjaUU

[2016-01-12 22:16] RDmitchell opened #658 "Number of matching records seems to depend on import order"
Not sure if this is really true, but I seem to have a case to investigate.

[2016-01-13 18:03] RDmitchell commented on #580
Here is a link to the spec for this
https://docs.google.com/document/d/1RfvFfskGBF_l5FCX9T4pn6tPaFYL6DiCqi-I78tY0t0/edit?usp=sharing
It is still in development, but feedback even at this stage is always wecome.

[2016-01-13 19:58] RDmitchell commented on #646
@pipermerriam -- I am assigning this to you. Might be related to some of the other issue with not being able to assign labels to filtered data?

[2016-01-13 20:14] pipermerriam commented on #646
This seems to have been fixed in #640

https://github.com/SEED-platform/seed/pull/640/files#diff-b340188a7f6ce7006dfcb0044b0b9d72R112

[2016-01-13 20:18] pipermerriam commented on #627
I can no longer reproduce this on seed test.  @RDmitchell  can you see if this is still happening to you?

[2016-01-13 20:29] RDmitchell commented on #627
On seed.lbl.gov (production), which has all the latest merged PRs, I am getting the following error. The sequence was:
* filter on a field, add an existing label, that worked
* delete that filter, click update filters so that you see all the records
* filter on that same field, but with a different value (text string in this case), then click Update Filter button and get the problem below.
![image

[2016-01-13 20:47] RDmitchell commented on #627
@pipermerriam -- I just added you as a member to one of my test accounts on seedtest, and have made a video that shows the problem so you should be able to walk through the video on the seedtest account, and hopefully reproduce the problem.
https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LSkV1dkI1VGhlMEU/

[2016-01-13 20:49] RDmitchell commented on #646
OK, I will close this issue, and we can make new issues for label bugs as we find them.

[2016-01-13 20:49] #646 closed

[2016-01-13 21:32] RDmitchell commented on #627
This is very frustrating, because it is not possible to reliably reproduce the problem (at least I don't think so). Sometimes it works and sometimes it doesn't. I thought maybe it worked the first time, and then not after that, but I just did a different filter and applied labels 2 times in a row, and it worked. Sigh ...

[2016-01-13 21:40] RDmitchell opened #659 "Add/Remove filter buttons stacked not side by side"
When adding labels in the Building List from the Building Actions pull down, the modal that appears has the buttons stacked rather than side by side. I thought in previous iterations these were side by side?

![image](https://cloud.githubusercontent.com/assets/6314950/12308629/1daef164-b9fb-11e5-99e3-23bc5e60be4a.png)

[2016-01-13 22:03] pipermerriam commented on #627
Thanks for letting me know it's intermittent.  Helps to know that I need to spam it a few times to try and get it to happen.  Lemme try again.

[2016-01-13 22:04] RDmitchell opened #661 "Add/Remove filter buttons stacked not side by side"
When adding labels in the Building List from the Building Actions pull down, the modal that appears has the buttons stacked rather than side by side. I thought in previous iterations these were side by side?

![image](https://cloud.githubusercontent.com/assets/6314950/12308629/1daef164-b9fb-11e5-99e3-23bc5e60be4a.png)

[2016-01-13 22:09] pipermerriam commented on #627
Ok, I'm getting the 500 now but I still can't see the actual error.  Who can I talk to to either get ssh access to that server or to get debug mode enabled so that the app will give me a stacktrace in the error response?

[2016-01-13 22:12] RDmitchell opened #662 "BE work for Label feature on Data Cleansing"
This issue is for whatever BE work is needed for adding the Label feature to the Data Cleansing modal. FE issue #580

I am assigning it to @pipermerriam for now, @nicholasserra may also work on it.

Here is a link to the spec for this feature as it exists to date. @danielmcquillen is working on the spec and the FE
https://drive.google.com/open?id=1RfvFfskGBF_l5FCX9T4pn6tPaFYL6DiCqi-I78tY0t0

[2016-01-13 22:58] RDmitchell commented on #611
I think this is good and am closing. We have put it up on the seed production server, so if we find more issues I will open another issue

[2016-01-13 22:58] #611 closed

[2016-01-13 23:28] danielmcquillen commented on #661
I'll look into it. This issue doesn't appear on OSX+chrome on a large monitor, so could be viewport size or browser-specific css issue. What os are you using and what pixel dimensions is your monitor?

[2016-01-13 23:44] RDmitchell commented on #661
I don't recall seeing this before. It is low priority, so don't spend time on it now. I can even take you off it, if you don't want things in your queue that you are not actively working on.

[2016-01-14 00:13] danielmcquillen commented on #581
We discussed this feature and the reasons motivating it. We realized that really all Robin wants is the ability to filter on All/Matched/Unmatched on the building list screen, just as she now can on the matching screen. Labels were a roundabout way to get there (although using labels would also buy some more advanced uses like subdividing groups within matching screen).

Therefore, we should be ab

[2016-01-14 00:22] RDmitchell commented on #581
@pipermerriam -- if you have time in your window of opportunity to ponder the solution proposed by Daniel, particularly in terms of the BE (and FE) aspects, that would be great. thx !

[2016-01-14 01:22] danielmcquillen commented on #661
Ok. Please assign back to me when appropriate. It should be a small fix to the layout.

[2016-01-14 01:47] danielmcquillen commented on #581
Piper let me know if you want to chat about the issue. For myself, I'm trying to understand better why the matching building list uses search_building_snapshots and the main building list uses search_buildings. I thought that by the time the user reaches the matching screen we're dealing just with canonical buildings (and combining canonical bldgs to make new canonical bldgs) but perhaps not and t

[2016-01-14 21:24] pipermerriam commented on #560
@RDmitchell This looks like it *could* be the same error that caused https://github.com/SEED-platform/seed/issues/627.  I'm going to spend a few more minutes attempting to reproduce this but would you mind testing this is still happening when you test #627 ?

[2016-01-14 21:51] pipermerriam commented on #581
@danielmcquillen I think the approach you've come up with looks solid.  Here are my responses to the questions you asked.

No.  If you take a look at [`seed.search.create_building_queryset`](https://github.com/SEED-platform/seed/blob/develop/seed/search.py#L437) you'll see that all of the queries contain ` canonicalbuilding__active=True` which will only return snapshots that are canonical.

I like

[2016-01-14 21:53] pipermerriam commented on #581
I've got a channel created for this issue in slack.  Daniel, have you gotten an invite?

[2016-01-14 22:34] RDmitchell commented on #560
@pipermerriam -- yes I will test this when I test 627. Thanks for all the fixes !

I noticed on a call today with a user running on seed production that the labels wouldn't work in general for her and she had very low diskspace on her computer. When she logged out and then opened up an Incognito browser, which I guess doesn't use cached data (?), then the labels worked. So I don't know if the low

[2016-01-15 01:36] danielmcquillen commented on #581
Yes I'm on slack now.

Thanks Piper. I hope I'm getting your proposal right:

1) We are going to allow the building list and project building list to filter for All/Matched/Unmatched buildings by now sending in a `children__isnull` property as part of filter_params, just like the matching screen current does. This prop's value can be undefined (all), false (unmatched), or true (matched).

2) We'll

[2016-01-15 02:27] danielmcquillen commented on #659
Isn't this same as #661? Should I work on this now?

[2016-01-15 02:29] danielmcquillen commented on #581
I updated the title to better reflect our consensus on the feature we need.

[2016-01-15 09:18] danielmcquillen commented on #581
The current service methods on the FE seem a bit redundant:

service | method | endpoint called...
----------|------------|----------
building_service | search_buildings | /app/search_buildings
building_service | search_building_snapshots | /app/search_building_snapshots
building_service | search_matching_buildings | /app/search_building_snapshots
search_service | search_buildings | /app/search_bu

[2016-01-15 19:36] RDmitchell opened #665 "Deleting buildings from list doesn't delete all records"
In the UI, when the user deletes buildings in the Building List, they are not all deleted. I don't know which are left behind, but the only way to truly clear out all the building records in the organization is through the superuser Admin screen, where the program lists all the organizations (at the bottom) with a big red "Delete Buildings" button to the right. My understanding is that clicking th

[2016-01-17 21:26] danielmcquillen commented on #659
For background: what browser are you using and what is your screen size?

[2016-01-17 21:37] danielmcquillen commented on #581
I added a branch with some initial code to test out adding a filter. Piper, feel free to contribute or make PRs against. https://github.com/SEED-platform/seed/tree/581-add-matched-filter

[2016-01-17 21:51] RDmitchell commented on #651
The same thing happens when you try to export records from the Building List. In the case below, I imported, mapped and matched the standard data, then went to building list, selected all the records (with the checkbox in the upper left) and tried to export the records (Building Actions pull down).

The number of records reported to be exported is off by 100 (51,200 not 512) and then there is an e

[2016-01-17 21:58] RDmitchell commented on #651
@nicholasserra -- if you are starting to work on SEED on 1/18, can you start with this? I would like to get this fixed and onto seed production as soon as possible. Let me know if you can't reproduce it.

If I do the same thing on seedtest, I don't get the error, but the program never actually does the export -- it just gets stuck on the screen below

![image](https://cloud.githubusercontent.com/a

[2016-01-17 22:07] RDmitchell commented on #659
chrome; 24 Inch; 1920 X 1200

[2016-01-17 22:59] danielmcquillen commented on #580
Updated link to spec: https://docs.google.com/document/d/1Gvkj3JG3Mgj6qQZXitvnh7n-2MKCjWxsihjUU8si8Vo

[2016-01-17 23:50] RDmitchell opened #666 "Font in Log and Notes Action field has changed"
The font in the Action field in the Log & Notes screen (accessed from the Building List) used to be a font similar to the other fonts in the UI.
![image](https://cloud.githubusercontent.com/assets/6314950/12380864/afa307c0-bd31-11e5-85b4-73dbe2f18627.png)
Now, probably because of a change we have made to how generated messages are displayed elsewhere (Data Cleansing?) the font is some sort of Cour

[2016-01-17 23:52] RDmitchell commented on #666
Also note that the "Note" and "Edit" icons used to be in line with the text, now they are above and below this (no matter how wide I stretch the browser window).

[2016-01-18 01:06] RDmitchell opened #667 "Updated Getting Started Guide"
@mmclark -- can you please put this new Getting Started Guide onto the public repo as well as on both seedtest and seed production ? Here is the link. Thx

https://drive.google.com/a/lbl.gov/file/d/0B3fTKpZ9Dx7LdVl3MUhOQm5YSDQ/view?usp=sharing

[2016-01-18 19:01] nicholasserra commented on #651
I can reproduce locally. Looks like some kind of file path issue.

[2016-01-18 19:45] nicholasserra commented on #651
So this is really just a timing issue, big files take longer to create on disk, so the download url is hit too soon. I'm going to add some retries and a status for when the file is being written. I'll have a fix in PR today for sure.

[2016-01-18 19:48] nicholasserra commented on #651
Still trying to figure out the issue with the number of buildings `51,200 not 512`. That can be a separate fix.

[2016-01-18 20:00] RDmitchell commented on #651
Great, thanks for working on this.

[2016-01-18 22:06] nicholasserra commented on #595
I'm thinking a good option on this is to just catch the error silently on the BE, but on the FE have a set of inputs that we throw a visual warning on? How do you see this error showing up in the UI @RDmitchell? Are there some existing error popups or tooltips I could use?

[2016-01-18 22:32] RDmitchell commented on #595
@danielmcquillen -- any UI ideas for this?

[2016-01-19 18:07] nicholasserra commented on #546
Would probably be best to just specify syntax for a case insensitive match. Not sure what that syntax should be though. @RDmitchell any thoughts?

[2016-01-19 18:50] nicholasserra commented on #546
Also can you send me this test file?

[2016-01-19 18:58] nicholasserra commented on #546
Thinking something like `^"sacramento"` for case insensitive.

[2016-01-19 20:06] nllong commented on #651
@nicholasserra--oops didn't mean to close the issue. I wanted to say thanks for fixing this. I was hitting this error and was going to fix it until I saw that you already were on it.

[2016-01-19 20:09] nicholasserra commented on #651
@nllong :+1: :smile:

[2016-01-19 20:23] nicholasserra commented on #595
Another simple option is to just fix the server error. We're allowing any text in that field, so there are a lot of inputs that won't filter correctly.

[2016-01-19 20:29] nicholasserra commented on #595
@RDmitchell can you give me quick background on why we're doing `null` on numeric and `!""` on non numeric?

[2016-01-19 20:47] RDmitchell commented on #595
@nicholasserra -- it was my understanding that is what you implemented.

[2016-01-19 20:49] nicholasserra commented on #595
No, maybe @pipermerriam put that in. Either way, just need some decisions on what route to go for now. If we show an error message for `""`, we probably need to show error messages for any invalid input.

[2016-01-19 20:55] RDmitchell commented on #595
I guess I need clarity on what expressions can be used for filtering. Can you write up a list of the expressions that are common across both numeric and character fields? Going back through the issues it was confusing to me what worked for different cases, and also it didn't seem like there was consistent functionality.

What would be the expression to use to filter for Null and Not Null values in

[2016-01-19 20:58] RDmitchell commented on #568
@nicholasserra -- Is this now complete?

[2016-01-19 20:59] nicholasserra commented on #568
Yes

[2016-01-19 20:59] #568 closed

[2016-01-19 21:07] nicholasserra commented on #595
I don't think the expressions are consistent across numeric and character fields. Example: `""` for characters and `null` for numeric. Also, numeric seems to have a set of comparison operators wired in now. So we would have to write some regex on the FE to match possible expressions.

I think our best option right now is to:
 - Fix this 500.
 - Decide if we want to normalize these values across ch

[2016-01-19 21:09] RDmitchell commented on #595
Right, that is what I thought.

So yes, just fix the error message for this issue.

[2016-01-19 21:19] RDmitchell commented on #546
Here is a link to the test file
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LS1dza281ZkdkTDQ&usp=sharing

^ is fine for now.

In the future we will probably want to turn this into a UI input, ie, a checkbox for "match case". I will make a separate issue it. This should be part of a general UI pass through filtering.

[2016-01-19 23:28] RDmitchell commented on #581
@nicholasserra -- after talking to Daniel, it seems like most of the work on 580 is going to be on the FE, with maybe a few BE changes. I was thinking this would be a lot of BE work.

Therefore, I am assigning this issue, 581, to you to work on, since Daniel now won't have time to do it.

Let me know what you think.

[2016-01-20 00:07] danielmcquillen commented on #580
After separate conversations with Nick S., Alex and Robin, we decided to do a lightweight approach where we create labels on the fly based on text descriptions of errors. I'll update the spec.

I'll be implementing as much of this process on the FE as possible. Hopefully will need few, if any, BE updates.

Alex will be updating the data cleansing UI to include a new "value" column sometime in the

[2016-01-20 02:20] StephenCzarnecki commented on #127
Summary:  Seems to me there are two ways of getting this behavior:  Modifying some existing code that is used several other places or writing a new function that is similar to the existing export_buildings method.

After finding that the search functionality already allows for adding more-or-less arbitrary filter parameters I have been thinking about this new feature as "Export any Building Snapsh

[2016-01-20 02:42] StephenCzarnecki commented on #127
@nicholasserra
When I was looking at this issue I eventually made my way to filter_other_params and is_column where (I think) you specify the django queryset filtering suffixes (things like __lt).  Wondering a couple things, not urgent or anything at the moment:

1:  Was it intentional to restrict them to '__lt', '__gt', '__lte', '__gte' or was that just what was needed at the time?

2:  In filter

[2016-01-20 03:04] nicholasserra commented on #127
@StephenCzarnecki

I know a lot of that stuff was there before I was hacking on it, but I think I can answer some of this.

So in_column only references those 4 query modifiers because those are the only ones that are being used, and they're stripped off if found, so that we can tell if that field in question is a DB column or not. in_column is really just a check to see if the field in question i

[2016-01-20 15:02] mmclark commented on #667
I've added it to the public repo (develop branch)

[2016-01-20 15:13] mmclark commented on #667
The doc has been added to both seedtest and prod

[2016-01-20 15:35] axelstudios commented on #583
Data Cleansing spec: https://docs.google.com/document/d/1U5t04k_-My8GwzCSD721d8Rs7M_x4chAdfiGANUimGQ/edit?usp=sharing

[2016-01-20 18:16] StephenCzarnecki commented on #127
@nicholasserra

What you wrote confirms what I saw.  This may be a bit of a moot point at the moment since I think I ran into another problem in this approach.  What I was trying to get across in my second point is that there are other django filtering things that are not just database fields.

For example search_building_snapshots adds "children__isnull" to the list of mappable type and then quer

[2016-01-20 18:40] nicholasserra commented on #127
Right, so if you wanted to make those methods more generic, and able to filter on "non-column" filters, like m2m related names, we would have to expand our `is_column` sanitization to check for all of those weird cases.

But i'm not sure how much work that would take, as those methods seem pretty tied to Buildings, especially because filter_other_params does those checks in the extra_data json blo

[2016-01-20 19:02] RDmitchell commented on #667
Great thanks !

[2016-01-20 19:06] RDmitchell commented on #667
@mmclark
 -- when I login into one of my test accounts on SEED prod, and click on the Getting Started Guide orange button, I still get the V1.1 version.
![image](https://cloud.githubusercontent.com/assets/6314950/12459869/c64360a2-bf65-11e5-9e11-62392dea0fcd.png)

![image](https://cloud.githubusercontent.com/assets/6314950/12459887/dc33d37e-bf65-11e5-9192-52715002fb38.png)

[2016-01-20 19:16] nicholasserra commented on #613
@RDmitchell is this still valid?

[2016-01-20 19:16] RDmitchell commented on #581
@nicholasserra @StephenCzarnecki  -- you two should probably have a conversation about this feature, and decide the correct approach, and then decide who should implement it.

[2016-01-20 19:17] RDmitchell commented on #610
Am closing -- this is finished and on production

[2016-01-20 19:17] #610 closed

[2016-01-20 19:18] nicholasserra commented on #515
@RDmitchell is this still valid?

[2016-01-20 19:22] RDmitchell commented on #127
We may move this to Buidling List, once @nicholasserra has show matched and unmatched records working there.

[2016-01-20 19:39] nicholasserra commented on #581
@RDmitchell @StephenCzarnecki @danielmcquillen Sounds like @pipermerriam  and Daniel have it all sorted out above. So i'm just going to try to go that route and see if I can get it working correctly.

[2016-01-20 20:15] RDmitchell commented on #581
OK, sounds good. Thanks.

[2016-01-20 20:27] RDmitchell commented on #583
@axelstudios -- the spec looks good. I added a few comments. Thanks!

[2016-01-20 20:31] RDmitchell commented on #613
It seems like we should display the values in the form that they are stored in the database, and possibly in this case not round them.

This is a design question that I should probably put to the users.

I will assign this issue to myself to get some feedback about what to do -- could be in the end the users will want to have control over the decimals that are displayed, etc.

[2016-01-20 20:33] mmclark commented on #667
Hm.  I'll look into this a bit later today

[2016-01-20 20:34] RDmitchell commented on #515
@nicholasserra @danielmcquillen -- yes this is still on the list for the Feb release.
The two of you might want to have a discussion about it, and since #580 is probably going to be taking up most of his time, @nicholasserra maybe you can take this one on. But as I said, you and Daniel should have a design discussion about it, because we haven't really spec'd it out. And then a spec (maybe pretty

[2016-01-20 20:35] RDmitchell commented on #667
thx

[2016-01-20 20:40] nicholasserra commented on #515
I'll talk with @danielmcquillen and just dive into it when I can.

[2016-01-20 20:41] RDmitchell commented on #515
sounds good ! thx

[2016-01-21 01:03] rebrownlbnl commented on #667
Could be browser caching?

-------------------------------------------------------
Rich Brown
Building Technology and Urban Systems Division
Lawrence Berkeley National Laboratory
Office: (510) 486-5896
Mobile: (510) 502-5968
REBrown@lbl.gov
www.lbl.gov/~rebrown
-------------------------------------------------------

On Wed, Jan 20, 2016 at 12:36 PM, RDmitchell <notifications@github.com>
wrote:

[2016-01-21 01:11] mmclark commented on #667
No, I think it’s my issue.  I should have it fixed this evening.

From: Rich Brown [mailto:notifications@github.com]
Sent: Wednesday, January 20, 2016 5:04 PM
To: SEED-platform/seed <seed@noreply.github.com>
Cc: Miles Clark <mmc@obispo.com>
Subject: Re: [seed] Updated Getting Started Guide (#667)

Could be browser caching?

-------------------------------------------------------
Rich Brown
Buildin

[2016-01-21 02:03] nicholasserra commented on #581
Some points from our discussion today:

Our current plan to identify an unmatched building is to query for buildings without parents or children. We have not come to a solid conclusion on whether the CanonicalBuilding.active field comes into play, but if so, we have a clear path to adding it to the frontend payload.

[2016-01-21 05:04] mmclark commented on #667
It's fixed now.  Both seed production and seed test have it installed.

[2016-01-21 17:50] rebrownlbnl opened #673 "Review/Fix Flake8 errors"
In PR #669, @nllong had to add some exclusions in the tox.ini file, so it would ignore some Flake8 errors. We should review these errors and either fix the code to avoid the error, or decide that our coding policy doesn't exactly follow Flake8 and make the exclusion permanent.

Assigning to @nllong to look into this as time allows.

[2016-01-21 17:56] rebrownlbnl opened #674 "Review CMU time-series data pull request"
Need to review new CMU code for adding time-series db functionality to SEED.
Especially look at how time-series db can be an optional install.
Need basic options laid out by early next week (week of Jan 25).

[2016-01-21 18:26] nicholasserra commented on #581
@RDmitchell Can you give me a couple data files to test matched vs unmatched? Basically we have this working for building list, just need to test it. What would be best is if you provide a couple files I can import locally, that have data that will have both matched and unmatched results.

[2016-01-21 19:38] nicholasserra commented on #627
I believe a PR was merged to fix this issue.

[2016-01-21 19:39] nicholasserra commented on #552
Should we leave this open or close it? Sounds like a wontfix.

[2016-01-21 19:44] rebrownlbnl commented on #552
Yes, I agree we won't fix this anytime soon.
Robin said she put this in the documentation, but I'm wondering if we need a tool tip somewhere around the filter text box explaining that the filtering is case-sensitive?

[2016-01-21 20:55] RDmitchell commented on #581
I am off site today and tomorrow but ahould have some time tonight to put
together some sample files
On Jan 21, 2016 10:26 AM, "Nicholas Serra" <notifications@github.com> wrote:

[2016-01-21 21:06] nllong commented on #673
Presently the tox.ini file has these ignores

`ignore = E501,E402,W503,E731`

E501: Line too long
E402: module level import not at top of file
E731: do not assign a lambda expression, use a def
W503: line break occurred before a binary operator

[2016-01-21 21:10] nllong commented on #475
@wanghp18 did you get this to work? can we close this issue?

[2016-01-22 00:36] danielmcquillen commented on #581
I've tested this with the standard 512-line files covered-buildings-sample.csv and portfolio-manager-sample.csv.

I loaded each and mapped, then matched them, then manually unmatched 6 rows.

The building list correctly showed 518 for all buildings, 506 for matched and 12 for unmatched. So that's good!

[2016-01-22 00:37] danielmcquillen commented on #581
Attaching .zip of standard 512-line files mentioned in my note above.

[archive.zip](https://github.com/SEED-platform/seed/files/100129/archive.zip)

[2016-01-22 00:39] danielmcquillen commented on #581
Nick I sent you a link to the standard test data

[2016-01-22 00:43] nicholasserra commented on #581
Nice! I'll test this when I get done with another ticket.

[2016-01-22 02:10] nicholasserra commented on #515
@RDmitchell So I just implemented this ticket using the label spec doc and the existing modal for editing labels from the building list view. I just now realized that the familiar modal that we've been using saves the labels as soon as you're done in the modal. Those label changes would be saved before you saved editing changes for the building rows.

Which I don't think is too big a deal, as the

[2016-01-22 16:16] wanghp18 commented on #475
Hi Nicholas,

Thanks for asking, I didn't continue to fix the issue on AWS. Since
everything in local Linux server works well, my team just stays with local
server for the development.

It could be the issue that celery workers didn't receive any task, seems
the messages were in the wrong queue. Maybe there were some configuration
errors on AWS deployment.

Best,
Haopeng

On Thu, Jan 21, 2016 at 4

[2016-01-25 00:27] RDmitchell opened #677 "Two Building records can't both match to one PM record"
Here is the scenario

Building data set with Building ID set to matching field Custom ID 1
PM data set also with Building ID set to matching field Custom ID 1

In PM data, the Custom ID 1 field has two building IDs (123 and 456)

Both 123 and 456 exist as separate records in the Building record when the Building data is imported into SEED.

In the matching screen it is possible to match the PM rec

[2016-01-25 00:57] StephenCzarnecki commented on #13
@RDmitchell   This isn't so much a spec as notes and questions that arise as I try to follow the role that the organizations play.  I've been looking at various bits of the app and have a couple questions so far.

The first major question I've run across is what should happen to users without any organizations?  Most things in the app aside from users seem directly tied to a particular organizatio

[2016-01-25 00:57] RDmitchell commented on #677
Here is the sample data
https://drive.google.com/open?id=0B3fTKpZ9Dx7LMi1naDJOTmNQNlU
![image](https://cloud.githubusercontent.com/assets/6314950/12540246/82b2f5de-c2ba-11e5-9966-3dea8025f449.png)
The program can't match on either address or custom ID. So the user tries to match by hand.

The outcome desired is that each of the records in the Building file can reference the record in the PM file.

[2016-01-25 02:52] danielmcquillen commented on #580
Nick is going to work on adding existing labels that match data cleansing errors directly to the response object of the `get_cleansing_results` endpoint. The FE will then make 'temporary' label objects for errors that don't yet have a matching label.

[2016-01-25 03:55] rebrownlbnl commented on #515
I would agree that labeling a record is different than editing the data in the record, so the user should be able to add/remove a label without clicking the edit button.

[2016-01-25 04:50] nicholasserra commented on #515
Cool, that's how I wired the PR.

[2016-01-25 16:25] RDmitchell commented on #13
@StephenCzarnecki

1 - I believe that all users should be tied to an organization. If there are users without an organization I would consider that a situation caused by a bug in the program. We should go through the code and do some testing to make sure that it is not possible to create a user without also creating an organization. At some point we should look at the production server and find th

[2016-01-25 16:55] nllong commented on #475
Thanks for the update. I'm going to close for now. Reopen if you find this an issue in the future again.

[2016-01-25 16:55] #475 closed

[2016-01-25 18:16] RDmitchell commented on #501
no longer a problem. Closing

[2016-01-25 18:16] #501 closed

[2016-01-25 18:21] RDmitchell commented on #545
This is working on seed production. Closing

[2016-01-25 18:21] #545 closed

[2016-01-25 18:29] RDmitchell commented on #665
@nicholasserra -- seems like the first thing to do is to understand what the program does when a user deletes a record. Then we can decide if we want the program to REALLY delete the building records. I think the answer is yes, but understanding what the program is doing first would probably be prudent.

[2016-01-25 18:48] RDmitchell commented on #75
Here is a link for the problem data -- presumably this is still a problem, as I don't think anyone has worked on it.
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LbWI2NEpab1RfZ1k&usp=sharing

Also, I am reassigning this to @nicholasserra as it seems he has time.

[2016-01-25 19:27] nicholasserra opened #679 "Figure out correct query for matched vs unmatched"
We're using two different queries to tell matched vs unmatched buildings in the app. One uses `children__isnull=True` and the other uses `parents__isnull=True`. Figure out why, and how we can normalize it.

[2016-01-25 20:17] nicholasserra commented on #75
A little confused on the issue. Is this an issue with importing files with these dates, and the date not showing up correctly in the app? Or is this an issue with exporting certain dates, and the date not correct in the output excel file?

This thread leads me to think that the issue is outside of the app, in excel.

[2016-01-25 20:19] nicholasserra commented on #665
Sounds good. Seems there's two tickets here:

- Implement "delete all" functionality for org owner
- Figure out delete individual building issue and fix

[2016-01-25 22:09] StephenCzarnecki commented on #655
Pull request here:  https://github.com/SEED-platform/seed/pull/681

In addition to the seed/config files I did any other python file that had the old 2014 Building Energy copyright and the README.md file.

[2016-01-25 22:30] StephenCzarnecki commented on #13
After talking briefly with Robin:  If a user only belongs to one organization and that organization is deleted the user should also be deleted.

[2016-01-25 22:34] RDmitchell commented on #665
The "delete all" functionality already exists -- in the building list, you select (with the left hand checkbox) all or some of the building records, then select "Delete Buildings" from The Building Actions pulldown. This supposedly deletes the buildings, but they are actually still in the database (or at least some of them are). The program should REALLY delete them, which emulates the functionali

[2016-01-25 22:40] nicholasserra commented on #580
@RDmitchell @danielmcquillen

Continuing our email conversation about adding labels to the `get_cleansing_results`.

An issue i'm having is telling which organization is active when hitting this endpoint. I need to know the current organization so that I can return the labels for that organization. I'm proposing that organization id is sent along with the `import_file_id` to that endpoint.

This a

[2016-01-26 00:15] RDmitchell commented on #75
I believe it is an issue importing a file with dates in this form. If we can figure out how to properly interpret the dates and import the data, that is the best solution. If we can't figure out a way for the program to interpret the data, we need to at least give the user a more useful error message than what is currently presented to them by the program, shown below.
![image](https://cloud.githu

[2016-01-26 00:23] RDmitchell commented on #580
This seems like a good approach.

[2016-01-26 00:23] RDmitchell commented on #679
Thanks Nick !

[2016-01-26 02:07] RDmitchell opened #682 "Add more help text for Cancel button on Confirm Save Mappings modal"
I think we need to remove the Cancel button on the Confirm Save Mappings dialog box. It puts the data into a weird state such that the records aren't matched, and can't be made to be matched automatically. So the user could potentially get their data into a state that they wouldn't be able to recover from very easily.

![image](https://cloud.githubusercontent.com/assets/6314950/12570646/61a8cb82-c

[2016-01-26 02:09] RDmitchell commented on #682
Clicking the Cancel button does put you back into the Mapping screen, so maybe this is not such a problem?

[2016-01-26 02:36] RDmitchell commented on #667
Fixed. Am closing

[2016-01-26 02:36] #667 closed

[2016-01-26 03:41] RDmitchell commented on #651
seems to still be a problem -- am getting 400 (BAD Request). See PR #668

[2016-01-26 19:40] nicholasserra commented on #75
These Excel issues are crazy. There's a python library that apparently can parse these correctly, so i'm going to try to catch the XLDateAmbiguous error and parse it with something else.

If that fails, I need to know a backup solution. Should we ignore this cell and continue importing the spreadsheet, or give the user a friendly error and stop parsing?

[2016-01-26 19:59] RDmitchell commented on #75
If the python library can't deal with this particular issue, I would say we stop the import and tell the user what the problem is, i.e., "Field xxx is not in a format that SEED can interpret. A possible solution is to save as a CSV file and reimport" or whatever advice we can offer to help them get the data into a form that SEED can interpret.

thx !

[2016-01-26 22:50] danielmcquillen commented on #580
We realized that labels are going to be lost during merges, including the matching step directly after mapping when the labels are applied! So we decided to go ahead with a plan to just take the union of the two sets of labels from parents when a child is created during a match.

This isn't ideal as many 'error' labels may no longer be relevant after a match (e.g. 'EUI is null'). But it was agreed

[2016-01-27 00:06] RDmitchell commented on #440
Closing this. Most files were updated, PR #681 gets hopefully the remainder.

[2016-01-27 00:06] #440 closed

[2016-01-27 00:28] RDmitchell commented on #580
@axelstudios -- my understanding is that for this feature you are going to change the data cleansing model/display so that the error messages will include the field names, and then separate out the values as a separate column. So the current table which has Field Name and Error Message
![image](https://cloud.githubusercontent.com/assets/6314950/12599705/1a3a5c3c-c449-11e5-942b-24e5898f89cb.png)

b

[2016-01-27 00:34] StephenCzarnecki commented on #682
The issue is that when this screen appears
![image](https://cloud.githubusercontent.com/assets/7605407/12599636/849e63ee-c448-11e5-82c8-d61f7b90703e.png)

The buildings have been added to the BuildingSnapshot table but no canonical building has been assigned and no merging has been done.  For example, if I use a small input file that only has one record in it by the time I get to that screen the B

[2016-01-27 01:25] RDmitchell commented on #127
For now, we will shelve this issue -- with the Matching/Unmatching functionality in the Building List which then allows the user to export those records, this may not be needed. Am "unassigning" it.

[2016-01-27 01:31] StephenCzarnecki commented on #645
While looking through the database and models I've found some fields that do not seem to be actually used in the app.  Recording them here for reference and to see if anyone else knows what they might be used for.

So far I have found three fields in the BuildingSnapshot table that seem to relate to canonical buildings but as best I can tell are not actually used in the code:

best_guess_canonical

[2016-01-27 01:35] RDmitchell commented on #27
@danielmcquillen -- we may not need this since @nicholasserra is adding the matched / unmatched functionality to the Building List. Should I shelve this issue for now (or just close it) ?

[2016-01-27 19:18] RDmitchell opened #684 "Admin/Superuser Delete Buildings not working"
If I log into seedtest with my superuser account, so that I can see all the organizations, when I click on the red DELETE BUILDINGS button, the program doesn't do anything. There don't appear to be any error messages.

I tried logging in with an incognito window and it didn't make any difference. Incognito + browser refresh = same result of no movement in deleting the buildings.

Also, it took alm

[2016-01-27 21:28] nicholasserra commented on #651
@RDmitchell so the export worked for me, just took a while. That 400 is normal, as it signals that it is working. It takes a while for that large file to be written to disk for some reason.

I think this issue should be closed out, and a new one opened in regards to the progress bar showing 100% when the file is not ready to go.

[2016-01-27 21:29] RDmitchell commented on #651
@nicholasserra -- ok, I will close this one and make a new one, and assign it to you ! thx

[2016-01-27 21:29] #651 closed

[2016-01-27 21:37] nicholasserra commented on #634
This is working for me. May be invalid. Retest and close?

[2016-01-27 21:39] RDmitchell commented on #634
Will do. Am assigning to myself for testing

[2016-01-27 21:45] nicholasserra commented on #577
@RDmitchell Would these column preferences be different on each building, or apply to all buildings?

[2016-01-27 21:52] RDmitchell commented on #634
I still see this issue on seedtest, which represents the latest develop branch.
Here is a video
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LeENpdUxxZUgwRWM&usp=sharing

[2016-01-27 21:55] RDmitchell commented on #577
@nicholasserra -- if it is simpler to make the preferences apply to all buildings in the org, I would say we should start there. If, after users work with this, they decide they want to control it on a building by building basis, we can add that. I think in general, they just want to hide the fields that they don't use, so probably having the settings apply to all buildings is generally what peopl

[2016-01-27 21:58] RDmitchell commented on #577
@nicholasserra -- feel free to add to the spec if you think that is useful or necessary. Or just add comments directly into this issue. thx.

[2016-01-27 22:10] RDmitchell opened #686 "Export appears to be finished, but it isn't -- make progress bar show actual status"
Export progress bar needs some work.

The two states that it seems to represent is 0% when it is probably actually doing something, and 100% when it has probably not finished.

Could we at least have the progress bar show something besides 0/591 buildings if it has started, and also not show that it has finished before it actually has.

When exporting a few records everything seems to be working p

[2016-01-27 22:11] nicholasserra commented on #634
This looks like a data issue. Something weird with permissions. Still hunting it down.

[2016-01-27 22:12] nicholasserra opened #687 "Owners can downgrade themselves even when only member"
Noticed that, on the organizations screen, I can downgrade my role from owner to member, even though i'm the only member, leaving the organization without any owners.

[2016-01-27 22:24] RDmitchell commented on #686
In the video recording below, I didn't experience the "stuck at 0/591" that I had seen right before I made the video but I did see the problem where the progress bar reported that it was finished, but it actually hadn't made the file and didn't appear to be creating it (although I am not completely sure about that).
Here is a link to the google drive folder that contains both the video and the dat

[2016-01-27 22:26] RDmitchell commented on #687
This doesn't seem good. May not have time to fix this for the Feb release, but I am going to set it to that milestone for now. Might want to make it a post-Feb release Hot fix -- we can assess in a week or so. thx for finding and reporting this.

[2016-01-27 22:31] RDmitchell commented on #634
Let me know if you need a copy of the seedtest database. @mmclark could provide that.

[2016-01-27 22:33] nicholasserra commented on #634
Nope I was able to reproduce locally finally. Fix incoming. Thanks!

[2016-01-27 23:38] RDmitchell commented on #686
@nicholasserra -- a few more data points. With that data file loaded, if I filter on Use Description for Multi, which results in 176 records, export works without issue. If I filter on Use Description for Office, which results in 293 buildings, the progress bar indicates that it is finished, but in reality it doesn't seem to be doing anything
![image](https://cloud.githubusercontent.com/assets/631

[2016-01-27 23:38] RDmitchell commented on #686
(didn't mean to close it)

[2016-01-28 18:59] RDmitchell commented on #634
Tested on seedtest -- fixed !! yippeee !! Thx Nick. Am closing

[2016-01-28 18:59] #634 closed

[2016-01-28 19:46] RDmitchell commented on #27
I am closing this since we now have matched and unmatched records pulldown in the building list.

[2016-01-28 19:46] #27 closed

[2016-01-28 19:48] RDmitchell commented on #537
@danielmcquillen -- I am giving this to @nicholasserra since I think you are pretty busy on the label stuff.

[2016-01-28 20:44] RDmitchell commented on #655
@rebrownlbnl -- I am giving you this issue for testing. Close it when you are satisfied that the copyright statements are all updated. thx

[2016-01-28 20:47] RDmitchell commented on #607
Another place for the spinner is in the Building List when Show Matched and Show Unmatched are selected. The program takes a while to display the records, and you don't know when it is finished or not. So a spinner while the program is generating the list to display would be good.

[2016-01-28 20:51] nicholasserra commented on #577
So this one is probably going to take a solid few days. The navigation bar (List settings, reports, labels) on the building list view was built differently than the navigation bar on the building detail page. Only reason that's an issue is because the building_settings_controller, which has all the column show hide and reordering, was built as a reusable view.

So my plan is to refactor the nav on

[2016-01-28 20:53] RDmitchell commented on #581
@nicholasserra -- I am handing this back to you. The problem is that when you select either Matched or Unmatched, and the results are displayed, if you then leave the Building list (with one of those states selected), when you come back to the Building List the pull down shows "Show All" but the displayed records are still showing whatever state they were in when you last left the Building List (i

[2016-01-28 20:55] RDmitchell commented on #581
I am seeing this when I log into my LBNL 11 seedtest account.

[2016-01-28 20:56] nicholasserra commented on #581
Probably an issue with the sessionStorage caching. I bet if you close the browser window and reopen it's fine. I'll check it out now.

[2016-01-28 21:02] nicholasserra commented on #581
Tested, and cycling through the pull down from show all (with nothing showing) -> matched -> show all gives me back buildings. Should be a quick fix.

[2016-01-28 22:32] RDmitchell commented on #581
took this back for testing when the PR is merged

[2016-01-28 22:34] RDmitchell commented on #577
I suspected this might be complicated, wasn't sure what it would take to get it working. @danielmcquillen, @axelstudios  -- any comments on Nick's approach?

[2016-01-28 23:30] RDmitchell opened #690 "Hide Co-Parent field in Building Detail view"
The field called CoParent is being displayed in the Building Detail view, and it is editable by the user. I am assuming this is a database field that we do not want the users to change. And the question is whether we need to display it at all. I suppose it could have some debugging use??

Seems like we have two choices
1. don't display it at all
2. display it but don't make it editable.

I think I

[2016-01-28 23:33] RDmitchell opened #691 "Program doesn't allow mapping even if duplicate fields are unchecked"
If there are duplicate field mappings in a data file, the program marks them as duplicate and puts them at the top of the mapping screen, where you can change them to not be duplicate mappings.

Right now, the program first makes you change the fields names so they aren't duplicates, and then you can uncheck and click the Map Your Data button.

However, if you uncheck those fields and don't remap

[2016-01-28 23:33] danielmcquillen commented on #580
As I work more with the error labels, I think we should discuss whether we should create a special BE method specifically for this workflow, rather than relying on the update_building_labels() method.

The trouble with update_building_labels() is that it only applies one set of labels to one set of buildings.

However, with the data cleansing label workflow, we may get conditions where we're apply

[2016-01-28 23:34] RDmitchell commented on #691
![image](https://cloud.githubusercontent.com/assets/6314950/12662348/a98c3874-c5d4-11e5-8f2d-78970adf908a.png)

[2016-01-28 23:45] RDmitchell opened #692 "Change copyright date in all files to end in 2016"
For all the files that we have changed the copyright notice on in the last month or so, we need to make the date read '(c) 2014-2016" (rather than "(c) 2014-2015" or just "2015"

Here are the PRs that contain the copyright changes made previously
#681
#600
#622
#655

@nicholasserra I am assigning this to you and labeling it priority = 1. thx

[2016-01-28 23:45] rebrownlbnl commented on #580
This makes sense, and your proposed method seems pretty generic.
But, couldn't this just be integrated into update_building_labels()?
So you could apply one label to one building, many labels to one building, or many labels to many buildings, all through the same function, depending on the data you pass it.
I admit I don't know how the current function works behind the scenes, so my suggestion may

[2016-01-28 23:50] danielmcquillen commented on #580
update_building_labels()'s current signature also includes properties directly related to the search function on the FE (e.g. filter variables and whether select all is checked). So it might start confusing the purpose of the method to also add in a new mechanism of applying many labels to many buildings.

Perhaps the BE guys have a suggestion on this...whether it's better to give update_building_

[2016-01-29 01:00] RDmitchell commented on #631
@rHorsey -- I talked to Rich about your progress on this issue and it sounds like you are coming up with a good strategy. If you could put a technical spec together for this feature by the end of Feb that would be ideal and then we can assign it to a developer in March. I will work on some of the FE issues in Feb also that can be incorporated into your final spec -- I put together a doc with some

[2016-01-29 01:20] RDmitchell opened #693 "Mapping/Matching cancel button placement"
When the user clicks "Save Mapping" in the Mapping screen, the following dialog appears
![image](https://cloud.githubusercontent.com/assets/6314950/12664241/f718bdf2-c5e2-11e5-8835-9943be443dbf.png)
When the user clicks the "Confirm mappings & start matching" button, the  dialog below appears -- the Cancel button is pretty much in exactly the same location as the "Confirm mappings & start matching

[2016-01-29 01:54] RDmitchell opened #694 "Change text in Mapping screen for Custom ID"
In the Mapping screen "Step 1" tab description, change name of matching field from "Custom ID" to "Custom ID 1"

![image](https://cloud.githubusercontent.com/assets/6314950/12664868/09a77238-c5e8-11e5-963e-67f18411710c.png)

[2016-01-29 02:35] nicholasserra commented on #580
I used the `update_building_labels` endpoint on the building details labels implementation. I just didn't pass in anything for the search parameter, I passed in `{}` in the label service method. It worked. I can take a better look at the BE method to see if anything weird is going on.

[2016-01-29 02:46] RDmitchell commented on #627
Adding labels to a filtered set of buildings still isn't working.

When I filter on a very simple building list and then select all the filtered records with the checkbox on the left
![image](https://cloud.githubusercontent.com/assets/6314950/12665465/c67e8ad2-c5ec-11e5-83b0-97e10fd58bcd.png)

The go to Buidling Actions, Add/Remove Labels and try to add a new label, and then apply it to the checke

[2016-01-29 02:46] RDmitchell commented on #627
@nicholasserra -- this still isn't working, I am putting it back in your queue.

[2016-01-29 02:47] nicholasserra commented on #627
Sounds good. I don't think i've done any work on this one yet.

[2016-01-29 04:24] nicholasserra commented on #577
@RDmitchell There seems to be two hidden screens on the building detail page. An "area" settings and a "contact" settings. Were these removed at some point? They would have been in the navigation. Wondering if I need to move these over too.

[2016-01-29 21:10] RDmitchell commented on #577
@nicholasserra -- yes those were removed quite a while ago. I would say we don't want them right now, so maybe add a note to them that you are not refactoring at this time ... ??? Does that make sense. I don't think we want to take the time to move them into the newly refactored world.

[2016-01-29 21:16] nicholasserra commented on #577
I'll just delete the files. They'll be in version control if we need them at some point.

[2016-01-29 21:21] RDmitchell commented on #515
This feature is working well. I did encounter one issue but I am going to open a separate issue for that, and close this one. Thanks Nick !

[2016-01-29 21:21] #515 closed

[2016-01-29 21:23] RDmitchell commented on #581
The basic functionality is working well. There is still a caching issue, possibly, but I will make a new issue for that, and close this one. Thanks Nick !

[2016-01-29 21:23] #581 closed

[2016-01-29 21:27] RDmitchell commented on #577
sounds good, thx

[2016-01-29 21:36] RDmitchell commented on #75
This file now imports so I am closing this issue - thanks Nick !!

[2016-01-29 21:36] #75 closed

[2016-01-29 21:39] nllong commented on #366
PR #695

[2016-01-29 22:56] bravacheLBL commented on #616
This issue seems to be fixed on seedtest. I can select all building that have been filtered with a label and add them to a project without removing the filter.
On the main seed, the issue is still there: when filtered by label, and selected all, the buildings are not sent to the project.

[2016-01-29 22:57] bravacheLBL commented on #560
I can't replicate this issue on my computer, which either means that this has been fixed or that it is dependent of the performance of the computer.
I have created 3 labels in both seedtest and the main seed, assigned them to different buildings (with overlaps) and they all show up in the label drop down list.

[2016-01-29 22:58] rHorsey commented on #631
@RDmitchell -- I added a plan of attack to the end of the google-doc linked above. Be sure to log into PM with the city account, and then access the linked webpage. All the information we need/want is right there! Let me know if I need to add more in to the explanation.

[2016-01-29 23:28] RDmitchell commented on #686
I'm still not convinced that the export is actually working. I tried exporting 5700+ records, and let it sit for 1.5 hours, and it never finished (the export file was never created, and the dialog box never got to the state where it had the "close" button on it -- although the progress bar indicated that it had all the buildings (as shown in the screen shot above).

[2016-01-29 23:53] bravacheLBL commented on #271
Address line 1 is still sorted with alpha sort: 134 W Lincoln St before 1 E Washington Ave when in ascending order, both in seedtest and main seed.

[2016-01-30 00:21] StephenCzarnecki commented on #684
Seems like this has something to do with changing celery to use json instead of pickle in https://github.com/SEED-platform/seed/commit/2631c66bdd7382e35c79dea887dc36833e31503f

In short at that commit (and currently it seems) celery gives an error about something not being JSON serializable.

Prior to that commit the admin deleting function seems to work.  At that commit I get the following errror

[2016-01-30 00:23] bravacheLBL commented on #495
In seedtest, I could only filter numeric field with entries like "=null" or "!null". It doesn't work on string fields and return either no buildings or all buildings respectively (although I was filtering a field where there missing data).

It works if I replace "=null" by " "" " (with no equal!) and replace "!null" by "!""".

I could also filter out some of the data by writing "![datatofilterout]

[2016-01-30 00:24] RDmitchell commented on #684
@nllong -- we need to fix this because right now we can't delete buildings as superuser, which is a problem, even for testing on seedtest.

[2016-01-30 00:27] StephenCzarnecki commented on #684
Actually I take back what I said about the error message being the same.  The message is the same but the call stack looks a little different on the current head of develop.  The one on the head of develop has a line referencing /home/vagrant/seed/seed/serializers/celery.py.

Here it is for reference:

[code]

[2016-01-30 00:36] StephenCzarnecki commented on #684
More things I was wrong about:  The thing that is being failed to serialize is not a list of ints.  It is a django.db.models.query.ValuesListQuerySet

[2016-01-30 00:41] nllong commented on #684
did this not fix it: https://github.com/SEED-platform/seed/commit/0ccbc18b323d275d18da20eb84ef8baa533a0066

[2016-01-30 00:49] StephenCzarnecki commented on #684
No, at least not that I can tell.  Looking into adding a branch in CeleryDateTimeSerializer that is basically

elif isinstance(obj, QuerySet):
    #use django.core.serializers.serialize

[2016-01-30 01:03] nicholasserra commented on #686
Maybe there's an issue on seedtest. I'll investigate on monday.

[2016-01-30 01:06] nllong commented on #684
is there an easy way for me to recreate your issue locally?

[2016-01-30 01:11] StephenCzarnecki commented on #684
First:  Looks like using django's serializer won't work since it wants a QuerySet and not a ValuesListQuerySet.

@nllong Yes, easily.  To reproduce the issue locally just sign into an admin account the go Profile (little gear at the top-left)->Admin.  Scroll down to the bottom to the "Remove all buildings from an organization" section.  Pick an org with some buildings and click the red "Remove Bui

[2016-01-30 02:23] RDmitchell commented on #692
@StephenCzarnecki -- I am giving this to you. Hopefully you can knock this out next week (the first week of Feb). thx.

[2016-01-30 03:09] RDmitchell opened #696 "Toolbar icons for some tasks"
Suggest from a user to add a toolbar or icons for certain tasks, for example the Building Actions on the Building List view

[2016-01-30 03:18] RDmitchell opened #697 "Add Delete records option in last mapping screen"
Not sure this is possible given the program flow, but a user thought it would be useful to be able to delete records on the final mapping screen where the new mapped fields are applied to the data, and you can see all the records. There were several blank records in this particular data file, and they wanted to be able to delete them at that point, ie, the final mapping step, when they saw them.

[2016-01-30 03:25] RDmitchell opened #698 "Add column sorting to detailed matching screen"
This might need a bit of UI design, because presumably you only want the sort to happen on the existing buildings list and not the top record, but it would be nice to be able to sort by columns in the detailed matching screen, where you do the hand matching or unmatching. This came up on a user support call.

![image](https://cloud.githubusercontent.com/assets/6314950/12693411/fdba4410-c6bd-11e5-9

[2016-01-30 03:26] nllong commented on #684
I think the easiest thing to do is typecast to a list instead of a value_list. Celery is only going to take the basic object types.

Here is a branch that worked locally on my machine.
https://github.com/SEED-platform/seed/tree/684-list-typecast

[2016-01-31 22:43] danielmcquillen commented on #580
Thanks Nick. Do you think update_building_labels will be able to be extended to handle the data structure I sketched out above? Or would that need a separate endpoint?

[2016-01-31 23:12] danielmcquillen commented on #500
Just coming back to this issue now. @StephenCzarnecki do you think this could be because somehow Robin applied labels to non-canonical buildings in her project view (if that's even possible), and therefore the labels weren't transferred during a migration?

I think in your comments you mention that non-canonical project buildings won't have their labels passed forward during the migration (and tha

[2016-01-31 23:12] bravacheLBL commented on #170
I am having the same results as Claudine.

For a regular spreadsheet, I was able to change the proposed field to a different name and save the file. When I check in the building details, the fields are name after the custom names I made. If I go back to the mapping screen, the custom name are still written in grayed out input box on the right hand side.

For a portfolio manager, I can also change

[2016-02-01 00:11] danielmcquillen commented on #693
Robin, I wonder if we could chat more about this as I think we could improve the clarity of this step by talking about the semantics around data import.

At this stage in the import process, the user has already persisted both a raw data row and mapped data row in the database. So in one sense the data is already mapped. The only thing left to do is to either assign a canonical reference to the ma

[2016-02-01 16:58] rebrownlbnl commented on #693
The second approach sounds good.
On step 6, do you mean "Go back and review mapping?"

[2016-02-01 18:14] nicholasserra commented on #580
I agree that we probably need a new method, as update_building_labels is too tied to a specific workflow. Maybe even make a cleaning_building_labels method that is only used for this case, since its pretty unique.

[2016-02-01 18:26] RDmitchell commented on #500
I am going to close this issue, because at this point everyone who has an active account has been migrated for better or for worse. So nothing really to do here.

[2016-02-01 18:26] #500 closed

[2016-02-01 18:39] StephenCzarnecki commented on #684
@RDmitchell  I just did a quick check and the branch from @nllong seems to fix the issue locally for me too.

[2016-02-01 18:44] RDmitchell commented on #170
This is the same as issue #542 which is currently assigned to Stephen, so I am closing this issue. Thx @bravacheLBL for testing this.

[2016-02-01 18:44] #170 closed

[2016-02-01 18:48] RDmitchell commented on #693
@danielmcquillen -- thanks for the ideas. We can work on this for the June release -- one of the things we might want to do is actually separate the two actions, ie, have an explicit Save Mappings step, and a completely separate Match records step, which will need some serious design thought. I would like to tackle this in the March - May time period, for the June release. Thanks for pondering thi

[2016-02-01 20:56] RDmitchell commented on #684
Great, I'll test on seedtest when it gets there. thx

[2016-02-01 21:18] danielmcquillen commented on #693
@rebrownlbnl argh! Mapping and matching. So easy to mix them up. I just edited my comment above to say 'mapping.'
@RDmitchell ok, I'll wait until then to pick up again if you want to assign it to me.

[2016-02-01 21:22] danielmcquillen commented on #580
Ok sounds good. Do you want to add "update_" or "apply_" to that method name to give a suggestion of it's action?

[2016-02-01 21:32] StephenCzarnecki commented on #692
Pull request here:  https://github.com/SEED-platform/seed/pull/701

[2016-02-01 21:34] RDmitchell opened #702 "Separate time series server from main SEED installation"
The current implementation for time series data developed by CMU means that the time series server must be installed with a standard SEED installation. We don't want to have that server to be a requirement for standard SEED installation, so we need to separate it out in the code. We should try to do this sooner rather than later -- I am setting the milestone to the June release.

[2016-02-02 01:46] StephenCzarnecki commented on #692
Try again, this time hopefully without conflicts:  https://github.com/SEED-platform/seed/pull/703

[2016-02-02 02:00] rebrownlbnl commented on #580
Eventually I hope we can refactor these endpoints to be more generic,
but I guess that needs to wait for a bigger restructuring.

[2016-02-02 02:01] nicholasserra commented on #580
The issue is that when they're generic, we have to call them a ton of times, where a specific one allows us to do it all at once. Need to find a balance.

[2016-02-02 02:18] nicholasserra commented on #580
@danielmcquillen I would think apply would make sense. I'm finishing off a large ticket tomorrow, so let me know what you need from me on this.

[2016-02-02 03:02] nicholasserra commented on #577
Progress update:

I have this working pretty nicely. Just have to get the details page table respecting the column order. Other than that, everything is working just like the settings for the building list page. Should have a PR in for this midday t.omorrow

[2016-02-02 03:03] danielmcquillen commented on #580
As soon as your ready Nick. I have the FE far enough along that its ready to send in payloads like the example.

[2016-02-02 03:06] nicholasserra commented on #580
Okay. I'll probably hop on this midday tomorrow. I'll get that endpoint in to start. Let me know if there's anything else that needs work on the BE for this.

[2016-02-02 03:08] RDmitchell commented on #577
great, thanks !

[2016-02-02 03:09] danielmcquillen commented on #580
Perhaps we can genericize the method a bit by calling it "bulk_apply_building_labels" or something similar? That would at least decouple the name from suggesting some kind of specific use only by data cleansing.

Essentially, this method is doing what update_building_labels does, but 1) does it for a different sets of buildings <---> labels and 2) creates a label if the label id is null and the na

[2016-02-02 03:22] danielmcquillen commented on #580
And to follow @rebrownlbnl' s thinking: if the method really should be buk_update_building_labels to be more consistent and forward thinking, perhaps all we would need to do is support the following data structure rather than the one proposed above.

If we did this, we'd only need to use the add_to_building_ids arra at the moment, not remove_from_building_ids, since that's all we need for this par

[2016-02-02 05:19] nicholasserra commented on #580
I'm cool with that. I'll start on that tomorrow. Thinking about optimizations, it would be nice for it to be like:

[code]

... purely for the fact that I could easily do a bulk select on those label ids without iterating the objects first. Which is fine too. I'd say only give it to me in the above format if it's _very_ easy on the FE to give me that list of all labels we're dealing with.

[2016-02-02 08:20] rHorsey commented on #631
@RDmitchell @rebrownlbnl -- I'm out of town after Wednesday, so could you two take a look and see what if anything needs to be done before I leave? Many thanks!

[2016-02-02 16:08] pipermerriam commented on #627
I've assigned this issue to myself.

[2016-02-02 18:40] RDmitchell commented on #692
@rebrownlbnl -- am assigning to you to check the code and then close this issue if you think it looks ok.

[2016-02-02 18:55] RDmitchell commented on #684
I can now delete buildings as a superuser. Thanks !

[2016-02-02 19:00] RDmitchell commented on #432
@nicholasserra @nllong -- I am going to close this issue. Seems like we have discovered most of the issues associated with this change and fixed them. If we find more we can open a new issue.

[2016-02-02 19:00] #432 closed

[2016-02-02 19:03] RDmitchell commented on #265
@mmclark -- has this happened? If yes, feel free to close this.

[2016-02-02 19:06] RDmitchell commented on #506
@axelstudios -- not sure if you will have time to deal with these issues for the Feb release, so have set to Priority = 2. We can move to hot fix for March (or something like that) if there is not time to work on this for the Feb release.

[2016-02-02 19:07] RDmitchell commented on #508
@mmclark @rebrownlbnl @nllong -- can this issue be closed? I think we have readthedocs in decent shape at this point, and it is current with the latest release.

[2016-02-02 19:08] RDmitchell commented on #579
This was not a high priority on the user survey. And the matching screen in general needs a rework. Am moving this to the June release.

[2016-02-02 19:11] nllong commented on #508
According to rich the docs may not be synchronizing correctly

- nick

[2016-02-02 19:33] pipermerriam commented on #686
I'm starting on this (assigned to myself)

[2016-02-02 20:02] RDmitchell commented on #684
I may have spoken too soon. It seems like the delete buildings feature is working, but in the end, it doesn't seem like it finishes.

I left it running for 45+ minutes for one of my test accounts on seedtest, and it still doesn't seem to have updated the progress bar -- it should say "success" in the little red progress bar, but it doesn't -- and it doesn't seem to actually have hit the complete r

[2016-02-02 20:04] RDmitchell commented on #684
![image](https://cloud.githubusercontent.com/assets/6314950/12762641/166b11bc-c9a5-11e5-8d46-c6d5adc97fd0.png)

[2016-02-02 20:14] RDmitchell commented on #684
I refreshed the browser, went back to LBNL 8, clicked "Remove Buildings" and the program sped through the progress bar (because I think all the buildings were deleted), and then displayed the "success" message on the progress bar. So the records seem to be deleted, but for whatever reason the progress bar isn't updating properly.

![image](https://cloud.githubusercontent.com/assets/6314950/1276292

[2016-02-02 20:15] rebrownlbnl commented on #692
Changes look correct.
Closing this issue.

[2016-02-02 20:15] #692 closed

[2016-02-02 20:15] RDmitchell commented on #684
Because this seems to be more-or-less working, and it is so far a functionality only I really need (for the production instance of seed) I have set the Priority = 2, although I would like this to get cleaned up at some point in the not too distant future. thx !

[2016-02-02 20:23] RDmitchell commented on #631
@rHorsey -- so your comments are at the end of the doc listed in this issue (at the beginning) under Results of Exploration?

Seems like # 2 needs to get fleshed out more? Or maybe that is something that is figured out once this is assigned to someone to start working on ?

[2016-02-02 20:27] RDmitchell opened #705 "Move to django.contrib.postres based fields after the appropriate Django upgrade"
From PR #704 -- It's worth noting that if we can get switched over to Django 1.8 we can drop this 3rd-party dependency entirely in favor of django.contrib.postgres based fields which are likely to be more reliable.

[2016-02-02 20:34] pipermerriam commented on #686
@RDmitchell I tried and wasn't able to reproduce this using the provided data set.  This is at least the 3rd time that there's been an issue which *if* I was able to easily access the error logging from seedtest I probably could have diagnosed and fixed it faster.

I'd like to propose we add some form of error logging to this project at a minimum in seedtest, and ideally in both seedtest and produ

[2016-02-02 20:37] pipermerriam commented on #694
Assigning this to myself.

[2016-02-02 20:37] nicholasserra commented on #686
Sentry +1

[2016-02-02 20:39] RDmitchell commented on #686
@mmclark @rebrownlbnl @nllong -- this sounds like a great idea to me. What do you all think?

[2016-02-02 20:44] pipermerriam commented on #537
Assigning to myself.

[2016-02-02 20:48] pipermerriam commented on #537
This was fixed in https://github.com/SEED-platform/seed/commit/182cd6910433f283279af10bf3b21a4aa91a6b4c#diff-463c727dea20a2094f0ac5ca5695b516R342

[2016-02-02 20:48] pipermerriam commented on #537
@RDmitchell not sure if closing this was the correct course of action.  Reopen if there is a different workflow.  this is working in current develop branch.

[2016-02-02 20:56] RDmitchell opened #707 "Can't map files"
I am trying to import a file from Washington DC that came from their public disclosure website. It imports and maps without issue on the current version of seed production (1.3.2).

The file imports without issue, I can get through the mapping screen, but then when the program gets to "Mapping buildings" progress bar, it just sits there at 0%.

I am importing the file as a PM file, am not changing

[2016-02-02 20:57] RDmitchell commented on #707
Here is a link to the data file
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LSzZsQkRycmlxME0&usp=sharing

[2016-02-02 21:05] RDmitchell commented on #537
I will test on seedtest.

[2016-02-02 21:07] RDmitchell commented on #707
I also tried mapping with an incognito browser window and it didn't change the outcome.

[2016-02-02 21:20] danielmcquillen commented on #580
Sure, that's fine. I can add in label_ids. Should we call that second property "updates" to be consistent?

[2016-02-02 21:21] nicholasserra commented on #580
Sure

[2016-02-02 21:22] RDmitchell commented on #537
This does appear to be fixed. For some reason I didn't think it was. I will close it.

[2016-02-02 21:22] #537 closed

[2016-02-02 21:34] rebrownlbnl commented on #705
Looked briefly at the Django release notes and it seems that v1.9 is where they added Postgresql JSONfield support.

[2016-02-02 21:38] RDmitchell commented on #705
OK, I made the title of this issue more generic. Just didn't want to lose track of Piper's comment.

[2016-02-02 21:57] RDmitchell opened #709 "Allow user to disable columns in import files and handle redundant column names in import files"
The program can't deal automatically with a file that has two fields with the exact same name. We should require the user to fix the file so that there are not duplicated field names, and then reimport it.
So in the case where there are two field names in a data file that are identical, the program should detect that and put up a message to the effect of:

The program has detected the following fi

[2016-02-02 21:59] RDmitchell commented on #709
@bravacheLBL will make a sample file and a more complete description of the program's current behavior to add context to this issue.

[2016-02-02 22:24] pipermerriam commented on #686
If this gets the :green_heart: (greenlight) then what I need to move forward with this is access to an account on one of these services which has already been setup with their lowest tier plan.

[2016-02-02 22:24] mmclark commented on #686
This would definitely be helpful.  I lean toward Sentry, most due to familiarity, but if rollbar is a better fit, that's fine.

[2016-02-02 22:25] mmclark commented on #265
I haven't pushed this yet, so let's leave it open

[2016-02-02 22:26] mmclark commented on #508
It looks like there's still an issue, so let's leave it open for now

[2016-02-02 22:27] pipermerriam commented on #592
Assigning this to myself.

[2016-02-02 22:33] bravacheLBL commented on #709
The sample file is here:
https://drive.google.com/a/lbl.gov/file/d/0B-Qu-Oc76NpJdlYtRVV2eDM5RkU/view?usp=sharing

In that file I duplicated the address column and left the same field name. I also deleted some of the data in the duplicate to be able to differentiate the two.

It seems that the way this is handled by SEED is to detect that there are two fields with the same name, but to only attach

[2016-02-02 22:40] RDmitchell commented on #686
@pipermerriam -- the first thing we need to do is set up an account, which we have to do through our procurement dept, so it might not be instantaneous. I will talk to Rich.

[2016-02-02 22:45] StephenCzarnecki commented on #707
In short I cannot seem to reproduce this issue locally.

I am on the latest commit on the develop branch (4cf3922).  Starting from a blank database (or at least one with no building snapshots) and using the file specified I can get through both mapping and matching while using my default mappings.

![image](https://cloud.githubusercontent.com/assets/7605407/12766821/7036555c-c9ba-11e5-91f6-a6c93b1

[2016-02-02 22:49] RDmitchell commented on #707
OK, thanks for testing. It could be an issue with the test accounts I am using on SEED or an issue with seedtest itself.

[2016-02-02 22:59] RDmitchell opened #711 "Associating and disassociating orgs causes account to become disfuctional"
For March, when we dive into the Parent/ Sub Org world in earnest.

For Robin LBNL 77 account, I associated it with Robin LBNL 6 account, then disassociated it from 6 by just deleting the 77 user from 6. (on seedtest version as of 2/2/2016, 2:58 pm)

This seems to have caused havoc in 77 -- I am now getting errors when trying to go to any of the Nav Bar pages (Data, buildings, projects). @StephenC

[2016-02-02 23:12] pipermerriam commented on #635
assigning to myself

[2016-02-02 23:15] danielmcquillen commented on #580
Ok, cool. I'll start testing once you're ready.

[2016-02-02 23:23] rebrownlbnl commented on #631
I put some comments and edits in that section of the document that @rHorsey wrote.

[2016-02-03 01:30] RDmitchell commented on #707
@StephenCzarnecki -- could you try this on a seedtest account? I think you have one and if you don't I can make one for you. I am having trouble mapping any file on seedtest. Everything seems to hang at 0%

[2016-02-03 01:39] StephenCzarnecki commented on #707
I can't reproduce this on seedtest either.  Logging into my sczarnecki@lbl.gov account on seedtest lets me get through mapping and matching:

![image](https://cloud.githubusercontent.com/assets/7605407/12770252/d22f1e88-c9d3-11e5-98b4-59187e987358.png)

[2016-02-03 01:50] RDmitchell commented on #707
well that's good. At least it's something going on with my orgs / users and not the whole app. thx for testing

[2016-02-03 01:51] RDmitchell commented on #707
Am going to close this, since I think it's not a universal issue.

[2016-02-03 01:51] RDmitchell commented on #546
Nice ! Works well. Am closing

[2016-02-03 01:51] #546 closed

[2016-02-03 01:58] RDmitchell commented on #616
Am closing

[2016-02-03 01:58] #616 closed

[2016-02-03 02:11] RDmitchell commented on #659
This doesn't seem to always be a problem. Am changing the milestone to June

[2016-02-03 02:12] #655 closed

[2016-02-03 02:16] RDmitchell commented on #439
@nllong -- this is still outstanding, right? Do you think you will have time to change this for the Feb release? If not, I will move the Milestone date.

[2016-02-03 02:17] RDmitchell commented on #431
@nllong -- this is still outstanding, right? Do you think you have time to work on this for the Feb release, or should I move the milestone?

[2016-02-03 02:23] RDmitchell opened #712 "Delete Buildings not working when Building list is filtered"
This might be intermittant, but I believe @bravacheLBL was also having this problem.

When I select all the records and then select Delete Buildings from the Building Actions pull down, the UI doesn't do anything and there is a server error.

@StephenCzarnecki -- I am giving this to you to see if you can replicate it 1) in your local environment, and 2) on seedtest.

![image](https://cloud.githubu

[2016-02-03 02:49] RDmitchell commented on #712
It seems like you can delete buildings a few at a time by just checking a few checkboxes. But when I use the upper left checkbox to check all the records, then the program generates the server eror.

For example, I had 32 building records in the Building List. I set the Display = 50, so that all the records were displayed. I checked the upper left checkbox so that all the records became checked. I

[2016-02-03 03:10] RDmitchell commented on #684
on a new (relatively clean) user account, when I went to delete buildings, the program deleted the records (591) and reported the "success" message on the progress bar. So I'm not sure what causes the program not to appear to finish the delete.

![image](https://cloud.githubusercontent.com/assets/6314950/12771759/86325844-c9e0-11e5-93a8-ee6cf35a23ee.png)

[2016-02-03 03:21] RDmitchell opened #713 "Building List not displaying (sometimes)"
Here is a video that shows what I am experiencing. It seems like there is some sort of issue around deleting buildings, maybe related to deleting buildings as a superuser or possibly just deleting them as a normal user (see #712). In this video if I use an incognito window, the buildings display, so I guess that suggests some sort of caching issue? I will put a link to the video after I create the

[2016-02-03 03:24] RDmitchell commented on #713
Here is a link to the issue folder which contains the video and the sample file I was importing.

https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LaWxfT2tCUloxQkU&usp=sharing

[2016-02-03 15:57] nllong commented on #431
I don't think I will get to this before Feb release. This 'issue' is in conflict with our changes to passing primary keys back to celery. Regardless, the DB should not save intermediate results.

[2016-02-03 19:43] nicholasserra commented on #580
Also wondering if we can add in a list of all building_ids? That would save me some issues too. Let me know.

[2016-02-03 20:05] bravacheLBL commented on #712
Yes, I encountered this issue a couple of times recently too. I didn't have a quick fix so I would generally move on to something else and come back a couple of hours later and the issue would be fixed.

[2016-02-03 20:20] nllong commented on #686
:+1: using Sentry

[2016-02-03 20:21] nllong commented on #508
@Myoldmopar can you look into this when you get a chance?

[2016-02-03 20:22] nllong commented on #674
PR is now #714

[2016-02-03 20:52] Myoldmopar commented on #508
Looking at the "latest" [ReadTheDocs page](http://seed-platform.readthedocs.org/en/latest/), I see it was last built for commit 03c6c9f9, which was committed 7 hours ago.

If you are looking at the "stable" [ReadTheDocs page](http://seed-platform.readthedocs.org/en/stable/), I see it was last built for commit 82f91604, which was a few weeks back, but it was the last time the code was ["tagged"](ht

[2016-02-03 21:04] rebrownlbnl commented on #508
I'm getting alerts from readthedocs that builds are failing, but those
appear to be sporadic.
Maybe those are builds that don't pass CI testing either?
(click on the Builds button to get the history)

[2016-02-03 21:04] pipermerriam commented on #687
Assigning to myself.

[2016-02-03 21:10] pipermerriam commented on #687
@RDmitchell most obvious path is to disallow this.  In the case that you are the last member of an organization this change would make it so that it was impossible to leave that org..  Not really sure what the best way to go about this would be.

[2016-02-03 21:20] nicholasserra commented on #687
I was thinking that's its kind of odd that you're able to change your own membership at all, in the members list. I can't think of a situation where that would be useful. Nobody should be able to upgrade themselves, and nobody would normally downgrade themselves, so my thought was to just make the row read only if row.user == yourself.

[2016-02-03 21:20] nicholasserra commented on #687
Specifically on the organizations -> members tab

[2016-02-03 21:31] Myoldmopar commented on #508
Looking at the failed build [details](http://readthedocs.org/projects/seed-platform/builds/3695176/ ), I see a warning about a build environment already being in place, but it looks like the build immediately succeeded right after that as well.  Not sure why it is kicking off multiple, could be some RTD issue, not sure, but either way, I think they are ultimately being built fine.

[2016-02-03 21:36] nicholasserra commented on #580
So in the middle of this, and realizing Snapshots don't have labels associated with them. I can only add them to canonical buildings. Not sure what we want to do here. @danielmcquillen did you or @StephenCzarnecki figure anything out as far as preferences go on how to implement this? My immediate thought is to add a `cleansing_labels` field to BuildingSnapshot, which stores temp labels, and moves

[2016-02-03 21:41] RDmitchell commented on #687
I would like to think about this a bit and will try to put in a comment soon.

[2016-02-03 21:47] rebrownlbnl commented on #687
I could imagine a situation where the owner is passing ownership to someone
else in the organization, she might promote the other user to owner and
then demote herself to a member (or delete their use altogether). But that
still only applies when there is more than one user in the organization. So
it seems safe to have a rule that there must be at least one owner in an
organization, and the last o

[2016-02-03 21:48] nicholasserra commented on #687
The new owner could also just demote the old one in that first situation.

[2016-02-03 21:48] nicholasserra commented on #577
Reassigning for testing.

[2016-02-03 21:54] nicholasserra commented on #492
Do you think this should be an exact or inexact match? aka `!"Commercial"` would show all results that do not have the exact text "Commercial" in the field.

Compared to a query that shows all results that do not contain "Commercial" in some way.

[2016-02-03 21:55] pipermerriam commented on #580
I do not like the `cleansing_labels` idea.  Sounds like fixing the wrong problem.  Lemme puzzle on this for a minute.

[2016-02-03 21:56] nicholasserra commented on #580
Cool. Issue being that at this step, these snapshots do not have canonical buildings linked. Might need to verify that again too.

[2016-02-03 22:02] RDmitchell commented on #687
I believe the way the program works right now, you can't delete yourself, if you are the only owner in the organization. So seems like we should apply the same logic to this case, where the owner wants to downgrade their Role.

**So can we just put in an error condition that doesn't allow the last owner of an organization to downgrade themselves to a status other than owner?**

But I would like to

[2016-02-03 22:07] nicholasserra commented on #687
Seems I can delete myself and downgrade.

![screen shot 2016-02-03 at 5 07 12 pm](https://cloud.githubusercontent.com/assets/512288/12798666/9da573fe-ca98-11e5-84a0-80f54defa5f2.png)

[2016-02-03 22:08] pipermerriam commented on #580
A brief look suggests that you could just create an empty CanonicalBuilding for whatever snapshots need labels applied to them.

This will also *probably* require some logic to be added to `seed.models.clean_canonicals` to carry the labels over when canonical snapshots are made inactive due to matching.

[2016-02-03 22:14] RDmitchell commented on #687
Hmm, I thought that wasn't possible.

Well we should add some code that doesn't allow the last owner to be delete or downgraded from owner.

Does that sound like a start?

[2016-02-03 22:16] RDmitchell commented on #492
could it be:

!commercial - not an exact match
!"commercial" -- exact match

Or does the thing being filtered on need to be enclosed in quotes?

[2016-02-03 22:21] pipermerriam commented on #687
Yes, I think I have enough information to proceed.

* Disallowing any actions from this page which would leave the group ownerless (which is a superset of not letting people delete themselves as the last member of an org)

[2016-02-03 22:21] nicholasserra commented on #492
Should be fine, that works.

[2016-02-03 22:22] nicholasserra commented on #687
Thinking that it would be better to do this limit on the FE by either not showing these options, or greying these options out, as opposed to some kind of error coming back from the BE.

[2016-02-03 22:30] RDmitchell commented on #687
@pipermerriam -- yes those rules seem good.
@nicholasserra -- seems like doing this on the FE makes sense -- up to you two what you think is best.

[2016-02-03 22:33] RDmitchell commented on #694
Fixed thanks ! Simple but was creating confusion with users, so great to get it changed !

[2016-02-03 22:33] #694 closed

[2016-02-03 22:53] RDmitchell commented on #577
This works great ! Thanks !!!!

[2016-02-03 22:53] #577 closed

[2016-02-03 22:56] nicholasserra commented on #577
NICE

[2016-02-03 22:57] RDmitchell commented on #592
fixed, closing

[2016-02-03 22:57] #592 closed

[2016-02-03 22:57] nicholasserra commented on #580
Via a conversation in slack:

Going to try to do this by adding a new canonical building onto the snapshot instance in question, then add labels to that. Then going to need to handle the label merging down the line.

@danielmcquillen mentioned some additional testing we'll need to do before and after

[code]

[2016-02-04 01:13] RDmitchell commented on #712
Stephen can't reproduce and now I can't either. I'll do some more testing.

[2016-02-04 01:29] nicholasserra commented on #580
Adjusted payload

[code]

[2016-02-04 01:42] RDmitchell commented on #627
This seems to be fixed. Am closing. Will open another issue if there are more filtering/labeling issues. Thanks !!!

[2016-02-04 01:42] #627 closed

[2016-02-04 01:52] RDmitchell commented on #712
This keeps happening intermittently.
@StephenCzarnecki -- I am adding you to my LBNL 85 organization -- try deleting and reimporting the file in this folder -- import as PM file, just use the default mapping suggestions.
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LbXBMS3RGV0xsbzA&usp=sharing

Here is what I was just doing:
Filter a few character fields on not null
![image](https:

[2016-02-04 02:04] rebrownlbnl commented on #580
Does this solution of creating empty CanonicalBuildings mean we have
"orphaned" canonical buildings after the merge?
Or does clean_canonicals find and inactivate these?
Not really a fan of just making records inactive, when we know they were
temporary and should be deleted, but I understand that's how the system
works now.
Might be worth a separate issue to look into really deleting those
Canonica

[2016-02-04 02:10] RDmitchell commented on #580
@rebrownlbnl -- we had a lengthy discussion on slack about this (look at the 580 channel), and my point was that we are potentially going to change the data model, and should really examine the canonical building concept when we do that, so we were trying not to introduce any new structural components, ie, adding the ability to add labels to building snap shots rather than canonical buildings.

[2016-02-04 02:23] StephenCzarnecki commented on #712
I can reproduce this latest behavior on seedtest using my account and LBNL 85 for an organization.

[2016-02-04 08:18] rebrownlbnl commented on #580
I wasn't questioning the data model -- fine to leave it as-is -- but just wondering about the practice of leaving orphaned records around in an "inactive" state rather than just deleting them.

[2016-02-04 08:58] rebrownlbnl commented on #687
I think this should actually be implemented on the BE, because someone
could do this through the APIs without going through the FE.

[2016-02-04 18:42] nicholasserra commented on #690
Starting this.

[2016-02-04 19:18] nicholasserra commented on #690
I don't think we should be displaying it on this detail view. It's wired in to a lot of things, so I'm going to spend some time figuring out what it's actually being used for, and probably just hide it on the FE.

[2016-02-04 21:07] nicholasserra commented on #578
I think I broke then matching screen show/hide columns when we merged the building detail columns stuff. So I'm going to fix that regression first, and start this.

[2016-02-04 21:19] nicholasserra commented on #578
Regression fixed in develop.

[2016-02-04 21:40] RDmitchell commented on #690
Yes, thank you for hiding it. And figuring out what it is used for.

[2016-02-04 21:47] RDmitchell commented on #578
Is there a PR for the fix?

[2016-02-04 21:48] nicholasserra commented on #578
I pushed the small change directly to develop.

[2016-02-04 21:49] nicholasserra commented on #578
Are there designs for this at all?

[2016-02-04 22:01] RDmitchell commented on #578
No, and I am now realizing that it doesn't follow the same structure as the one in the Building list, because in the Matching screen the list is in a modal dialog box.

What would be the level of effort to basically replicate what is in the Building List in the Matching screen?

So I guess that would mean it wouldn't be a modal, it would be a full screen like the Building List Settings, and would

[2016-02-04 22:05] nicholasserra commented on #578
I think it could be done either way. I'll investigate.

[2016-02-04 22:07] RDmitchell commented on #578
thx -- I like the idea of consistency across the program for the same functionality, but we need to also be somewhat pragmatic about what is possible in the time frame we have.

[2016-02-04 22:07] RDmitchell commented on #687
good point.

[2016-02-04 22:09] RDmitchell commented on #578
@nicholasserra -- when you say you broke the View/Hide button, do you mean that when you click on it, nothing happens? That is what I see on seedtest, and presumably that will be fixed when the latest develop code gets moved over to seedtest.

[2016-02-04 22:10] nicholasserra commented on #578
Yes

[2016-02-04 22:11] RDmitchell commented on #712
@StephenCzarnecki -- ok,
@nicholasserra -- I am assigning this to you, but you and @pipermerriam can decide who should work on it.

[2016-02-04 22:19] RDmitchell commented on #506
@axelstudios -- moving this to the June release

[2016-02-04 22:20] nicholasserra commented on #578
So the main issue i'm seeing with taking it out of the modal, is that there isn't really a navigation menu on the matching page. So assuming we did a full page view like the others, it might be kind of jarring, as there's no nav to click back on. We could add a breadcrumb, but it still might feel weird. I think for the time being the modal is the best route for UX.

[2016-02-04 22:22] RDmitchell commented on #578
Sounds good. thx

[2016-02-04 22:24] pipermerriam commented on #712
Stealing!

[2016-02-04 22:25] nicholasserra commented on #712
:D

[2016-02-04 22:27] StephenCzarnecki commented on #712
OK good luck.  For what it's worth the initial error seems to be coming from this bit of delete_buildings in seed/views/main.py:

CanonicalBuilding.objects.filter(
            buildingsnapshot=selected_buildings
        ).update(active=False)

[2016-02-04 22:27] danielmcquillen opened #718 "Javavscript cleanup"
There are a few jshint errors lying around that I'd like to cleanup. Robin can you assign this to me when it makes sense?
**When things are good our jshint run should give very few warnings -- or better yet, none -- so problems are easier to spot.**

[2016-02-04 22:28] pipermerriam commented on #712
@StephenCzarnecki if that came from a stacktrace (logfile) can you post the entire thing?

[2016-02-04 22:30] nicholasserra commented on #712
Sentry would come in handy on this one too. From that little bit of ORM, i'd suspect some kind of delete/update signal issue in the delete flow with Django. I've seen instances where incoming changes happening to related models will sometimes block deletes, or re-add instances back into the db. Weird stuff.

[2016-02-04 22:31] danielmcquillen commented on #718
For example, we're getting jshint errors on a couple lines that use the tilde operator (logical NOT).

` if (~fields.indexOf(f.sort_column)) {`

We could either update jshint to ignore tilde, or change these lines to something simpler / conventional,

` if (fields.indexOf(f.sort_column)<0) {`

Ideally our jshint run should give us zero errors when things are good, so problems are easier to spot.

[2016-02-04 22:35] RDmitchell commented on #712
We are working on getting a Sentry account set up. On Monday, we'll start the 14 day free trial, and hopefully at the end of the 14 days we will have gotten the purchase request through our procurement department and it will be a seamless transition from free trial to purchased subscription.

[2016-02-04 22:36] pipermerriam commented on #712
:heart: @RDmitchell  :heart:

[2016-02-04 22:37] RDmitchell commented on #718
I will assign it to you now and you can decide when it makes sense to work on it, whether for the Feb release or later (I don't know what the level of effort is, and I also don't know how much more work you have to do on the data cleansing labels). Remember the Feb code freeze is around 2/15, and the release will be on Feb 29.

[2016-02-04 22:42] pipermerriam commented on #687
I didn't speak up earlier but I'm firmly against frontend only based restrictions (since they are artificial barriers).  This was implemented in both FE/BE.

[2016-02-04 22:51] nicholasserra commented on #687
I have less of an issue with them when they're non destructive. If a user is determined to curl the BE so they can disable themselves, then I'm not so concerned hah. Better to play it safe though.

[2016-02-04 22:52] StephenCzarnecki commented on #712
I don't seem to have any logs configured.  Is Sentry related to Raven at all?  I just ran it through the debugger and that was the line it failed on.  Wrapping that line in a try except block gives the following error:  __init__() takes at least 3 arguments (2 given)

[2016-02-04 22:52] RDmitchell commented on #687
I guess the issue with SEED is that there will be developers who are working only against our APIs, without the SEED FE, so we do have to keep that in mind that the APIs need all the basic functionality of the program.

[2016-02-04 22:54] nicholasserra opened #719 "Implement Sentry logging"
Implement Sentry logging on the BE, and eventually the FE.

[2016-02-04 22:56] nicholasserra commented on #687
Excellent point

[2016-02-04 23:09] pipermerriam commented on #712
raven is the python client for reporting data to sentry.

[2016-02-04 23:13] RDmitchell commented on #686
A little more info about this issue
In one of my test accounts (Robin LBNL 83), there are 966 buildings
![image](https://cloud.githubusercontent.com/assets/6314950/12832667/3d5f560a-cb50-11e5-80b2-8d5af8b9aeec.png)

If I do a filter that results in only a few records being displayed, the export works fine.
![image](https://cloud.githubusercontent.com/assets/6314950/12832860/a77341c2-cb51-11e5-913d

[2016-02-04 23:14] RDmitchell commented on #686
@pipermerriam -- I am going to invite you to my Robin LBNL 83 account on seedtest. not sure this will help, but it might.

[2016-02-04 23:47] RDmitchell commented on #707
This continues to happen -- tried importing the public DC data into Robin LBNL 7 test account, as well as the NYC 2015 CBL -- both were stuck at 0%. I did the NYC data first and clicked back to the Data Nav button after around 10 minutes -- maybe that puts the database in a weird state. Maybe when we get Sentry running we can see what's going on on the server. This doesn't happen all the time, see

[2016-02-04 23:49] RDmitchell commented on #707
And then I tried importing the same file (DC 2011 public data) into LBNL 82, and it worked fine.

[2016-02-04 23:53] RDmitchell commented on #560
This seems to be working now. Thanks !

[2016-02-04 23:53] #560 closed

[2016-02-04 23:54] pipermerriam commented on #712
Same underlying pg-json issue.  Occurs when you use a complex query on one of the `extra_data` fields.

[2016-02-04 23:55] RDmitchell commented on #628
I don't really understand this issue (didn't provide enough detail for myself !) so I'm closing it

[2016-02-04 23:55] #628 closed

[2016-02-04 23:58] nicholasserra commented on #578
Looking for visual feedback. I think it's looking okay, I just might want to tweak the top links that switch between selecting/reordering.

![screen shot 2016-02-04 at 6 57 10 pm](https://cloud.githubusercontent.com/assets/512288/12833830/395c4934-cb71-11e5-8cad-d5aa6e8e4c9d.png)

![screen shot 2016-02-04 at 6 57 15 pm](https://cloud.githubusercontent.com/assets/512288/12833834/3dfc6320-cb71-11e5-

[2016-02-05 00:00] RDmitchell commented on #712
are there other things I should be testing that might surface more issues like this?

[2016-02-05 00:14] pipermerriam commented on #712
Yeah, but it's a pretty broad chunk of surface area.  I think it's better to comb over the backend code as these things are going to (potentiall) be easier to spot.

[2016-02-05 00:17] pipermerriam commented on #712
Some quick grepping suggests these were actually the only two places where this specific type of query was being executed.  I don't think it's worth investing time in trying to find more of these (rather we can just see if it shows up elsewhere).

[2016-02-05 00:41] RDmitchell commented on #712
ok thx!

[2016-02-05 00:43] RDmitchell commented on #578
This looks good to me !

[2016-02-05 00:58] rebrownlbnl commented on #578
Is there a way to cancel or dismiss the dialog if the user decides not to
make a change?

[2016-02-05 01:03] RDmitchell commented on #578
Right now if I want to Cancel out of these modals (none have a Cancel button), I just click outside the modal and it disappears. Probably not the best way to do it.

[2016-02-05 01:03] nicholasserra commented on #578
You can click anywhere off of the modal and it goes away. Do you want to add a cancel button too?

[2016-02-05 01:06] RDmitchell commented on #578
Might be nicer for the user to add a Cancel button, although clicking away also works. But it is less clear what the results of clicking away would be. Cancel is clearer to the user.

[2016-02-05 01:07] RDmitchell commented on #504
Here is the text that appears when setting your password when you don't conform to the password rules

Invalid Length (Must be 8 characters or more)
Based on a common sequence of characters
Must be more complex (Must contain 1 or more uppercase characters)

Robin -- Make this into text that would go onto the login page

[2016-02-05 01:07] nicholasserra commented on #578
I'll mock it up

[2016-02-05 01:18] RDmitchell commented on #504
Add this to the Create Your Account dialog box -- and make sure these are the only requirements, ie, does the password also have to contain a number?

Note: Passwords must be 8 or more characters, and must contain 1 or more uppercase characters)

![image](https://cloud.githubusercontent.com/assets/6314950/12835223/266dbdde-cb63-11e5-82cc-a9b78d67ccdf.png)

@pipermerriam -- am assigning this to you

[2016-02-05 01:21] #67 closed

[2016-02-05 01:24] RDmitchell commented on #635
assigned back to @pipermerriam based on @nicholasserra comments in the PR #715

[2016-02-05 01:25] RDmitchell commented on #187
Am closing this because the bigger issue (I think) is that we need to set the field type in the JSON blob fields -- will make an issue for that (if there isn't already one).

[2016-02-05 01:25] #187 closed

[2016-02-05 01:29] RDmitchell commented on #684
@nicholasserra -- am assigning this to you, priority = 3 -- if/when you get to this, I might need to set up a case on seedtest that you can use Sentry to figure out what is going on. I am setting this to March (not Feb release).

[2016-02-05 01:30] RDmitchell commented on #578
thx

[2016-02-05 18:25] nicholasserra commented on #578
I also think we should remove the top cancel and save buttons. They clutter up the top header now that we have links to toggle the modal page. Mockup incoming.

[2016-02-05 18:36] nicholasserra commented on #578
So more thoughts:

This modal is used by both the mapping and matching screen. Issue i'm seeing is that the mapping screen automatically sets the user's shown/hidden columns and the column order when the page is loaded.

I believe on seedtest right now, if you go to the mapping page, and select which columns to show, on save those values will be overridden when the page reloads.

So ultimately, I

[2016-02-05 18:55] RDmitchell commented on #578
The default view in the final mapping screen, where the user can click on view/hide columns, shows all the fields that were in the file imported, correct?

I agree that the view/hide columns is least important on the final mapping screen, as long as the user can see all the imported fields in the table view being displayed.

And this will eliminate the need to fix #635 -- right?

[2016-02-05 18:57] RDmitchell commented on #578
If users protest the removal of the view/hide columns, then we can add it back but with full fuctionality (ie, actually "respect user changes" that we probably don't have time to add now.

[2016-02-05 19:04] nicholasserra commented on #578
Yes, this will eliminate the need for #635. Right now the functionality is broken anyway. So we probably need to open a ticket to figure out how to make that view respect the show/hide columns without breaking the initial default columns stuff. I'll open a new ticket.

[2016-02-05 19:10] nicholasserra commented on #578
Updated visuals

![screen shot 2016-02-05 at 2 10 31 pm](https://cloud.githubusercontent.com/assets/512288/12856304/437adc7c-cc12-11e5-9529-0a981598d2c9.png)

![screen shot 2016-02-05 at 2 10 35 pm](https://cloud.githubusercontent.com/assets/512288/12856308/465546bc-cc12-11e5-94b7-f0c362aaf8c2.png)

[2016-02-05 19:15] RDmitchell commented on #578
Yes, open a ticket, and I will close #635 -- do you want to close the related PR #715 ?

And I agree about eliminating the Save / Cancel buttons from the top of the modal.

One question about the red Cancel button -- I think in general (?) the Cancel buttons in the program don't have color
![image](https://cloud.githubusercontent.com/assets/6314950/12856393/98fbf118-cbf9-11e5-96f4-8ea8e107cb5d.png

[2016-02-05 19:16] RDmitchell commented on #578
Also, just looking at the two screen shots in the previous two comments, is the blue in the Save Changes for the modal different that the blue in my screenshot of the non-colored cancel button? That screen shot came from the Building Detail View, when you click the Edit link.

[2016-02-05 19:18] nicholasserra commented on #578
I'll fix double check and fix those button colors.

I closed #715. Will open a ticket about mapping issues.

[2016-02-05 19:20] RDmitchell commented on #635
I am closing this issue because @nicholasserra discovered that the functionality of the View/Hide button in Mapping isn't working. For now we are going to remove the View/Hide button since it doesn't work properly, and make a new issue to add it back with proper functionality

[2016-02-05 19:20] #635 closed

[2016-02-05 19:28] nicholasserra opened #722 "Mapping view/hide/reorder columns issues"
This ticket is for discussing issues around the "View/Hide/Reorder" functionality on the mapping screen.

The mapping screen is responsible for setting the user's initial "default columns". This happens when the page is loaded, by setting the default columns to a subset of the columns in the imported file.

The issue is that we also want to have "View/Hide/Reorder" functionality on this page. Curr

[2016-02-05 19:31] nicholasserra commented on #578
Confirmed blue button is the same. Updated cancel. Looks pretty good.

![screen shot 2016-02-05 at 2 30 39 pm](https://cloud.githubusercontent.com/assets/512288/12856879/15a525ac-cc15-11e5-9146-e46364bbad30.png)

[2016-02-05 19:41] RDmitchell commented on #578
Yes looks good !!!
On Feb 5, 2016 11:37 AM, "Nicholas Serra" <notifications@github.com> wrote:

[2016-02-05 19:44] RDmitchell commented on #578
Can you do a PR for taking away the view hide button in mapping. I use the
PRs to generate release notes so it's nice to have one for all changes that
we make. Thx.
On Feb 5, 2016 11:41 AM, "Robin Mitchell" <rdmitchell@lbl.gov> wrote:

[2016-02-05 19:48] nicholasserra opened #723 "Investigate refactoring search_service and building_service columns methods"
`search_service.generate_columns` and `building_service.create_column_array` are very similar, aside from a check for columns being selected. Most likely these can be rolled into one method to avoid confusion.

Currently only the matching controller calls the building_service method.

[2016-02-05 22:30] RDmitchell commented on #719
@nicholasserra -- coordinate with @mmclark once we get the account set up

[2016-02-05 22:38] RDmitchell commented on #690
fixed. closing

[2016-02-05 22:38] #690 closed

[2016-02-05 22:44] RDmitchell commented on #687
This is working, so I am closing. I do have a slight tweak, but we can do it after the Feb release -- I will make another issue for it.

[2016-02-05 22:44] #687 closed

[2016-02-05 22:50] RDmitchell opened #726 "Display Member Role in Gray when there is only one Owner"
In #717 we made it so that a user cannot delete themselves if there is only one "member". And the last "Owner" cannot be deleted.

So right now, if there is only one owner, the Member role is blank (because we didn't want users to be able to change the role from Owner to Member or Viewer since there always needs to be at least one Owner).

However, the users don't know these rules, and so it seems

[2016-02-05 23:00] RDmitchell commented on #686
Just tried this again on a whim, and I am getting an error

Failed to load resource: the server responded with a status of 400 (BAD REQUEST)
https://seedtest.lbl.gov/app/export_buildings/download/

![image](https://cloud.githubusercontent.com/assets/6314950/12861574/361fd300-cc19-11e5-8b70-e7a9806aeb46.png)

[2016-02-05 23:57] nicholasserra commented on #686
The 400 is intended. Take a look at the actual payload of the 400 to see what the status is. If the status is "working", then it needs more time. I should probably change that to a 200.

[2016-02-05 23:59] RDmitchell commented on #686
So should i just let this sit and see if it eventually finishes? Any idea how much time the program should take to export 750 records? Does it depend on the number of fields being exported and/or the total number of records in the Canonical building table?

[2016-02-06 02:18] RDmitchell commented on #686
So you are saying we need to increase the timeout for the export to finish?

[2016-02-06 20:34] nicholasserra commented on #686
Seems like it should be faster. The timeout is has no limit, I believe. It will keep checking. We're gonna need logs.

[2016-02-08 17:54] nicholasserra commented on #552
cc @RDmitchell for whether to close this.

[2016-02-08 20:55] RDmitchell commented on #552
I will take this back for now. We need to figure out several "tool tips" to add to the program, probably for June, so we can address this issue then.

[2016-02-08 22:27] RDmitchell commented on #607
Just deleted 14,000+ records from the building list and it took a few seconds, when nothing was being displayed on the screen. Might be another candidate for the spinner.

[2016-02-08 22:36] nicholasserra commented on #719
Any opinions on enabling JS logging too? I'm not sure how noisy it will be, but will probably be useful. @RDmitchell @rebrownlbnl

[2016-02-08 22:44] rebrownlbnl commented on #719
Let's try it for now, and folks can turn it off later if it's too much.

[2016-02-08 23:13] RDmitchell commented on #712
This seems to be fixed. I just deleted 14,000+ records from one of my test accounts. It took a few seconds to do, but was completed successfully.

[2016-02-08 23:15] nicholasserra commented on #719
How many servers are going to need logging? Right now we have two projects, one for BE and one for FE. But we're probably going to need to set up two for each environment.

[2016-02-08 23:20] RDmitchell commented on #719
Not sure this is the answer you are looking for, but I think it would be nice to be able to look at logs from both seed (production) and seedtest

[2016-02-08 23:22] nicholasserra commented on #719
Yes, that's what i'm wondering. That's fine. Just need to set up two more projects in Sentry and then @mmclark will have to use a different local settings per environment, which is probably happening already. I wired my PRs so we can easily swap those around.

[2016-02-08 23:28] nicholasserra commented on #719
I have keys set up for both envs

[2016-02-08 23:39] nicholasserra opened #729 "Disable angular debug attributes in staging/production"
via @danielmcquillen

We should disable angular's debugging on the servers. I'll have to wire in Django's DEBUG setting into the JS, so we can disable angular debugging any time Django debugging is off. Docs say we'll see a performance boost.

https://docs.angularjs.org/guide/production#disabling-debug-data

[2016-02-08 23:55] RDmitchell commented on #712
This is working when you filter on records using the input boxes at the top of the columns, but not when you filter on a label. I will make a separate issue for that.

[2016-02-08 23:55] #712 closed

[2016-02-09 00:05] RDmitchell opened #730 "Delete buildings not working when filtering using labels"
Deleting buildings does not seem to be working when you apply a filter using the "Filter by Label" function.

Here is an example:

1. Import the standard PM sample data file (512 records)
2. Accept the default mapping
3. Go to Building List
4. Filter on Postal Code = 10102; 53 records are returned
5. Select all of those records with the upper left checkbox
6. From the Building Actions pulldown, se

[2016-02-09 00:06] RDmitchell commented on #730
@nicholasserra -- am assigning this to you, as I am not sure if @pipermerriam still has time to work on seed. Feel free to give it to him if he does. Thx !

[2016-02-09 00:33] RDmitchell opened #731 "It is possible to create two datasets with the same name"
Does this matter? Do we care?

![image](https://cloud.githubusercontent.com/assets/6314950/12904081/a994ddac-ce81-11e5-9c68-1f1b3435fd03.png)

[2016-02-09 00:35] RDmitchell commented on #731
Actually, I think we do care. It seems like the program needs to have the dataset name be unique. The result of having two datasets with the same name is that the first dataset appears to go away and you are left with only the 2nd dataset, including just the building records from the 2nd dataset.

Am going to write down a set of steps to reproduce this.

[2016-02-09 00:46] RDmitchell commented on #731
Actually, on further testing, it seems like the program can deal with 2 datasets with the same name without issue.

Follow these steps with this data
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LaWdhTFBRMmpVcFU&usp=sharing

1. Import PM-01.csv, call it whatever you want (I used "xx")
![image](https://cloud.githubusercontent.com/assets/6314950/12904258/e60e4f7e-ce82-11e5-80f4-34c43

[2016-02-09 00:48] RDmitchell commented on #722
In seed 1.4.0 (Feb 2016 release), we removed the "View/Hide" columns button. We can revisit whether we want this functionality on this page at a later date after talking to users about it.

[2016-02-09 00:50] RDmitchell commented on #578
Works great, am closing. Thanks !!

[2016-02-09 00:50] #578 closed

[2016-02-09 00:58] RDmitchell commented on #595
fixed

[2016-02-09 00:58] #595 closed

[2016-02-09 01:09] mmclark commented on #719
Perfect - thanks!

[2016-02-09 01:32] RDmitchell opened #732 "Export file empty when data filtered with Filter by Lable + column filtering"
Export not working for filtered data -- file made but no contents

1. import covered buildings sample csv (512 records)
2. Here is the mapping
![image](https://cloud.githubusercontent.com/assets/6314950/12905133/8e3c74b8-ce89-11e5-933e-53b527c07aaf.png)

3. Save mapping, go through matching step, view buildings
4. Filter Use Description for Hotels, make a label for it using the Building Actions, A

[2016-02-09 01:32] RDmitchell commented on #732
@pipermerriam -- I am assigning this to you. Let me know if you can't reproduce it. I was testing on my seedtest Robin LBNL 82 account and can add you as a member if needed.

[2016-02-09 02:17] RDmitchell commented on #431
Am assigning this to @nicholasserra for the June release.

Should probably add another issue when we do this to delete orphaned records in the existing database? There must be LOTS of them (at least in my test accounts, if not in user accounts).

[2016-02-09 18:04] nicholasserra commented on #686
@RDmitchell can you invite me to this account on seedtest? I'd like to see what's going on.

[2016-02-09 18:07] nicholasserra commented on #684
@RDmitchell So what's the final issue on this? From what I understand some visual cue isn't triggering that it's done?

[2016-02-09 18:40] nicholasserra commented on #504
There are a few more requirements. I'll fix the text.

[2016-02-09 18:41] RDmitchell commented on #686
@nicholasserra -- just sent you an invite to my test account called Robin LBNL 83.

It has the data referenced above -- do a filter on Use Description for "office", you will get 525 records, then try exporting them.

[2016-02-09 18:43] RDmitchell commented on #684
@mmclark -- I guess you need to set Nick up as a superuser on seedtest so that he can see what's going on with this?
@nicholasserra -- once you are a superuser, I can point you to an organization to try deleting buildings on -- I think it has to do with the number of records. It finishes properly if there aren't too many records to delete, but seems to have issues when there has been a lot of data

[2016-02-09 18:44] RDmitchell commented on #504
great !

[2016-02-09 19:39] nicholasserra commented on #504
Do we want this on login and create account?

Final text is:

Note: Passwords must be 8 or more characters, and must contain at least 1 uppercase character, 1 lowercase character, and 1 digit.

[2016-02-09 19:50] RDmitchell commented on #504
Text looks great. I think we just need it on the create account page, when the user is setting their password.

[2016-02-09 19:57] nicholasserra commented on #504
Cool. I was going to add it to all the password pages, specifically the password reset flow (where they enter in a new password), and also the login pages because the complexity might help people remember their passwords. I've had to reset my seedtest password a few times because I forget that it needs to have an uppercase character.

I already have this done, but if you think it's overkill i'll p

[2016-02-09 20:05] RDmitchell commented on #504
What you have done is great. Leave it as is.  thx

[2016-02-09 20:29] pipermerriam commented on #730
@RDmitchell

This should have been fixed with https://github.com/SEED-platform/seed/pull/720 which was merged 3 days ago.  Do you know whether you encountered this issue on a testing site that had this code deployed to it?

[2016-02-09 20:36] RDmitchell commented on #730
I believe I tested this yesterday on seedtest, but let me test again and get back to you.

[2016-02-09 20:42] RDmitchell commented on #674
Just put this link in PR #714, but am also putting it here.

Here is a link to some sample Green Button files from PGE (Pacitic Gas and Electric, a major utility in CA). It imports without issue into the current production version of SEED, which has the old method of importing a Green Button file.

https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LbkdCOU5KXzJhNWM&usp=sharing

[2016-02-09 20:58] RDmitchell commented on #674
My source for the sample green button files is actually a DOE website:

http://energy.gov/downloads/green-button-sample-data-pge

Lots of sample files
![image](https://cloud.githubusercontent.com/assets/6314950/12930347/94a743ac-cf2c-11e5-82d0-585295a513cb.png)

[2016-02-09 21:13] RDmitchell commented on #730
Looking at the time I made this issue, 21 hours ago, I was testing the current code on seedtest, yesterday afternoon. So I am still seeing the problem. Do you want me to set up an account that shows the problem and invite you as a member?

[2016-02-09 21:37] RDmitchell commented on #730
Let me know if you cannot reproduce this problem.

[2016-02-09 21:41] pipermerriam commented on #730
No, not yet.  I'm still investigating.

On Tue, Feb 9, 2016 at 1:14 PM, RDmitchell <notifications@github.com> wrote:

--

*Piper Merriam | Senior Developer*

*Quick Left, Inc.
<http://www.google.com/url?q=http%3A%2F%2Fquickleft.com%2F&sa=D&sntz=1&usg=AFrqEzdP6K1wURnZfgF6QDUGS6O5EmLhTg>*
*Boulder & Denver, CO*

844.QL.NERDS

@pipermerriam

[2016-02-09 22:53] nicholasserra commented on #504
Reassigning for merge and testing

[2016-02-09 22:55] nicholasserra commented on #729
Reassigning for merge. I tested this locally and it should be fine.

[2016-02-09 22:57] RDmitchell commented on #504
thx

[2016-02-09 23:05] nicholasserra commented on #726
So currently, if you don't have access to change the member role type of someone, that option is shown as normal black text as opposed to the select box. Do you want to keep the normal black text thats currently there, or do you want to change it all to grey?

![screen shot 2016-02-09 at 6 04 14 pm](https://cloud.githubusercontent.com/assets/512288/12933728/a8427cf8-cf57-11e5-8227-0972118eeb18.png

[2016-02-10 01:04] RDmitchell commented on #726
It would probably make sense to do that if you have time. Not the end of the world if you don't. Your call.

[2016-02-10 01:58] nicholasserra commented on #726
I'll just leave the normal black text and make it work for all cases.

[2016-02-10 02:12] RDmitchell commented on #726
that's fine

[2016-02-10 02:20] nicholasserra commented on #726
Reassigning for merge and testing.

[2016-02-10 17:56] nicholasserra commented on #686
Ok so this is actually getting a 400 with an error. Debugging.

[2016-02-10 18:09] nicholasserra commented on #686
So locally this exporter uses the filesystem, and on the servers it uses s3. So I need to switch over to s3 locally to debug this better. I'm thinking it's the same issue though, file didn't make it to s3 by the time the download endpoint is hit, so just need to add some delay and retries.

[2016-02-10 18:29] RDmitchell commented on #686
@nicholasserra -- thanks for digging into this !!

[2016-02-10 18:39] RDmitchell commented on #729
@mmclark @nicholasserra -- how should we test this, ie, to determine it's good to go?

[2016-02-10 18:41] nicholasserra commented on #729
I can test it on seedtest, let me know when it's ready.

[2016-02-10 18:45] RDmitchell commented on #729
@mmclark -- is this on seedtest? I am thinking yes.

[2016-02-10 19:22] RDmitchell opened #736 "Adding and removing members from organizations -- more tweaks"
Here is the behavior I see now, as of the Feb 2016 release
1. I have an org with one owner (Robin LBNL 82). The Member Role field is not changeable (no pulldown).
2. Logged in as Robin LBNL 82, I invite a new person to be an Owner of the organization (Robin LBNL 8)
3. That person shows up as Owner under Member Role, and it is a pulldown, so that role could be changed.
4. The account that I am logg

[2016-02-10 19:23] RDmitchell commented on #726
The basic behavior requested for this issue is working properly. However, there are lots of other issues surrounding this feature of adding and removing members from organizations. I am starting a new issue ( #736 ), to be worked on for the June 2016 release, that lays down some of what I am seeing. We need to make a complete pass through the organization "world" and can address that issue then.

[2016-02-10 19:23] #726 closed

[2016-02-10 19:26] RDmitchell commented on #629
Can't reproduce this, am closing.

[2016-02-10 19:26] #629 closed

[2016-02-10 20:13] nicholasserra commented on #607
So do we want to go with a full screen version of this, or do we want to place targeted spinners where needed? Full screen would probably be quicker and easier. Not sure if we want to dim out the rest of the page. Could use an overlay.

[2016-02-10 20:21] RDmitchell commented on #607
I have been noticing the spinner on other web apps. It does seem to be fairly common that the spinner is full screen.
@danielmcquillen -- I would like to get your design input on this -- you were the one who suggested it and it would be great if you could provide some design guidance.

[2016-02-10 22:04] mmclark commented on #729
Yep!

On Wed, Feb 10, 2016 at 10:45 AM -0800, "RDmitchell" <notifications@github.com> wrote:

@mmclark -- is this on seedtest? I am thinking yes.

—
Reply to this email directly or view it on GitHub.

[2016-02-10 22:05] nicholasserra commented on #729
Tested, looks good.

[2016-02-10 22:07] RDmitchell commented on #729
Cool, thx !

[2016-02-10 22:10] nicholasserra commented on #607
I think i've come up with an okay solution. My plan is to have the spinner appear in the middle of the `display` element, while lowering the opacity of the `page` element. Here's what it will look like, thoughts?

![screen shot 2016-02-10 at 5 09 21 pm](https://cloud.githubusercontent.com/assets/512288/12963532/30877282-d019-11e5-9c35-99c89a07fe50.png)

[2016-02-10 22:15] RDmitchell commented on #607
This looks good to me. I guess we'll use the spinner (rather than a progress bar) for things that don't take long enough to warrant a progress bar, right ?

[2016-02-10 22:16] nicholasserra commented on #607
Yes

[2016-02-10 22:22] RDmitchell commented on #607
Thx. I would say go with what you are proposing.

[2016-02-10 23:16] pipermerriam commented on #686
Nick, I did some work on this yesterday that I'm going to PR into your branch.

[2016-02-10 23:17] pipermerriam commented on #686
Scratch that, I'm just going to PR it separately since it's unrelated and doesn't effect your changes.40786

[2016-02-10 23:29] nicholasserra commented on #686
Nice, sounds good.

[2016-02-10 23:30] pipermerriam commented on #686
https://github.com/SEED-platform/seed/pull/738

The queryset batching in that PR *might* be why large exports seem to fail.

[2016-02-11 00:58] #504 closed

[2016-02-11 01:47] nicholasserra commented on #607
We have to be careful to only choose endpoints that are consistently slow, so we don't end up with jarring visuals of spinners popping in and out.

[2016-02-11 01:50] nicholasserra commented on #607
So far i'm going to add to:

- [ ] Label adding
- [ ] building list filtering
- [ ] pagination change (next, back)
- [ ] per page change
- [ ] matched vs unmatched
- [ ] deleting

I think a lot of these are just going to end up being "spinner during filtering".

[2016-02-11 02:30] rebrownlbnl commented on #736
We probably need to lay out in one doc how we want the orgs/suborgs and users to work.

[2016-02-11 15:40] mmclark commented on #684
Sorry for the delay - @nicholasserra is now a superuser on seedtest

[2016-02-11 16:21] nllong commented on #366
@RDmitchell this was fixed with PR #695 and I am closing the issue.

[2016-02-11 16:21] #366 closed

[2016-02-11 16:48] RDmitchell commented on #736
Yes, that is my plan, ie, to generate a spec

[2016-02-11 16:49] RDmitchell commented on #684
thanks @mmclark  !

[2016-02-11 16:52] RDmitchell commented on #366
great !

[2016-02-11 17:52] RDmitchell commented on #265
@nicholasserra -- Nick, @mmclark doesn't have time to do this.

Can you assess what would be involved in this migration, and then we can decide whether to do it for the Feb release or not?

[2016-02-11 19:51] RDmitchell commented on #607
Love the spinner !!! Very nice addition -- thanks to @danielmcquillen for coming up with the idea and @nicholasserra for implementing so nicely !

[2016-02-11 19:51] #607 closed

[2016-02-11 19:56] #495 closed

[2016-02-11 21:28] RDmitchell opened #743 "Filtering persists when filtering field is not being displayed in list view"
Here are some conclusions I have drawn from the experiment below:

* Filtering should be associated with members (accounts) and not by organization -- this might be complicated and we should really think this through

* Filtering should be cleared when a field currently being used as a filter is subtracted from the Building List view (or at least tell the user that a field they are turning off in

[2016-02-11 22:55] nicholasserra commented on #686
Reassigning for testing

[2016-02-11 23:10] nicholasserra commented on #617
A little confused on the values I need to fix. Can I get a list of addresses as "input" -> "desired output"?

[2016-02-12 00:30] RDmitchell commented on #686
Exporting seems to make the file, even for the 966 records case, but the file is empty.

* Log onto LBNL 83 organization, which @nicholasserra and @pipermerriam have accounts on
* In the Building List, select all the records with the upper left checkbox.
* Select Export from the Building Actions pulldown.
* Give the Export file a name and click the Export button
![image](https://cloud.githubuserco

[2016-02-12 00:35] RDmitchell commented on #686
am passing back to @nicholasserra

[2016-02-12 00:37] RDmitchell commented on #686
Actually, I am just realizing that I had unknowingly been showing only the Unmatched records when I did that import that didn't succeed.

If I select Show All, then it works. I will close this issue and make a new one for that specific case.
![image](https://cloud.githubusercontent.com/assets/6314950/12995622/a174fb62-d0dd-11e5-8d47-bf3b95ff6d7f.png)

[2016-02-12 00:37] #686 closed

[2016-02-12 00:56] nicholasserra commented on #547
Where should this live? Right now i'm implementing on the building list view. Not sure if it makes sense elsewhere.

[2016-02-12 01:08] RDmitchell opened #744 "Matched / Unmatched records -- Export problems"
Export seems to be working now when the "Show All" state is active

However, it seems there are issues when records are exported with Show Matched or Show Unmatched is active.

All records, not just matched or unmatched records, are imported:

* Log into LBL  83 (Piper and Nick S have accounts) on seedtest
* Click Show Matched, 401 buildings are displayed
![image](https://cloud.githubusercontent.c

[2016-02-12 01:15] RDmitchell commented on #547
start with Building List view.

[2016-02-12 01:57] nicholasserra commented on #547
![screen shot 2016-02-11 at 8 57 26 pm](https://cloud.githubusercontent.com/assets/512288/12996881/179e59a4-d102-11e5-9a86-f4303c93bba1.png)

[2016-02-12 01:57] nicholasserra commented on #547
Mockup ^

[2016-02-12 02:35] nicholasserra commented on #547
Reassigning for merge and testing.

[2016-02-12 18:42] RDmitchell commented on #508
When I go to the V1.3.2 link on read the docs, I see this "Note" -- what does it mean?
I would really like to get the Readthedocs world finalized and working properly as soon as possible, if it isn't already -- I can't really tell from either the website or the comments in this issue.

![image](https://cloud.githubusercontent.com/assets/6314950/13016707/4b311bda-d175-11e5-8baf-5e75d5982a71.png)

[2016-02-12 18:46] nicholasserra opened #747 "Optimize slow get_organizations endpoint"
The get_organizations endpoint at `app/accounts/get_organizations/` takes 3 minutes if you're a superuser on seedtest.

[2016-02-12 19:42] Myoldmopar commented on #508
Looks like the docs are still building fine though.  If you go to latest, you'll see they built successfully for 24251992.  If you look at stable, it appears to point to the master branch, which still has 1.3.2.  I think ReadTheDocs is a little confused between branches and tags as it appears to think branch 580 is a newer stable version of the docs.  When you bring master up-to-date with the late

[2016-02-12 20:05] nicholasserra commented on #684
So I tested deleting buildings for that org with 10,000 of them, and it took a while, but worked. It refreshed and had zero buildings. I think the issue here is that I just need to speed all this stuff up.

![screen shot 2016-02-12 at 3 02 06 pm](https://cloud.githubusercontent.com/assets/512288/13018848/0b9edf0a-d19a-11e5-9511-c8283aa3052d.png)

[2016-02-12 20:06] nicholasserra commented on #684
Also, it probably seems to lag, because to refresh the UI it needs to load all the orgs again, which takes minutes. So fixing #747 will probably fix this.

[2016-02-12 20:58] nicholasserra commented on #747
Going to wait on a seedtest data dump to fix this locally. cc @mmclark @RDmitchell

[2016-02-12 21:06] mmclark commented on #747
Shared via gdrive

[2016-02-12 22:28] pipermerriam commented on #744
This is fixed in https://github.com/SEED-platform/seed/pull/739

[2016-02-12 22:42] RDmitchell commented on #730
assigned to myself for testing once PR is merged to seedtest

[2016-02-12 22:44] nicholasserra commented on #747
Seems "sub_orgs" from the get_organizations payload isnt used anywhere in the app.

[2016-02-12 22:44] RDmitchell commented on #719
@nicholasserra -- should this issue be closed? Feel free if you think it's appropriate. thx

[2016-02-12 22:47] nicholasserra commented on #747
I lied, it's used, but in a weird way.

[2016-02-12 22:52] nicholasserra commented on #719
Waiting on sentry support to help figure out why raven only works when DEBUG=True

[2016-02-12 22:55] RDmitchell commented on #747
I don't know how things are set up in the code, but Sub Orgs do exist as a concept and should have specific functionality, even if the program isn't doing it right now.

Maybe in the software structure, there is no difference between an org and a sub org, and it is just a matter of what organizations are associated with each other (?) that would make them the Parent or the Sub Org (?)

I wrote thi

[2016-02-12 22:56] RDmitchell commented on #747
Might be worth documenting, possibly in this issue, or in a new issue (?), how it is currently used?

[2016-02-13 01:21] nicholasserra commented on #747
For the purposes of this ticket, no sub org stuff was changed.

[2016-02-13 02:09] mmclark commented on #719
We also need to get logging working from the celery tasks.  There may (?) be some additional config required.

[2016-02-15 17:31] nicholasserra commented on #747
Reassigning for merge and testing.

[2016-02-15 17:54] nicholasserra commented on #684
Reassigning for testing, i'd like to see if my fix in #748 resolves this.

[2016-02-15 19:02] nicholasserra opened #749 "Use fast password hasher during tests"
So tests don't take as long.

[2016-02-15 19:07] nicholasserra opened #751 "Switch SESSION_ENGINE to cookie sessions"
Right now we're using the cached db session engine. We should switch to signed cookie sessions to eliminate the need for the session table. It's also faster.

This will terminate active sessions when it is deployed, so I want to get @mmclark and @RDmitchell input.

`SESSION_ENGINE="django.contrib.sessions.backends.signed_cookies"`

Also turn on `SESSION_COOKIE_HTTPONLY`
https://docs.djangoproject.

[2016-02-15 19:45] nicholasserra opened #752 "Figure out Organization vs SuperOrganization usage"
There seem to be two concepts of organization in the application. One is the traditional Organization model, which is in `seed.lib.superperms.orgs.models`.

The second is from the package `django-organization` via `from organizations.models import Organization`. This package is included in INSTALLED_APPS, and is only used on the ImportRecord model as ImportRecord.organization. ImportRecord also ha

[2016-02-15 20:13] nicholasserra commented on #752
This is turning out to be a blocker for 1.8, so going to take this on now.

[2016-02-15 21:23] nicholasserra opened #753 "Separate functional tests from python test suite"
Not sure if selenium tests are working, but having them run when trying to do a simple `./manage.py test` is less than ideal.

[2016-02-15 22:06] nicholasserra commented on #265
Finding a lot of random things that need fixed on the way to this, opening them as separate PRs when able.

[2016-02-15 22:42] nicholasserra commented on #752
Any ideas from @nllong @mmclark @RDmitchell @StephenCzarnecki as to why django-organizations Organization model is wired to this ImportRecord model here?

https://github.com/SEED-platform/seed/blob/develop/seed/data_importer/models.py#L110

Almost finished removing it, but wondering what the deal was. Also would be interested to see if the db tables `data_importer_importrecord_organization` and `o

[2016-02-15 22:45] rebrownlbnl commented on #752
Yes, agree we don't want two different treatments of organizations.

I don't know the history about why a different package is used (or at
least mentioned) for file importing.

Consistency is good; as always, please try to improve the docs with
whatever you learn.

[2016-02-16 17:57] #749 closed

[2016-02-16 18:22] nicholasserra commented on #752
So this will be a multi step migration patch. First I need to make a migration to remove the field in ImportRecord. Once that migration is deployed on all environments, I need to do a migration reset on the data_importer app to clean up history.

I'll need to figure out how these migrations will be deployed with @mmclark. The first migration needs to make it to production before the reset happens.

[2016-02-16 18:51] RDmitchell commented on #752
So this is all going to happen after the Feb release, in terms of getting these changes into develop and master, right?

It seems like we will want to do a bunch of monkey (and unit?) testing on seeddev or seedtest (after the Feb release) when this change is in place.

[2016-02-16 18:51] StephenCzarnecki commented on #645
Made a branch with some initial notes here:  https://github.com/SEED-platform/seed/tree/645_update_data_model_docs  I want to at least clean up formatting a bit and add a small section about what happens to the CanonicalBuilding table on importing a new record before making a pull request to incorporate.

[2016-02-16 18:52] nicholasserra commented on #752
I need @mmclark's opinion on that. We can't reset migrations on the data_importer app until the new migration has been ran in all environments. He can probably do a hotfix to production.

[2016-02-16 18:54] RDmitchell commented on #752
OK. We can definitely move this to a hotfix after the Feb release (which we might be able to release before the end of the month, depending on results of testing)

[2016-02-16 20:57] RDmitchell commented on #747
took slightly over a minute to get the list of organizations.

[2016-02-16 20:57] #747 closed

[2016-02-16 21:06] RDmitchell commented on #547
GREAT !! Thanks

[2016-02-16 21:06] #547 closed

[2016-02-16 21:09] RDmitchell commented on #732
Seems to be fixed -- thanks @pipermerriam !!!

[2016-02-16 21:09] #732 closed

[2016-02-16 21:23] RDmitchell opened #760 "The last label does not appear in Building List pulldown"
I can't seem to display the last label in my list of labels from the Builiding List pulldown, ie, in this case "Zip 10102". All the others appear without problem. This is when I am testing on seedtest (2/16/2016) with user rdmitchell+82@lbl.gov.

Here is a list of the labels in the Building List **Filter by Label** pulldown
![image](https://cloud.githubusercontent.com/assets/6314950/13091246/13d47

[2016-02-16 21:31] RDmitchell commented on #760
Actually, it's more than just the last label -- I added another label that starts with "Z" and it also doesn't not show up in the Filter by Label pulldown list -- Violation is the last label that shows up in that list.

![image](https://cloud.githubusercontent.com/assets/6314950/13091756/7a748140-d4b1-11e5-9f0f-1a4a5caee737.png)

![image](https://cloud.githubusercontent.com/assets/6314950/13091719

[2016-02-16 23:04] RDmitchell commented on #760
FYI, added new label, through the Building Actions pulldown, called **10102 Zip**, and it appears in the **Filter by Label** list at the very top, as you would expect. Added a third label that started with **Z**, called **Zip 10102 3** and it does not appear in the **Filter by Label** list.

[2016-02-16 23:05] RDmitchell commented on #730
this is working now ! Thanks !!!

[2016-02-16 23:05] #730 closed

[2016-02-16 23:08] RDmitchell commented on #751
@nicholasserra -- I need a bit more explanation about what the implications of this are, ie, "This will terminate active sessions when it is deployed". I don't really know what that means.

Also, @rebrownlbnl -- could you weigh in on this? thx

[2016-02-16 23:10] nicholasserra commented on #751
When the code is released to the server, users who are currently logged in will be logged out.

[2016-02-16 23:10] nicholasserra commented on #751
They'll have to log in again.

[2016-02-16 23:14] RDmitchell commented on #751
ah, so just a one-time thing. I think that's fine. We can do the switch late in the day or in the evening, and I can tell users when we are going to do it.

[2016-02-17 00:05] RDmitchell commented on #547
Have used this functionality a LOT in the last few hours of testing. Works great ! A real improvement !

[2016-02-17 00:08] nicholasserra commented on #547
Awesome :D

[2016-02-17 00:34] RDmitchell commented on #684
I think this is working, it is just very slow.

[2016-02-17 00:55] RDmitchell commented on #684
I am going to do a few mores tests with large data files (if I can ever get them to load) but in the meantime, I am going to close this issue and declare it ready for production, because I was able to finally delete (and the progress reported Success properly) a large and somewhat problematic (maybe) set of records

[2016-02-17 00:55] #684 closed

[2016-02-17 01:14] RDmitchell opened #761 "Test importing file with a lot of records"
I am seeing a file with many thousand records stuck at 48% success. There are no errors, but I can't tell if it is importing or not.

[2016-02-17 01:19] RDmitchell commented on #761
Import it as a Portfolio Manager file -- and just let the program default the mapping

[2016-02-17 01:20] RDmitchell opened #762 "Mapping seems to hang"
Mapping seems to hang on importing the data file associated with this issue.

[2016-02-17 01:23] RDmitchell commented on #762
This file is imported as a Spreadsheet, and there is some hand mapping that will need to be done. I will include a file in the issue directory that shows the mapping that I used.

[2016-02-17 01:40] StephenCzarnecki commented on #645
@rebrownlbnl @RDmitchell I changed the doc a bit and added a few sections trying to explain exactly what happened to the database and when when the user imports a record.  I mostly left the existing text since it is basically correct at a high level.  There were a few things that were incorrect due to changes we made so I fixed that.

If you have a minute to take a quick look and see if it is too

[2016-02-17 02:02] RDmitchell commented on #762
@nicholasserra -- am testing mapping the standard sample covered buildings file (into LBNL 8 on seedtest) and it seems to be hung, so maybe there is a problem with mapping? Or maybe it is a problem with that account? I will also have @bravacheLBL do some of his API testing tomorrow, which includes the mapping step.

[2016-02-17 02:35] RDmitchell commented on #762
In another account (LBNL 84), could map PM sample file wtihout issue. Then tried importing and mapping the sample covered building list as a 2nd file, with the mapping below, and it worked without issue. So maybe there is something wrong with my account (LBNL 82).

I will be interested to hear what the results of other tests reveal about mapping. Hopefully it is just my account, and nothing is act

[2016-02-17 03:13] RDmitchell commented on #744
Export working now for matched and unmatched records. Thanks @pipermerriam !

[2016-02-17 03:13] #744 closed

[2016-02-17 03:14] RDmitchell commented on #580
We will change this to have the data cleansing labels happen in the Building List once the matched records have been made into proper canonical buildings. Am moving the milestone to March -- we might do an interim release or we might keep it for the June release.

[2016-02-17 03:15] RDmitchell commented on #713
Moving to March to keep testing -- not reproducible at this point.

[2016-02-17 03:16] RDmitchell commented on #662
Deferring to March when we will implement this on the Building List.

[2016-02-17 03:17] RDmitchell commented on #762
This might be related to #707, which I have labeled "Not reproducible". Not sure what is going on, but we might not be able to figure it out easily. Might be related to the state of an account or organization.

[2016-02-17 05:27] rebrownlbnl commented on #751
Are there any other implication from changing the way we manage sessions?

-------------------------------------------------------
Rich Brown
Building Technology and Urban Systems Division
Lawrence Berkeley National Laboratory
Office: (510) 486-5896
Mobile: (510) 502-5968
REBrown@lbl.gov
www.lbl.gov/~rebrown
-------------------------------------------------------

On Tue, Feb 16, 2016 at 3:14 PM,

[2016-02-17 19:01] nicholasserra commented on #762
Tried this file locally and matching step took a bit of time to get started (probably 15 seconds), but then it quickly completed and looks like it worked. Seems like an account issue, as you said.

[2016-02-17 19:16] nicholasserra commented on #761
Made it all the way to matching with this file, looks like one of the addresses has a weird character, or weird encoding. I'm going to hunt it down and see if I can get a fix in.

[2016-02-17 19:17] RDmitchell commented on #762
I am wondering if it would be worth getting a database from Miles of the current seedtest, and you could try to figure out what the problem is with that account? Or I can add you to the account I am having problems with and you can see if you can figure out what is going on? Do you want me to do this?

[2016-02-17 19:19] nicholasserra commented on #762
I have the database dump, I can debug that specific account if you'd like. Just give me the login email and steps to reproduce

[2016-02-17 19:19] nicholasserra commented on #762
Steps to reproduce for that account, not sure if a specific org needs to be active

[2016-02-17 19:20] RDmitchell commented on #762
seems like it might be worth figuring out what caused the problem. I will add you to the account on seedtest.

[2016-02-17 19:20] nicholasserra commented on #762
No bother adding me, I have the database locally, I just need to know which account to use.

[2016-02-17 19:22] RDmitchell commented on #762
Ah, user = Robin LBNL 82, org = LBNL 82.
In the seedtest version, there is an additional user, Robin LNBL 822, that is a Viewer. I wonder if that is causing problem?

[2016-02-17 19:25] RDmitchell commented on #762
Hmmm ... it is working now. After the seedtest reboot and debug = false. I wonder if having debug on was causing problems yesterday?

[2016-02-17 19:26] nicholasserra commented on #762
Very possible.

[2016-02-17 19:27] nicholasserra commented on #761
Yeah, odd characters in `'88-44 161 St\xc2\xa0'` I'm going to try to catch those cases. But in general, this is a data issue.

[2016-02-17 19:29] RDmitchell commented on #762
I will close this and #707 and do some more testing.

[2016-02-17 19:33] RDmitchell commented on #761
The problem is that the user doesn't know what the problem is -- when I got an error message before, the program just said something like "problem with your data file". But I had no idea what the problem was and so couldn't fix it (although it seems that now you are able to upload the file and you don't get that message?).

In general, if we can make messages that tell the user exactly where the p

[2016-02-17 19:38] nicholasserra commented on #761
I'll see if there's an easy way to bubble up those errors to the user. Problem is a lot of this stuff is in nested celery jobs, so it can take time.

[2016-02-17 19:40] RDmitchell commented on #761
And the extra characters were invisible, right? I looked at that record, and all you see is the actual address.

Can you make an issue for yourself to work on the error messaging ? We can work on it over time, doesn't have to happen right now.

[2016-02-17 19:41] nicholasserra commented on #761
Yes, invisible. I'll open an issue for errors.

[2016-02-17 19:41] RDmitchell commented on #761
thx

[2016-02-17 19:42] nicholasserra opened #763 "Bubble up celery matching errors to user"
Errors in matching simply halt the match, instead do some error handling and show user a message.

[code]

[2016-02-17 21:09] nicholasserra commented on #751
No, I don't think so. A major positive is not having them stored in the database. The database table can pile up quickly if a cron job isnt clearing those sessions.

[2016-02-17 21:23] nicholasserra commented on #761
Reassigning for merge and testing.

[2016-02-17 21:32] #729 closed

[2016-02-17 21:44] RDmitchell opened #765 "Clear Filters should delete the labels in Filter by Label box"
**Current behavior:**

When you click Clear Labels in the Building List, the program deletes any criteria in the input boxes, and clears the filtering for those input boxes as well as the labels in Filter by Labels. However, it leaves the label names in Filter by Labels, even though they are no longer being used as a filter.

**Requested change:**

In a user call this morning, users agreed that th

[2016-02-17 21:45] RDmitchell commented on #765
@nicholasserra -- am assigning this to you. Let me know if there are any issues with implementing this. I am hoping we can get it done for the Feb release, ie, by the end of this week or beginning of next week (?). Let me know if you think that schedule is too aggressive. We can always do it as a "hot fix" after the release. Thx

[2016-02-17 21:57] nicholasserra commented on #765
I'll start this today

[2016-02-17 22:04] RDmitchell commented on #765
thx !!

[2016-02-17 22:41] RDmitchell commented on #439
This can really make a difference if you are trying to map a file with a lot of records. I have a sample data file with 12,000+ records, and if I try to map it a second time, there is a real delay in getting the records to appear in the final mapping screen. And when I go to delete the buildings (that don't actually appear in the building record at this point) as a superuser, the program takes a w

[2016-02-17 23:06] nicholasserra commented on #765
Reassigning for merge and testing.

[2016-02-17 23:12] nicholasserra commented on #760
@RDmitchell which organization is this on?

[2016-02-18 00:20] RDmitchell commented on #760
LBNL 82. Let me verify that this is still a problem.

[2016-02-18 00:51] nicholasserra commented on #760
Looking at 82 on seedtest and I don't see any labels.

[2016-02-18 00:55] StephenCzarnecki commented on #752
@nicholasserra
No real insight on why here.  Looking at the history of that file that particular relationship has been there since the beginning.  As you have probably seen ImportRecord.organization isn't used anywhere, only ImportRecord.super_organization is used.  If I were to guess I'd say the many-to-many was for some intended functionality to let import records belong to multiple organization

[2016-02-18 00:59] nicholasserra commented on #752
Awesome, thank you, those empty tables confirm my suspicions around this.

[2016-02-18 01:26] RDmitchell commented on #760
interesting. I am in the process of rebooting my computer. I will take this issue back and see if I can still make it happen.

[2016-02-18 02:01] mmclark commented on #752
The tables @nicholasserra mentioned above on production are indeed empty:

[code]

[2016-02-18 02:06] nicholasserra commented on #679
So I looked into this, and the reason we have parents vs children in the query is based off whether the query is on CanonicalBuilding vs BuildingSnapshot. Matching page queries on snapshots, building list queries on CanonicalBuildings.

[2016-02-18 02:06] #679 closed

[2016-02-18 02:17] RDmitchell commented on #679
So when are the queries looking at Building Snapshots (as opposed to Canonical Buildings)? Is it in matching, when the records haven't been turned into Canonical Buildings yet?

[2016-02-18 02:19] RDmitchell commented on #679
Ignore my last comment -- I didn't read your 2nd sentence (!!). But at least my comment makes me realize that I understand at least a bit about how the data model works ...

[2016-02-18 18:24] nllong commented on #272
@RDmitchell, @axelstudios added Gulp awhile back--is there more that we need to do on this?

[2016-02-18 18:26] nllong opened #767 "align buttons in upload modal window"
The upload window has buttons that aren't aligned. Ideally we move to pictures or something else, but for now these should be aligned.

I'm doing this in develop as timeseries adds 3 more buttons to the dialog.

<img width="602" alt="screen shot 2016-02-18 at 11 25 46 am" src="https://cloud.githubusercontent.com/assets/1907354/13153648/5f708bbe-d632-11e5-9e5a-d7945cd185e3.png">

[2016-02-18 19:50] nicholasserra commented on #719
Assigning this over to @mmclark while dealing with Sentry support.

[2016-02-18 20:30] RDmitchell commented on #767
At one point we thought about making these import file types into a pulldown, so that we could add as many as we wanted without cluttering up the UI.

Would this be the time to do that? We wouldn't have to, just a thought. We can always do that later.

[2016-02-18 20:30] RDmitchell commented on #272
@danielmcquillen -- any input here?

[2016-02-18 20:50] RDmitchell commented on #583
Am opening for testing

[2016-02-18 20:54] nllong commented on #767
It would take a bit more work to make pull downs. I didn't realize it, but this dialog allows you drop files onto it as well.

Right now it looks like this. The orange_button was broken for awhile too--so I added the CSS for it.

![image](https://cloud.githubusercontent.com/assets/1907354/13157803/178b5cec-d647-11e5-967f-0ce9de7bfd3a.png)

[2016-02-18 20:57] RDmitchell commented on #767
Not sure what the above screen shot is -- is it from the Timeseries code? The current button in the develop branch of seed is shown below -- not sure we really need to make the PM button orange? Could we just keep the buttons the way they are now, except that the Upload Green Button Data calls the new timeseries world and not the existing one?

![image](https://cloud.githubusercontent.com/assets/6

[2016-02-18 21:04] nllong commented on #767
Sure I can make it blue again, it has a CSS to be orange, but the orange wasn't defined.

This is current develop. Timeseries has 6 buttons.

[2016-02-18 21:11] RDmitchell commented on #767
Right, I thought that there were a bunch of new buttons for timeseries. What does the timeseries button set look like? Although I guess at this point we probably shouldn't get too far into the weeds of the timeseries look and feel -- I was hoping at some point, once it is up on a server that we can all look at, we could make a GUI pass through it -- getting @danielmcquillen and @nicholasserra or @

[2016-02-18 21:16] nllong commented on #767
I fixed it in timeseries to be this column view, and decided to fix it in develop as well so we won't have a merge issue later on.

[2016-02-18 21:17] RDmitchell commented on #767
ok, that's fine. we can deal with all my other issues when we get farther down the line. sorry to get too into the weeds !!

[2016-02-18 21:31] nllong commented on #767
Here is the current time series upload dialog... we can clean this up later. I'm putting it here for posterity sake.

![image](https://cloud.githubusercontent.com/assets/1907354/13158811/f511f8ba-d64b-11e5-9121-3798e6e237c3.png)

[2016-02-18 21:42] RDmitchell commented on #767
Wow, certainly needs some design help -- good to put it up for posterity

A bit concerning that there is a "Download" button on an "Upload" dialog box, but we can deal with that later.

[2016-02-18 21:49] nllong commented on #767
Yeah, the download/upload is strange. It is what it is right now.

[2016-02-18 23:02] RDmitchell commented on #767
It's fine for now. We're not really going to release this into the world, except via the App Contest, for a while. We will have time to make the GUI more logical before we unleash it on real users.

[2016-02-18 23:14] RDmitchell opened #770 "Export doesn't seem to be working"
I tried exporting 4 records from an existing account (LBNL 83) and I get the following errors, and the export doesn't work.

![image](https://cloud.githubusercontent.com/assets/6314950/13161382/225b8b8c-d652-11e5-8e7d-71fb9fe24494.png)

@nicholasserra -- I am assigning this to you -- you are an owner in the LBNL 83 account. I can also start from scratch with the sample data sets and see there is s

[2016-02-18 23:31] nllong opened #772 "Remove redundant test data and fix spelling"
There are two sets of data files that are identical. The versions in /seed/tests/data are the correct ones to use when doing API and general testing.

[2016-02-18 23:50] RDmitchell opened #773 "Getting error in matching"
Am getting an error in a specific case for matching, although it is working for other files I have been working with. LBL 82, loading Use Case 2. Will do more testing to see if I can make a reproducible set of files to hand to a developer.
![image](https://cloud.githubusercontent.com/assets/6314950/13162077/3ef1af2e-d657-11e5-88ff-02027d66b0b6.png)

[2016-02-19 05:37] mmclark commented on #719
Support request sent to the Sentry folks...

[2016-02-19 18:25] RDmitchell commented on #761
This file imports, and I can get to the mapping screen, but when I click to the next step, where the program says "Mapping buildings" it seems stuck at 0%.

@nicholasserra -- do you know what happens if I now log out (which I am going to do probably before you answer this because I am going to clear out this account's building records as a superuser to start with a fresh slate) -- I am curious if

[2016-02-20 00:25] RDmitchell opened #776 "Building List seems slow to display - add spinner"
Even for an account with just 10 records. Will fill in this issue as I get more information

[2016-02-20 01:40] RDmitchell commented on #765
Ready to go -- thanks @nicholasserra !!

[2016-02-20 01:40] #765 closed

[2016-02-22 17:34] nicholasserra commented on #770
Reassigning for testing

[2016-02-22 19:56] RDmitchell commented on #770
This seems to be working. I tested a straight export of all the records in an org, and also filtered records with both filtering by labels and filtering by input. Both seemed to work. I haven't tried it with a very large file. Am closing

[2016-02-22 19:56] #770 closed

[2016-02-22 20:02] RDmitchell commented on #776
we should add a spinner to the time between when the user clicks on the Buildings Nav bar (or says "view buildings" after mapping) to when the building list actually displays. It takes a few seconds.

[2016-02-22 20:05] RDmitchell opened #778 "Problem displaying building list"
@nicholasserra -- I have an organization where I loaded approx 13,000 records. It went through mapping and matching (even though it is the only file) and in the building nav bar it says there are 13,678 records. But the Buidling list is not displaying any buildings, even though the "Show all" pulldown is selected. Could it be that the program is just very slow to show that many buildings? I can ma

[2016-02-22 20:06] RDmitchell commented on #778
When I log out and log back in (not an incognito window), the building list displays. What do you think would cause this kind of behavior? Is there a way that we can try to trouble shoot this kind of thing?

[2016-02-22 20:09] RDmitchell commented on #770
Just verified that the export is working for an org with 13,000+ records. Worked fine. Thanks @pipermerriam !!!

[2016-02-22 20:53] RDmitchell commented on #762
Can you try importing and mapping this file into one of your test accounts (I have been trying to import it under my LBNL 8 account). Import it as a Portfolio Manager file -- no need to change any mapping although you have to resolve a duplicate field name suggestion for Year ending and Year_ending.

On seedtest it imports and the first mapping screen appears. But it appears to hang after I click

[2016-02-22 21:41] nicholasserra commented on #762
Was able to import, map, and match that file with no issues.

[2016-02-22 21:43] nicholasserra commented on #778
My best guess is that you had a filter applied at one point, and it was saved in sessionStorage, and when you imported a new file, it didn't have that field anymore, and it was stuck. Troubleshooting that might be tough. But next time this scenario happens, try hitting the new "clear filters" button first, and refresh and see if that works.

[2016-02-22 21:45] nicholasserra commented on #776
You mean the "view buildings" in the modal at the end of the matching step?

[2016-02-22 22:02] RDmitchell commented on #762
can you try it on a seedtest account that you have?

[2016-02-22 22:03] RDmitchell commented on #776
yes

[2016-02-22 22:03] RDmitchell commented on #778
that did occur to me, and I forgot to try it.

[2016-02-22 22:16] nicholasserra commented on #762
Tested on staging:

First time I imported it, it showed a duplicate field for Year Ending. (It did the same locally). So I disabled one of the fields, hit save mappings, and it got stuck.

Second time, it showed a duplicate field for Year Ending, and this time I unchecked both the fields, and it worked.

[2016-02-22 22:23] RDmitchell commented on #762
I tried that, and will try it again, ie, keeping the duplicate field, but renamed. I didn't think that helped, but I will try again.

[2016-02-22 22:24] RDmitchell commented on #762
@nicholasserra -- when you say you disabled the field, you have to first give it a different SEED header name to "unduplicate" it and then disable it, right?

[2016-02-22 22:26] nicholasserra commented on #762
I believe I unchecked the second red field, then deleted a letter from "Year Ending" on the first one, then added the letter back to make it turn green.

[2016-02-22 22:34] nicholasserra commented on #776
So there's a spinner that happens as soon as the buildings page is loaded. Are you saying you're seeing a delay on the page location actually changing?

![spinner](http://g.recordit.co/96N0Fqm9Sl.gif)

[2016-02-22 22:37] RDmitchell commented on #762
I wonder if the program internally is interpreting both of those fields as the same name, because in the original data they are exactly the same name except one has an underscore. @bravacheLBL brought this up (but which might not be documented).

And yes, if I uncheck both of the fields, the program can map the file. I am going to make this into a new issue, which is to discover what the problem i

[2016-02-22 22:37] #762 closed

[2016-02-23 00:30] RDmitchell opened #781 "Mapping hangs if there is a duplicate field name in the data"
If a file being imported has a duplicate field name, ie, two field names that are either identical or interpreted by the program as identical, the program hangs during the mapping phase.

The question is what to do in this case? Seems like there are a few options:
1. Inform the user that they need to fix their data and reimport it
2. rename internally the file names so that they are no longer dupl

[2016-02-23 00:52] rebrownlbnl commented on #781
SEED is supposed to handle this use case, right?
The web app identifies duplicate fields and the user manually types in a new text string for the new field name. Shouldn't that allow the data to import under two different field names?
Maybe I'm not understanding what's going on behind the scenes.

[2016-02-23 00:58] RDmitchell commented on #781
There are example files in the google drive folder for this issue:
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LOVF3UzlWanhXSG8&usp=sharing

**Example File 1:**
The first file, called
DuplicateFields-Year_Ending.xlsx
contains two fields, with the same data and the same field names except that one has and underscore connecting the two parts of the field name. I believe that interna

[2016-02-23 01:01] RDmitchell commented on #781
@rebrownlbnl  -- Right, I didn't understand it at first either.
The program can deal with two fields in the original data file that have different names, but SEED gives them the same "SEED Header" name suggestion. The user can then change the SEED Header name to not be duplicated.

However, this is a case where the actual original data has the same field name -- that is the case that the program c

[2016-02-23 01:03] RDmitchell commented on #776
hmmm, I don't think I see that spinner. Let me try it again, and make a video if it doesn't show up.

[2016-02-23 01:03] nicholasserra commented on #776
It's fine, I added a spinner to the page change, it's in PR.

[2016-02-23 01:27] RDmitchell commented on #583
For testing, there are a set of files in Issue #381 that can help for testing this issue, although I don't think the examples in those files are exhaustive.

[2016-02-23 01:28] RDmitchell commented on #583
Here is a direct link to those files
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LVWttVGNsNzByMVU&usp=sharing

[2016-02-23 01:47] rebrownlbnl commented on #781
I suppose it's true that even if the user maps those identical header names in the raw file to different field names in SEED, you would never be able to trace the data back to its source in the raw file (since two columns have the identical name). Does SEED actually keep a record of the raw->SEED mapping? I guess it would, at least for the mapping suggestions.
Your first option is the cleanest (th

[2016-02-23 01:53] RDmitchell commented on #781
Yes these are the basic questions. I plan to bring this up on the March mid-month user call and see if I can get some feedback from the users (once I understand what the program stores in terms of the raw data, as you are wondering).

[2016-02-23 02:17] RDmitchell commented on #583
I moved the best test file to the google drive for this issue
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LVk5xekptMDlUZkk&usp=sharing

I changed one of the criteria in the admin screen, and then restored the defaults. It doesn't seem like the program is picking up on all the errors in this file.

For example, in the data file there is a record that has a Gross Floor Area = 3. Thi

[2016-02-23 02:42] RDmitchell commented on #583
I think the file called

now contains a record that should trigger each error.
![image](https://cloud.githubusercontent.com/assets/6314950/13240035/d9742e52-d993-11e5-95c1-2b07b9080d99.png)

[2016-02-23 04:09] RDmitchell commented on #583
@axelstudios -- now of course I am having a hard time replicating the problem I was having before. Am taking this issue back to do more careful testing.

[2016-02-23 20:59] nicholasserra opened #782 "Enable Celery compression via CELERY_MESSAGE_COMPRESSION"
We should be compressing celery payloads.

http://docs.celeryproject.org/en/latest/configuration.html#std:setting-CELERY_MESSAGE_COMPRESSION

[2016-02-23 21:28] axelstudios commented on #583
Very strange; I wasn't able to reproduce that with your file:

![image](https://cloud.githubusercontent.com/assets/411466/13267231/8095a3fa-da39-11e5-9059-184fa9e89db2.png)

[2016-02-23 21:55] StephenCzarnecki commented on #645
Made a pull request:  https://github.com/SEED-platform/seed/pull/783

[2016-02-23 22:34] RDmitchell commented on #782
What will this do for us? Will it improve performance?

[2016-02-23 22:35] RDmitchell commented on #583
Right, I couldn't either when I tried it again last night. I will see if I can figure out how I got my data / org / account into a state where it wasn't working. Reproducible !!

[2016-02-23 22:43] nicholasserra commented on #782
Yes it should make the payloads in transit to celery smaller.

[2016-02-24 00:13] RDmitchell opened #784 "Super user feature to "reset" database to "fresh" initial state"
In order to make testing easier (and this might be useful if user's accounts get messed up also), we need a way in the UI, as a superuser, to "reset" the dtabase. This would mean deleting all building snapshot records, canonical records, join tables, mapping histories, etc.

Not sure when to take the time to do this.

[2016-02-24 00:22] rebrownlbnl commented on #784
Probably would want some kind of safety mechanism on this so it can only be done on dev or stage.

[2016-02-24 00:27] RDmitchell commented on #784
possibly.

[2016-02-24 00:29] RDmitchell commented on #784
I would say this falls into the same category as deleting an entire organization, which we are going to add as a superuser feature that has to be available on the production server. So we just have to make it not so easy to do that it could be done accidentally.

[2016-02-24 00:52] RDmitchell commented on #583
Here is the state of the "Default" Data Cleansing admin screen.
There is a min and max setting for Energy Score
![image](https://cloud.githubusercontent.com/assets/6314950/13271686/95684b7c-da4b-11e5-80c2-876f3382dbd0.png)
When mapping the data_cleansing_sample-Robin.csv file (linked earlier in this issue), the field energy_score is mapped to Energy Score
![image](https://cloud.githubusercontent.c

[2016-02-24 01:03] RDmitchell commented on #583
I know that I put units on the original mockup, but are we doing anything with them in the data cleansing admin screen, ie, if the user changes them does it matter?

[2016-02-24 01:40] RDmitchell opened #785 "Add Clear Filter to Data Cleansing modal"
I think some of the weird issues I am seeing have to do with the fact that the program keeps filters set if the Data Cleansing modal is closed. We may want to consider doing one or both of the following:
1. Clear the filters by default (without giving users a choice) when the Close button is clicked
2. Add a Clear filter button.

We don't have to either for the Feb release, so I am assigning this

[2016-02-24 01:54] RDmitchell opened #786 "Save Changes button sequence in Data Cleansing Admin"
I come into the Data Cleansing Admin screen from some other screen.
I don't know the state of the values (I think they have been changed), so I click "Restore Defaults".
That button gets a check mark (and the defaults are properly restored)
![image](https://cloud.githubusercontent.com/assets/6314950/13273028/5e542fc0-da55-11e5-9fd7-7d8378aa98fc.png)
I then change some value in one of the fields (s

[2016-02-24 02:00] RDmitchell opened #787 "Additional functionality to add to Data Cleansing Admin feature"
We will want to add more functionality to the Data Cleansing Admin screen over time. I am starting a design doc to list what the cities have requested so far. Link is in the next comment.

[2016-02-24 03:01] RDmitchell opened #788 "Scroll bar loses headers in Data Cleansing modal"
Tweak to the Data Cleansing modal:

right now if you have a scroll bar (lots of errors), when you scoll down you lose the headers for the columns. Here is an example:
This is the first set of errors, with the column headers
![image](https://cloud.githubusercontent.com/assets/6314950/13274375/8a17a182-da5f-11e5-8bbe-349231ae3443.png)
If I scroll down, I lose the column headers
![image](https://clou

[2016-02-24 03:50] RDmitchell commented on #787
Here is the beginning of a design doc of additional functionality.
https://docs.google.com/a/lbl.gov/document/d/1dxOPq3GUf_bbiQKWWnSoVoGygS20y7rMUl6y1g2s3s0/edit?usp=sharing

[2016-02-24 03:51] RDmitchell commented on #787
I will go over these features with the users to see what their priority of implementation would be.

[2016-02-24 18:42] nicholasserra commented on #662
@RDmitchell i'm going to assign this back to you for now, it's cluttering up my todo list, and i'm assuming when the time comes to work on this we might have a new set of issues to reference.

[2016-02-24 18:42] nicholasserra commented on #752
Assigning to @mmclark as he is the source of truth as to whether the necessary migrations have ran on production.

[2016-02-24 18:43] nicholasserra commented on #492
Assigning to @RDmitchell for merge and testing.

[2016-02-24 18:43] RDmitchell commented on #662
Yes, that's fine.

[2016-02-24 18:45] nicholasserra commented on #617
@RDmitchell still need some clarification on this one.

[2016-02-24 18:52] RDmitchell commented on #617
Right. I might not have time to do that until after the Feb release, ie, next week.

[2016-02-24 18:56] nicholasserra commented on #617
No worries

[2016-02-24 19:07] nicholasserra commented on #665
So here's what I found:

- "Remove Buildings" from the admin panel actually deletes all BuildingSnapshots and CanonicalBuildings.

- Selecting buildings from the buildings list and hitting "Delete Buildings" sets the CanonicalBuilding to active=False, makes an AuditLog entry that the CanonicalBuildings were deleted, and basically leaves the BuildingSnapshots alone.

I have no idea why this behavio

[2016-02-24 19:38] nicholasserra commented on #665
I could probably pretty easily leave the building list functionality alone, and implement the "Remove Buildings" admin function somewhere for the user.

[2016-02-24 19:39] nicholasserra commented on #431
Wonder if it's going to be an issue differentiating the buildings that were abandoned vs existing buildings. Might be able to only delete the ones linked to the current imported file, but not sure. Will have to experiment.

[2016-02-24 19:44] nicholasserra commented on #439
I don't know whether this is going to work as you're thinking. Those buildings in the DB are then directly used once mapping is done, I don't think we're going to be able to change the storage of them without totally rewriting a lot of the building logic. Sounds like a fix for #431 might make this a little smoother.

[2016-02-24 20:11] RDmitchell commented on #439
Yes, let's work on #431 first, then come back to this and see if it still makes sense.

[2016-02-24 20:12] RDmitchell commented on #431
I think even just deleting the ones linked to the current imported file would be a good start.

[2016-02-24 20:16] RDmitchell commented on #665
I think the behavior for "delete building" in the Building list (your 2nd bullet) makes no sense and leads to lots of database bloat, etc.

I really think the behavior in Building List should be the same as the "remove buildings" in the Admin Panel.

I did hear from one user that it might be nice to have an immediate "undo" for deleted buildings, but not something that would be for more than the c

[2016-02-24 20:36] axelstudios commented on #583
The `Energy Star Score` text is cosmetic - it just does a lookup against `energy_score` and returns the formatted name, so it's easy to change  The lookup came from here: https://github.com/SEED-platform/seed/blob/develop/seed/utils/constants.py#L270-L277

It looks like the "ENERGY STAR score" text is a portfolio manager thing: https://github.com/SEED-platform/seed/search?utf8=%E2%9C%93&q=%22energ

[2016-02-24 20:37] RDmitchell commented on #665
Ah, your suggestion above of making the Remove Buildings an Admin function for an Owner of an organization sounds like a great compromise !!! Please do that.

[2016-02-24 20:38] RDmitchell commented on #665
And then at some point we can revisit the idea of whether or not the current Delete Building functionality in the Building List makes sense.

[2016-02-24 20:39] rebrownlbnl commented on #665
I think there was an original design philosophy that one would never want to get rid of data that had been imported, but it would just get archived (and maybe be available later?).
Later, we realized that keeping all that "inactive" data around caused problems for testing, so we added the admin delete function to really delete those buildings.
That's how we got the two different methods.
I tend to

[2016-02-24 20:42] RDmitchell commented on #665
@rebrownlbnl -- what about @nicholasserra's suggestion that for now, implement the "Remove Building" functionality in the Admin screen of the Organization. Or maybe that isn't very useful for the users -- maybe we really do need to make the Building List delete building functionality work properly, because as you say, they are not in "test" mode -- they will be deleting a few buildings here and th

[2016-02-24 21:21] nicholasserra commented on #665
My only issue with my quick fix is that we'll be presenting two delete options to the user, which might seem like the same function, but actually does different things. So maybe it's better we come up with a final plan. I can start work on making the building list delete buildings act the same as the admin delete button, just need a confirmation from you two.

[2016-02-24 21:29] RDmitchell commented on #665
@nicholasserra -- yes it is true, two different behaviors isn't great.

@rebrownlbnl -- I think it would be good to make the building list delete buildings act the same as the admin delete button -- do you agree? And for now, we would do this without the option to "undo" the delete.

[2016-02-24 21:32] nicholasserra commented on #665
If at any point you want to "undo" deletes, then we should not modify it. Because undoing deletes would require me to put all the code back to the way it is now.

[2016-02-24 21:35] nicholasserra opened #790 "Increase python unit test coverage"
Right now we're sitting at 72%

Coverage output:

[code]

[2016-02-24 21:39] RDmitchell commented on #665
right ...

I am pretty sure if we asked users whether they wanted an undo function, they would probably say yes, whether or not they would ever use it.

should we try to come up with (and implement) an "undo" scenario now? Do you want to ponder what a simple (one level) of undo might look like? And at what point the undo isn't available anymore and the building is actually deleted? Maybe at the cl

[2016-02-24 21:44] nicholasserra commented on #665
I think we need to decide how the UI is going to handle this, as that's a big deal in this situation. I don't know how we would show an "undelete" action, especially when they use the select all checkbox. Best I can imagine right now is maybe we store the filters from the delete action while on the list view, and only show the "undelete" for the time that they're still on the page.

I think that s

[2016-02-24 21:45] nicholasserra commented on #665
@RDmitchell maybe we need to do some outreach to users and see if people ever regret deleting buildings. If there's not a huge response, we make deleting permanent. If people really find themselves needing to undelete, let's go down this road.

[2016-02-24 21:48] RDmitchell commented on #665
Yes, I can ping the users and see what they think.

And I do think that any undelete option that we would have would be very short term, as you say, just while they are on the list view. Or maybe we just ask them twice if they really want to delete their buildings (!)

I think in generally they will be deleting selected buildings, ie, ones that they decided didn't actually need to be part of the l

[2016-02-24 21:49] nicholasserra commented on #665
I think that:

- If users want undelete, we dont need to prompt many times for deleting, as they can undelete it. And we keep it short term.

- If users don't want undelete, we prompt twice, and really delete them.

[2016-02-24 21:52] RDmitchell commented on #665
Good

I will pose these options to the users. Thanks

[2016-02-24 22:04] axelstudios commented on #583
@RDmitchell Looks like we have two options (both are super easy, and since it's cosmetic this is entirely subjective):

- Keep the current lookup system and just update the "Energy Score" text
- Switch to the same lookup as the SEED HEADER column in your mockup.  This will update a number of fields and the resulting error/warning messages:

| Before | After |
|-------------------------------|-----

[2016-02-24 22:09] nllong commented on #550
@RDmitchell -- i don't think this error is the same. But if you map a field to a new name with a single quote it crashes the building search. I'm sure there are a few characters that will cause this to crash.

[code]

[2016-02-24 22:13] RDmitchell commented on #550
@nllong -- I will make a new issue for what you just reported. thx

[2016-02-24 22:15] RDmitchell opened #791 "Single quote in field name crashes building search"
From @nllong, see #550
if you map a field to a new name with a single quote it crashes the building search. I'm sure there are a few characters that will cause this to crash.

syntax error at or near "s"
LINE 1: ..."active" = true AND (LOWER((extra_data->>'Phylroy's Phun Phield...

[2016-02-24 23:02] RDmitchell opened #792 "Matching hangs"
On specific city data, program hangs when trying to match PM file to City building list. I will provide more info about files, etc,

[2016-02-24 23:16] RDmitchell commented on #73
i believe this is fixed because we now have the ability to show unmatched records in the Building List, at which point they can all be selected and deleted. Fixed with #581

[2016-02-24 23:16] #73 closed

[2016-02-24 23:24] RDmitchell opened #793 "Very long data strings should wrap"
In the Building Detail, if there is a very long data string (like in Property Notes in PM files for example), the program just makes the column really wide to show the entire set of data.

We should come up with a nice way to keep the column a reasonable width, and still allow the user to "expand" the field to see the entire text, possibly wrapped. There are probably some nice UI options out there

[2016-02-25 00:51] RDmitchell commented on #792
@nicholasserra -- I am assigning this to you -- it would be good if you could look at it tomorrow (2/25). This is a problem for one of our users, ie, they can't get matching to work and I have been able to replicate it, at least on the production version. It will be interesting to see if you can get through matching on your development environment.

[2016-02-25 02:52] nicholasserra commented on #792
I can tell you right now that there are values in these files that are too long for the DB fields we have.

[2016-02-25 03:15] nicholasserra commented on #792
So the Aggregate PM file has a Notes field, and in it are some giant values, for example, this was the value of one cell:

[code]

This is too large for the field it was mapped to, which has a 255 limit. Not sure how you want to handle these situations? I can trim field content if necessary.

[2016-02-25 06:03] RDmitchell commented on #792
I thought we were truncating those values at 255 characters. If you just import the PM file by itself it imports without any problem, and displays a good bit of those long notes fields. So I don't think that's the problem ??

[2016-02-25 06:07] nicholasserra commented on #792
There's a model called `AttributeOption` that saves conflicting values. We aren't sanitizing anything there. Maybe I can port over some of the field length trimming over to this field. Or we can bump up the size of that field from varchar to TEXT

[2016-02-25 06:07] nicholasserra commented on #792
To be clear, the length issue is happening on saving those AttributeOptions

[2016-02-25 06:09] RDmitchell commented on #792
At one point we talked about making these "Notes" fields (I think there are a few of them in a PM file) into a type of field that could be infinitely (??) long, sort of like a "memo" field in Microsoft Access. Maybe that is what you mean by changing them to Text.

But for now, I am more interested in why matching is hanging. Do you think it is related to the notes field being too long, even if the

[2016-02-25 06:12] nicholasserra commented on #792
The matching is hanging because when you try to match those two records in that way, theres a conflict in the field, and the conflict value is too large to store in the model we use for storing conflicts. So yeah, it's definitely a length issue. Text fields are types of fields in the db, there's some pretty big variations of them.

I'll look to see what we're doing with short fields in the mapping

[2016-02-25 06:15] RDmitchell commented on #792
So not to get too much in the weeds, but what is the "conflict in the field" when the two records are matched? Why does the program care about any of the fields other than the matching field, in this case Custom ID 1?

[2016-02-25 06:19] nicholasserra commented on #792
Good question. I'm not totally sure at this moment. There's a comment on the method that says:

[code]
So it's something when merging the buildings. I'm going to dive into it tomorrow and figure out exactly what's going on.

[2016-02-25 06:52] rebrownlbnl commented on #792
I think it's because when you match two building snapshots that have
different values for the same field, you somehow have to pick which one
"wins" and goes into the the canonical building. So this sounds like a
holding area before the program makes that decision.
But I thought we were automatically just taking the last imported value?

Rich Brown
Building Technology and Urban Systems Department
L

[2016-02-25 14:49] RDmitchell commented on #792
Rich, you are probably right. I hadn't thought about that aspect of the
matching. The program also checks field by field to see if matched records
are identical.
On Feb 24, 2016 10:52 PM, "Rich Brown" <notifications@github.com> wrote:

[2016-02-25 17:08] RDmitchell commented on #583
Just change Energy Start Score to Energy Score in the after column and leave everything else the same. Alex will make PR for this small change for Feb.

[2016-02-25 18:49] nicholasserra commented on #792
So we truncate data that's too long for some of the db fields. So we have two options here:

1) Truncate data going into this AttributeOption model for conflicts
2) Change the db field for AttributeOption.value to a text field, which should be big enough to handle most cases.

[2016-02-25 18:57] nicholasserra commented on #791
@nllong Can I get some steps to reproduce on this? Thanks!

[2016-02-25 19:25] RDmitchell commented on #792
@nicholasserra -- there have been several issues related to this problem.

#218 -- a general issue talking about this problem, ie, that we shouldn't be truncating data
#81 --  where we decided to do the truncation for the 4 Portfolio Manager fields that were know to be long

- Property Notes -- this is the one that we are currently dealing with
- Energy Alerts
- Water Alerts
- Property Use Detail

[2016-02-25 19:31] RDmitchell commented on #792
@nicholasserra -- I think my previous comment is conflating too many things.

So probably the best first step is to do as you say, ie, during the conflict checking make sure that the field can handle the size of the data (is Rich right about the conflict checking, ie, it does that after a record has been matched to see if it is a duplicate or not, and also to see what data should be tagged as part

[2016-02-25 19:33] nicholasserra commented on #792
Right, so this change is not for the BuildingSnapshot model, but for the AttributeOption model, so while it's the same concept, it's not directly tied to any discussion on fields with the buildings.

But in general, there's always going to be a limit to the field size. We have a lot of varchar fields that are 255 that could probably be converted to TEXT without issue. But there's gonna be an upper

[2016-02-25 19:37] RDmitchell commented on #792
Yes let's go with your option 2 for this particular issue.

I might put #218 in your queue for pondering, but again we might not want to deal with it until after we think about reworking the data model.

[2016-02-25 19:39] RDmitchell commented on #792
And because of the truncation, they are going to lose some of the data in this field even when they import it.

[2016-02-25 19:41] RDmitchell commented on #218
@nicholasserra -- I am putting this in your queue, but we probably won't do anything about it until we work through our database restructuring thoughts, because the solution to this might change depending on what we decide to do with the database.

[2016-02-25 20:38] nicholasserra commented on #792
Reassigning for merge and testing.

[2016-02-25 22:43] RDmitchell commented on #583
@axelstudios -- another wrinkle -- importing a real Portfolio Manager file, the default SEED header names are properly capitalized. I think my example file possibly wasn't imported as a PM file, and that's maybe why the mapping is U/L case

I believe these default mappings come from the PM-Mapping.json file -- @StephenCzarnecki can verify, as he implemented them. Seems like we might want to use th

[2016-02-25 22:44] RDmitchell commented on #583
We can also do this as a "hot fix" after the formal Feb release, like next week or something. So we don't necessarily have to rush it for tomorrow.

[2016-02-26 01:29] danielmcquillen opened #797 "Building Detail Page UI Refinements"

[2016-02-26 01:29] danielmcquillen commented on #797
Building detail:
- Field column should have min size
- Max width with truncate on data columns
	- Include some kind of convention to show whole title
	- Some kind of combination of rollover and click to show modal
	- Do some different versions in prototype
- Better scrollbars
- We want frozen headers

Building list:
- Store width settings of columns

[2016-02-26 02:40] RDmitchell opened #798 "Cookie management"
Right now, the program seems to be generating the following cookies, which are not deleted when the user logs out -- does this make sense? Should they be deleted? I think the fact that these are left around sometimes necessitates that I have to test in an incognito browser because I have gotten things into a weird state. But maybe most of the time it makes sense to keep these cookies between sessi

[2016-02-26 02:44] RDmitchell commented on #797
@danielmcquillen -- see #793 -- we could fold that into this issue, or keep them both. Up to you.

[2016-02-26 17:16] rHorsey commented on #631
FYI: I added @Myoldmopar to the google document.

[2016-02-26 19:52] RDmitchell commented on #792
@nicholasserra -- the matching worked on the file with the very long Property Notes data -- thanks !
I did notice that the program took several seconds to go from the final mapping screen to the matching screen when I clicked on Review matches (or whatever that button is). Might be another place to add a spinner. Also, when I go to matching, when I click on Show Unmatched, there should be 31 recor

[2016-02-26 19:57] RDmitchell commented on #792
Also, when I click Show All, it says Showing 1 to 10 of 643 records (31 unmatched)
![image](https://cloud.githubusercontent.com/assets/6314950/13363701/a71e7fcc-dc7f-11e5-8918-ec761c23212b.png)
But the total number of records is 643, so it should only be displaying 643 - 31 = 612
So it seems like the query for unmatched records has somehow been broken.

[2016-02-26 20:02] RDmitchell commented on #792
In the matching screen, I went to the last record using the Last Record button, and the program showed the last 3 of 643 records. I then changed the Display setting from 10 to 100, and got the spinner and the following server error
![image](https://cloud.githubusercontent.com/assets/6314950/13363889/c084ec20-dc80-11e5-945e-3ed5f09e8b0b.png)

[2016-02-26 20:06] RDmitchell commented on #792
I logged out, logged back in using an incognito browser, went to matching, and was able to display 100 characters with Show All selected. I am only displaying a few fields
![image](https://cloud.githubusercontent.com/assets/6314950/13363989/4ae08ee2-dc81-11e5-9f1d-8ea78bd970cb.png)

[2016-02-26 20:47] RDmitchell commented on #792
Confirming that Show Unmatched is not working -- I tried with a modified set of the sample files (covered buildings and pm) so that there were unmatched records and the program does not display them with the Show Matched pulldown.

[2016-02-26 20:57] RDmitchell opened #799 "Show Matched and Show Unmatched not working in Matching"
The Show Matched and Show Unmatched query is not working in the Matching screen.

[2016-02-26 21:12] RDmitchell commented on #799
## Steps to reproduce

**Look in this directory for sample files**
https://drive.google.com/a/lbl.gov/folderview?id=0B3fTKpZ9Dx7LMXBoZVlQQ291Y28&usp=sharing
Here are the two files to import
![image](https://cloud.githubusercontent.com/assets/6314950/13365239/bc3d267a-dc88-11e5-8345-dac1c7211239.png)

**Import the Covered buildings list**
Map as follows (make sure Address is mapped to Address Line

[2016-02-26 21:55] RDmitchell commented on #792
This is working !!! Thanks Nick !

[2016-02-26 21:55] #792 closed

[2016-02-26 22:12] RDmitchell commented on #583
Energy Score text fixed. Am closing. This feature is in place and we can open up new issues for anything that comes up.

[2016-02-26 22:12] #583 closed

[2016-02-26 22:14] RDmitchell commented on #776
Spinner seems to be spinning ! Thx Nick !

[2016-02-26 22:14] #776 closed

[2016-02-26 22:14] nicholasserra opened #800 "Clean up handling of filterable db columns on BE"
The way we specify whether db columns are able to be filtered on the BE is messy and prone to developer error. Specifically looking at `build_json_params`, `get_mappable_types` helper methods and `search_building_snapshots` view.

Figure out how all of these are used and create a convenient class to generate these.

[2016-02-26 22:33] RDmitchell commented on #645
am looking at the latest updates in read the docs -- looks good ! am closing this issue.

[2016-02-26 22:33] #645 closed

[2016-02-26 22:40] RDmitchell commented on #761
This file got all the way through the import, mapping and matching process, to produce 12,983 records! Cool ! Am closing this issue

[2016-02-26 22:40] #761 closed

[2016-02-26 22:43] RDmitchell commented on #778
Am closing this -- I imported a file with 12,983 records, and the building list displays -- now that we have the spinner, it is better when it takes time to display the records. I tested with viewing 100 records at a time, which does take a few seconds to display

[2016-02-26 22:43] #778 closed

[2016-02-27 00:47] RDmitchell commented on #799
Fixed ! Thanks @nicholasserra !!

[2016-02-27 00:47] #799 closed

[2016-02-27 01:47] RDmitchell commented on #773
am closing -- I can now import, map and match (to itself) this file. I will open another issue if I find another problem.

[2016-02-27 01:47] #773 closed

[2016-02-29 20:46] RDmitchell opened #803 "Mapping screen is very slow to display"
I know a few people have looked into this here and there, but we need to figure out, and possibly fix, the extremely slow display of the mapping screen.

In a very non-robust timing test, it took the program 30 seconds to display the mapping fields from a data file (imported as a spreadsheet) with 34 fields and approx 980 records. I know it's not the end of the world, but it leads to the general i

[2016-02-29 20:52] nicholasserra commented on #803
Which exact step is this? Is this while the page says "Please wait while your data is loaded" or similar?

[2016-02-29 21:03] RDmitchell commented on #803
Sorry, I meant to add a screen shot.

It is the generation of the first mapping screen
First you see this
![image](https://cloud.githubusercontent.com/assets/6314950/13408740/46de013e-dee4-11e5-842d-940bb99da86e.png)
Then it takes several seconds for this screen to appear
![image](https://cloud.githubusercontent.com/assets/6314950/13408852/c32d54ce-dee4-11e5-8de6-d1947f762349.png)

[2016-02-29 22:06] nicholasserra commented on #803
Locally with the covered buildings sample file this endpoint is going 15,000 queries hah. So i'm going to spend some time figuring out why.

[2016-02-29 22:29] RDmitchell commented on #803
Yes, I am not surprised. @StephenCzarnecki -- do you have some insight into this? I can't remember if you were looking into this or not?

[2016-03-01 01:37] RDmitchell opened #804 "Sorting Building List affected by blank data in JSON extra_data field"
With the Show All setting active, if you sort on a field that is a real field in the Building Snapshot table (not in extra_data), the program reports and displays the correct total number of records.

However, sorting by a field stored in the extra_data JSON blob field, the program only shows records with data in those fields, although it should be showing all the records, whether there is data in

[2016-03-01 01:51] RDmitchell opened #805 "Spinner seems stuck on Matching screen"
The spinner stopped spinning and is just sitting there in full display in the Matching details screen.
![image](https://cloud.githubusercontent.com/assets/6314950/13415066/85da4be0-df0c-11e5-93b0-dc9252a2e608.png)

This happened when I was displaying the unmatched records and then clicked on one of them, and did some typing in address to find some matches ... not sure how easy this will be reprodu

[2016-03-01 01:54] RDmitchell commented on #805
Actually I can reproduce it easily on seedtest, on my LBNL 21 test account. I can also give you access to that account. And I will make a video.

[2016-03-01 01:56] RDmitchell commented on #805
Same data as for issue #792

[2016-03-01 02:15] RDmitchell opened #806 "Viewing Records of Imported Data"
It would be useful to be able to view the imported data files in the state they were in before being mapped, as well as after import but before matching. You can see the state of the data after mapping and before matching, but you have to go through the mapping screen and click on Review Mapped Data. It would be nice to be able to get there a bit more directly and not have to view the initial mapp

[2016-03-01 02:28] RDmitchell opened #807 "Review Mapped Data doesn't show all mapped fields"
If I change the mapping for a field in a PM file, such as in the example below, changing City Custom Building ID to Custom ID 1 (a matching field) when I go to Review Mapped Data after the mapping (and matching) has been completed, the final mapping screen, where you can view all the records, does not display the field. Probably because changes to the PM mapping are not stored (?)

[2016-03-01 19:27] nicholasserra opened #809 "Investigate necessity of Schema model"
Investigate the necessity of the Schema model on the BE. On production, there is only one row in the DB. The `get_column_mapping_suggestions` endpoint does complex logic to get the Schema for each column, but ultimately, they're all the same.

Not sure if this can be removed and hardcoded, or if it's in there for future use.

cc @RDmitchell

[2016-03-01 19:43] RDmitchell opened #811 "Superuser - can't see all buildings associated with an organization"
I have a situation where I have two accounts associated with an Organization. Each account has a different "state" in terms of the number of buildings associated with it. However, when I look at the organization as a superuser, under the Admin screen, in the "remove all buildings" section, I don't see all the buildings from both users associated with the organization.

I think this potentially poi

[2016-03-01 20:18] nicholasserra commented on #804
I'm able to reproduce locally. On it. Another good candidate for selenium tests.

[2016-03-01 20:22] RDmitchell commented on #804
I was thinking the same thing.

[2016-03-01 20:39] nllong commented on #673
what is the process to make these official? Add it to the wiki documentation?

[2016-03-01 20:39] RDmitchell commented on #809
What is the functionality of the schema? I am wondering if it was put in place for a need that we know about but having seen the need to implement yet?

[2016-03-01 20:43] nicholasserra commented on #809
I'm not sure yet. All i've gathered so far is that there's only 1 row in the production database for it, and that the codebase doesn't create them at all. From what I can see, I can hardcode its value right now without any issue. I need to spend a few hours digging into it.